[2022-08-22 19:45] radekmie commented on #12119
@igal1c0de4n The latest Meteor 2.8 beta should already include this fix.

[2022-08-22 19:46] radekmie commented on #12130
@santiagopuentep I don't think so - the issue you've mentioned looks like something that could be already solved with my PRs regarding the oplog converter. This one here is different.

[2022-08-23 15:26] Grubba27 commented on #12155
Hey @brucejo75 not sure if I understood properly but because they are in your project repo, you could make them depend on each other so that when they get installed, they do the link? or perhaps use a bash script could work?
 (I haven't done much work with Cordova, so I may be wrong in doing this)

[2022-08-23 17:53] brucejo75 commented on #12155
Hi @Grubba27,  thanks for looking into this.

You may be right, but in my case each of the packages have no cross dependencies and 1 of them is a fork with bug fixes.

Additionally, there are other ways to work around this bug.  My plan is to make 1 of my packages load directly from its github repo.

Regardless of workarounds, the bug still exists and is very clearly exposed by the [repro](https:/

[2022-08-24 07:52] igal1c0de4n commented on #12119
I guess no v2.7.x will ship with this fix.
Unfortunately I'll be able to test it only after https://github.com/meteor/meteor/issues/12118 is released

[2022-08-24 07:54] radekmie commented on #12119
@igal1c0de4n This should also be fixed in the 2.8 beta.

[2022-08-24 17:15] hexsprite opened #12158 "[2.7.3] Promise causes hangs with Playwright library"
OS: MacOS 12.5.1 (plus others)

[Playwright](https://github.com/microsoft/playwright) is a browser automation and testing library maintained by Microsoft, and created by former puppeteer engineers. Very popular project, 41.5K stars on Github.

# Expected Behavior

Simple behavior like navigating to a page should work properly when invoked from Meteor server-side code.

# Actual Behavior

Playwrigh

[2022-08-25 09:40] mart-jansink opened #12159 "`CollectionPrototype._validatedInsert` doesn't return the `insertedId`"
When using the `allow-deny` package, documents that are inserted on the client go through https://github.com/meteor/meteor/blob/d3c354c7f4f4dfae7a9c4bc134f32896567161d1/packages/allow-deny/allow-deny.js#L240-L264 but this doesn't return the `insertedId` from `self._collection.insert()`. If the corresponding method stub isn't present on the client, this prevents you from getting the new document's

[2022-08-25 14:35] Grubba27 commented on #3837
Hey, @zodern is there any status on this? probably will be closing this and some others by end of the month

[2022-08-25 14:37] Grubba27 commented on #9568
I`m closing this issue if this problem show up again I will be really happy to reopen this issue :)

[2022-08-25 14:37] #9568 closed

[2022-08-25 15:24] zodern commented on #3837
The docs for the options argument of `DDP.connect`  are still missing: https://docs.meteor.com/api/connections.html#DDP-connect

[2022-08-25 18:39] apendua commented on #10903
@timvansteenis

Thanks! I am looking forward to see the results.

[2022-08-26 00:17] dnish opened #12161 "hot-module-replacement not working with React 18 hydrateRoot"
Hey,
I'm trying to use hot-module-replacement with React 18 and the new hydrateRoot function, because we also use SSR. When editing a file, I get a <code>HMR: updated 1 file</code> within the console, but the page/component doesn't update. I tried it several times, I always need to reload the whole site by myself. When I downgrade to React 17 and use the old hydrate function, everything works fine

[2022-08-26 00:34] zodern commented on #12161
We need to update to the latest version of react-refresh.

[2022-08-26 02:28] brucejo75 commented on #12154
OK, guess no comments...

[2022-08-26 02:28] #12154 closed

[2022-08-26 04:53] rj-david commented on #12161
@dnish when using React 18 + Meteor + SSR, are you not experiencing fibers issues?

When we upgraded previously, and then run our app in a test that tries to load 1000 different pages at the same time, a lot of pages have the wrong output. Seems the new rendering engine of React 18 does not play well with SSR and fibers.

We are waiting for the removal of fibers but you might have a solution for S

[2022-08-26 14:34] StorytellerCZ commented on #11123
Just to confirm, this only issue in IE11?

[2022-08-27 16:54] alimgafar commented on #12161
@rj-david are you saying that React 18 doesn't play well with Meteor because of fibers? That we'll need to move off fibers first before Meteor apps can use React 18? Trying to understand.

[2022-08-27 17:29] rj-david commented on #12161
@alimgafar for our use case, the SSR failed and we "assumed" it was fibers e.g. wrong context data being used on some pages during parallel renderd. We never heavily tested it outside SSR since we deduced we cannot use it so we rollback to React 18.

Again, that was an assumption that fibers was the cause.

https://forums.meteor.com/t/react-18-is-out/57762

[2022-08-27 22:57] radekmie commented on #12159
I think it's an overlook. And it's quite easy to miss it, as people don't do client-side mutations and use methods for that.

[2022-08-27 23:22] radekmie commented on #12130
I dug more into it, and the thing is, that it's just how `observe` is meant to work. It presents you with both the previous and the next version of a document. At the same time, `subscription.changed` expects the changes, not the final state of a document. That means, you have to use `observeChanges`, just like the [`_publishCursor`](https://github.com/meteor/meteor/blob/d3c354c7f4f4dfae7a9c4bc134

[2022-08-27 23:29] brucejo75 commented on #12130
D'oh!  I should have thought to try that.  Thanks for digging in for me.

[2022-08-27 23:29] #12130 closed

[2022-08-28 09:30] radekmie opened #12164 "Importing a non-existent file from a Meteor package throws an incorrect error"
It looks like there's a slightly incorrect misleading message, when you import a non-existent file from a Meteor package. For example:
[code]
throws
[code]

Suggesting that the `mongo` package is not installed, even though it is.

[2022-08-28 11:35] radekmie commented on #12038
As it didn't appear for a few months now, I think we can close this one. Also, in 2.8, the oplog converter should be more reliable (`OPLOG_CONVERTER_DEBUG` is still available).

[2022-08-28 11:36] radekmie commented on #12029
@baryshok what do you think about it? We could handle it in the core packages to make life easier for everyone.

[2022-08-28 11:41] radekmie commented on #12022
Maybe @sebakerckhof could help here?

[2022-08-28 11:44] radekmie commented on #11977
This should be fixed on 2.8 beta via #12107.

[2022-08-28 11:45] radekmie commented on #11946
Can we close it, as the problem is no longer there (in 4.4) and it's unclear on how to reproduce it?

[2022-08-28 11:51] #11946 closed

[2022-08-28 11:51] radekmie commented on #10923
This should no longer be the case for 2.8 beta.

[2022-08-28 11:54] radekmie commented on #10575
The publications are isolated and only their results are merged on the client side. I don't think that it should be possible to do it, as then the order of these operations will affect the final result, making it not deterministic.

[2022-08-28 11:58] radekmie commented on #10941
I've checked it on the latest Meteor version and it's slightly different now. Modifier `{$set: {}}` is correct now (it does nothing), but the message is still not helpful, if it comes from the database (either `MongoServerError` or `MongoInvalidArgumentError`).

[2022-08-28 19:00] kolyasya commented on #12022
Crazy that such simple thing is not yet fixed...

[2022-08-28 19:19] hexsprite commented on #10941
yeah actually, the whole `{$set: {}}` was arbitrary just to trigger the error... looks like that behvioar has changed but you can try `{$whatever: {}}` and that should reproduce. I did a bit more digging around and it appear the lack of full traceback is the result of using `Future` which doesn't preserve the stack from where the resolver is created. I did a little POC and was able to add back the

[2022-08-29 12:07] Grubba27 commented on #12164
I've started working on this matter(error messages), and I have good news. https://github.com/meteor/meteor/pull/12117
when this one is merged, we will have a centralized way of adjusting and adding errors guess we just need to discuss how it should look like the error messages

[2022-08-29 13:57] Grubba27 commented on #12022
It was merged and will be correted in the next release :tada:

[2022-08-30 09:23] lynchem commented on #11993
What version of MongoDB is your server running @Floriferous ?

[2022-08-30 09:30] radekmie commented on #11993
Also, the MongoDB driver 4.9 includes a potential fix for this, which will be released in the next 2.8 beta.

[2022-08-30 13:20] kuzdogan commented on #11807
For me, it was because I was using Node v16 when installing. Meteor requires Node v14

[2022-08-30 13:39] leosco commented on #11807
Thanks, that sounds right.

On Tue, Aug 30, 2022 at 16:21 Kaan Uzdoğan ***@***.***> wrote:

[2022-09-01 22:56] sLite opened #12172 "installer creates a .bash_profile if it doesn't exist but doesn't source .profile"
I noticed today that installing meteor creates a .bash_profile if it doesn't exist to add it's binary to the path.

If a .bash_profile exists, bash doesn't load .profile anymore (which i generally use instead of .bash_profile).

Because the .bash_profile created by meteor doesn't source .profile, it has broken my environment, which i only noticed on the next login and took me a good while to find

[2022-09-03 04:19] NigelCunningham opened #12173 "Errors attempting to run fresh svelte project + Android platform"
On Arch Linux, I am attempting to run a freshly made Svelte project in the Android emulator. With both 2.7.4 and the 2.8.0 merge request I'm getting:

`I20220903-14:01:59.691(10) (android:http://localhost:12560/__cordova/packages/modules.js:2011) Uncaught SyntaxError: Use of const in strict mode.
I20220903-14:01:59.692(10) (android:http://localhost:12560/__cordova/packages/modules-runtime-hot.js:6

[2022-09-03 12:53] StorytellerCZ commented on #12053
@denihs

[2022-09-03 13:00] StorytellerCZ commented on #12027
I would say no, as the latest release of the Axosoft nsfw is on Apr 08, 2020, while the vscode is Sep 27, 2021. So we are fine there. Probably need to find a version that is maintained.

[2022-09-03 13:05] StorytellerCZ commented on #12027
Never mind, Axosoft just stopped publishing changelogs which makes things annoying. We'll have to compare those two to see if we can do the switch.

[2022-09-05 12:44] Grubba27 commented on #12173
Hey! I hope it is all good out there :)  I feel this is related to this [issue](https://github.com/meteor/meteor/issues/12108).
I will also try this out to see if this works on this one.

[2022-09-05 13:12] #3837 closed

[2022-09-06 09:24] NigelCunningham commented on #12173
It didn't for me sorry. I also tried the symlink, without success. I think the number of messages has however reduced, so maybe it's part of the solution.

[2022-09-09 17:34] Grubba27 commented on #12173
Good! can you send the messages you got ? are they the same ones you sent above?  there is [this issue](https://github.com/meteor/meteor/issues/12154) too, but I'm not familiar with how android works with Cordova

[2022-09-09 17:38] zodern commented on #12173
This error is interesting: `Uncaught SyntaxError: Use of const in strict mode. I20220903-14:01:59.692(10)` since even IE supports const. What OS are you running the cordova app on? Do you know what web browser it is using?

[2022-09-10 00:11] zzaacchh commented on #11578
Our team runs many production Meteor apps, and we started seeing Atlas (MongoDB V4.2) clusters consuming 100% relentlessly whenever any app connected from _any version_ of Meteor after V2.6.

We spent some time with an engineer from the MongoDB Engineering team this week to figure this out.  We learned:

- The solution, generally, is to upgrade Atlas servers to run at least MongoDB v4.4.
- I think

[2022-09-10 06:26] NigelCunningham commented on #12173
@Grubba27, I'll check as soon as I get a chance (busy weekend).
@zodern, I'm running it on a Pixel 5 running Android 13. The app is started from Arch Linux. I'm pretty sure the browser is Chrome but will double check when I get the opportunity. That might be a while as I'm busy all this weekend - just taking a few minutes out now to check whether anything had changed on this issue and reply.

[2022-09-11 09:21] KoenLav opened #12177 "iPad Webview User-Agent not recognized, serving legacy bundle"
We recently included Recoil (global state management for React) in our application and apparently this breaks the legacy bundle. Adding it to package.json meteor.nodeModules.recompile resolves the issue.

In essence the underlying issue is similar to #9751 on iPad OS the user agent indicates "Apple Mail", but this is not covered in Meteor setMinimumBrowserVersions.

Hence I would like to suggest t

[2022-09-11 11:18] NigelCunningham commented on #12173
Let's close this - I've stopped running a git checkout and things have started to work.

[2022-09-11 11:56] Firfi opened #12178 "reCreateIndexOnOptionMismatch tries a wrong index name"
`Meteor.settings.packages.mongo.reCreateIndexOnOptionMismatch` setting tries a wring index name.

# Steps to reproduce:

- have an index `{ v: 2, unique: true, key: { services.resume.loginTokens.token: 1 }, name: "services.resume.loginTokens.token_1", sparse: 1 }` on users
- try to set this index to `{ v: 2, unique: true, key: { services.resume.loginTokens.token: 1 }, name: "services.resume.loginT

[2022-09-12 03:56] doyskie7 commented on #12148
I have this experience when i installed node-sass, when i removed it, it worked properly, but i need sass compiler on our meteor app, I tried [fourseven](fourseven:scss) but still have an issue reading our scss file.

[2022-09-12 07:47] lynchem commented on #11578
Good to get further confirmation of this @zzaacchh. Should be fixed in the 2.8 beta thanks to a fix in v4.9 of the driver. [See this](https://github.com/meteor/meteor/issues/11993#issuecomment-1210989103) for more detail.

[2022-09-12 13:34] fredmaiaarantes commented on #11993
This potential fix is out on `2.8-beta.7`, right @Grubba27?

[2022-09-12 13:55] Grubba27 commented on #11993
Yes!! I've been doing some tests using this new beta version, and I think we are reaching a solution for this matter.
A big thanks to @sampaiodiego for its PR!
If anyone wants to give the new beta version a try, you can use:
``meteor update --release 2.8-beta.7``

[2022-09-13 14:28] Floriferous opened #12179 "@react-pdf/renderer: module.runSetters is not a function"
Updating the npm package `@react-pdf/renderer` to version 2.1.2 and above seems to cause a Meteor-only bug that I'm having a hard time understanding. The error seems to come from this file `node_modules/normalize-svg-path/index.mjs`, but the `runSetters` function is nowhere to be found.

[code]

It's been raised here: https://github.com/diegomura/react-pdf/issues/2011

Here you can find a reproduc

[2022-09-13 15:10] Grubba27 commented on #12135
Hey @zodern, sorry about the delay on this one!
I think changing things from globally to locally sounds really good.
Also, this could be useful for the user, letting them know which version of the installer/Meteor they are using.
What needs to be done to implement this issue?
I mean, by making every Meteor Project installation have as its dependency and moving this from global to local, do you hav

[2022-09-14 09:47] paulincai commented on #12179
Hei @Floriferous, I answered to you on their repo. Could you please try to remove from your local node_modules, from this package, the dependency on " rollup-plugin-polyfill-node" and see if anything changes. Also check this and see if anything from the package is imported anywhere. Will have to do this in a /dist or /lib folder in the package (the compiled version, not the src folder with vanilla

[2022-09-14 10:45] henriquealbert commented on #12135
Also this is really good for marketing, so people can see how many installations meteor has on npm, etc

[2022-09-14 11:42] jymbob commented on #9285
Apologies for the :zombie: but as the feature requests repo is archived and this was never resolved, I'm proposing reopening.

Use case: We have an internal app framework with dozens of our own private components which are then imported when needed by one of our core apps. These are all stored in a componentMap.js which includes a lazy import for every one of the private components. This structure

[2022-09-14 12:17] Grubba27 commented on #9285
Hey, @jymbob, this seems a fairly doable feature.
Would you like to take it?

cc: Any opinions, @denihs?

[2022-09-14 13:20] jymbob commented on #9285
@Grubba27 I'd be happy to take a look, but TypeScript and node aren't my usual set of tools.

From a quick scan of import-scanner.ts, it looks like we'd need to add an `ignoreList` to ImportScannerOptions and then check against it before returning `this.onMissing` - does that seem a good place to start?

[2022-09-14 13:36] zodern commented on #9285
Meteor's build system tries to be config free, so it would be nice if Meteor could detect these scenarios and not log the warning without configuration. In the past, I've only really seen this when `require` is inside of a ` try` block, which [findImportedModuleIdentifiers](https://github.com/meteor/meteor/blob/472f703fd87dddefe2ebf353c5a7983ecf3198b3/tools/isobuild/js-analyze.js#L60) could detect

[2022-09-14 14:10] jymbob commented on #9285
Simplified example follows. I'm very happy to hear alternative suggestions for how to handle this.

Framework modules:
`ComponentHolder`
`Component1`
`Component2`

componentMap.js (part of ComponentHolder module):
[code]
All Core Apps use `ComponentHolder` to display components.

[code]
Core App A uses `Component1` and `Component2` - its package.json has all three listed as dependencies
Core App B

[2022-09-15 11:42] jswitzer commented on #10943
I ran into something similar, but for me it ended up being a delay in `ImportScanner#findImportedModuleIdentifiers`.
[code]

[2022-09-15 15:21] StorytellerCZ commented on #12179
You can also try recompiling the package: https://guide.meteor.com/using-npm-packages.html#recompile

[2022-09-15 15:28] StorytellerCZ commented on #12178
I do vaguely re-call working on this, so I'll try to get to this.

[2022-09-16 06:57] laakal opened #12185 "React 18 SSR hydration failure in MeteorJS"
### Description

Hydration failed because the initial UI does not match what was rendered on the server.

- `You are calling ReactDOMClient.createRoot() on a container that has already been passed to createRoot() before. Instead, call root.render() on the existing root instead if you want to update it`.
- ` Warning: An error occurred during hydration. The server HTML was replaced with client conte

[2022-09-17 16:27] rj-david commented on #12185
When coming from SSR (`window.SSR === true`), no need to call `createRoot()`

[2022-09-17 17:05] laakal commented on #12185
Thanks @rj-david. But its did not resolve the following errors:
- `Warning: Expected server HTML to contain a matching <a> in <div>`.
- `There was an error while hydrating. Because the error happened outside of a Suspense boundary, the entire root will switch to client rendering`.

[2022-09-17 17:15] rj-david commented on #12185
The second error means that the SSR version is mismatched on the hydrated client version. Any chance that you tried this with React 17 without the warning?

P.S. I haven't moved to React 18 yet because of possible issues with Meteor fibers
https://github.com/meteor/meteor/issues/12161

[2022-09-17 18:07] laakal commented on #12185
@rj-david Same error in React v17.  So let's wait for Meteor v2.8

[2022-09-21 09:35] jankapunkt opened #12189 "Accounts.registerLoginHandler is still undocumented"
The [docs for accounts](https://docs.meteor.com/api/accounts.html) still miss this method.

There are a few discussions in the community that state this as crucial to be documented:

- https://forums.meteor.com/t/meteor-login-using-webauthn-api/58296/4
- https://forums.meteor.com/t/add-official-documentation-for-accounts-registerloginhandler/37136

[2022-09-21 13:25] Grubba27 commented on #12189
Hey @jankapunkt, Thanks a lot for reporting!!

[2022-09-22 01:41] #11834 closed

[2022-09-22 12:31] Floriferous commented on #11993
We're on 4.2.22

[2022-09-23 18:24] zodern commented on #9285
Thanks @jymbob. Using dynamic imports for this makes sense. Two ideas of how we can handle this without configuration:

- Only warn once during the initial build when modules are missing, and wait until the list of missing modules changes before warning again, instead of doing it during every rebuild.
- Not warn when unable to find an npm package imported in a dynamic import. Without using `requir

[2022-09-27 06:06] christopher-noble commented on #11111
Update: tried everything here. Only worked for me when I opened my terminal in Rosetta

[2022-09-29 13:45] jymbob commented on #9285
I'd vote for the former if that's an easy change. A reminder once that you've got something unusual going on is handy. A reminder every time starts to get ignored

[2022-10-01 08:07] Blaster4385 commented on #12159
Pushed a fix for this at https://github.com/meteor/meteor/pull/12200.

This is one of my first contributions so any suggestions and improvements are welcome.

[2022-10-01 12:55] #11360 closed

[2022-10-01 13:15] #12034 closed

[2022-10-01 13:16] StorytellerCZ commented on #12034
Since there was no reply from the opener I have closed the issue.

[2022-10-01 13:22] StorytellerCZ commented on #12009
@keepjhonnying I don't think that is how you set rate limits Meteor methods. Looking at the code, instead of method name `Accounts.requestLoginTokenForUser` it should be `requestLoginTokenForUser`.
Because `Accounts.requestLoginTokenForUser` is the name of the function you call in your code, but not the actual method that is being called.

[2022-10-01 13:23] StorytellerCZ commented on #12009
What is your version of Meteor?

[2022-10-01 13:48] keepjhonnying commented on #12009
You´re right @StorytellerCZ

The way i solved this is:
[code]

Thanks for yout time...

[2022-10-01 13:48] #12009 closed

[2022-10-01 15:01] StorytellerCZ commented on #10534
@zodern @jankapunkt maybe we should move this to the Blaze repository?

[2022-10-01 15:04] jankapunkt commented on #10534
I agree 👍

[2022-10-01 19:09] yunsuklee commented on #12189
Hi! I'd love to contribute solving this issue :)

[2022-10-02 08:13] StorytellerCZ commented on #12189
@yunsuklee no need to ask for permission. Go ahead and submit a PR.

[2022-10-02 11:13] Ayushi96 commented on #12060
@Grubba27  Could you assign this issue to me?

[2022-10-04 05:16] chandantiwari1 commented on #11997
hi would you like to assign this issue to me.

[2022-10-04 06:42] StorytellerCZ commented on #11997
@chandantiwari1 sorry, I have already taken care of it #12203

[2022-10-04 14:22] harshit-dugar commented on #12177
@Grubba27 @KoenLav How should I proceed with the issue?

[2022-10-04 14:24] harshit-dugar commented on #12079
If this issue is not resolved shall I do this?

[2022-10-04 14:31] radekmie commented on #12079
@harshit-dugar If you're able to reproduce it, then sure.

[2022-10-04 21:42] ni-vo opened #12208 "Failed connection to local MongoDB when MONGO_URL is set to external database"
Meteor version: 2.7.1
OS: OSx Montery and Ubuntu (same result)
MongoDB version: 4.0.3

Expected behavior:
Meteor should not try to establish a connection to the local database if the MongoDB environment variables are set.

Actual behavior:
Meteor fails to start, because despite the MONGO_URL and MONGO_OPLOG_URL environment variables being set, meteor tries to establish a connection to 127.0.0.1:27

[2022-10-05 08:14] StorytellerCZ commented on #12022
I'm closing this since it was resolved.

[2022-10-05 08:14] #12022 closed

[2022-10-05 08:15] StorytellerCZ commented on #12173
Closing per OP request.

[2022-10-05 08:15] #12173 closed

[2022-10-05 10:28] Aymenob commented on #8125
for (var key of formData.entries()) {
			console.log(key[0] + ', ' + key[1])
		} i use this and it shows that my data is ready and loaded but when dispatching it becomes empty when i check the payload , does anyone have an idea why ?

[2022-10-05 12:42] Grubba27 commented on #12177
Hey @harshit-dugar, if you can reproduce it sure!

[2022-10-05 13:02] Grubba27 commented on #12208
Can you try something using this option in your settings.json?

[code]

[2022-10-05 13:49] rohit1kumar commented on #12079
How to reproduce this ?

[2022-10-05 15:53] Julusian commented on #12208
Meteor doesn't use `127.0.0.1:27017` as a mongourl (it typically uses port 3001), it sounds like your mongodb is misconfigured.

I expect that your replicaset is configured such that the mongodb has registered itself with the name `127.0.0.1:27017`. The mongodb client (as of the last couple of releases of meteor) uses these names to discover and connect to all the members of the replicaset.
You ca

[2022-10-05 16:01] ni-vo commented on #12208
No difference, thank you fur the suggestion, though.

[2022-10-05 16:02] ni-vo commented on #12208
Aha! This is in fact true. I will have to take a look into this and see if I can change the RS name. I will update the ticket when I have a solution incase somebody else stumbles upon this.

[2022-10-05 17:12] ni-vo commented on #12208
As per @Julusian suggested, the host name in the replica set was set to 127.0.0.1:27017, causing the connection to use that host name, not the one from the configuration string. Thanks for the insight here, saved me a lot of headache. Would this be worth mentioning in the official Meteor documentation?

For anyone that ends up here: I was able to resolve the issue by changing the host name on the

[2022-10-05 17:12] #12208 closed

[2022-10-05 18:50] ToyboxZach opened #12211 "_findUserByQuery should never do the case insensitve lookup without a limit of 2"
In _findUserByQuery there is this code

[code]

_selectorForFastCaseInsensitiveLookup in rare cases can be very inefficient (if you have a lot of users with the same beginning)

So when we call this function from the password handler we don't have limit set to 2, which means this can be loading in way too many items

This is in the password handler:

[code]

Which is the case causing my issues.

N

[2022-10-06 11:19] yasaricli opened #12213 "Meteor 1.8.2"
hi;

We are using our Meteor applications with version **1.8.2.**

but when we want to install version **1.8.2** with `https://install.meteor.com/?release=1.8.2`, it cannot find the file `https://static-meteor.netdna-ssl.com/packages-bootstrap/1.8.2/meteor-bootstrap-os.osx.arm64.tar.gz`.

Is there another **TARBALL_URL** where we can install old meteor versions?

<img width="742" alt="Screen Shot

[2022-10-06 18:24] Grubba27 commented on #12213
Hey @yasaricli, for installing versions older than [2.5.1](https://github.com/meteor/meteor/blob/597402d64ca551e9699fa11afbd06a8a6c3b7f4f/npm-packages/meteor-installer/install.js#L59-L63) is only using osx 86_64
the URL for making the curl request is
https://static-meteor.netdna-ssl.com/packages-bootstrap/1.8.2/meteor-bootstrap-os.osx.x86_64.tar.gz

I think it would be something like this:
[code]

[2022-10-06 18:46] yasaricli commented on #12213
Thanks @Grubba27

I downloaded meteor-bootstrap-os.osx.x86_64.tar.gz and it worked for me.

<img width="394" alt="Screen Shot 2022-10-06 at 21 46 02" src="https://user-images.githubusercontent.com/1306620/194393846-7ec24a5f-b778-4a21-85cd-aec4687eff01.png">

[2022-10-06 18:46] #12213 closed

[2022-10-09 07:12] Im-Madhur-Gupta commented on #12079
@radekmie @Grubba27 Hey guys, I have created a [PR](https://github.com/meteor/meteor/pull/12214) for this issue, I am having some trouble in writing tests for the same, and need some help.

I think the test will go inside the onConnected() function present in the `packages/ddp-client/test/livedata_connection_tests.js` file, not sure about it, can you please guide me a little on where to add the te

[2022-10-10 07:32] radekmie commented on #12079
I don't know exactly and won't have time to look into it soon, sorry. _(Mostly because this no longer seems urgent, as there's no reproduction nor more reports of this.)_

[2022-10-10 14:50] shivam1646 commented on #12189
Hi @StorytellerCZ I have added the docs as part of PR #12218. Could you please take a look when you have some time.

[2022-10-10 15:41] A-5ingh commented on #12086
I can take this issue up if you can provide some more details about to the issue as I'm new to meteor. Thanks

[2022-10-10 17:51] Im-Madhur-Gupta commented on #12079
Alright. no problem.

[2022-10-14 13:20] paulincai opened #12223 "Missing documentation for 2.7.4 or 2.8"
Hi,

an RC is now release but it is next to impossible to evaluate all the bits and pieces of information scattered in forums, blogs, repos etc.

https://github.com/meteor/meteor/blob/release-2.7.4/docs/history.md
Here the Migration Guide page no longer exists.

Is there a place, like one single place, that doesn't contain multiple links to other places, that has the entire documentation necessary

[2022-10-14 13:31] fredmaiaarantes commented on #12223
Hi @paulincai, we are working on a migration guide. It should be completed in the next few days.

You can check out the [guide preview here](https://deploy-preview-12057--meteor-guide.netlify.app/2.8-migration.html). Even though it's still WIP, maybe @Grubba27 or @denihs can add it to the PR and changelog.

[2022-10-14 13:33] Grubba27 commented on #12223
Sure! I will place it there!

[2022-10-14 16:45] nsiegmundtol opened #12224 ""MongoError: no primary found in replicaset" when trying to connect to IBM cloud database after migration from Compose.io"
I have read through all the solutions on this issue and none have seemed to help: [https://github.com/meteor/meteor/issues/7450](https://github.com/meteor/meteor/issues/7450)

I have successfully gotten our .Net applications to connect to our new ibm hosted mongo DB, but am getting an error whenever i try with meteor locally or through our galaxy server:

[code]

Here is the current way i am calli

[2022-10-15 08:31] thedevwonder commented on #12159
@mart-jansink Hi, can you please push the bug reproduction steps into the discussion. I was trying to work around the issue since this has not been closed yet. Would be helpful to know the steps. Thanks!

[2022-10-17 07:32] radekmie commented on #12224
Meteor 1.4.4.1 uses MongoDB driver 2.2.24 (it was updated in [1.4.3.2](https://github.com/meteor/meteor/blob/devel/docs/history.md#v1432-2017-03-14)), and the latest MongoDB version it supports is [3.4](https://www.mongodb.com/docs/drivers/node/current/compatibility/). You'd have to update to at least Meteor [1.11](https://github.com/meteor/meteor/blob/devel/docs/history.md#v111-2020-08-18) (drive

[2022-10-17 12:18] Grubba27 opened #12230 "Indicate Meteor server port on app restart"
This would be a change from what we have

From:
[code]

To:
[code]

Or the same, but in case the user passes the ``ROOT_URL``

To:
[code]
another thing is wrap the URL with the [Command.url](https://github.com/meteor/meteor/blob/0eaf07c90804811936acf3c98e9d981c0a736a3b/tools/cli/commands.js#L910) method

## How to implement?

 - [ ]  you are going to start here on this [file](https://github.com/me

[2022-10-17 14:41] ltsaiete commented on #12230
Hello @Grubba27
I'm not familiar with meteor, but I'm very familiar with JS/TS and I want to contribute for Hacktoberfest. I find this issue interesting and friendly. I'd like to try.

[2022-10-17 18:02] denihs commented on #10672
I suspected this issue was going to be solved on this [PR](https://github.com/meteor/meteor/pull/12196), and it was.

Before, this function [maybeAuditArgumentChecks](https://github.com/meteor/meteor/pull/12196/files#diff-173e69ea0353a765b98017d67abc45ec7ce1449178466dc74738324db83f9183L765-R791), was returning a Promise (when the method was declared async) without waiting for the result.

[2022-10-18 06:14] StorytellerCZ commented on #12230
@ltsaiete go ahead, try out Meteor following the [development guide](https://github.com/meteor/meteor/blob/devel/DEVELOPMENT.md) and se if you can make this happen.

[2022-10-19 07:34] radekmie commented on #12224
Well, MongoDB is rather safe to use with an unsupported version in most cases, and the table I linked shows "full compatibility", i.e., it _may_ work, but some features may be unavailable (because the driver doesn't understand them or the database no longer supports them).

Now, being realistic, these versions are _really_ old, and nobody will ever touch it, so if it works, it most likely will ~in

[2022-10-19 14:09] Grubba27 opened #12233 "Add --open flag to open user browser when start serving"
When you want to run the project and wants to open the browser when it finishes building
it would look like this:

[code]
_or_

[code]

it would start running the server then open your default browser

## How to implement?

 - [ ]  you are going to start here [file](thub.com/meteor/meteor/blob/ae7ccaf8051030f180d4adfcb157676703563a09/tools/cli/commands.js#L301-L302) adding the new option;
 - [ ] M

[2022-10-19 14:51] ltsaiete commented on #12230
Hello @ankitzm , I'm still working on it.

[2022-10-19 15:01] ankitzm commented on #12233
Would love to take up this issue, can you assign me the same !!

[2022-10-19 15:06] #12098 closed

[2022-10-19 15:06] #12118 closed

[2022-10-19 15:06] #12126 closed

[2022-10-19 15:06] #12063 closed

[2022-10-20 11:10] shashwata27 commented on #12230
is this resolved?

[2022-10-20 14:21] #10672 closed

[2022-10-20 17:39] denihs commented on #10672
We're going to check if it's the case and follow up here later.

[2022-10-23 02:45] toledoroy commented on #10975
Same problem with 2.8.0 on Windows 😢

[2022-10-23 20:31] brucejo75 opened #12271 "`WebApp.addRuntimeConfigHook` does not work if inline scripts are allowed"
When  `Content-Security-Policy: script-src 'unsafe-inline'` is set then [WebApp.addRuntimeConfigHook](https://docs.meteor.com/packages/webapp.html#WebApp-addRuntimeConfigHook) works fine.

If it is not set, it does not work.

## Environmnet
`METEOR@2.7.3`

## Details

When `script-src 'unsafe-inline'` is not set then [this code path](https://github.com/meteor/meteor/blob/release-2.7.3/packages/web

[2022-10-23 20:35] Jaya-sys commented on #12233
Hi can you assign this issue to me?

[2022-10-24 08:01] StorytellerCZ commented on #12211
Will be released in 2.8.1.

[2022-10-24 08:01] #12211 closed

[2022-10-24 20:47] toledoroy commented on #7896
This actually works!
deleted my C:\Users\User\node_modules and things are back to normal

Thanks @durjoy28 !

[2022-10-25 12:18] usama-malik-312 commented on #8125
console.log( ...formData)

[2022-10-25 18:14] wolasss opened #12277 "Cursor.observe 'changedAt' callback is not fired if document's nested property is updated"
# Reproduction repository

https://github.com/wolasss/meteor-cursor-observe-changed-bug/tree/changed-at (branch `changed-at`)

Steps:

1. run `meteor`
2. Go to the app, click on link
3. Inspect console.log

# Description

**Please note that is is probably related to https://github.com/meteor/meteor/issues/12098 fixed by @radekmie in 2.8.0. I used the same repo for reproduction (but I created a sep

[2022-10-26 06:45] radekmie commented on #12277
Thanks for the reproduction @wolasss! I'll look into it.

[2022-10-27 12:59] Divyarajsinh1312 commented on #9255
I also face the same problem
I make my project in Django
This is my code

[code]

[2022-10-27 15:44] Grubba27 commented on #9255
hey @Divyarajsinh1312 maybe change new WebSocket("ws://localhost:8000"); to new WebSocket("ws://localhost:8000/socket");

[2022-10-31 13:51] radekmie commented on #12277
@wolasss I checked your reproduction and it's either working correctly or I don't understand the problem. I run the app, and click on each link - all updates are logged in the console. Now I click on every one of them again, and nothing is logged, which is correct, because nothing changed (`update` didn't change anything, so there's no change logged). When I change the `$set` to modify another fie

[2022-10-31 14:02] #12277 closed

[2022-10-31 14:09] radekmie commented on #12277
No problem. When it comes to using `observe` in `useTracker`, remember that they're not really compatible - `observe` is not a reactive function and it may be tricky to use it correctly. Even `useFind` uses `useEffect` to handle it properly.

[2022-11-01 20:49] chneau opened #12283 "Error: Called saveOriginals twice without retrieveOriginals"
### Meteor version and operating system details:
`Meteor 2.8.0` .
It was not working before and I had an `Access denied` error, as described on the changelog of version 2.8 here https://guide.meteor.com/2.8-migration.html.
Running Meteor on `Ubuntu 22.04.1 LTS`.

### Expected behaviour:
Meteor methods to be able to call other methods.

### Actual behaviour:
The error appear on the client side: `Er

[2022-11-03 19:44] denihs opened #12287 "[FIBER] Enable Top-Level Await (TLA) on Meteor server-side (Awaiting for a PR)"
There was originally a [PR](https://github.com/meteor/meteor/pull/12095) open to solve this, but it was passed on to @zodern, and it'll be created a new PR for it.

A PR will be linked to this in the future. Refers to the [Fibers Plan](https://github.com/meteor/meteor/discussions/11505#discussioncomment-3327311).

[2022-11-03 19:52] denihs opened #12288 "[FIBERS-FREE] Provide async versions for Meteor core packages."
We may add other packages here:

- EJSON package.
- DDP packages;

[2022-11-03 19:53] denihs opened #12289 "[FIBERS] Adapt Meteor Promise implementation to work using Fibers or not, based on the fiber flag"
- Stop overriding default Node.js Promise with PromiseFiber.

Refers to the [Fibers Plan](https://github.com/meteor/meteor/discussions/11505#discussioncomment-3327311).

[PR](https://github.com/meteor/meteor/pull/12221)

[2022-11-03 19:58] denihs opened #12290 "[FIBERS] Remove the need for bindEnvironment and wrapAsync in external async calls."
A PR will be linked to this in the future. Refers to the [Fibers Plan](https://github.com/meteor/meteor/discussions/11505#discussioncomment-3327311).

[2022-11-03 20:08] denihs opened #12291 "[FIBERS] Support Top-Level Await (TLA) on Reify."
I will be linked to a PR in the future. Refers to the [Fibers Plan](https://github.com/meteor/meteor/discussions/11505#discussioncomment-3327311).

[2022-11-03 20:12] denihs opened #12292 "[FIBERS] Provide async versions for community packages."
We may add other packages here:

- synced-cron package.
- Migrations package.

A PR will be linked to this in the future. Refers to the [Fibers Plan](https://github.com/meteor/meteor/discussions/11505#discussioncomment-3327311).

[2022-11-03 20:22] denihs opened #12293 "[FIBERS] Deal with the very first Fiber call inside the boot.js file."
A PR will be linked to this in the future. Refers to the [Fibers Plan](https://github.com/meteor/meteor/discussions/11505#discussioncomment-3327311).

[2022-11-04 09:49] nhtbao101 commented on #12079
Hello guys, I have a trouble with this problem.
<img width="526" alt="image" src="https://user-images.githubusercontent.com/57624326/199942992-5cdfe33f-df5a-4884-a786-12db53bbcb3b.png">
I am working on this branch and this error was showed. But some friend when working also on this branch, this error NOT showing.
I don't know why. Could you help me?. Thank you so much!!

[2022-11-04 10:11] radekmie commented on #12079
@nhtbao101 I'm pretty sure it's completely unrelated - this issue is about some server code, and you see an error in the browser. It's just "the same error"; someone did `Object.keys` on `undefined` or `null`. Check your `companion-bubble.js` file.

[2022-11-05 16:54] Stratxgy opened #12297 "Joining servers"
Whenever I try to join a server it says "joining server" with a black background then "loading game" with dirt in the background. Am I doing something wrong?

[2022-11-08 03:06] Grubba27 commented on #11993
Hey @arggh. This is solved in 2.8.x
if this may occur again for any reason, I will be happy to open this issue again

[2022-11-08 03:06] #11993 closed

[2022-11-08 12:29] paulincai commented on #12297
If you are in this Repo with that issue, you are probably doing something wrong such as being in the wrong repo

[2022-11-08 12:57] Grubba27 commented on #12297
@paulincai I think this is just spam

[2022-11-08 12:57] #12297 closed

[2022-11-08 13:10] Grubba27 commented on #12283
There is a discussion around this topic!  https://github.com/meteor/meteor/discussions/12254
We are aware of this issue, and we are trying our best to find solutions to this subject.

I would argue to make your methods like this:

[code]
I know is not optimal but it can have the same result

[2022-11-08 15:47] henriquealbert commented on #10903
Any updates on this @timvansteenis?

[2022-11-09 14:05] Grubba27 commented on #12056
Hey @ajaypillay this have worked?

[2022-11-09 15:12] ajaypillay commented on #12056
Hi @Grubba27 and @xet7 thanks for getting back to me and sorry for the late reply. I figured it out but neglected to update this post. My solution was to build the file locally, and then send the built file over to the server, unpackage it and run `npm i` on the server's end and it seems to work without any issue.

Locally, I'm on `npm: v8.1.4` and `nodejs: v16.14.0` and `meteor: 2.7.3`.

On the s

[2022-11-09 16:14] bsartain commented on #12079
One possible issue is from this post https://stackoverflow.com/questions/74281137/companion-bubble-js-in-the-console.

Looks like the Chrome Extension for Loom causes the error.

[2022-11-10 19:31] denihs opened #12300 "[FIBERS] Asyncifying the entire accounts package"
A PR will be linked to this in the future. Refers to the [Fibers Plan](https://github.com/meteor/meteor/discussions/11505#discussioncomment-3327311).

We have functions like **onLogin**, **validateLogin**,  **validateLoginAttempt**, that will not work properly when we disable Fibers because they end up calling methods from MongoDB, which won't be sync in the future without Fibers.

In this [commen

[2022-11-14 08:18] v1934 opened #12301 "Legacy build stopped working in IE 11 after 2.8.0 update"
I have a project that MUST support IE and has did it well so far, although there always have been some issues after updating Meteor despite it "theoretically" supporting old browsers through the legacy build.

Now again, after updating meteor to 2.8.0 the IE support has stopped working. All I see is a blank white page. Yes I know, IE is dead already, but there still are places where IE is used (ce

[2022-11-14 11:26] Grubba27 commented on #12301
I will ping @zodern. I think he has said some workarounds/ideas on how to target IE before.

[2022-11-14 16:04] StorytellerCZ commented on #12301
We will be adding `ecmascript` in the next major release of Blaze to most, if not all, packages.

[2022-11-14 16:52] zodern commented on #12301
Would it be possible to have a patch update for this package that adds it sooner?

[2022-11-15 07:42] StorytellerCZ commented on #12189
Closing this as #12218 has been merged and will be released as part of Meteor 2.8.1.

[2022-11-15 07:42] #12189 closed

[2022-11-15 09:19] StorytellerCZ commented on #12301
If you prepare the PR, then I'm sure that @jankapunkt will be happy to merge it.

[2022-11-17 05:04] kakadais opened #12305 "RSV2 and RSV3 must be clear"
I think this is caused by WebSocket connection with the specific client as I googled.
But I can't figure this out exactly so ask it here.

Ubuntu 20.04 LTS
CPU/MEM: stable
Running single application on the server and no other activity.
Reproduce: None. Just once happened. Looks like occuring by some client or specific environment.

Log:

RangeError: Invalid WebSocket frame: RSV2 and RSV3 must be c

[2022-11-18 11:38] unsigned6 opened #12307 "During installing meteor globally I've got "Error: Cannot find module 'https-proxy-agent'""
I was installing globally latest meteor version and received missing `'https-proxy-agent'` error (using nodejs v14.19.3 npm v6.14.17). Previously it was working and started to fail in our github actions yesterday. Maybe something broken with packages list in latest version?

[code]

[2022-11-18 11:47] afrokick commented on #12307
As a workaround you can manually install a missing module `npm i -g https-proxy-agent` before installing meteor

[2022-11-18 11:47] afrokick commented on #12307
Seems like a bug https://github.com/meteor/meteor/pull/12149#discussion_r1026295031

[2022-11-18 13:14] timvansteenis commented on #10903
@apendua Sorry for my late reply. Was gone for a while.

I can't get [my example repo](https://github.com/lessonup/meteor-monorepo-issue) to work when I
- remove the `shared-workspace-lockfile` settings in https://github.com/lessonup/meteor-monorepo-issue/blob/main/.npmrc
- run `pnpm i` in the root
- run `METEOR_MONOREPO_ROOT=/Users/tims/Projects/lessonup/meteor-monorepo-issue ~/Projects/meteor/me

[2022-11-18 14:07] #12307 closed

[2022-11-18 14:13] denihs commented on #12307
Hi, thanks for reporting this. It should be all good now!

[2022-11-18 15:09] #12289 closed

[2022-11-18 15:54] henriquealbert commented on #10903
Hey guys,
I've used @harryadel suggestions and created a repo with Nx + Pnpm workspaces + Meteor
you can check the following repo here: https://github.com/henriquealbert/meteor-pnpm

[2022-11-18 20:09] nesbtesh opened #12311 "Upgrading to Meteor 2.8 brakes brackend"
We've been using Meteor in production for about 4 years in 3 separate projects and when we upgraded to meteor 2.8 we started noticing the same behavior across all projects.

For some reason which we dont understand when we upgrade to meteor 2.8 the backend starts running asynchronous instead of synchronous, which is not usual for node.

A quick example:

If I run

       if (Meteor.isServer) {

[2022-11-18 21:04] afrokick commented on #12311
I think the actual result is correct because of calls' ordering(that's how DDP work by default).

There was an issue https://github.com/meteor/meteor/issues/10672  (resolved in https://github.com/meteor/meteor/pull/12196 and deployed as part of Meteor 2.8)

[2022-11-18 21:13] denihs commented on #12311
Hi @nesbtesh, it's precisely what @afrokick said.

If you were getting different results prior to 2.8, it was probably wrong due to the [issue](https://github.com/meteor/meteor/issues/10672) they mentioned.

But now, `this.unblock()` should work for you.

[2022-11-18 21:17] afrokick commented on #12230
Released in 2.8.1. The issue should be closed. @Grubba27 @denihs

[2022-11-18 21:38] nesbtesh commented on #12311
@afrokick @denihs  But I've been using Meteor for 4 years and this is the first time that this happens. I don't want it wait for another method that is why javascript calls are synchronous

[2022-11-18 21:43] nesbtesh commented on #10672
@jeffm24 but this is how node js is suposed to work, why did you change it?

[2022-11-18 22:36] henriquealbert commented on #12311
I think you are missing some context @nesbtesh. That's why we are moving towards Async in Meteor: https://github.com/meteor/meteor/discussions/11505

[2022-11-19 17:53] kakadais commented on #12208
I understand the happening and solution,
but what is the difference with the previous Meteor versions?

Obviously I have used the same external MongoDB in same server same configuration, but it is not connected on 2.8.0 but it is working on 1.8.1.

This is pretty annoying when I use various MongoDB with some purposes.

[2022-11-21 12:55] Grubba27 commented on #12230
Done in 2.8.1

[2022-11-21 12:55] #12230 closed

[2022-11-21 14:05] afrokick commented on #12230
@Grubba27 could you please change milestone?)

[2022-11-21 21:26] denihs commented on #12287
As we have the [PR](https://github.com/meteor/meteor/issues/12287) we don't need this anymore.

[2022-11-21 21:26] #12287 closed

[2022-11-23 02:37] fitz95 commented on #12079
just saw someone say it's the loom extension causing this issue

[2022-11-23 19:32] zodern opened #12317 "Tracking async context in client"
Currently Meteor EnvironmentVariables and other context on the client is global, so it doesn't work well with async code. This has made supporting async method stubs and async tracker computations difficult. I spent an hour yesterday experimenting how to support it for native async/await code. The full app is on gravity at https://gravity.zodern.me/project/qEEWZiJbC4MaYyQ9o.

The relevant code is:

[2022-11-24 05:40] ajaypillay commented on #12056
I'm not sure exactly why I had to do that, maybe it defaults to the internal Meteor node/npm versions that come along with Meteor instead of whatever is globally available.

[2022-11-24 11:39] radekmie commented on #12317
This is an approach I thought about too, but found a couple of problems. Let me list them here and open the discussion:
1. Such a transformation would have to also affect the `node_modules` and Meteor packages. I don't think it's a problem, but yet additional performance penalty.
2. It's unclear how should the transformation look like when `then`/`catch`/`finally` are used directly.
3. It's unclea

[2022-11-24 14:44] zodern commented on #12317
1. It would need to apply to Meteor packages. We already transform async/await for package code used on the server so this would be extending it to client code too. On the server, Meteor allows npm dependencies to use native async/await and we haven't had any problems so it might be fine on the client to leave them as is. The context would be lost if an npm package awaits a function from an app or

[2022-11-24 16:05] radekmie commented on #12317
That's what I thought. We should check if that's the case now, as it may backfire soon, as people will play with async functions more and more.

Other than that it looks good.

[2022-11-24 16:49] zodern opened #12318 "Document more properties on Meteor object"
https://docs.meteor.com/api/core.htm is missing:
- Meteor.isModern
- Meteor.gitCommitHash
- Meteor.isTest
- Meteor.isAppTest
- Meteor.isPackageTest

[2022-11-24 16:51] zodern opened #12319 "Document how to create a test driver package"
There doesn't seem to be any documentation on how to write a test driver package.

[2022-11-24 16:54] zodern opened #12320 "Document main function"
Every Meteor app has to have a `main` function. For most apps, the `webapp` package defines it. For apps that do not use the `webapp` package, they have to define it another way, but it currently isn't documented.

The relevant code is: https://github.com/meteor/meteor/blob/1e2346cd5a31a4044afad4049dd736f518d6ea76/tools/static-assets/server/boot.js#L452-L486

[2022-11-24 22:29] radekmie commented on #12318
These should also be reflected in types as well (CC @piotrpospiech).

[2022-11-25 07:11] xet7 opened #12321 "Meteor v2.8 - Memory leak in mongo driver?"
https://forums.meteor.com/t/meteor-v2-8-memory-leak-in-mongo-driver/59101

[2022-11-25 18:32] derwaldgeist commented on #11578
@zzaacchh Thanks for sharing these insights. Very interesting. Just wanted to note, though, that I am not using a shared cluster for my app and still see these warnings.

[2022-11-26 05:53] filipenevola opened #12323 "Disable `Browserslist: caniuse-lite is outdated.` warning"
This warning is annoying and Meteor itself needs to upgrade the minifier to fix it.

I don't think it adds enough value to be bothering people all the time and even with the up-to-date Meteor version, this is always going to happen.

So my suggestion is to use this [env var](https://stackoverflow.com/a/66805353) `BROWSERSLIST_IGNORE_OLD_DATA` as `1` so we don't have this warning in newer versions

[2022-11-26 21:30] dovydaskukalis commented on #11992
So after quite a long delay we tried to update to Meteor 2.8.1 hoping this issue doesn't happen. Unfortunately it seems it still does. We managed to get a log this time

[code]

No idea what is happening here because application code is idential between Meteor versions so it cannot have anything to do with Atlas or our servers etc. The only obvious related thing is the Mongo package version update

[2022-11-28 09:09] paulincai commented on #11992
@dovydaskukalis could you please share your connection options.
```mongodb+srv://xxx:yyy@aaa.bbbb.mongodb.net/meteor?option1&option2&option3 ...```
Or maybe you have the options in your settings.json.

[2022-11-28 13:24] DavidSichau commented on #12311
We run into the same problem. It would be nice if this could be mentioned in the changelog or migration guide.

[2022-11-28 20:11] xet7 commented on #12321
From [MongoDB Jira](https://jira.mongodb.org/browse/NODE-4833?page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel&focusedCommentId=5012475#comment-5012475) - Bailey Pearson:

Hey dominik,
there are two variations of sessions in the Node driver.  Every operation that gets sent to the server has a session attached - we represent these sessions with ServerSessions.  The driver man

[2022-11-28 21:28] xet7 commented on #12321
From [MongoDB Jira](https://jira.mongodb.org/browse/NODE-4833?page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel&focusedCommentId=5012475#comment-5012475) - Patrick Schubert

To Bailey Pearson

Thank you for your reply. What confuses me the most is the following: 99 (maybe even 100) percent of Meteor's mongo calls are handled by this package: https://github.com/meteor/meteor/b

[2022-11-28 21:51] xet7 commented on #12321
From [MongoDB Jira](https://jira.mongodb.org/browse/NODE-4833?page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel&focusedCommentId=5012475#comment-5012475) - Bailey Pearson

Yes, we do create sessions internally but they're created and disposed of one-off.  Further down in `execute_operation`, we try-finally all codepaths that leave that function with session cleanup logic:

-

[2022-11-28 22:37] alextaaa opened #12324 "Support ES modules new features"
I try use a new ES module but catch the error

[code]

[2022-11-28 23:05] znewsham commented on #12321
The problem is that meteor creates a cursor then calls `collection.countDocuments()`, the session is assigned at init time and then cleanedup when you finish running through a cursor - since `collection.countDocuments()` never executes anything on the cursor, it doesn't trigger the cleanup.

The "correct" fix would probably be to defer creating the actual cursor until we call `forEach()`, `map()`

[2022-11-29 00:42] arggh opened #12325 "Severe oplog converter issue"
We ran into a weird and quite dangerous bug yesterday. This didn't come up during local development, since we didn't use replica sets locally (we will from now on!).

*TL;DR*

Valid update operations such as ...

[code]

...will break Meteor's oplog converter and throw:

[code]

...then:

→ client will not receive the updates made via pub/sub, **nor any errors**.
→ client will have invalid & stale

[2022-11-29 05:01] afrokick commented on #12324
Try to recompile module

package.json:
[code]

More info: https://github.com/meteor/meteor/blob/4442d0e0bf66d890c9dc1bf04f371cfcb82519d7/guide/source/using-npm-packages.md#recompiling-npm-packages

[2022-11-29 06:28] afrokick commented on #12321
@znewsham I provide full server code and it works for countDocuments

[code]

So, for both solutions it prints 0

[2022-11-29 07:38] radekmie commented on #12325
Thanks for the report @arggh! I'll take it from here.

[2022-11-29 08:07] alextaaa commented on #12324
Thx, but I try to use external modern npm module and catch the error in the module

[code]

It's not work for me
Same problem

[code]

[2022-11-29 08:10] arggh commented on #12325
Great! I don't mean to rush, but do you expect to ship a fix within the next 48 hours? (If no, then I'm requested to start patching this myself as it's quite urgent for us)

[2022-11-29 08:26] radekmie commented on #12325
I can't give you an ETA, but I'll _most likely_ find time to start it in that time. If you'd like to check it yourself, then [here's the `oplogV2V1Converter` implementation](https://github.com/meteor/meteor/blob/devel/packages/mongo/oplog_v2_converter.js), and start with creating a test case in [here](https://github.com/meteor/meteor/blob/devel/packages/mongo/oplog_v2_converter_tests.js) (or multi

[2022-11-29 14:45] znewsham commented on #12321
@afrokick I'm not sure either of those solutions are true solutions (though the latter is certainly a workaround).

Forcing a fetch after a count would negate the value of the count (just get a length on the - potentially massive - array) and we shouldn't need to use the raw collection to get a count without a memory leak.

I believe this PR should fix the issue: https://github.com/meteor/meteor/p

[2022-11-29 14:56] afrokick commented on #12321
@znewsham Yeah, I know. It is a temporary solution. Your fix is great!

[2022-11-29 17:13] zodern commented on #12324
I changed the issue name to make it more clear. Meteor has never supported `import.meta`, and is something we should add.

[2022-11-29 17:16] zodern opened #12329 "Support GitHub urls in Npm.depends"
https://docs.npmjs.com/cli/v9/configuring-npm/package-json#github-urls

Like with other ways of using git in Npm.depends, it should only support using github urls when they include a commit hash.

[2022-11-29 17:21] Grubba27 commented on #12329
I would love to have the npm.depends and use a .tg produced by a npm pack command, I guess this could come together with this feature

[2022-11-29 18:03] alextaaa commented on #12324
ok cool

Could you add the thing to the next release 2.9 ?

[2022-11-29 20:51] xet7 commented on #12321
From [MongoDB Jira](https://jira.mongodb.org/browse/NODE-4833?page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel&focusedCommentId=5012475#comment-5012475) - Bailey Pearson

Yes, we do create sessions internally but they're created and disposed of one-off.  Further down in `execute_operation`, we try-finally all codepaths that leave that function with session cleanup logic:

-

[2022-11-29 20:51] #12321 closed

[2022-11-30 11:30] sonyan commented on #8317
Here is a theoretical vulnerability. DDP is built on top of websocket. since websocket is not secured by CORS policy, an attacker could create a cross-origin WS connection to the server. From there on, the attacker can simply send and subscribe to data from the server.

[2022-11-30 11:46] mitar commented on #8317
Why is that a vulnerability and not a feature? It is like having public API endpoints for all Meteor apps. Pretty neat. So one app can pull data from other apps as well. Of course without authentication they should not be able to do much anyway.

[2022-11-30 17:51] Grubba27 commented on #12233
hey @ankitzm how it is going? it is looking good?