[2015-08-25 22:36] trusktr commented on #5028
@avital Hmmm, interesting. Could that be a bad thing? Maybe it's optional because it's only needed in OS X, so actually "required" in OS X, but "optional" in package.json?

[2015-08-25 22:37] stubailo commented on #4956
This doesn't happen on my machine when I copy-paste your code. Please provide a full reproduction as described in: https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#reporting-a-bug-in-meteor  Without a way to replicate your problem, we can't debug and fix it.

[2015-08-25 22:37] #4956 closed

[2015-08-25 22:37] avital commented on #5028
@trusktr If that's true I'd love to find that out. More likely it's an optimization that's only implemented for one architecture.

[2015-08-25 22:41] allandequeiroz commented on #5021
When my app opens I can see that it's connected because of an alert:
alert(Meteor.status().status)

And I can read an qrcode and update server database but just once, after that client just disconnect from server

[2015-08-25 22:41] trusktr commented on #5028
Well, good thing I have OS X, so I'll switch over when I get a chance and see if the package works there.

[2015-08-25 22:42] mquandalle commented on #5029
I can't reproduce this in a simple example, that may be more tricky than I thought.

[2015-08-25 22:46] stubailo commented on #5029
@mquandalle note that returning `[]` from `Meteor.publish` marks it as ready, but returning `false` doesn't.

[2015-08-25 22:55] avital commented on #4629
This is actually the way jQuery's `data()` works -- after you call it the first time it caches the result and never reads the attribute again:

"The data- attributes are pulled in the first time the data property is accessed and then are no longer accessed or mutated (all data values are then stored internally in jQuery)."

(https://api.jquery.com/data/)

[2015-08-25 22:55] #4629 closed

[2015-08-25 22:58] avital commented on #4883
@martijnwalraven is currently working on a lot of significant changes to our Cordova environment including upgrading lots of Cordova dependencies. I believe he was planning on taking a look at these Cordova hot code push issues, but not sure if he got to them. @martijnwalraven, can you chime in?

[2015-08-25 23:02] avital commented on #4941
So you can't run any apps on your Android device? It could be somehow related to the specific Android device you have -- which is it? (Though I'd still be surprised that some Android devices run JavaScript that doesn't have the `shift` method on arrays, which is what seems to be happening -- this probably comes from `packages/meteor/startup_client.js`)

@martijnwalraven, got any ideas what might b

[2015-08-25 23:24] avital commented on #4968
Yeah, you're right. The way Meteor manages users is that certain methods are called in a special way (`Accounts.callLoginMethod`) and expect to get a return value that includes the user id. Then the Meteor client updates its local record with the new userId. A new tab automatically tries to log in with the resume token so you get the error you describe and the user isn't logged in. But with the wa

[2015-08-25 23:57] lorensr opened #5031 "Don't pass an empty {hash:{}} as the last arg to a template helper"
Many people treat template helpers like normal JS functions and don't know that you can give keyword arguments `{{foo a="a" b="b"}}` or that the final arg passed is always a `Spacebars.kw` object of the form `{hash: ...}`.

A common JS pattern is putting optional params in function definitions, and you expect those params to be `undefined` when you call the function with fewer params:

[code]
Peop

[2015-08-26 00:14] avital commented on #4968
Oh sorry, I may have gotten this wrong. There's code in accounts_server.js that uses `observeChanges` to detect when a user's login token has changed and closes the DDP connection. The client is supposed to respond by reconnecting, then trying to log in with the same stored login token which would then fail.

So I'm now confused about this and we may have a bug.

[2015-08-26 00:18] lorensr commented on #4968
Not very impt, thanks – just a suggestion.

Should I make a simple repro, or did you already confirm?

[2015-08-26 00:21] avital commented on #4968
I have not yet confirmed.

[2015-08-26 00:32] #5021 closed

[2015-08-26 01:30] lorensr commented on #4968
I apologize, I'm unable to replicate. No idea what in my app would be preventing my DDP connection from being closed.

[2015-08-26 01:30] #4968 closed

[2015-08-26 02:23] avital commented on #5021
@allandequeiroz Did you figure out your issue?

[2015-08-26 02:59] mattiLeBlanc commented on #4629
I worked around it by passing the plain JSON as text in the attribute and parsed it myself. That worked.

[2015-08-26 06:03] martijnwalraven commented on #4883
There are definitely issues with hot code push, but I'm not sure that's what's going on here.

What changes do you make at step 3, and what does 'the app is broken' mean?

If by 'broken' you mean the server app isn't running anymore, it makes sense the changes are not applied, because there is no way to do a hot code push.

What is puzzling to me is why terminating the server app and doing another

[2015-08-26 06:11] martijnwalraven commented on #4941
It seems the error comes from `(queue.shift())()` in `packages/meteor/startup_client.js`. So the issue is not that `shift` is somehow not defined, but that it is expecting to find a function to call in the `queue` array. That would probably mean someone has passed a non-function argument to `Meteor.startup`?

[2015-08-26 06:41] voidale commented on #395
+1

[2015-08-26 08:48] laddi commented on #5027
[code]

This is actually in the Meteor documentation, should have realized that I needed to return something.  Makes total sense, thank you so much! :)

[2015-08-26 09:49] JWo1F opened #5032 "Make templates follow JS scoping rules between package and app code"
I'm making a large Meteor app and all my templates are now named "veryLongNameOfMyTemplate". I want to avoid having such long names.
I tried to create my templates in packages but I have a strange issue: while most package variables are file-scoped or package-scoped, templates are not: they are global by default.

How can I create package-scoped templates?

[2015-08-26 11:44] allandequeiroz commented on #5021
@avital I'm not sure, It was a combo.

I changed my app from an server to other, opened 3000,27017 ports for TCP/UDP, used Meteor.reconnect({force:true}) inside an Tracker and it just works.

[2015-08-26 12:12] petrometro opened #5033 "Build error with cordova when two plugins have the 2.9 dummy.java patch"
Here is a repo
https://github.com/petrometro/meteor-cordova-dummy-java-error

a fix for an old cordova 2.9 issue meant that plugins had to create an empty /org/apache/cordova/api/Dummy.java file. There are many cordova plugins still using this for legacy users.

When I build a mobile meteor app and I have *more than one* such plugin, the build fails when loading the second plugin, complaining that

[2015-08-26 15:16] mquandalle commented on #5032
Related: https://trello.com/c/igqeUcwM/17-template-and-helper-namespacing

[2015-08-26 15:59] otroboe opened #5035 "Encoding array in HTTP.post data"
Hello.

When I'm trying to use HTTP.post, I found that the method [_encodeParams](https://github.com/meteor/meteor/blob/devel/packages/url/url_common.js#L8) can't encode an array of objects.

I've created a [jsFiddle](https://jsfiddle.net/yxd4drt7/) to compare with the [$.param](http://api.jquery.com/jquery.param/) method of jQuery.

Is this a normal behavior for this method ?

Thanks

[2015-08-26 17:38] ciampo commented on #4528
I have the same problem: I use [Swiper](http://www.idangero.us/swiper) for a carousel component. Slides are made or ```paper-card``` elements, and contain a ```paper-button``` element.
When I enable the looping behaviour on the carousel, the slides are copied. In the copied version of the slides, the buttons are broken, because of the same issue.

Any help ?

[2015-08-26 17:46] avital commented on #5021
I'll just say this one more time -- you shouldn't need to call `Meteor.reconnect`.

[2015-08-26 17:46] avital commented on #5021
Happy you got your app running though!

[2015-08-26 18:21] mquandalle opened #5036 "FR: Bash completion"
A while back #1065 was rejected on the grounds of too high maintenance costs. Now that the framework has globally matured, in particular regarding the command line library and the various admin build tool around it, I feel it's time to re-open the feature request.

So the desired feature is pretty simple to understand:

[code]

I think we don't need to go further than command completion (ie not pa

[2015-08-26 18:33] JWo1F commented on #5032
@mquandalle wow, thanks! I will wait this feature. You don't know when it will be done?

[2015-08-26 18:44] eimann opened #5037 "Building meteor on Solaris / SmartOS"
I am running node on Joyent's SmartOS platform, thus trying to install meteor.
Even when cloning the git repository and building meteor myself I'm getting this message:

[node-runner@v00020100239 ~/meteor]$ ./scripts/generate-dev-bundle.sh
This OS not yet supported

It does not even try to build. Whatever it needs to do so should already be in this environment.
There's a gcc, npm, many libraries.

[2015-08-26 18:46] msurdi commented on #3628
I'm also facing this problem. Have you found any workaround?

[2015-08-26 19:36] dalgard commented on #3628
I'm using a block helper which applies the classes in the keyword argument `classes` to `template_instance.firstNode` after render. It works okay.

[2015-08-26 19:40] ansarizafar commented on #3628
Could you please share the code of block helper.

[2015-08-26 19:41] avital commented on #2315
If and when this gets resolved by running observe callbacks asynchronously when calling Minimongo mutators, please make sure to remove `wrapNotInMethodStub` from package/minimongo/minimongo.js (there's a comment linking to this issue in that file).

The test in packages/minimongo/call_in_observe_test.js should still stick around, and should still pass.

[2015-08-26 19:42] avital commented on #907
Fixed in d9fe23bc60234dbe72909c203ee10f75641e5820, should be out with Meteor 1.2!

[2015-08-26 19:43] avital commented on #2691
Accidentally fixed in d9fe23bc60234dbe72909c203ee10f75641e5820, should be out with Meteor 1.2!

I'd love a pull request adding a regression test for this particular issue though!

[2015-08-26 19:46] dalgard commented on #3628
Updated my answer.

[2015-08-26 19:53] ccorcos commented on #2639
+1 what an annoying issue!

[2015-08-26 20:24] sjmcdowall commented on #5037
As SmartOS is not a supported platform (much as I love it!) -- I think you are going to be pretty much on your own here.  A little google searching has this :  https://www.mail-archive.com/smartos-discuss@lists.smartos.org/msg01770.html

That may give you some ideas on how to get Meteor up and running on either a native SmartOS or LX branded "VM".  Good luck!

[2015-08-26 21:13] derwaldgeist commented on #2194
I am missing this feature heavily. Having access to a key inside an object loop is literally a "key" feature...

[2015-08-26 21:21] avital commented on #2194
I'm curious about this request -- is the claim that the order of keys simply doesn't matter?

[2015-08-26 21:23] avital commented on #907
Somehow tests actually fail on d9fe23b (thanks @mitar for noticing). Apologies. I'm reverting this.

[2015-08-26 21:23] avital commented on #2691
Somehow tests actually fail on d9fe23b (thanks @mitar for noticing). Apologies. I'm reverting this.

[2015-08-26 22:18] stubailo commented on #4961
Seems to have gotten fixed:

[code]

I know I was messing around with `parse-stack.js`, so maybe I accidentally fixed it.

[2015-08-26 22:18] #4961 closed

[2015-08-26 22:20] Slava commented on #4961
:+1:

[2015-08-26 23:31] niranjans commented on #1060
I am getting this too on my App deployed on Modulus.

[code]

[2015-08-26 23:32] stubailo commented on #5037
@eimann if you are doing this to deploy your Meteor app, you should instead follow the directions here: http://docs.meteor.com/#/full/deploying

Unfortunately, Solaris/SmartOS is not currently a supported environment for development. You can try to remove the checks from `generate-dev-bundle` to see if it will build anyway. Then the Meteor forums would be a good place to discuss how it's going: ht

[2015-08-26 23:32] #5037 closed

[2015-08-26 23:38] stubailo commented on #5036
I don't think this would add more maintenance burden if we parse it from `help.txt` or the command line tool, right? Really we just need someone to write the code once that generates a data file that works with some popular auto-complete library.

I don't think that pull request was the right way to go about it. At worst, we need a script that generates _that_ script from somewhere.

[2015-08-26 23:39] stubailo commented on #5035
@otroboe if you are talking about form encoding, I don't think there is a standard for how an array is supposed to be encoded in a POST request. I guess jQuery just picked one option and ran with it.

What is the use case here? Are you calling an external API that expects to be POSTed an array?

[2015-08-27 00:00] stubailo opened #5040 "[1.2 RC] Can't add a file as source and asset"
@Sanjo originally posted:

I can no longer add a file as source file and also as asset:

[code]

Now gives the error:

[code]

I can work around that if you decide to leave it like that. Just wanted to let you know that this is a breaking change.

[2015-08-27 00:02] stubailo commented on #4800
This is the new place to comment about Release 1.2 stuff: https://github.com/meteor/meteor/issues/4943

You can also file a new issue, just put [Release 1.2] in the title.

[2015-08-27 00:02] #4800 closed

[2015-08-27 00:09] woniesong92 commented on #4943
@stubailo may I ask what the current status for this release is?

[2015-08-27 00:13] stubailo commented on #4943
We are hoping to release a testable RC soon!

[2015-08-27 00:16] lorensr commented on #4943
And according to Monday's blog post, full release ETA is September.

[2015-08-27 01:27] zimme opened #5041 "meteor update --release 1.2-rc.5 results in error"
[code]

cc @dgreensp

[2015-08-27 02:38] MichaelJCole opened #5042 "Document App.icons() - which icons from config.xml"
Hi, what are the right icon and splash properties to copy over from config.xml?

Maybe it's worth mentioning `ionic resources` to auto-build the images from initial files.

http://ionicframework.com/docs/cli/icon-splashscreen.html

I ended up with this, but the Apple stuff is probably wrong

[code]

[2015-08-27 05:52] msurdi commented on #3628
Ok, I'm finally using this workaround until this issue is fixed:

[code]

Then, when it happens that I need to preserve the class ordering and/or duplicates, instead of using a `class` attribute as I would normally do, I rename it to `data-class`.

Do you think this could have any undesired side effect? (I literally started last week using meteor).

Thanks

[2015-08-27 06:34] dalgard commented on #3628
In many cases it won't work, unfortunately, since element and templates may be added and removed from the page by things like `#each` and `#if` helpers, without the layout re-rendering.

[2015-08-27 06:44] msurdi commented on #3628
Yes, I've just found it out that the hard way :-(. Looking for a better solution now.

[2015-08-27 06:59] msurdi commented on #3628
Ok, this seems to be working better, although probably a lot less performant (not an issue for me right now):

[code]

[2015-08-27 08:05] dalgard commented on #3628
I'm sure you are aware, that this is the kind of code that becomes legacy in a project and then suddenly blows up unexplainably ;)

I'd go with the block helper.

[2015-08-27 08:08] msurdi commented on #3628
On the other hand, as soon as this bug is fixed, the snippet can be removed and everything else would look like this never happened. So for me following this issue and adding a link to it in the source is a good  tradeoff. Anyway, this is just a hobby project of myself, so not a big concern at all, I'll probably forget about it in a few weeks. Thanks for your input.

[2015-08-27 08:13] dalgard commented on #3628
That's totally fair. Don't expect this bug to be fixed before we move on to a completely new view library, though. Maybe it will be different in Blaze 2.0, but maybe it will die with Blaze itself.

[2015-08-27 09:28] bySabi commented on #5041
same here!

[2015-08-27 10:36] rclai commented on #5041
I don't think their RCs are ready for testing yet according to the main 1.2 release thread.

[2015-08-27 10:42] bySabi commented on #5041
now working with `rc-4` without problems.
What is the point of release a `release` that not can be tested?

[2015-08-27 12:13] RomFouq opened #5043 "Build Plugins API: add a warning method on files"
The new Build Plugins API seems great by providing new ways to hook into the build process; it defines an `error` method on files that should called to raise a linting error, according to the wiki: https://github.com/meteor/meteor/wiki/Build-Plugins-API.

I think adding a `warning` method, which only reports messages, would be useful, especially for linters.
For example, Coffeelint has a `warning`

[2015-08-27 12:29] sclausen commented on #5041
@bySabi +1

[2015-08-27 13:50] otroboe commented on #5035
I'm using a simple localhost API written in nodejs/express, and the POST params I send come from my form. I send the request by the server side for security reasons.

In the first place I was trying like this, and this is when I discover the 'issue' I posted:
[code]
But I've found an other way, and It works well:
[code]
But as you said it's not a real issue, but I've probably misunderstood the doc

[2015-08-27 13:59] zimme commented on #5041
@rclai. That might be true, but once they put a RC release out there people are gonna start to use it.

I'm just trying to get an early start on making sure my packages works as expected with the new version.

[2015-08-27 14:14] chromonav commented on #2655
its 1.1.0.4 now still not fixed guys pl pay attention :(

[2015-08-27 15:06] dandv commented on #4100
@Maxhodges: updates in light of ES2015 and Meteor 1.2?

[2015-08-27 15:08] ko0stik commented on #3451
In cas some have the same issue of being disconnected every time without having the callbacks fired.

Had the same issue last hour when I implemented our change password page. I use autoform and simple schema.
Turned out I was using `AutoForm.hooks onSubmit` and forgot to `return false` at the end, so the form not being attached to any collection was then also submitted by the browser, causing thi

[2015-08-27 16:11] MichaelJCole commented on #3469
@slava's assumptions and resolution didn't work for me either.  [This was the problem](https://github.com/meteor/meteor/issues/3382) and here's the solution that worked for me:

[code]

Some notes for future readers:

  - `App.accessRule("*");` in `mobile-config.js` - this code runs once during the Meteor build to make [config.xml used by Cordova](https://cordova.apache.org/docs/en/4.0.0/guide_app

[2015-08-27 16:14] MichaelJCole commented on #4132
@slava's assumptions and resolution didn't work for me either.  [This was the problem](https://github.com/meteor/meteor/issues/3382) for me and here's the solution that worked for me:

[code]

Some notes for future readers:

  - `App.accessRule("*");` in `mobile-config.js` - this code runs once during the Meteor build to make [config.xml used by Cordova](https://cordova.apache.org/docs/en/4.0.0/gu

[2015-08-27 17:21] dgreensp commented on #5041
We have to build and publish an RC in order to do our full testing and QA (e.g. testing `meteor update`).  It may not work, but you are always welcome try it.  I appreciate the enthusiasm.

We're going to have an RC ready to announce very soon (see #4943).

[2015-08-27 17:26] zimme commented on #5041
:+1:

[2015-08-27 17:37] bySabi commented on #5041
good to hear:  `very soon` :-)

by the way @dgreensp  in my system, OSX, `meteor update` not work with `rc-4` but I can create projects with `meteor --release 1.2-rc.4 create 'projectName'` and is ok.

With rc-5 I can´t do `meteor --release 1.2-rc.5 create 'projectName'` fail as in post @zimme

[2015-08-27 18:31] connorblack opened #5045 "Meteor crashes when returning collection in publish function"
Original here: http://stackoverflow.com/questions/32256779/meteor-crashes-when-returning-collection-in-publish-function

I'm having this weird bug happen in meteor, but it only expresses itself when I deploy to my staging environment.

I have a publish function for some data called `campaigns`:
[code]
This code works perfectly locally, but once I deploy through modulus (https://modulus.io/), the p

[2015-08-27 18:36] dgreensp commented on #5041
Fixed in a2a8192c357df943ecd0e6da0cceb91ed89854bb.

[2015-08-27 18:36] #5041 closed

[2015-08-27 18:44] stubailo commented on #5045
If you'd like to discuss with other people, the Meteor forums would be the best place: https://forums.meteor.com/

If we should treat this as a bug, please provide a full reproduction as described in: https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#reporting-a-bug-in-meteor  Without a way to replicate your problem, we can't debug and fix it.

[2015-08-27 18:44] #5045 closed

[2015-08-27 20:20] bySabi commented on #4943
WOW `rc-6` really fast here. Much more than `rc-4`
thanks!! Good work!!

[2015-08-27 22:14] d62remi opened #5046 "Meteor release 1.2-rc.6 -> Meteor build android error"
Hi,

I am French so excuse my english ... (google translation = D)
I have a problem to build the apk for android
Here is how to get the console on my intel mac (10.10.5) :

[code]

I followed the instructions here:
[code]
Here's how I instantiated my environment variables :
[code]

an idea ?

Thank

From France <3

[2015-08-27 22:15] deanius opened #5047 "Running tests for underscore package"
I want to write a PR which updates Underscore JS to version 1.8 and I try to run the existing test suite to get a pass before I update the code, but get the following..

[code]

I get this for `tracker` package as well, same error, different number - is there a different way to test now ?

[2015-08-27 22:28] sjmcdowall commented on #5046
Salut Remi!  Comment ça va?

Why are you using that version of Meteor?  1.2 is not released .. and "rc" is a bit of a misnomer.. it's not a "real" RC version.  Have you tried the "production" version of 1.1.0.3 ?  Newer is not always better. :)

I do not want you to get frustrated trying an "in progress" version which for sure will have many "issues" until it's production ..

[2015-08-27 22:51] d62remi commented on #5046
Salut ça va bien merci =P

Why ? Because I follow the evolutions of mobile meteor and I wanted to test.

I am an application in production (1.1.0.3) and a lot of Samsung devices not working -> white screen when app strating ! Bizarre ...

From France =P

[2015-08-28 00:13] woniesong92 commented on #4943
with `rc-7` I get the following error:

* These packages have been updated to new versions that are not backwards
compatible.

[code]

[2015-08-28 00:30] dgreensp commented on #4943
@woniesong92 Can you give us more information to help us reproduce?  What command did you run, and do you get this error repeatably?

[2015-08-28 01:04] woniesong92 commented on #4943
@dgreensp Of course.

`meteor-devel` points at a cloned Meteor's latest commit of the branch `release-1.2`.

[code]

This error happens as soon as I switch to the latest version from the stable Meteor 1.1.0.3 version. Once I switch back, the app runs fine.

[code]

[2015-08-28 01:08] dgreensp commented on #4943
Ok, see update at top of thread, it's official guys!

[2015-08-28 01:08] woniesong92 opened #5048 "Accounts.sendVerificationEmail"
Is there no way to use `html` instead of `text` field for the template?

[code]

Only the latter works. I couldn't find anything about a html field in the document too but there must be a way to use an html template for verification emails, right?

[2015-08-28 01:12] dgreensp commented on #4943
@woniesong92 Ah, that's helpful, thanks.  (Still not sure what's going on.)  Could I trouble you to open a separate issue and paste that in?

[2015-08-28 01:15] woniesong92 commented on #4943
@dgreensp Instead of using a cloned version, I ran `meteor update --release METEOR@1.2-rc.7` and the app was built without a problem!

[2015-08-28 01:19] sjmcdowall commented on #5046
Oui c'est vrai ! Mobile apps are trickier ! Well they just release the real first RC 1.2 - rc7 :  maybe that will work better for you!

[2015-08-28 01:49] woniesong92 opened #5049 "Meteor 1.2-rc7: Error reading version file Error"
Environment: latest Mac, iphone6, Meteor 1.2-rc.7.

The updated app runs fine on desktop. I tried running it on my phone and the app hangs in the splash screen because of an error.

[code]

The app hangs in my phone, so I check xCode log.

[code]

Additional info:

[code]

Update:
I noticed I still have some packages that are using a `tarball` url. Trying after deleting those packages.

Update2:
P

[2015-08-28 01:50] dgreensp commented on #4943
Hmm, weird!

[2015-08-28 01:57] woniesong92 commented on #4943
Started a new issue #5049. Running the latest release version failed on an iPhone. Do you mind checking out what's going on?

[2015-08-28 02:02] woniesong92 commented on #5049
The issue was resolved after deleting `cordova:com.telerik.plugins.wkwebview` package.

$meteor remove `cordova:com.telerik.plugins.wkwebview`

[2015-08-28 02:14] woniesong92 commented on #5049
According to the upgrade guide, shouldn't have the tarball urls upgraded to sha urls?

[2015-08-28 02:29] woniesong92 commented on #3603
Now that Meteor 1.2-rc7 is released, is there any way to do it simply? @martijnwalraven

[2015-08-28 03:14] martijnwalraven commented on #3603
Unfortunately, not right now. It'll probably have to wait until the release of Cordova iOS 4.0, which should support pluggable web views and make the use of WKWebView on iOS as easy as using Crosswalk on Android.

[2015-08-28 03:14] martijnwalraven commented on #5049
You shouldn't have to remove the plugins loaded from a tarball URL. They will be converted on the fly to Git URLs with SHA reference when downloading.

I'm not sure what the exact issue with the com.telerik.plugins.wkwebview plugin is, but note that this is a bit of an unsupported hack to switch to the use of WKWebView on iOS (it actually nests a WKWebView inside a UIWebView I believe).

[2015-08-28 03:19] dwilt commented on #3799
:+1: on this needing to be easier

[2015-08-28 03:38] markoshust opened #5050 "publish-for-arch isn't working correctly"
I'm trying to `publish-for-arch` for all platforms to create a build for this thin npm package. I'm remoting into each of the following:

    meteor admin get-machine os.osx.x86_64
    meteor admin get-machine os.linux.x86_64
    meteor admin get-machine os.linux.x86_32
    meteor admin get-machine os.windows.x86_32

then running:

    meteor publish-for-arch markoshust:radium@0.0.2

It completed

[2015-08-28 05:04] justin-umesh commented on #5048
Hey u can use.. U need to have handlebars installed.

[2015-08-28 07:19] LarsBuur commented on #4943
Upgraded from 1.1.0.3 to 1.2-rc.7.

To problems:

The meteor list reports that the "logging" package can be updated so I tried to update.

The update process fails with the following error.

[code]

The app runs without error - but the accounts-base/accounts-password login system has stopped working which is strange but could be related to the above error.

Second issue is that I tried to remove t

[2015-08-28 07:38] markusgattol commented on #4019
same here on Debian after an upgrade to `meteor update --release METEOR@1.2-rc.7`

  (master *% u=) sa@wks:~/0/todos$ meteor
  [[[[[ ~/0/todos ]]]]]

  => Started proxy.
  Unexpected mongo exit code 1. Restarting.
  Unexpected mongo exit code 1. Restarting.
  Unexpected mongo exit code 1. Restarting.
  Can't start Mongo server.
  MongoDB failed global initialization

  Looks like MongoDB doesn't u

[2015-08-28 07:40] markusgattol opened #5051 "Unexpected mongo exit code 1"
See https://github.com/meteor/meteor/issues/4019 All worked fine before the upgrade to `meteor update --release METEOR@1.2-rc.7` i.e. I never saw the issue before the upgrade.

[2015-08-28 08:16] johanbuys commented on #3799
+1 Major stumbling block at the moment.

[2015-08-28 08:33] martijnwalraven commented on #3799
I've heard you! This is definitely at the top of my todo list for after the Meteor 1.2 release, together with Hot Code Push improvements.

[2015-08-28 08:36] martijnwalraven commented on #5006
Could you try this again with the Meteor 1.2 RC (`--release METEOR@1.2-rc.7`)? There have been some major changes to the architecture of the Cordova integration, so I hope that will solve your issue. If not, let me know, and I'll look into it.

[2015-08-28 08:37] martijnwalraven commented on #4989
Could you try this again with the Meteor 1.2 RC (`--release METEOR@1.2-rc.7`)? There have been some major changes to the architecture of the Cordova integration, so I hope that will solve your issue. If not, let me know, and I'll look into it.

[2015-08-28 08:37] johanbuys commented on #3799
@martijnwalraven Thanks a mill for all the hard work! :)

[2015-08-28 08:39] martijnwalraven commented on #4896
We released the first public Meteor 1.2 RC yesterday (`--release METEOR@1.2-rc.7`), which supports downloading plugins from npm. So that should make this easier.

[2015-08-28 08:41] martijnwalraven commented on #4868
Could you try this again with the Meteor 1.2 RC (--release METEOR@1.2-rc.7)? There have been some major changes to the architecture of the Cordova integration, so I hope that will solve your issue. If not, let me know, and I'll look into it.

[2015-08-28 08:45] martijnwalraven commented on #4723
We released the first Meteor 1.2 RC yesterday (`--release METEOR@1.2-rc.7`), which includes a Cordova update to the latest version.

[2015-08-28 08:45] #4723 closed

[2015-08-28 08:45] martijnwalraven commented on #4721
We released the first Meteor 1.2 RC yesterday (`--release METEOR@1.2-rc.7`), which includes the changes described in this issue.

[2015-08-28 08:45] #4721 closed

[2015-08-28 08:48] martijnwalraven commented on #5033
Could you try this again with the Meteor 1.2 RC (`--release METEOR@1.2-rc.7`)? There have been some major changes to the architecture of the Cordova integration, so I hope that will solve your issue. If not, let me know, and I'll look into it.

[2015-08-28 08:48] martijnwalraven commented on #4957
Could you try this again with the Meteor 1.2 RC (--release METEOR@1.2-rc.7)? There have been some major changes to the architecture of the Cordova integration, so I hope that will solve your issue. If not, let me know, and I'll look into it.

[2015-08-28 08:57] idoivri commented on #4868
Yes! I'll try later on today.

I should update meteor by running

meteor run --release METEOR@1.2-rc.7

right?

[2015-08-28 09:03] martijnwalraven commented on #4868
No, you should run `meteor update --release METEOR@1.2-rc.7`.

[2015-08-28 09:25] idoivri commented on #4868
1) Sorry for that, meant update.

2) YES! updated, and the app now builds correctly. Awesome stuff!

Many thanks, and even more thanks for not forgetting this...

[2015-08-28 09:28] d62remi commented on #5046
after updated meteor to rc7, the error is always here !

I try to modify my path and android_home env :

[code]

not working ...

[2015-08-28 09:35] martijnwalraven commented on #4868
Good to hear!

[2015-08-28 09:36] #4868 closed

[2015-08-28 09:40] martijnwalraven commented on #5046
It's an issue with building an app that uses Crosswalk. I just committed a fix for this (https://github.com/meteor/meteor/commit/b0c1464e7cb63e826372c8f9c97fb333c3a747af) that should be in the next RC.

[2015-08-28 09:52] d62remi commented on #5046
Why this error refered to '/Users/XXX/Desktop/meteor/test12/.meteor/local/build_tar/bundle/README' ?

If I remove crosswalk, error is always here !

My path is it good ?

[2015-08-28 11:36] jagi commented on #2052
Hi, it would be good to add documentation for it in the Spacebar's [README](https://github.com/meteor/meteor/blob/devel/packages/spacebars/README.md)

[2015-08-28 12:32] rclai opened #5052 "Breaking up History.md"
***1 Upvote*** That document is getting huge.

Would it be a good idea to create a root `history` folder where each version change is on its own file?

`next.md`
`v1.2.md`
`v1.1.0.3.md`
`v1.1.0.2.md`

[2015-08-28 13:08] devonbarrett commented on #5052
:+1:

[2015-08-28 14:21] aloiscochard opened #5053 "Support installation on NixOS."
Hi there,

I'm struggling to install Meteor on NixOS, the reason is that the `dev_bundle` is obviously statically linked with path which are not compatible with NixOS.

I could workaround the issue, by using the `node` installed by Nix, but I can not find any instruction about it? Can I do that? how?

It would be great to have a `dev_bundle` compatible with NixOS, or ever better a package for nix

[2015-08-28 14:22] aloiscochard commented on #5053
I'll try the "Slow start" (https://github.com/meteor/meteor#slow-start-for-developers) and see how it goes, I might be able to use the `node` built by Nix.

[2015-08-28 14:25] markoshust commented on #5050
This may help simplify the post...

Only the OS X build exists on atmosphere:

    meteor show markoshust:radium --ejson

    "architecturesOS": [
      "os",
        "os.osx.x86_64"
    ]

However, when I try to build for `os.linux.x86_64`, it's erring out. This shouldn't happen because this build doesn't yet exist on atmosphere.

    Marks-MacBook-Air:meteor-radium markshust$ meteor admin get-ma

[2015-08-28 14:30] sjmcdowall commented on #5053
This question is more suitable for the Meteor Forums and not the bug tracking system.

However, be that as it may ..

Which flavor node (version) does Nix provides?  Meteor needs 10.0.36 (or so) for various reasons ..

Making meteor work on a non-supported OS is quite an undertaking -- good luck!  At least it's a flavor of Linux ! :)

[2015-08-28 14:30] deanius commented on #5047
Sorry, should not have been an issue..

[2015-08-28 14:30] #5047 closed

[2015-08-28 14:38] aloiscochard commented on #5053
I can install any version I want of `node`, so I could use the same one (Nix have a special design which allow different version to reside at the same time on a given system).

Anyway, I tried to build from source, and while trying to build `node` with the provided script I got the following error:

[code]

Any Idea?

[2015-08-28 14:38] dgreensp commented on #2052
Good idea.  Added a section: https://github.com/meteor/meteor/blob/devel/packages/spacebars/README.md#escaping-curly-braces

[2015-08-28 14:43] dgreensp opened #5054 "`meteor update` fails looking for `isobuild:` packages"
This is a bug in the code that makes a list of packages to update when you run `meteor update`.  It should ignore `isobuild:` pseudo-packages.

[2015-08-28 14:44] dgreensp commented on #4943
@LarsBuur Ah, this something we ran into too.  Tracking it as #5054.

[2015-08-28 14:46] boblikesoup commented on #4989
Thanks Martin!  Got it working though this was the solution: http://stackoverflow.com/questions/32084009/android-home-path-set-but-not-being-read/32244703#32244703

[2015-08-28 15:01] aloiscochard commented on #5053
Never mind I fonud the issue, I'm moving forward... building dependencies.

*finger crossed*

[2015-08-28 15:03] AlexFrazer commented on #5054
I think you have to do `meteor --release PLUGINS-PREVIEW@2 create --package {packagename}` for it to work... not sure why.

[2015-08-28 15:18] sebakerckhof commented on #4943
Not necessarily an issue, but what would be the equivalent of compileStep.pathForSourceMap in 1.2?

[2015-08-28 15:34] sjmcdowall commented on #5053
If you get beyond Fibers -- you are almost home free. :)

[2015-08-28 15:37] avital opened #5055 "`echo 1+1 | meteor shell` should print "2""
This makes it very hard to use `meteor shell` for scripting.

[code]

[2015-08-28 15:50] dgreensp commented on #4943
@sebakerckhof `file.getDisplayPath()`

[2015-08-28 16:05] jagi commented on #2052
That was fast :-) Thanks :-)

[2015-08-28 17:24] stubailo commented on #5052
Ooh, this is a cool idea. Would make it easier to search for changes in a single release, as well. What do other big projects do about this?

[2015-08-28 17:40] dgreensp commented on #5054
@AlexFrazer I don't understand the connection to this issue.  Are seeing an error when creating a package?

[2015-08-28 17:42] stubailo commented on #4817
Fixed on 1.2 branch: https://github.com/meteor/meteor/commit/217bad7f108d2236e0767f9f9c2b93f543d3e16e

[2015-08-28 17:42] #4817 closed

[2015-08-28 17:44] dgreensp commented on #5054
As a workaround, you can run `meteor update --packages-only`.  What's happening is that `meteor update` normally switches to the latest recommended release (1.1.0.3) and tries to update to that release, and even if it fails, it continues with that tool version.

I'm working on a fix.

For reference, here's what the repro looks like (create an app with 1.2-rc.7 and run `meteor update`):

[code]

[2015-08-28 18:04] rclai commented on #5052
Looks like [Bootstrap uses the releases for change-logs](https://github.com/twbs/bootstrap/blob/master/CHANGELOG.md).

[2015-08-28 18:16] stubailo commented on #5040
@Sanjo, can you help me understand some of the cases where you would want a file to be a source and an asset?

[2015-08-28 18:44] macsj200 commented on #3427
This issue is really bumming me out, are there any fixes yet?

[2015-08-28 19:41] martijnwalraven commented on #5046
Hmmm, maybe your issue is not the same one I committed the fix for. I'm not sure why it would be unable to find README.

Have you tried running with `--verbose`?

[2015-08-28 21:20] akshaylive opened #5058 "Android build version"
I have a strange issue. I build my Meteor app and run it on android device using -

meteor run android-device --mobile-server=<my_aws_ip>:3000
When the app deploys immediately it connects to the server (and my javascripts etc works). After a few seconds, the page refreshs and none of the javascript callbacks work. Please help me debug this issue.

More information: If I change the client (and not

[2015-08-28 21:59] akshaylive commented on #3759
@thedracle I figured out how to disable it in a pretty hacky way by adding reload to my package, and then setting the reference to it in Packages to null. Could you elaborate on it?

[2015-08-28 22:00] akshaylive commented on #5058
Dupicate of https://github.com/meteor/meteor/issues/3759. Closing.

[2015-08-28 22:00] #5058 closed

[2015-08-28 22:40] fungilation commented on #5049
+1 on Wkwebview. Mobile web apps need all the performance it can get and this is a big boost over the previous webview. From an old issue I can't find right now, it has to do with Meteor running local files over http instead of localhost as it is now (or it's the other way around?)

[2015-08-29 01:44] Urigo commented on #4868
:+1:

[2015-08-29 03:51] Tarang commented on #5052
This is a cool idea. But it needs to be easily searchable. Often new features are added and they're mentioned in History.md and not the docs.

One purpose of the file is to see what's new. The other is its sort of a set of docs.

[2015-08-29 04:31] stubailo opened #5060 "Add default license file to meteor create --package with MIT license"
People forget to add licenses to their packages, we could help people out here by generating a default one like Atom's package generator.

[2015-08-29 07:29] trusktr opened #5061 "[registerCompiler API] Long pause on "linking" step with build plugin?"
I'm seeing a long pause at the part where is says "linking". What might that mean?

[2015-08-29 08:16] divramod opened #5062 "meteor add-platform android error: unable to fetch platfrom android: undefined"
Since today i got the following error when adding the android platform:

meteor version 1.1.0.3

java version "1.7.0_79"
OpenJDK Runtime Environment (IcedTea 2.5.6) (7u79-2.5.6-0ubuntu1.14.04.1)
OpenJDK 64-Bit Server VM (build 24.79-b02, mixed mode)

cordova -v 5.1.1

meteor install-sdk android
✓ Found Android bundle
✓ A JDK is installed
✓ Found Android Platform tools
✓ Found Android Build Tools
✓

[2015-08-29 08:23] divramod opened #5063 "meteor build: error: Error: ENOENT, readdir '.../.meteor/local/cordova-build/platforms/android/ant-build'"
When building i got the following error:

meteor version 1.1.0.3

java version "1.7.0_79"
OpenJDK Runtime Environment (IcedTea 2.5.6) (7u79-2.5.6-0ubuntu1.14.04.1)
OpenJDK 64-Bit Server VM (build 24.79-b02, mixed mode)

cordova -v 5.1.1

meteor install-sdk android
✓ Found Android bundle
✓ A JDK is installed
✓ Found Android Platform tools
✓ Found Android Build Tools
✓ Found Android 19 API
✓ Found s

[2015-08-29 11:12] martijnwalraven commented on #5062
I'm not sure what is going on here, but could you try this again with the Meteor 1.2 RC (`meteor update --release METEOR@1.2-rc.7`)? There have been some major changes to the architecture of the Cordova integration, so I hope that will solve your issue. If not, let me know, and I'll look into it.

[2015-08-29 11:13] martijnwalraven commented on #5063
This seems like it might be a consequence of https://github.com/meteor/meteor/issues/5062.

[2015-08-29 14:18] aldeed opened #5065 "PR Proposal: Fix HTTP param encoding logic for objects and arrays"
At Dispatch we are overwriting the param encoding that the `http` package uses to allow it to properly handle arrays and objects. We have open sourced the fix as a package: https://github.com/DispatchMe/meteor-url-encode-params

I am looking for general community and MDG agreement that this is the correct way to handle param-to-query conversion. If there is agreement, we are happy to submit this a

[2015-08-29 15:20] stephentcannon opened #5066 "Nested sub-expressions with parentheses fail"
Per https://github.com/meteor/meteor/tree/devel/packages/spacebars#nested-sub-expressions

Per the documentation, "Sub-expressions can be used to calculate key-word arguments, too:"

[code]

My example below calls a helper registered as Template.registerHelper because it is used throughout the application.

[code]

and errors because of the parentheses

[code]

Is the documentation wrong?

Please

[2015-08-29 17:10] stefanagapie commented on #3509
+1 Same issue

[2015-08-29 18:56] Sanjo commented on #5040
I only have my case, that is:

sanjo:jasmine has different testing modes that have different implementations. All testing modes have in common that they use Jasmine and use the Velocity test reporter for Jasmine that is part of the package (the VelocityTestReporter.js). Therefore I use the VelocityTestReporter.js in every testing mode. In the client unit mode I use the Karma test runner. I use the

[2015-08-29 20:49] raix commented on #4943
I'm getting an infinite "client update" sometimes - 1.2-rc.7 mac - I'm guessing it could be a watch loop?
[code]

[2015-08-29 20:50] stubailo commented on #5065
It's pretty clear to me that your output is better than printing `[object Object]` into the param string.

Just to explore a little more: this is one of those things that doesn't seem to have a standard; what kinds of backends does this encoding work with? For example, does Rails parse your format correctly by default?

[2015-08-29 21:02] Slava commented on #5066
You are looking at the docs on devel branch where the feature is implemented. The latest release can be found on master - it doesn't have the subexpression implementation yet.

[2015-08-29 21:48] creeonix commented on #5065
Rails and PHP parse that exactly as expected out of the box (to array and hashes).

`param[]=1&param[]=2` is expected to be decoded to `{"param": [1,2]}`
`param[0]=1&param[1]=2` is expected to be decoded to hash `{"param": {"0": 1, "1": 2}}`

For jQuery: http://api.jquery.com/jquery.param/

We have used same pattern in ASP.NET too and in Flex before. So, I'd say it is silent standard.
However, htt

[2015-08-29 21:54] aldeed commented on #5065
Yes, what @creeonix said. :) Except it appears that node is sadly one of the few that stringifies a bit differently: https://nodejs.org/api/querystring.html

[2015-08-29 22:22] divramod commented on #5062
yep, meteor update --release METEOR@1.2-rc.7, fixed the issue.

my angular integration is broken now, but i can add the android platform ;-)

[2015-08-29 22:22] #5062 closed

[2015-08-29 22:22] divramod commented on #5063
yep, meteor update --release METEOR@1.2-rc.7, fixed the issue.

my angular integration is broken now, but i can build now :-)

[2015-08-29 22:22] #5063 closed

[2015-08-30 02:20] stubailo commented on #5065
Sigh! This is why stringified JSON is the way to go IMO (at least if you control both ends of the wire)

Hmm, it is a shame that node doesn't parse this correctly. I guess it's not a big deal though because we could always add an option to use a different strategy later. I'll take another look at this on Monday, remind me!

[2015-08-30 02:21] stubailo commented on #5065
If you could submit that pr that would be awesome!

[2015-08-30 05:37] trusktr opened #5067 "[BUG] [batch-plugins] Long wait time after my compiler handles sources and when Meteor continues."
The new `registerCompiler` API calls my compiler's (`rocket:module`'s) `processFilesForTarget` method. After `processFilesForTarget` returns, sometimes there's a period of time in the console with no output from Meteor, lasting about 1 minute.

I've got caching working in `rocket:module`, and `rocket:module` completes its tasks within seconds. The lag after `rocket:module`'s `processFilesForTarget

[2015-08-30 08:57] nathan-muir opened #5068 "BrowserPolicy - `default-src` and wildcard bugs"
In `BrowserPolicy.content.setPolicy`, `default-src` is copied to every other directive passed.

This creates some bad CSP's, especially where `'none'` and `*` are concerned.(`'none'` and `*` should preclude all other directives http://www.cspplayground.com/csp_validator).

Also, if you have a directive like `connect-src: *;`  adding sources like `allowConnectOrigin('http://foo.com')` should result

[2015-08-30 10:31] carlosbaraza opened #5069 "SVG file path referenced with url() in package CSS file not parsed correctly."
Today I experimented an issue with a package, which is serving a SVG file, referenced relatively via `url()` in a CSS file.

The issue is that the SVG file url is not parsed and overridden with the correct `packages/package/...` during the CSS compilation time. However, the PNG file referenced in the same way is correctly parsed. The result is that the file could not be found, so the icons are not

[2015-08-30 13:09] hitchcott opened #5070 "Local NPM Packages Support"
I'm working with a script for the new `registerBuildPlugin` `sources` option in 1.2-rc7. But I do believe this can apply to all of Meteor (or at least the NPM upgrade i'm about to go into).

I was hoping to be able to include a local version of a NPM package I'm developing, but it appears that meteor currently doesn't support it #2876. The workaround was to tarball it somewhere over https, which i

[2015-08-30 13:25] derwaldgeist commented on #3799
@martijnwalraven: Thanks for taking care of this. I've just run into the same issue. Having a storage for any kind of rich media is an absolute must for most mobile apps, IMHO. My app is depending heavily on photos/videos taken by the user, and now I'm kinda stuck. :-/

[2015-08-30 13:27] derwaldgeist commented on #3799
@nate-strauser: Any update on your planned public packages so far? Would love to hear they're finished, as this is a major road block for me, like for the others here.

[2015-08-30 16:02] hkalic opened #5071 "Meteor 1.2-rc.7: Arrow function in Template.helpres wrong this._id context"
Can any one please check the issue I have (METEOR@1.2-rc.7) with ES6 arrow function context.
[code]
results in:

undefined

When i try the "old" way:
[code]
results in correct value.

Am I missing some ES6 knowledge or is this `ecmascript` package bug?

[2015-08-30 16:28] rclai commented on #5071
Don't use arrow functions in helpers because they will set the context of the helper to the global context.

[2015-08-30 16:37] hkalic commented on #5071
Ok thanks. Then it's me and my ES6 fu (or lack of)

[2015-08-30 16:38] #5071 closed

[2015-08-30 16:47] mauricionr commented on #4989
Same problem here

![path](https://cloud.githubusercontent.com/assets/2263551/9568359/af27af1c-4f1d-11e5-9851-07a1b409fe73.png)

[2015-08-30 16:48] rclai commented on #5071
Typically you want to use arrow functions when you're doing callbacks that way you don't have to create a `self` reference to `this`.

[2015-08-30 16:49] boblikesoup commented on #4989
@mauricionr check out my solution linked above

[2015-08-30 16:57] hitchcott commented on #5070
Okay, looks like there is a better workaround:
Relative link in your filesystem within the Meteor package
`MyModule = Npm.require '../../../../../../sibling-project-named-MyModule/'`
Absolute doesn't seem to work, so you have to do a few steps of navigation

[2015-08-30 17:51] mauricionr commented on #4989
I'm trying your solution right now @boblikesoup

[2015-08-30 17:53] mauricionr commented on #4989
I've added to the path without open ~/.bash_profile
but still not working, i'm trying to find the bash_profile and add to them.

![path](https://cloud.githubusercontent.com/assets/2263551/9568674/b8a9aa3c-4f26-11e5-87fc-d164edd475d5.png)

[2015-08-30 18:11] mauricionr commented on #4989
Thanks @boblikesoup, now it's working!

[2015-08-30 19:09] boblikesoup commented on #4989
@mauricionr Glad to hear it.  Will you upvote the Stack Overflow answer or whatever you can do?  I spent like 10 hours of my life on that and want to make sure nobody else has to suffer because of it.

[2015-08-30 20:30] connorblack commented on #3698
@BraveKenny you're the man.

If anyone is deploying through modulus and running into this issue, just go to project -> administrations -> environment variables and set the `DDP_DEFAULT_CONNECTION_URL` variable.

My project is running on SSL so I set it to `https://my.domain:443`. I also have `ROOT_URL` set to `https://my.domain`.

To run the app I do this:

[code]

[2015-08-30 20:54] Gaelan commented on #2232
FYI, the error messages are equally awful for the two web developers in the world still using Safari (myself included). :+100000:

[2015-08-30 21:46] meonkeys commented on #3981
I'm seeing this in our production systems, exactly as @dan335 describes. Our Meteor apps sit behind an nginx reverse proxy. I am using `HTTP_FORWARDED_COUNT=1`, and `this.connection.clientAddress` from a Meteor method **usually** returns their IP. When it doesn't, the `x-forwarded-for` header (from `this.connection.httpHeaders['x-forwarded-for']`) contains their IP (matching what we see in the ngi

[2015-08-30 22:33] meonkeys commented on #3981
I'm seeing this in our production systems, exactly as @dan335 describes.

My Meteor apps sit behind an nginx reverse proxy. All run with `HTTP_FORWARDED_COUNT=1` set in their environment. All apps are deployed with [mup](https://github.com/arunoda/meteor-up).

`this.connection.clientAddress` from a Meteor method **usually** returns their IP. When it doesn't, the `x-forwarded-for` header (from `thi

[2015-08-30 22:50] stephentcannon commented on #5066
Doh!

[2015-08-30 22:50] #5066 closed

[2015-08-31 00:10] lorensr commented on #4968
Also, when I call `this.setUserId` on server, `Meteor.user/Id()` changes correctly on server but not on client.

[2015-08-31 02:58] nathan-muir opened #5074 "Meteor 1.2 - Stuck in `Client modified -- refreshing`"
![stuck-refreshing](https://cloud.githubusercontent.com/assets/3112329/9571353/a75bf2ee-4fdf-11e5-9bd8-cb6e9a2faa20.gif)

I would love to provide some more detail on this one; Is there some environment flags I can add to produce some debugging output?

----

What I'm doing:
Editing a package that includes `.jsx` and `.coffee` files. Editing one or the other trips it into continuously refreshing.

[2015-08-31 03:18] ewyler opened #5075 "Subscriptions fail to fully populate on the client for "large" collections (max size browser-dependent)"
Repro code: `git clone https://github.com/ewyler/meteor-large-count-publish-bug.git`

Local setup: Windows 10

STR:
1. Run the meteor application either locally or deployed to meteor.com. The issues are reproducible on either. You'll need to wait a minute or two for the collection to be initially populated on the server with 200,000 items 48 bytes in size.
2. Open up the javascript console. The "o

[2015-08-31 05:49] martijnwalraven commented on #4989
Note that this solution will not work with Meteor 1.2, because the Android tools are no longer bundled with Meteor. So you will have to install the Android SDK yourself and set ANDROID_HOME accordingly.

Also, in case you encounter similar situations in the future, your problems seem to have been due to the different locations for home directories under OS X and Linux (`/Users/<username>` vs. `/ho

[2015-08-31 06:10] jaskinn commented on #4132
@MichaelJCole That is a nicely detailed answer. I do not have the force-ssl package installed. Could you explain the fix (relating to meteor/cordova) for your third point?

By the way, I have implemented the first two strategies ('accessRule' and 'BrowserPolicy') without success

[2015-08-31 06:27] juliusxyg commented on #4892
The issue is fixed, cause home directory is mounted and the NFS lock is not released due to some cases.

[2015-08-31 06:27] #4892 closed

[2015-08-31 06:47] funkyeah opened #5076 "Npm.require not available in meteor shell"
Maybe this is the intended behavior or maybe I'm making a feature request but Npm.require does not appear to be available within meteor shell.

[2015-08-31 09:11] laszbalo opened #5077 "Meteor with 10gen's mongo-connector"
Hi all,

I am trying to use Meteor with Elasticsearch and instead of manually putting the data from Mongo to Elasticsearch, I tried using mongo-connector to do the replication. As far as I understand, mongo-connector tails the oplog in the same way as the oplog driver does.
My problem is, whenever I modify the data inside MongoDB, the mongo-connector successfully replicates the data to Elasticsear

[2015-08-31 09:57] gabrielalmeida commented on #5074
Hi, try debugging w/ those flags:

[code]

[2015-08-31 10:08] gabrielalmeida commented on #5074
Similar issue reported on #4943:

@raix commented 2 days ago:

=> Client modified -- refreshing (x440)^C

[2015-08-31 11:24] nathan-muir commented on #5074
Added a log of it stuck in a refresh loop.

[2015-08-31 11:26] sebakerckhof commented on #5074
I experience the same issue, running with the flags you mention outputs (after I make a change):
https://gist.github.com/sebakerckhof/654132f67de993659f52

I only posted the first few iterations, but it continues in the same manner

[2015-08-31 11:56] timothyarmes commented on #3628
I'm adding my vote to get this fixed. You have official semantic UI support yet it's not possible to create a responsive layout without hacky workarounds.

[2015-08-31 13:03] gabrielalmeida commented on #5074
I did not managed to reproduce this. Can you share a minimal reproduction repo or provide contents of ```.meteor/packages```, ```.meteor/release``` and ```.meteor/versions```?

Guessing it's something related with packages that do use the plugin API, as @nathan-muir seems to experience this only when changing files with extensions affected by the jsx/coffee compilers.

Try performing a ```meteor r

[2015-08-31 13:11] sebakerckhof commented on #5074
Well, I actually experience this with my own fork of https://github.com/sebakerckhof/meteor-scss which I rewrote for 1.2. But since I'm the only one using it, it didn't think the fault would be there.

[2015-08-31 13:38] boustanihani commented on #3076
This will be available in Meteor 1.2 => ```meteor add crosswalk```

Check: https://quip.com/RXFlAk9Rc2xI (Add Crosswalk with one command)

You can try the beta now: ```meteor update --release METEOR@1.2-rc.7```
https://forums.meteor.com/t/first-public-release-candidate-of-meteor-1-2/8986

[2015-08-31 13:39] gabrielalmeida commented on #5074
@sebakerckhof Running a fresh app with your fork just works for me too

[2015-08-31 14:34] timothyarmes commented on #2853
I've written a utility to provide this feature:

https://www.npmjs.com/package/packagecheck

[2015-08-31 14:53] sebakerckhof commented on #5074
@gabrielalmeida try this repo: https://github.com/sebakerckhof/meteorrefreshloop and edit the file packages/custom/variables.import.scss

[2015-08-31 15:00] markoshust commented on #5050
I now tried running this command through Ubuntu 12.04:
`meteor publish-for-arch markoshust:radium@0.0.2`

However, it is still saying: `error: Cannot override existing build`

Am I missing something here? Here is my entire `meteor show markoshust:radium --ejson` -- it is only showing an OS X build.

[code]

[2015-08-31 15:12] markoshust commented on #5050
So, I bumped the version to 0.0.3, and tried publishing the build first on ubuntu 64-bit. I'm still receiving this error:
[code]

Here is the meteor show command output now:

[code]

[2015-08-31 15:29] Multiply commented on #3076
@boustanihani Amazing news! :+1:

[2015-08-31 16:38] avital commented on #4968
@lorensr yes, that's the design. the user id updates on the client only when the client calls `Accounts.callLoginMethod`

[2015-08-31 17:03] lorensr commented on #4968
Oh, good to know, thank you!

On Mon, Aug 31, 2015 at 12:39 PM, Avital Oliver <notifications@github.com>
wrote:

[2015-08-31 17:13] MichaelJCole commented on #4132
@jaskinn So, I ran into more problems.  There is no fix in the third point :(

Somewhere, the internet said Meteor 1.2 will improve its Mobile development experience and I'm looking forward to that maybe clearing up some issues.

I was trying to proxy `http://localhost:3012` -> `httpS://localhost:4412` and use the `--mobile-server` tag to make sure my app was secure.  It didn't work for whatever r

[2015-08-31 17:45] lorensr commented on #4968
So others know, PR for adding to docs: #5078

[2015-08-31 17:49] ManuelDeLeon opened #5079 "#each behaves differently with array of objects and strings"
If I have an array of strings and remove the first item I get the expected result: the first template is removed.

[code]

[code]

Before clicking the button:
![image](https://cloud.githubusercontent.com/assets/4257750/9585866/a2e1c18e-4fd6-11e5-883e-5e5c82dc14f4.png)

After clicking the button:
![image](https://cloud.githubusercontent.com/assets/4257750/9585911/d9f8339c-4fd6-11e5-95bd-ba7f6377451

[2015-08-31 18:46] stubailo commented on #5079
@ManuelDeLeon thanks for the detailed reproduction. The reason why this doesn't work is documented here: https://github.com/meteor/meteor/tree/devel/packages/spacebars#reactivity-model-for-each

Instead of removing the template, Meteor re-uses them because we don't attempt to deep-diff array items (neither does React, for example).

You have two options:

1. Declare an `_id` on the array elements

[2015-08-31 18:46] #5079 closed

[2015-08-31 18:48] stubailo commented on #5076
`Npm.require` is only available inside Meteor packages. Meteor shell runs in the scope of your app.

One option is to use `meteorhacks:npm`, which lets you use NPM packages from your app directly.

Unfortunately, this is not a feature that is possible to implement in Meteor's current packaging model. There are a couple different feature requests this could be: "Let me use NPM packages directly in

[2015-08-31 18:59] funkyeah commented on #5076
I swear Npm.require works in server code outside of packages. Maybe that is unintended but it does seem to work for me.

I don't want to make a formal feature request and add more work because meteorhacks:npm works just fine for my needs. My main goal was just to point out that it seems to work in server code and not the shell. If the shell is not meant to replicate everything you can do on the se

[2015-08-31 19:01] rclai commented on #5076
It _does_ work in regular server code.

[2015-08-31 19:03] stubailo commented on #5067
Do you have a version of the package I can clone to try it out? Then I can add some logging or something to the command line tool to see what it's doing during that time.

[2015-08-31 19:04] stubailo commented on #5061
Can you give more details? I can't do anything at all about this report without a reproduction.

[2015-08-31 19:04] #5061 closed

[2015-08-31 19:07] stubailo commented on #5040
Is there some reason that you need the original file loaded as an asset? Does it not work if you include it as a client-side source file?

[2015-08-31 19:10] stubailo commented on #5074
@sebakerckhof Thanks for the reproduction! We'll look into this soon!

[2015-08-31 19:15] stubailo commented on #5076
Whoa, OK I was actually unaware that it was accessible from there. My mistake!

[2015-08-31 19:16] stubailo commented on #5076
What happens when you call `Npm.require`? Could you post a screenshot?

[2015-08-31 19:19] trusktr commented on #5067
@stubailo Yeah, I published `rocket:module` 0.8.2 on Atmosphere. It uses `api.versionsFrom('1.2-rc.7')`.

So,

[code]

Then create an `npm.json` file and list some NPM dependencies in there (same format as package.json's `dependencies` field, for now):

[code]

Then create at least one entry point in the app. We'll create two: `client/entry.js` and `server/entry.js`.

In those files, begin importi

[2015-08-31 19:19] trusktr commented on #5067
@stubailo You can clone rocket:module locally from https://github.com/meteor-rocket/module.

[2015-08-31 19:20] dgreensp commented on #5054
Fixed on `release-1.2` branch (6130648c996a7e62e39d5c50ce023e530370e332).

[2015-08-31 19:20] #5054 closed

[2015-08-31 19:21] mauricionr commented on #4989
@martijnwalraven, use this ```~``` in the path enviroment??

[2015-08-31 19:22] trusktr commented on #5067
@stubailo Also note that files in any `modules` folder are never handed back to Meteor after rocket:module is done. File outside of `modules` folders are only handed back to Meteor if they are never imported into some other file.

[2015-08-31 19:24] trusktr commented on #5067
@stubailo I'm in the gitter room too if you wanna chat.

[2015-08-31 19:24] stubailo opened #5080 "[1.2 RC] Meteor doesn't reload after a compile error in JSX"
As noted in this comment: https://forums.meteor.com/t/first-public-release-candidate-of-meteor-1-2/8986/37

I have personally experienced this issue as well, we can use my app here to repro: https://github.com/stubailo/pr-tracker

Just clone the app, run it, edit App.jsx to cause a compile error, then fix it and it doesn't recompile.

[2015-08-31 19:26] stubailo commented on #5067
@trusktr I don't think chatting will help at the moment - I'll investigate this repro in more detail and get back to you.

[2015-08-31 19:34] MichaelJCole commented on #4132
One more thing to check is that you can ping back and forth between the phone and computer.  W/o this it's possible to install the app, but not get data back and forth.

[2015-08-31 19:39] trusktr commented on #5067
I'll be updating https://github.com/meteor-rocket/module-example-app soon. Maybe I'll be able to have a repro in case you can repro on your end.

[2015-08-31 19:41] funkyeah commented on #5076
I'm traveling so it might take a while before I can send a screenshot. It
is very straightforward though... just do meteor shell, and then see that
the Npm object is not in the global variable list so trying to use
Npm.require gives the standard error you would expect in that case.

Again, not saying it should be there, just saying it doesn't match the
server environment.
On Aug 31, 2015 2:17 PM,

[2015-08-31 19:47] jeffmitchel commented on #5060
Works for me, as does having publish complain if there isn't a license file.

[2015-08-31 19:52] martijnwalraven commented on #4989
Yes (or `$HOME` which is what it refers to).

[2015-08-31 19:56] stubailo commented on #5076
OK, I think it should be there. Let's see what @benjamn thinks - he's out for the week, but he usually works on `meteor shell`.

[2015-08-31 20:00] trusktr commented on #5067
@stubailo It seems to be happening only for the client (web.browser) builds in my current case. So, if I edit a file that outside of `server` or `client`, and that file is one that is imported into both `server/entry.js` and `client/entry.js`, then editing the file triggers a build for both sides, and only the client build is taking extra long after `rocket:module` is done in the project I'm curre

[2015-08-31 20:09] martijnwalraven commented on #5046
I just noticed you're trying to set your path to the `~/.meteor/android_bundle/android-sdk` directory. Note that Meteor 1.2 no longer bundles the Android tools and requires a system-wide install of the Android SDK. See [here](https://github.com/meteor/meteor/wiki/Mobile-Development-Install:-Android-on-Mac) for installation instructions.

[2015-08-31 20:17] fungilation commented on #3076
Awesome! Between this and WKWebView support on iOS for mobile performance
boost

On Mon, Aug 31, 2015 at 8:31 AM Jens Ulrich Hjuler Pedersen <
notifications@github.com> wrote:

[2015-08-31 20:22] queso commented on #5060
Personally, I think it is fine. I think if you care about which license you want, you can change the text of the file before you publish code...

[2015-08-31 20:28] ManuelDeLeon commented on #5079
Nice. Thanks.

[2015-08-31 20:45] VladShcherbin commented on #5060
Sure, this can be added. I also think that people, who want to use another (not MIT) license always add this file. And the people, who don't add license understand that and make the package free (or like MIT license).

Do we really and why need to set this license (except when it is not MIT) ?

[2015-08-31 20:51] ManuelDeLeon commented on #5060
I would recommend the process to be more obtrusive because of its legal implications. Probably ask the user upon `meteor create --package` if they want to add an MIT license if there isn't one.

[2015-08-31 21:01] evolross opened #5081 "[BUG] Accounts.sendVerificationEmail returns error on optional email parameter."
I'm adding "Resend Verification Email" functionality.  If from the server I call:

`Accounts.sendVerificationEmail(user._id, function(error) {...});`

I'm getting the error `No such email address for user`. And I can clearly see the email address at `user.emails[0].address` in Mongo. But if I call:

`Accounts.sendVerificationEmail(user._id, user.emails[0].address, function(error) {...});`

It work

[2015-08-31 21:32] rlech commented on #4560
is there a way to do this with a deploy script? its super annoying to add this 2 entries every time after a meteor reset

[2015-08-31 21:50] Gaelan commented on #4247
:+1::exclamation:

[2015-08-31 21:54] d62remi commented on #5046
Thanks for the information ;-)

I'm going to try with the last RC this week.

I will come back to you !

[2015-08-31 22:08] trusktr commented on #5061
@stubailo It might be related to #5067. We can reopen if not.

[2015-08-31 23:13] msavin commented on #5060
I think its a good idea to protect the developers who distribute packages. If they publish something without a waiver, aren't they liability for potential damages?

[2015-08-31 23:39] mauricionr commented on #4989
Thanks @martijnwalraven

[2015-09-01 00:04] lukicdarkoo opened #5083 "Meteor & Polymer Data Binding"
I am trying to bind array fetched from Mongo to Polymer webcomponent
[code]
I also tried some variations, I made function objectCollectionSync() to listen changes in Mongo
[code]
and using of objectCollectionSync() in Polymer webcomponent
[code]

With ```<project-collection item="{{ stringify projects }}"></project-collection>``` it works fine, but it seems like a dirty solution. I want to build w

[2015-09-01 00:11] stubailo commented on #5060
I don't think there is a standard license that does this. Doesn't free imply that the code can be re-distributed? Like using a package in your app === distributing code AFAICT.

[2015-09-01 00:11] stubailo commented on #5061
OK let's revisit when we fix the other one.

[2015-09-01 00:20] msavin commented on #5060
Well, may pay to define the terms.. and to pay a lawyer to figure it out :)

I believe GitHub has some kind of default license for public repositories that do not have a license. Maybe there are some clues there too.

Sent from my iPhone

[2015-09-01 00:24] trusktr commented on #5067
@stubailo I noticed sometimes Meteor outputs something like `building for platform web.browser`, and sometimes it doesn't.

[2015-09-01 00:27] KnowledgeGarden opened #5084 "How to clear out old code after editing and saving?"
Occasional recurring issue: edit a file, save, reboot, and see an error message with precisely the old code still being called out. Example, a template copied in from an angular app, and incorrectly modified to use {{#if ...}} but in the wrong place, e.g.

<li {{#if something}} <a ...
corrected to
{{#if something}}<li ..
and saved. Get this error message:

While building the application:
   client

[2015-09-01 00:32] KnowledgeGarden commented on #5084
Just in case, this issue showed up on a RedHat 7.1 box and recurs on a Win7 box. It's not the first time I had to find a workaround. In another case, I completely removed a particular method block, and it kept showing up in compile errors, long after it was removed.

[2015-09-01 00:37] KnowledgeGarden commented on #5084
Final comment, one for which I have no clue. IDE is atom.io. I closed it on the RedHat box and the bug went away. That behaviour did not repeat on the Win7 box.

[2015-09-01 01:06] queso commented on #5060
Again, I wouldn't want to tangle this up in a bunch of thoughts about legality. Just slap an MIT file in there and people can change it before release if they want to. I see this ticket as more of a friendly reminder to package devs than anything else.

[2015-09-01 02:08] stubailo commented on #5083
"How can I do this?" questions are best posed on [StackOverflow](http://stackoverflow.com/questions/tagged/meteor) or the [Meteor forums](https://forums.meteor.com/), not our bug tracker. Good luck!

[2015-09-01 02:08] #5083 closed

[2015-09-01 04:44] cleor41 commented on #3409
I think more specific client folders is the way to go in the future. But in the meantime, would it suffice to use packages? For example, create a package named web, and a package named mobile. Then use the "api.*" methods to conditionally include the package foregoing the entire client directory altogether.

[2015-09-01 04:58] arunoda commented on #5060
I like it :)
One of the thing we forget to do.
But then it seems like some opinionated thing, since some people use some other licences.
Then if we wanna support more licences, I think that's an overkill and we have more important stuff.

I think eventually, Github will introduce a similar feature (or do they have it)

So, I think this is okay. But not important or needy at this moment.

[2015-09-01 06:23] stubailo commented on #5060
Since meteor itself is already MIT licensed, I don't think it would be any more opinionated to suggest that as a default license for packages.

[2015-09-01 06:40] gazhayes commented on #5075
I get to ~115k on Chrome Version 44.0.2403.157 (64-bit) (Yosemite). Neither onStop nor onReady called.

[2015-09-01 06:46] harlyluyar opened #5085 "Hot push not working in some android phone"
Hi,

I submitted my android app made from meteor to goole app store,
the weird thing is: in some android cell phone, after the hot push, the css will not work.
Before hot push it was fine.

I tried to resolve it, but no clue at all.
Would appreciate if anyone can help. This is blocking me... :'(

[2015-09-01 06:49] hojas opened #5086 "How to use the subscribe that it has only one item?"
[code]

[code]

How to get the data I want from postDetails ?

[2015-09-01 07:02] garbas commented on #5053
@aloiscochard i would use ``generate-dev-bundle.sh`` as a hint how to create nix expression

[2015-09-01 08:02] aunz commented on #4793
+1, as mentioned by xPandismo, happens with `{{#if}}` as in `<a class="{{#if selected}} selected {{/if}}"</a>`

[2015-09-01 08:43] msavin commented on #5060
If Meteor plans to serve the enterprise market, licensing will be need to be covered well. No license is a liability both ways. I think there needs to be "default" license, maybe baked into the Meteor TOS. But then again, I'm not a lawyer...

[2015-09-01 08:52] laszbalo commented on #5077
Ok, that was my fault. For some reason I thought, that the /private subdirectory is not being watched by Meteor, so I started the mongo connector inside /private, the connector modifies a file every time when something happened according to the oplog. Thus making Meteor server to restart.
Sorry for polluting the issue tracker.

Regards,
Laszlo

[2015-09-01 08:52] #5077 closed

[2015-09-01 09:03] jeffmitchel commented on #5060
It is opinionated, but that may not be a bad thing, especially if the opinion can be easily overridden. In this case via a simple rm command. My opinion is that this helps more than it hurts. Also this: http://choosealicense.com/no-license/

[2015-09-01 09:29] martijnwalraven commented on #5085
I will need something more to look into this. Preferably a reliable way to reproduce this behavior, but more details at a minimum.

What do you mean by 'the css will not work'? What changes did you make in the version that is being pushed to the phones? What makes you think it only occurs on certain phones and not others? What differentiates these phones from others (Android version, etc.)?

[2015-09-01 11:29] rclai commented on #5086
That should already work. If not make the criteria `{ _id: postId }`.

[2015-09-01 11:44] grsabreu commented on #5086
You can

[code]

[2015-09-01 12:07] AlexFrazer commented on #5086
If you subscribe by _id, it should only have one result. You can just use `findOne` on the client.

[2015-09-01 12:12] AlexFrazer opened #5087 "Blaze: how to dereference a helper with an argument?"
Example helper:

[code]

Then in a template:

[code]

Is this possible? If not, can support be added?

[2015-09-01 12:24] evenfrost commented on #4943
Still no lodash support?

[2015-09-01 12:26] Kestanous commented on #4943
still +1 for lodash :smiley_cat:

[2015-09-01 13:38] martijnwalraven opened #5088 "[1.2 RC] TypeError: Cannot read property '0' of undefined when creating app on Windows"
It seems the code added in https://github.com/meteor/meteor/commit/45f3133b24a7ffb25293963afa6d4ea5e7a37cdd may be causing some trouble. Because `options.appDir` is undefined, [this line](https://github.com/meteor/meteor/blob/release-1.2/tools/cli/commands.js#L600) throws an exception. It seems to me this should be `files.pathBasename(appPathAsEntered)` instead, but I don't understand why this is

[2015-09-01 13:59] horochovec opened #5089 "Bug for Android Build"
I don't understand what problem I have with this build...

horochovec:mediaglobe$ node --version
v0.12.6

horochovec:mediaglobe$ meteor --version
Meteor 1.1.0.3

horochovec:mediaglobe$ cat .meteor/packages
meteor-platform
autopublish
insecure
iron:router
differential:vulcanize
accounts-password

horochovec:mediaglobe$ VULCANIZE=true meteor build --directory ../mobile-build --mobile-settings mobile

[2015-09-01 14:06] bySabi commented on #4943
:+1: lodash please

[2015-09-01 14:10] horochovec commented on #5089
I have the same problem build the localmarket example project.

[2015-09-01 15:08] martijnwalraven commented on #5089
I'm not sure what is going on, but could you try this again with the Meteor 1.2 RC (`meteor update --release METEOR@1.2-rc.10`)? There have been some major changes to the architecture of the Cordova integration, so I hope that will solve your issue. If not, let me know, and I'll look into it.

[2015-09-01 15:32] martijnwalraven commented on #5088
Also, but probably unrelated to this specific issue, there seems to be something weird going on with the filenames in the stacktrace. The last two entries show their file being located in `C:\tools\...` instead of `C:\Users\IEUser\AppData\Local\.meteor\packages\meteor-tool\1.1.7-rc.8\mt-os.windows.x86_32\tools\...`.

[2015-09-01 15:43] harlyluyar commented on #5085
Hi Mart,

Try this in your android:  https://play.google.com/store/apps/details?id=com.id1ibcv6d1wapie1ur85c7
See if the style will change.

The css style was working at the first few seconds, but after hot push from server, the css style turn to not work, not style at all, just plain html. The change I made is minor change in <p> content, do not think it will cause this.

I tried it on two exact

[2015-09-01 16:07] harlyluyar commented on #5085
Mart, I found this:
"
 could it be that thing I read about where some mobile service providers are injecting some JS for analytics and tracking?? have you checked the developer tools by tethering your phone to your PC and debugging?

Articles mentioning TMobile and Vodafone doing it... (not recent though)

http://www.infoworld.com/article/2925839/net-neutrality/code-injection-new-low-isps.html2

s

[2015-09-01 16:09] harlyluyar commented on #5085
Just tried, and do found it is caused by carrier injecting code.
It works fine if I use wifi, not in att

[2015-09-01 16:49] martijnwalraven commented on #5085
Good to hear you figured it out! Turns out there is actually a [thread](https://forums.meteor.com/t/no-css-after-hot-code-push/1229/7) about this on the forum.

[2015-09-01 17:11] horochovec commented on #5089
@martijnwalraven

horochovec:mediaglobe$ meteor --version
Meteor 1.2-rc.10

horochovec:mediaglobe$ VULCANIZE=true meteor build --directory ../mobile-build --mobile-settings mobile-config.js --server http://xyz.meteor.com --verbose
Local package version is up-to-date: accounts-base@1.2.1-rc.2
Local package version is up-to-date: accounts-password@1.1.2-rc.1
Local package version is up-to-date: auto

[2015-09-01 17:30] martijnwalraven commented on #5089
Ah, that helps! It is reporting a syntax error in reading the settings JSON file. It seems you are confusing the [settings file](http://docs.meteor.com/#/full/meteor_settings) with [`mobile-config.js`] (http://docs.meteor.com/#/full/mobileconfigjs). If you get rid of the `--mobile-settings mobile-config.js` option that should do it.

[2015-09-01 18:00] horochovec commented on #5089
Thanks @martijnwalraven

Now I have this problem:

Unable to add '/Users/mediaglobe/Projects/xyz/.meteor/local/cordova-build/platforms/android/build/intermediates/assets/debug/www/application/app/bower_components/web-animations-js/web-animations.min.js.gz': file already in archive (try '-u'?)
ERROR: unable to process assets while packaging '/Users/mediaglobe/Projects/xyz/.meteor/local/cordova-buil

[2015-09-01 18:09] jamesharrington commented on #734
I had to be more specific ```a.btn{ -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 ); }``` worked for me

[2015-09-01 18:21] stubailo commented on #5086
Looks like people have posted good answers. For the future, "How can I do this?" questions are best posed on [StackOverflow](http://stackoverflow.com/questions/tagged/meteor) or the [Meteor forums](https://forums.meteor.com/), not our bug tracker.

[2015-09-01 18:21] #5086 closed

[2015-09-01 18:38] mikepaszkiewicz opened #5090 "Unexepected differences between iOS production & TestFlight on same version number"
I submitted a TestFlight build last week and since, have not made a hot code push to my Modulus instance. On startup, the Test Flight routes as expected to the app's home page with no problem, however, when I load the same app (same version) downloaded from the App Store, I get a ReloadOnResume message.

Where, if at all, does Cordova snapshot the site pointed to in the config.xml? Even clearing/d

[2015-09-01 18:39] harlyluyar commented on #5085
Just put this code into server side:

var connectHandler = WebApp.connectHandlers;
Meteor.startup(function () {
  connectHandler.use(function (req, res, next) {
    res.setHeader("Cache-Control", "no-transform");
    return next();
  })
})

[2015-09-01 18:39] #5085 closed

[2015-09-01 19:12] horochovec commented on #5089
@martijnwalraven

When I build the localmarket example everything works fine, I think this issue is related with Differential-Vulcanize.

[2015-09-01 19:23] JWo1F opened #5091 "Meteor for windows is very-very slow"
**_2 Upvotes**_ Hi all! Meteor for Windows is very-very slow. When I make a change I should wait for 20-30 seconds while a page reloading..

[2015-09-01 19:53] martijnwalraven commented on #5090
I'm not sure I understand your issue. What exactly is the difference in behavior between TestFlight and the App Store you're seeing? Does this happen only the first time you open the app?

Cordova stores the data in the application sandbox under `/Library/NoCloud/meteor/<version>`.

[2015-09-01 20:12] stubailo commented on #5091
Please provide a full reproduction as described in: https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#reporting-a-bug-in-meteor  Without a way to replicate your problem, we can't debug and fix it.

[2015-09-01 20:45] stubailo commented on #5053
Hey, I think this is unlikely to become an officially supported platform for Meteor in the near future, unless there is a large segment of people who are interested. I think the forums would be a great place for further discussion to figure out workarounds and gauge interest.

[2015-09-01 20:45] #5053 closed

[2015-09-01 20:51] stubailo commented on #5070
Thanks for the feature request! We welcome discussions about how to make Meteor better. If you haven't yet, check out our wiki page about [feature requests on GitHub](https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#feature-requests).

I think this would be a really good feature to have.

[2015-09-01 20:55] stubailo commented on #5071
The correct way to do this in ES2015 is:

[code]

[2015-09-01 21:01] dgreensp commented on #5087
Jade templating is a community package, so I can't answer for sure if this is possible or not, but if you are using `mquandalle:jade`, I think it uses the same expression syntax as Meteor's Spacebars templating.

We've talked about adding fancier expression support to Spacebars, but it is not on our immediate roadmap.

The usual way to write this template code (in Spacebars at least) would be to a

[2015-09-01 21:01] #5087 closed

[2015-09-01 21:02] stubailo commented on #5010
I think this would be a good bug to file on `iron:router` - I'm not exactly sure what it does with server-side routes and similar. Have you filed a bug there?

[2015-09-01 21:04] stubailo commented on #5031
Thanks for the feature request! We welcome discussions about how to make Meteor better. If you haven't yet, check out our wiki page about [feature requests on GitHub](https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#feature-requests).

You noted that people use the `typeof` method to check for the last argument. Does that mean that passing `undefined` will actually break that code then

[2015-09-01 21:06] stubailo commented on #5032
Thanks for the feature request! We welcome discussions about how to make Meteor better. If you haven't yet, check out our wiki page about [feature requests on GitHub](https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#feature-requests).

I think this would be really great - if you could specify templates that should be exported and only those are available outside of the package.

[2015-09-01 21:09] stubailo commented on #5043
I think part of the thinking here was that warnings aren't very useful because they are easy to ignore, but since a lot of linters support warnings it probably makes sense to have that be possible.

What do you use warnings for in your linter?

I don't think this feature will make it into Meteor 1.2 at this point, but we should think about it for the next release.

Thanks for the feature request!

[2015-09-01 21:11] stubailo commented on #5084
I haven't encountered this issue before. Please provide a full reproduction as described in: https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#reporting-a-bug-in-meteor  Without a way to replicate your problem, we can't debug and fix it.

[2015-09-01 21:11] #5084 closed

[2015-09-01 21:13] stubailo commented on #5004
I think you are trying to use angular-meteor? In that case, check out that tutorial: https://www.meteor.com/tutorials/angular/creating-an-app

Anyway, "How can I do this?" questions are best posed on [StackOverflow](http://stackoverflow.com/questions/tagged/meteor) or the [Meteor forums](https://forums.meteor.com/), not our bug tracker. Good luck!

[2015-09-01 21:13] #5004 closed

[2015-09-01 21:16] dgreensp commented on #5050
Hi @markoshust, what version of `meteor` are you using?

This error may indicate that there isn't anything architecture specific to publish.  Does `radium` have a binary part to it?  If not, you do not need to `publish-for-arch`.  Try seeing if the package works on Linux as is.

[2015-09-01 21:16] dheerajbhaskar commented on #747
:disappointed_relieved:  AlexFrazer +1

@glasser I hope what you said here was actually put in the Meteor docs, would've saved me a lot of time. I was going around in circles about SO and meteor docs since the past two days.

PS: Anyway, I like you guys and what you're doing with meteor :)

[2015-09-01 21:28] avital commented on #5075
My guess is that this isn't a Minimongo issue, but rather an issue with DDP heartbeats, where the server closes the client's connection if it hasn't received a heartbeat in a while, and the client is overloaded dealing with all of the incoming messages so that it doesn't set aside any time for the event loop to deal with sending a heartbeat to the server.

It may be related to #207 which seems to

[2015-09-01 21:29] dheerajbhaskar commented on #747
@glasser Also, projection operator elemMatch works very differently to the way mongodb uses it. I'm using it in a publish function like shown below and the entire query turns up empty when there's no array element with the given `currentUserId`. MongoDB however just removes the particular field `active_bets` if the element was not found. Is there a way I can modify the query to get an empty `activ

[2015-09-01 21:31] JWo1F commented on #5091
Way to replicate my problem:
1. download meteor from here: https://install.meteor.com/windows
2. install meteor
3. run cmd
4. type: `meteor create test`
5. type: `cd test && meteor`
6. change one file in this dir
7. waiting from 20 to 30 seconds while page is reloading..

[2015-09-01 21:31] avital commented on #5081
As far as I can tell from the docs (and also by inspecting the code: https://github.com/meteor/meteor/blob/master/packages/accounts-password/password_server.js#L573), `Accounts.sendVerificationEmail` doesn't let you pass a callback at all -- it runs synchronously, perhaps throwing an error on failure.

So what you're seeing is that it's treating the callback you passed as if it's an email address.

[2015-09-01 21:31] #5081 closed

[2015-09-01 21:34] stubailo commented on #5091
OK, we'll look into this! Thanks for the reproduction recipe, it's good to know that you are encountering this issue with a newly created app.

[2015-09-01 21:36] dheerajbhaskar commented on #747
@glasser Nevermind, silly me. :relieved: I'd left the `"active_bets.user_id": currentUserId` in the query portion. It is as to be expected.

[2015-09-01 21:41] stubailo commented on #5069
@carlosbaraza I figured it out - it actually doesn't have anything to do with SVG vs. PNG. It's actually because one of the rules is inside a media query, and we don't correctly traverse the syntax tree inside media queries.

Hopefully I can push a fix soon and get it into 1.2.

[2015-09-01 21:43] stubailo commented on #5069
For more context, here is the line: https://github.com/meteor/meteor/blob/38643668cda765e5976fab593226bbbc1a710690/packages/minifiers/minifiers.js#L114

To support media queries, we also need to iterate over `rules`.

[2015-09-01 21:50] JWo1F commented on #5091
![image](https://cloud.githubusercontent.com/assets/1540715/9618060/89537492-510c-11e5-89db-31808a44d1d0.png)

For example. The same issue in all popular browsers.

[2015-09-01 21:54] avital commented on #5048
There's no built in way in Meteor to use HTML template to send out emails. There are some community packages that try to address this, such as https://github.com/meteorhacks/meteor-ssr or https://github.com/lookback/meteor-emails. I've never tried it though so I can't guarantee their quality.

[2015-09-01 21:54] #5048 closed

[2015-09-01 21:56] stubailo commented on #5069
Oh - great news. I just ran it with Meteor 1.2 and everything works.

Try upgrading your app to the release candidate and let me know:

[code]

[2015-09-01 21:56] #5069 closed

[2015-09-01 21:56] trusktr commented on #5067
@stubailo I may have an open source reproducible example for you soon, over at http://github.com/infamous/website.

[2015-09-01 21:57] avital commented on #5048
Or maybe I understood? The Meteor accounts system definitely looks at `Accounts.emailTemplates.verifyEmail.html` if it has been set when it sends out email verification messages.

Is there a bug? Can you show a reproduction?

[2015-09-01 21:58] lorensr commented on #5031
If I'm understanding your question, `typeof(undefined)` is `"undefined"`, so it would not match `expectedType`, so it would not break that code.

Yes, if you're checking `arguments.length` and assuming there will be an extra last arg, then removing the last arg would be breaking.

[2015-09-01 21:58] avital commented on #2691
When we fix this, we should also merge in the following test: https://github.com/meteor/meteor/pull/5038

[2015-09-01 21:58] stubailo commented on #5051
Please provide a full reproduction as described in: https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#reporting-a-bug-in-meteor  Without a way to replicate your problem, we can't debug and fix it.

[2015-09-01 21:58] #5051 closed

[2015-09-01 22:01] stubailo commented on #5031
Right I'm saying someone could be checking that the type of the last argument is `"object"`, basically the opposite of your check. In which case it would fail.

[2015-09-01 22:02] dgreensp commented on #4965
@ccorcos Sorry for the late reply.

The field is there, it's just `console.log(JSON.stringify(msg))` that is dropping it, because JSON ignores undefined fields.  If you log `msg.fields && Object.keys(msg.fields)` you'll see it.

[2015-09-01 22:03] stubailo commented on #5068
What would be the optimal solution? Special cases for `*` and `none` where they are not copied to the other directives?

[2015-09-01 22:04] stubailo commented on #5042
@martijnwalraven can you take a look at this?

[2015-09-01 22:06] stubailo commented on #5091
What Windows version are you running?

[2015-09-01 22:14] JWo1F commented on #5091
Windows 10 x64 just now, but I had the same issue in windows 8.1

[2015-09-01 22:14] trusktr commented on #5067
It's live at http://infamous.io

[2015-09-01 22:14] trusktr commented on #5067
Oops, wrong button.

[2015-09-01 22:20] glasser commented on #4947
After clicking the second step of your button, I went into the mongo shell and looked at the oplog:

[code]

It looks like Mongo processes aggregation with `$output` by putting the data in a temporary collection and then renaming it with a `renameCollection` operation. The oplog driver doesn't know about `renameCollection` operations so it doesn't process this.

We should improve the oplog driver

[2015-09-01 22:41] nathan-muir commented on #5068
Well, I think `setPolicy` / `prepareForCspDirective` shouldn't do _any_ copying from `default-src`. However this would probably break the API for existing users.

At the very least, there should be some method, to add a directive / policy that doesn't inherit from `default-src`. And, special directives should always be excluded (eg `referrer` and `base-uri`).

Aside from copying from `default-src`

[2015-09-01 22:50] evolross commented on #5081
You're right. Confirmed and tested.  Thanks for the quick response.

[2015-09-01 23:06] meonkeys commented on #3876
+1

[2015-09-01 23:11] woniesong92 commented on #5048
Reproduction should be as simple as setting the html field. Send a
verification email after you have set the html field, and see if the email
contains any of the html that you set.

On Tuesday, September 1, 2015, Avital Oliver <notifications@github.com>
wrote:

[2015-09-02 00:49] avital commented on #5048
I made the following app and received an HTML email as expected:

[code]

[2015-09-02 00:59] ccorcos commented on #4965
Oy vey. Youre right. I must be messing up somewhere else then! Thanks!

[2015-09-02 00:59] #4965 closed

[2015-09-02 02:50] ewyler commented on #5075
That makes plenty of sense - I don't have a specific use case for it, I was mostly evaluating the viability of Meteor for a production system. The fact that this fails concerns me less than the fact that there appears to be no way to get a notification or status that the failure occurred - so you have effectively no way to react to it, monitor it, or give an error to a user. Things will just myste

[2015-09-02 05:50] hkalic commented on #5071
But isn't that ```selected()``` (from jQuery) for ```Template.xxx.events ``` ?
I meant ```"selected"``` inside helpers.

[2015-09-02 06:42] stubailo commented on #5071
That code is exactly the same as `selected: function () { ...`

[2015-09-02 07:29] tomericco commented on #1009
+1 for lodash!

[2015-09-02 09:00] carlosbaraza commented on #5069
Hi @stubailo,

Great news! I will have a look as soon as I have some time. For the moment, my workaround is to actually serve the file on that path (file in public folder). I am not in a rush, so I will wait for the official 1.2 release.

Thank you!

[2015-09-02 09:36] danlg commented on #3698
same issue for me on android. cannot deploy the app using
meteor run android-device --mobile-server=http://my.domain:8000
whereas deploy is working ok on ios

[2015-09-02 09:47] charles-neemtec commented on #3419
I am also facing the same issue.
In Settings-->Apps it shows the default Cordova icon as well. Is this related to the 42x42 bug?

[2015-09-02 10:21] Oizor commented on #3666
After fixing the bcrypt error following the post in the thread from @wmodes, I now stumble upon this error:

[code]

Running at v0.12.2. The default Meteor application build runs without problems at the same server (with the same settings). Does anyone have a clue if this issue is related to the usage of running with v0.12.2, or should I look elsewhere. I did check the argument given to the listen

[2015-09-02 11:25] miri-am opened #5092 "[1.2 RC] Error building Cordova app for platform Android: No match found"
Meteor 1.2-rc.10

[code]

[2015-09-02 11:46] miri-am commented on #5092
seems like the problem is caused by my App.info settings:
``
  version: '0.4.6',
  buildNumber: '0.4.6'
[code]

I dont know if this works as expected (because buildNumber should be an integer) or if this is an issue. Leaving it open for now in case somebody else encouters this.

[2015-09-02 12:44] BraveKenny commented on #3698
I am afraid that this topic is becoming a catch-all for all issues regarding the mobile app creation in using meteor. So let me rephrase very simply **what this specific issue is about**.

### What should work but does not

Building the **app** [as documented](https://github.com/meteor/meteor/wiki/Meteor-Cordova-Phonegap-integration#building) using:

    meteor build <bundle path> --server <host>:

[2015-09-02 13:02] cleor41 opened #5093 "Enable adding entire folder as source in package"
As of now the only way to add a file to a package's source is by using

[code]

This is great if you need to have fine grained control but it's tedious to add this line for every file. There should be an option to use a more coarse approach. For example, maybe an option to add an entire folder and the load order is determined like how it is in a normal app.

[2015-09-02 13:30] yudaprama opened #5094 ""meteor mongo" doesn't work on METEOR@1.1.0.3"
[code]

[2015-09-02 13:38] mikepaszkiewicz commented on #5090
My bad, it's a bit difficult to explain...let me try to clarify. Last week, I made a final deployment to my Modulus instance, and submitted my update for iOS beta review, no problem. The update is available in the app store, but everyone who either does the iOS native update or newly downloads it gets a hot code push. To map it out:

**Test Flight Build**:
   - Build 3.4.5
   - Points to productio

[2015-09-02 14:36] Slava commented on #5091
Note that the screenshot is featuring a browser that we don't normally test (Yandex Browser). It is supposed to be the same as Google Chrome, but it could be an issue specific to Y.Browser too.

[2015-09-02 14:36] martijnwalraven commented on #5090
Hmmm, I don't think there should be a difference between the Test Flight and App Store situations. The fact that it only happens once seems to suggest it is getting an update, and it is is satisfied after applying it. Are you sure they are not running slightly different builds (even though they have the same build number)? Even a small change to any file would trigger a Hot Code Push.

[2015-09-02 17:07] stubailo commented on #5091
@JWo1F did say "The same issue in all popular browsers."  Hopefully that includes browsers that aren't from Yandex.

[2015-09-02 17:28] stubailo commented on #5092
@martijnwalraven, can you take a look at this?

[2015-09-02 17:29] stubailo commented on #5094
Can you give us more information? It works for a lot of people, so we need to figure out what is different in your environment.

[2015-09-02 17:41] bradcrispin commented on #4019
Same issue except unable to resolve, and nothing specific like an upgrade to induce it.

@laosb - my `cd .meteor/local/db/journal` path is empty, no lock file to delete
@xtrimf -unchecking 'Set locale environment variables on startup' and logging in out did not work
@krazyeom -environment variables did not include LC_ALL, adding `export LC_ALL=en_US.UTF-8` to bashrc, logging in and out did not wor

[2015-09-02 18:07] Sanjo commented on #5040
Thanks for the fix. :-)

[2015-09-02 18:15] stubailo commented on #5040
Yeah I'm glad it actually ended up improving the janky `{isAsset: true}` thing into a "real" API.

[2015-09-02 20:01] JWo1F commented on #5091
Yea, @stubailo are right. I have the same issue in Chrome and Firefox (and IE / Edge).

[2015-09-02 20:04] zimt28 opened #5095 "Spacebars: Objects/ Array as arguments"
At the moment Spacebars doesn't allow `Object`s and `Array`s as arguments in template helpers, only  `number, string, boolean, or null`. It would be a great addition allowing those two types as well.

[2015-09-02 20:08] zimt28 opened #5096 "Only add collection methods if allow/deny is being used"
**_1 Upvote**_ When creating a collection `new Mongo.Collection('posts')`, Meteor will create some methods automatically: `posts/insert`, `posts/update`, `posts/remove`, maybe some more. Please prefix these methods somehow, like `_meteor/posts/insert`; as creating a `posts/insert` method for a `posts` collection seems to be the right name (that's why you're using it), it shouldn't be blocked.

[2015-09-02 20:17] stubailo commented on #5040
Done! should come out in the next RC.

[2015-09-02 20:17] #5040 closed

[2015-09-02 21:29] glasser commented on #5067
@trusktr I'm starting to look into this, but can you provide a *full* reproduction? OK, I can clone infamous/website, but then what... run it, edit what file, ?

[2015-09-02 21:32] glasser commented on #5067
For example, I ran it, then edited `client/entry.js`, but there was no noticeable lag between `[rocket:module] Done. Elapsed time: 7701ms` and `=> Client modified -- refreshing`.

Are you running in `--production` mode, and what you're observing is the minifiers?

[2015-09-02 21:36] glasser commented on #5074
Looking into the reproduction. In order to run it, I had to delete `packages/fourseven_scss/.npm/plugin/compileScssBatch/npm-shrinkwrap.json`, which appeared to have cached references to somebody's private npm mirror at kkndedu01.barco.com.

[2015-09-02 21:44] yudaprama commented on #5094
Sorry first time using meteor. I should first running `meteor`, and the open new tab, and then `meteor mongo` on a new tab

[2015-09-02 21:44] #5094 closed

[2015-09-02 22:07] sebakerckhof commented on #5074
Yeah, my bad, that is the private npm repo from the project I'm working on.

[2015-09-02 22:09] trusktr commented on #5067
That's all, your doing it right. I'll try building on the examples, adding
Meteor packages, and see if it happens in that repo. I've it happens I'll
post back.

/#!/JoePea
On Sep 2, 2015 2:33 PM, "David Glasser" <notifications@github.com> wrote:

[2015-09-02 22:16] glasser commented on #5074
@stubailo This bug was introduced in 87b11bdab5c308935b88d3db6d99c71e80b36c38 when the firstRun variable in run-app's `_runOnce` was changed to a const and the `firstRun = false` line was removed.  `_runOnce`'s name is a bit confusing: it means "run the server once", but with client-only refreshes this can involve running the build step multiple times.  The removal of this line led the runner to n

[2015-09-02 22:18] glasser commented on #5074
I pushed a fix (71cf002).  @stubailo  maybe you can write a test :)

@martijnwalraven Can you review my fix and make sure I wasn't missing anything related to why you removed that `firstRun = true` line?  I assume it was just because that's a very big and complex function and it wasn't obvious that bundleApp gets called more than once.

[2015-09-02 22:18] #5074 closed

[2015-09-02 22:19] glasser commented on #5074
(BTW this is a pretty nasty bug so you may want to put it on devel? I'm not sure what your branch management strategy is right now)

[2015-09-02 22:21] stubailo commented on #5074
I can just merge release 1.2 into devel if that helps. What would the test be?

[2015-09-02 22:22] glasser commented on #5074
test that if the first thing you do after running an app is make a client-only (eg css) change in a local package, you don't get an infinite refresh loop?  I suspect that would have happened (ie, extra packages like scss not needed)

[2015-09-02 22:36] sebakerckhof commented on #5093
Even better would be support for [glob](https://www.npmjs.com/package/glob) style file identifiers

[2015-09-02 22:46] sbalmer opened #5097 "Second subscription to a collection falters when first subscription query has undefined field"
We found this edge case where a subscription gets no documents because another subscription used an undefined field in the query. The found it in 1.1, and it persist in 1.2 RC.

Because it was actually an error in our code that caused the failure, we're not too stressed about it. We fixed our part.  It was pretty hard to pin down, and I still wonder what the root cause may be.

[code]

Expected ou

[2015-09-03 00:06] keyscores commented on #4947
Thanks @glasser that confirms what I though it was doing. Would be great to see this improvement to oplog. I'm guessing many people would like to use aggregating more effectively in Meteor.

[2015-09-03 02:24] elidoran commented on #4943
Is there a way to get the Meteor release version inside `package.js` ? `Meteor.release` isn't available.

[2015-09-03 02:44] maartenbusstra commented on #1009
+1

[2015-09-03 03:10] martijnwalraven commented on #5074
Ah, I'm really sorry, thanks for fixing this! I assumed `options.firstRun` being passed into `_runOnce()` meant it would only be modified within the loop in `_fiber()`. I didn't realize `bundleApp()` could be called multiple times within one `_runOnce` invocation. Nested functions and state can be hard to follow, but I shouldn't have changed it without checking.

[2015-09-03 03:32] martijnwalraven commented on #5092
Good to see you figured this out! I agree the output is less than helpful, but you would get the same error if you modified `versionCode` in `config.xml` directly. Cordova error reporting could definitely use some work. Unless we want to perform our own validation, there isn't much that we can do to improve this in Meteor I'm afraid.

[2015-09-03 04:17] glasser commented on #5074
It's a really complicated function!

[2015-09-03 05:06] ewyler commented on #5075
I did some more tests on this to see if a manual partitioning scheme across subscriptions would help - I created 200 publications and subscribed to them all, with each publication only publishing 1000 items. It allows Chrome to presumably make it to 200k (I got bored around 165k), but it gets progressively slower - until it hangs every 5 subscriptions for 100+ seconds, restarts that subscription,

[2015-09-03 08:58] elidoran commented on #4943
For the Build Plugin API, the name of the package's directory (and the path to it) is hard to get a hold of. And, it has two different versions, `getDisplayPath()` uses an underscore and `getPackageName()` uses a colon.

They both can be used to piece together the folder name. Below is one example:

[code]

The `inputFile.getDisplayPath()`:
  `/packages/cosmos_browserify-example/client1.browserify

[2015-09-03 12:44] martijnwalraven commented on #5042
I'm not sure I completely understand your question. What icon and splash properties are unclear to you?

If you've generated the images at the right sizes, the configuration seems alright to me. Why do you expect the Apple stuff to be wrong?

Note that the filenames will be automatically generated based on the keys, so there is no need to use the target platform naming convention for your source i

[2015-09-03 16:59] MichaelJCole commented on #5042
Hi @martijnwalraven thanks for posting :-)

The icons and splashes were automatically generated with the `ionic resources` command.  It takes a single icon and splash, then generates all the images you see above (and more), along with a [config.xml](http://pastebin.com/5wim7GV8) file.  This file gets sent to Cordova for packaging.

My question is:  How do I match the keys in Meteor's App.icons() a

[2015-09-03 17:16] stubailo commented on #5096
Couldn't agree more!

As a workaround, I've been using `add` instead of `insert` for my own methods.

[2015-09-03 18:00] davidmfry commented on #489
Is there an ETA when the @index might be supported?

[2015-09-03 19:20] dgreensp commented on #4943
There's a new RC to try.  Update with:

[code]

Fixes between RC 7 and RC 12:

* Fix `meteor update` when running an RC (#5054)
* Fix client refreshing (#5074)
* Fix to `bare` option to `api.addFiles` (#4817)
* Can add a file as source and asset (#5040)

**API change**: Use `api.addAssets` instead of `api.addFiles` for adding assets.  The arguments are the same.  Having two separate functions resu

[2015-09-03 19:29] nate-strauser commented on #3799
@derwaldgeist here you go!  https://atmospherejs.com/natestrauser/cordova-file-server

This package just provides the http server part for you.  You still need to deal with downloading files and sending the correct url (local or remote) to the template.  In the future, I may make this functionality a separate package that depends on the cordova-file-server package.

[2015-09-03 21:13] rclai commented on #4943
Just to confirm, `{ isAsset: true }` will no longer work?

[2015-09-03 21:17] vigile commented on #3799
Wonderful !!! Thank you
Le 3 sept. 2015 23:30, "Nathan Strauser" <notifications@github.com> a
écrit :

[2015-09-03 21:19] dgreensp commented on #4943
@rclai Yes, `{isAsset: true}` is deprecated.

[2015-09-03 21:21] dgreensp commented on #4943
@elidoran Have you read this section on accessing the file system from a plugin? https://github.com/meteor/meteor/wiki/Build-Plugins-API#accessing-file-system

[2015-09-03 21:46] christopheranderson commented on #4413
My approval to sign the CLA has been delayed (couldn't you tell? :cry:). It should be a relatively simple fix to remove the parseInt on the port. There probably needs to be a test added which uses a named pipe. There is also a risk of errors for existing users who provide a port as a string like "3000foo"; what worked for them before (because of the nature of parseInt), will no longer work. This i

[2015-09-03 21:56] stubailo commented on #4943
@rclai you do get a nice error if you use it, though, and it doesn't affect published packages. Just local packages and ones that you publish from now on.

[2015-09-03 22:40] adrianolsk opened #5098 "Meteor 1.2rc7 - Status bar hidden on meteor app (android) after add angular package"
I found something strange when I added the angular package
[code]

The angular integration worked but as soon as I added the package the status bar on my mobile app that was connected disappeared, it kinda went full screen at the top, when I remove angular and run the app again on the device the status bar show up again. But when I add the urigo:angular the status bar is there. I know it's not a b

[2015-09-03 23:05] engelgabriel commented on #630
Is it time to review this position?

See https://twitter.com/syndivision/status/639573572302716928

The guys from FreeBSD are keen to "start upstreaming some build patches if they would like to support FreeBSD"

[2015-09-03 23:05] elidoran commented on #4943
@dgreensp Yes. :) I read that page a million times trying to figure out how to use the new build API stuff.

Subclassing CachingCompiler was the easy part and was straightforward. The related functions were explained and made sense. And, looking at the coffeescript package helped.

I think a more detailed section on setting up the package.js for a build plugin, and a section on testing a build plu

[2015-09-04 04:47] martijnwalraven commented on #5098
@Urigo Do you have any idea what could be causing this?

[2015-09-04 05:02] avital commented on #4793
I'd love to dig deeper into this, but it looks like the Chrome team makes it intentionally impossible to install old verisons. @johnthepink and everyone else here, can you verify whether indeed Chrome 44.0.2403.155 fixes the problem for you all?

This really does sound like a bug in Chrome that only manifests itself in some extreme edge case... I was hoping to find a clue in the Chrome [changelog

[2015-09-04 06:31] derwaldgeist commented on #3799
Thanks, this in great news!

[2015-09-04 07:34] sebakerckhof commented on #4933
Also experiencing this in 1.2-rc.12, partial trace:
[code]

[2015-09-04 07:46] sebakerckhof commented on #4943
I'm getting these failed unlink crashes very frequently in windows with 1.2: https://github.com/meteor/meteor/issues/4933

[2015-09-04 08:35] derwaldgeist opened #5099 "Info: Bug in Cordova affects transfer of information from native side to Meteor"
I just wanted to inform you and the users of Meteor's iOS integration about a bug in Apache Cordova (not Meteor itself) that also affects the transfer of information from the native side to Meteor:

https://issues.apache.org/jira/browse/CB-9485

This bug occurs at a central point, where information is sent back from the native side using the **handleOpenURL** method. Due to a strange behaviour of

[2015-09-04 08:36] hitchcott opened #5100 "[Feature Request] Automatic `publish-for-all-arches`"
First World Problem, but I'll put it out there anyway.

Seems strange that I'm manually having to `meteor admin get-machine` x 4 every time I want to publish a package version that requires binary code to be compiled. Why can't I just:

[code]

... and have the arch builds be done automatically?

Or even better, do this transparently on atmosphere servers whenever I do `meteor publish`.

[2015-09-04 09:03] derwaldgeist opened #5101 "When adding packages, Meteor sometimes uses very old package versions"
Yesterday, I had a quite hard time getting the edgee:slingshot package to work, debugging it heavily because the code just did not behave as stated in the documentation.

Eventually, I found the root cause: Although I included it in my package like this:
[code]
Meteor used a very, very old version of this package (0.0.3) instead of the latest one (0.7.1). To cross-test this behaviour, I also tried

[2015-09-04 09:22] hitchcott opened #5102 "[bug] `meteor deploy` fails"
Edit: Found the problem -- the osx binary hadn't completed properly or something. However it was still listed in the available platforms - is that normal?

---
*Original Issue*

I'm receiving the following error whenever I try to deploy [this example app](http://github.com/hitchcott/app-dump). I do not get the error for blank meteor projects.

I think this has something to do with `publish-for-arc

[2015-09-04 11:39] #5102 closed

[2015-09-04 12:14] Urigo commented on #5098
@adrianolsk are you using the `meteor-include` directive?

If so, the problem is not in `angular` but in the new release of angular-meteor (it will probably happen to you also in `urigo;angular@0.10.2` )
It's because I've separated this functionality to a separate package with new syntax:
https://github.com/Urigo/angular-blaze-template
http://angular-meteor.com/api/blaze-template

Please let me kn

[2015-09-04 12:25] Urigo commented on #5098
also please share you `.versions` file as well

[2015-09-04 12:48] scsirdx opened #5103 "[1.2 RC] Meteor.user() is undefined after Meteor.loginWithPassword() using remote DDP connection"
In meteor 1.1.0.3 i used following code to connect my mobile app to server and login to it:
[code]
and:
[code]
After installing 1.2rc (from 7 to 12) Meteor.user() is always undefined.
Am i doing it wrong way, or it is a bug?

Here is an example code to reproduce this:
https://github.com/scsirdx/ddp-meteor-1.2.git

[2015-09-04 15:34] Alveoli commented on #3372
Haha, afterFlush works like a dream thanks

[2015-09-04 17:43] adrianolsk commented on #5098
@Urigo I shared my code on
https://github.com/adrianolsk/SampleIssue

I got the same problem with the ``` urigo:angular@0.10.2 ```
I am using ng-include.

[2015-09-04 19:20] thomasvanlankveld opened #5105 "Spacebars {{#let foo=bar}}{{/let}} interpreted as 'let' template"
"Let" is interpreted as a template.

[code]

produces `Uncaught Error: No such template: let`

[Meteorpad](http://meteorpad.com/pad/QKvqyA3YtgbRHD35u/Leaderboard)

[2015-09-04 19:32] joeytwiddle opened #5106 "parseError from _pollMongo during startup, breaks all DB I/O"
After a few days of inserting data, I see this error, first at runtime, and then every time I start the server thereafter:

[code]

The Meteor server is still running (it serves the initial page) but it does not present any data.  This is on my dev machine.

The documents were saved through Meteor (nothing else is talking to Mongo).

Meteor 1.1.0.3
mongodb 2.0.4-1ubuuntu2.1

Dropping the collectio

[2015-09-04 20:23] d62remi commented on #5046
Hi guys,

I deleted my test project and I created a new blank project with release 1.2-rc.12 :

Now it's good !!!

I will test my project into production works with samsung mobile (which is not the case with the version 1.1.0.3)

[2015-09-04 20:23] #5046 closed

[2015-09-04 20:51] zimt28 commented on #5101
Have a look at this issue: https://github.com/meteor/meteor/issues/4093

[2015-09-04 21:19] stevenhornung commented on #2429
@OminStyle did you find a workaround here or are you still experiencing issues? We are also using <code>dfischer:phantomjs</code> and <code>ongoworks:spiderable</code> on Modulus with the same error.  The error output is the good ole' <code>Error: Meteor code must always run within a Fiber. Try wrapping callbacks that you pass to non-Meteor libraries with Meteor.bindEnvironment.</code> Would love

[2015-09-04 22:26] brianlukoff opened #5107 "Meteor 1.2-rc12: "to: wrong arguments" and "toEnd: wrong arguments" errors on startup"
Using the TAPi18n package with 1.2-rc12 causes the following errors on startup:

[code]

It appears to be due to a conflict between Shell.js (which appears to be newly utilized in 1.2) and String.js, which is used by the popular simple-schema package (and possibly others).  (TAPi18n in turn uses simple-schema.)  Shell.js modifies the String prototype -- see this Shell.js issue: https://github.com/

[2015-09-04 22:43] leocavalcante opened #5108 "Cannot read property '0' of undefined METEOR@1.2-rc.12"
Any help creating Meteor 1.2 apps on Windows?

![image](https://cloud.githubusercontent.com/assets/183722/9695880/17c26328-533d-11e5-9c11-5dba59a15a7f.png)

[2015-09-05 03:58] zerosoul commented on #4047
@lenville thanks,I solve it using vpn 😄

[2015-09-05 06:03] martijnwalraven commented on #5108
Duplicate of #5088.

[2015-09-05 06:03] #5108 closed

[2015-09-05 09:42] jagi opened #5109 "I was wrong :D"
I was wrong :D

[2015-09-05 10:19] #5109 closed

[2015-09-05 13:51] Slava commented on #5105
This feature is not released yet, it is going to be part of 1.2.

[2015-09-05 13:51] #5105 closed

[2015-09-05 15:54] leocavalcante commented on #5088
The workaround for now is create apps at current dir:
`meteor create . --release METEOR@1.2-rc.12`

But it still not have support for Android apps on Windows.
Any plans?

[2015-09-05 19:22] churcho commented on #1009
+1 lodash

[2015-09-05 21:16] derwaldgeist commented on #5101
I don't think #4093 is related to this behaviour, since #4093 basically refers to the version of the main Meteor application.

[2015-09-06 01:13] bkuri commented on #1009
+1

[2015-09-06 01:18] AugustNagro commented on #3738
+1 @lorensr

[2015-09-06 02:22] lorensr commented on #3738
Maybe `appcache` should use a Service Worker, a new API implemented in FF and Chrome:

http://www.html5rocks.com/en/tutorials/service-worker/introduction/
http://caniuse.com/#feat=serviceworkers

[2015-09-06 03:58] ORESoftware commented on #4284
hello people! doesn't Meteor have Hot Code Push (HCP)? Or am I mistaking what that is?

http://info.meteor.com/blog/hot-code-pushes

https://github.com/NucleusIDE/meteor-live-update

[2015-09-06 04:34] brettle opened #5110 "Can't prevent creation of new password user without causing error message"
If a `validateLoginAttempt()` handler throws a `LoginCancelledError`, during a call to `Accounts.createUser()`, `accounts-ui-unstyled` will display the reason as an error message. By contrast, if the same error is thrown while logging in using an OAuth service, it is ignored. It should be ignored in the `Accounts.createUser()` case as well (or the reason should be displayed as an info message inst

[2015-09-06 06:10] joonas-yoon opened #5111 "How do I use HTML entities on template?"
`&nbsp;` is able to write(or echod on browser) on template. but `&quote;` is not.

I have message with this problem.
[code]

and html code(on template) is:
[code]

just do i use a character `'` instead of `&quote;`?

Thanks to read.

[2015-09-06 07:45] martijnwalraven commented on #5098
I'm not sure I understand this issue correctly, because for me there is no difference between adding the `urigo:angular` or `angular` packages. Neither displays a status bar, and I think this is the expected default behavior. You can set other status bar preferences in your `mobile-config.js`:
[code]

Could you elaborate on why RC12 is not running the app on a device for you?

[2015-09-06 08:54] hitchcott commented on #5111
It's `&quot;` ;)

[2015-09-06 18:11] joaobarcia commented on #1009
+1

[2015-09-06 18:31] Firescar96 commented on #2631
I was using the package meteorhacks:npm and npm-container. After removing these packages and deleting the contents of `/complete` file packages.json I got similar errors. It was solved by removing the `packages/` directory as well.

[2015-09-06 19:09] johnthepink commented on #4793
@avital the only confirmation I can offer is that I haven't seen it since the update. Sorry I can't be of more help.

[2015-09-06 20:30] rgoomar commented on #5060
I like the idea of adding a license by default. If you look at most packages out there, they are licensed MIT anyway. And those packages that get an issue asking about the license, it is typically set to MIT. As a start, I would say default it to MIT and then add on other licenses to choose from when creating a package.

I think it would be cool to have some sort of prompt that comes up when you c

[2015-09-07 01:02] sungwoncho commented on #3602
@lorensr Did you ever come up with a solution to "B. Incremental requesting of permissions"? I'm trying to do this with accounts-github package, but I see that the package does not provide a way.

[2015-09-07 01:28] lorensr commented on #3602
Nope, sorry!
On Sep 6, 2015 9:03 PM, "Sung Won Cho" <notifications@github.com> wrote:

[2015-09-07 02:15] wallslide opened #5112 "[1.2 RC] Cannot update due to package constraints (from 1.1.0.3)"
I have a meteor project running on version 1.1.0.3, and I get the following message when attempting ```meteor update --release METEOR@1.2-rc.12```:

```This project is at the latest release which is compatible with your current package constraints.```

Since our project has more than 60 packages, it is going to be very tedious to try to manually discover what is causing the conflict. Any advice on

[2015-09-07 04:51] hitchcott commented on #5112
What happens if you manually edit your `.meteor/release` file?

[2015-09-07 05:11] hitchcott commented on #5060
Another idea to throw in for discussion: maybe this could be part of the `meteor publish` process? As atmosphere is actually hosting the packages it seems like checking for a license of some kind would be a good way to reduce the likelihood of legal issues for all parties.

Basically I'm suggesting that if a package is published without a license specified, the published will get a message like "I

[2015-09-07 06:34] joonas-yoon commented on #5111
huh! Sorry for my stupid issue... thanks a lot :cry:

[2015-09-07 06:34] #5111 closed

[2015-09-07 06:38] wallslide commented on #5112
I ended up going through the packages in one of my projects, and figuring out that the culprit was ```enteye:spinner```.

[2015-09-07 07:05] wallslide opened #5113 "[1.2 RC] Calling Meteor.call from client isn't actually calling server Meteor.methods functions"
In one of my projects that I've tried upgrading to 1.2 rc12 (from 1.1.0.3), calling ```Meteor.call``` on the client doesn't call the corresponding method defined in ```Meteor.methods``` on the server. The callback that I've defined in the ```Meteor.call``` method invocation on the client is never fired, and by putting a breakpoint in the corresponding server function, I can tell that it is never b

[2015-09-07 08:05] asadiqbal389 commented on #4003
i m facing same problem....Can anybody help

[2015-09-07 09:02] azcn2503 commented on #2194
+1

[2015-09-07 10:21] Xample commented on #74
Meteor call supporting callback http://docs.meteor.com/#/full/meteor_call
Making use of a promise would just do it…
something like
[code]

Usage:
[code]
PS: code not tested
My favorite package for promises is : https://github.com/meteor/promise

[2015-09-07 15:36] dgreensp commented on #5113
Please provide a full reproduction as described in: https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#reporting-a-bug-in-meteor  Without a way to replicate your problem, we can't debug and fix it.

[2015-09-07 15:42] dgreensp opened #5114 "Updating release doesn't explain package version conflicts"
When you update your release with `meteor update` or `meteor update --release ...`, if there are package version constraints that make the new release not possible to select, you just get a message like: `This project is at the latest release which is compatible with your current package constraints.`  This is unhelpful for the user in the fairly common scenario where a package is blocking an upda

[2015-09-07 15:43] dgreensp commented on #5112
This is a poor user experience, I agree.  We were just talking about this issue the other day, and I've opened a ticket for it: https://github.com/meteor/meteor/issues/5114

Glad you found the culprit!  Closing this issue.

[2015-09-07 15:43] #5112 closed

[2015-09-07 15:45] maxnowack commented on #3622
I ran into the same error.
1+ for an error report like `You must provide callback function on client side` as mentioned by @ngducthanh

[2015-09-07 15:47] dgreensp opened #5115 "Login/logout race condition with multiple tabs"
When you have multiple tabs open, logging out and logging back in quickly can sometimes cause you to be logged out.

Repro: https://github.com/meteor/issue5115

[2015-09-07 16:45] glasser commented on #3622
@maxnowack Did you read my response? @ngducthanh's analysis was incorrect. The problem was not the lack of a callback function (which is not required).

[2015-09-07 16:46] pors commented on #4741
@adamgins did works for me: https://developer.chrome.com/devtools/docs/remote-debugging

[2015-09-07 20:03] geekydatamonkey opened #5116 "[1.2 RC] `this.userId` not working as expected when fat-arrow functions used in `Meteor.publish()`"
In meteor1.2-rc.12, `this.userId` in `Meteor.publish()` doesn't seem to work as expected when using ES2015 fat arrow functions `() => {...}`.

For example,this code gives different results:

ES5 flavored:
[code]

ES2015 flavored, with fat-arrow anonymous functions (and `this` binding):
[code]

Here's a demo repo:
https://github.com/geekydatamonkey/meteor1.2-rc.12-fat-arrow-in-publish

Also, deploy

[2015-09-07 20:13] grsabreu commented on #5116
Because the scope within fat-arrow functions are the outside scope that the function is being defined.
So `this` keyword will be the Node's `global` var.

[2015-09-07 21:06] harisvsulaiman opened #5117 "Official support for webpack"
If we can include webpack to build meteor app , using the upcoming plugin api, it would remove load order issues , partial code loading etc . I saw one implementation here.
https://github.com/meteor-rocket/module

[2015-09-07 22:53] maxnowack commented on #3622
Yes, of course. But it's definitely not a load order issue in my case. I'll try to reproduce the error and open a new issue if the error isn't my fault.

Thank you for your very fast response David. I was reading this issue and it sounds exactly like my case. I quickly read your response and didn't read something about the suggested error report, only about the load order issue. Probably that was

[2015-09-08 01:52] boxxa commented on #3992
As Cordova support expands, this would be an awesome feature to move up the list. The redownload when you are building apps and running in simulator is pretty tough if you are doing work remote is a pain with no option to save.

[2015-09-08 09:38] AugustNagro commented on #4888
@D1no Great reasoning.

[2015-09-08 11:30] gamedolphin commented on #5092
Seems like buildNumber translates directly into android-versionCode ([here](https://cordova.apache.org/docs/en/5.1.1/config_ref_index.md.html#The%20config.xml%20File_core_configuration_elements)) which has to be a number as mentioned [here](https://developer.android.com/tools/publishing/versioning.html).

[2015-09-08 12:48] cwaring commented on #4477
I am stuck in this same confusing cycle too. After publishing `kit:cssnext` I'm requested to build the specific platform versions, the first build on os.linux.x86_64 completes and publishes and the `architecturesOS` is updated to:
[code]
Which I assume means it was detected as platform agnostic, because all subsequent builds on the remaining platforms return:
[code]
So I continue to deploy my loca

[2015-09-08 13:12] Fathardie commented on #4494
I agree with mitar. I was creating a function to retrieve a configuration which is associated with certain templates. Not being able to use Template.instance() indeed results in passing the template variables all around the script. In this case having a global function is exactly what I want. In that function I don't care which template it is, I want the current template.

In the short time I have

[2015-09-08 13:38] phfrohring opened #5118 "[1.2-rc12] Meteor.settings should be empty object but it's not."
[Recipe](https://github.com/phfrohring/meteor-settings-bug)

# meteor-settings-bug

[Meteor doc](http://docs.meteor.com/#/full/meteor_settings)

[code]

[2015-09-08 14:58] gamedolphin opened #5119 "[1.2RC] Public folder assets not accessible in mobile build"
This is for meteor 1.2rc12.

The images stored inside the /public folder seem to inaccessible in the mobile debug build.  The project also had crosswalk plugin. After unpacking the debug apk, the public assets seem to be stored in a folder called 'app' and adding 'app' in front of the assets , as in, 'app/imgs/image.png' seemed to provide access.

[2015-09-08 16:01] aknuds1 opened #5120 "Docs: Dangling link to Tracker chapter in Meteor Manual"
In the [Meteor docs](http://docs.meteor.com/#/full/tracker), there's a [dangling link](http://manual.meteor.com/#tracker) to a Tracker chapter in the Meteor Manual ("visit the Tracker chapter in the Meteor Manual"). As a matter of fact, I can't find a single reference to Tracker in the Meteor Manual.

[2015-09-08 17:06] peterchoo commented on #3764
:+1: for this feature - we've just had to debug an issue caused by adding a package which adds some data to the users collection for statistic tracking, and the package itself uses nested properties for oauth service emails.

Unfortunately this clashes with our own requirements for getting back OAuth service information.

[2015-09-08 17:52] bradvogel opened #5121 "Accounts package loginExpirationInDays option not working"
**_5 Upvotes**_ According to the docs at http://docs.meteor.com/#/full/accounts_config, the code:

[code]

should disable login token expiration. However, I'm not sure this is working locally for me. After looking into the code briefly, it looks like line https://github.com/meteor/meteor/blob/master/packages/accounts-base/accounts_common.js#L170 should include check for `null` explicitly like what

[2015-09-08 18:03] bradvogel commented on #5121
Additionally, it looks like the function https://github.com/meteor/meteor/blob/master/packages/accounts-base/accounts_common.js#L170 is called synchronously when the app boots up, unsetting the login token (using the default loginExpirationInDays value of 90 days), before my Accounts.config() call has even been run. Shouldn't this be on a defer to wait for Accounts.config() to be called?

[2015-09-08 18:18] derwaldgeist commented on #4925
I have to apologize, it was my fault. The font path conained two slashes in succession. iOS was so nice to ignore this, but Android didn't. I don't know exactly why it worked after a hot code reload, but this may be due to some sanitation the Meteor loader does while updating.

[2015-09-08 19:34] gitawego commented on #5116
yes,  I think it works as intended

[2015-09-08 20:22] glasser commented on #5116
As @grsabreu and @gitawego said, this is just how fat-arrow syntax works.  You'll have to avoid using fat arrow syntax at the top level of `Meteor.publish` for this reason.

We're pretty excited about using ES2015 in Meteor, including fat-arrow functions, so it's likely that future APIs will avoid the use of `this` in this way and perhaps provide an alternative for existing APIs.

[2015-09-08 20:23] #5116 closed

[2015-09-08 20:24] cmethod opened #5122 "some things do not render on Android but render in iOS, browser"
I'm trying to build a simple mobile website (crystalchen.meteor.com) which works fine in the browser and if viewed on iOS but will be missing various components when viewed on an Android device. I'm really lost here and I would greatly appreciate any pointers in the right direction to resolve this. Thanks!
![screen shot 2015-09-08 at 1 24 08 pm](https://cloud.githubusercontent.com/assets/14011720/

[2015-09-08 20:56] avital commented on #5095
Thanks for the feature request! We welcome discussions about how to make Meteor better. If you haven't yet, check out our wiki page about [feature requests on GitHub](https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#feature-requests).

To clarify, do you mean passing in object or array literals directly in your template's .html file? Like `{{foo [1, 2, 3]}}`? That's something we've tal

[2015-09-08 21:05] avital commented on #5093
Thanks for the feature request! We welcome discussions about how to make Meteor better. If you haven't yet, check out our wiki page about [feature requests on GitHub](https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#feature-requests).

In general we're not trying to add new features to the project specification format until we have a chance to do a broader rewrite as part of this proje

[2015-09-08 21:08] avital commented on #5093
Closing the ticket, as this is being tracked in our roadmap.

[2015-09-08 21:08] #5093 closed

[2015-09-08 21:13] avital commented on #5097
Hmm. I literally copied and pasted your code into a fresh app running Meteor 1.1.0.3 and ran it both in Chrome and Firefox and saw:

[code]

Are you sure this is the repro? If so, which browser are OS are you using? If it's actually something where the app behaves differently on your and my environment that would be interesting...

[2015-09-08 21:20] glasser commented on #5100
Thanks for the feature request! We welcome discussions about how to make Meteor better. If you haven't yet, check out our wiki page about [feature requests on GitHub](https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#feature-requests).

I definitely feel your pain — we have [a script](https://github.com/meteor/meteor/blob/devel/scripts/admin/publish-meteor-tool-on-all-platforms.sh) to m

[2015-09-08 21:20] avital commented on #5103
I'm not totally sure about this specifically, but modifying internals in Meteor (such as `Meteor.users`) is definitely likely to break with future versions of Meteor.

For your use-case specifically, there's a `--server` option to `meteor build` that should set the default connections to whatever server you choose. Does this solve your problem?

[2015-09-08 21:27] avital commented on #5107
Hmm. Not sure what the right answer is here, but based on the [shelljs issue thread](https://github.com/arturadib/shelljs/issues/159) you linked to, String.js recently released a new version that might work around this problem. So maybe the answer is to have simple-schema switch to that version instead? Looks like this has been noticed by the simple-schema maintainers as well: https://github.com/a

[2015-09-08 21:29] avital commented on #5099
Wow.

@martijnwalraven Do you think we should act on this?

[2015-09-08 21:41] avital commented on #5101
This is Meteor's behavior for indirect package dependencies (ie dependencies of a package that your app depends on). The reasoning is that you should get whatever version of the indirect dependency the package you're using was tested against when published.

You can find a lot more discussion about this on https://github.com/meteor/meteor/issues/4170 and https://meteor.hackpad.com/Packaging-UX-Gra

[2015-09-08 21:41] #5101 closed

[2015-09-08 21:42] avital commented on #5111
Happy you figured it out!

[2015-09-08 21:48] glasser commented on #5110
Thanks for the feature request! We welcome discussions about how to make Meteor better. If you haven't yet, check out our wiki page about [feature requests on GitHub](https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#feature-requests).

The purpose of `Accounts.LoginCancelledError` is to indicate that the user proactively cancelled the login attempt — it's something that indicates user

[2015-09-08 21:49] avital commented on #5117
Thanks for the feature request! We welcome discussions about how to make Meteor better. If you haven't yet, check out our wiki page about [feature requests on GitHub](https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#feature-requests).

Webpack is definitely something we're looking closely at as we make more concrete plans for the future of Meteor's build system, and the experimental me

[2015-09-08 21:53] scsirdx commented on #5103
I'm running client using: meteor run --port 3001 --mobile-server https://<ip>:443
It does not solve problem in 1.2-rc

[2015-09-08 21:59] brianlukoff commented on #5107
This only happens with Meteor 1.2 -- is shelljs a necessary dependency of Meteor, or is there an alternative that Meteor 1.2 could use in its place?  There may be other packages out there that use an old version of String.js, and they would also trigger this error.

[2015-09-08 22:17] derwaldgeist commented on #5101
Thanks for this link. But this still doesn't explain why this also happens if you are adding a package as a top-level dependency, e.g. by using:
[code]

[2015-09-08 22:24] adrianolsk commented on #5098
It didn't work with the settings in mobile-config.js either.
If you run the app on emulator after create with the RC7, the status bar is there, as soon as you add the angular package the status bar is gone.

I got this error when I try to run on mobile using rc12

[code]

[2015-09-08 22:35] derwaldgeist commented on #4623
This also happens on MacOS, not only on Windows. I haven't had this problem with kadira, but with other packages like edgee:slingshot, see https://github.com/meteor/meteor/issues/5101. And it definitely not only occured when I imported the package in one of my own packages (i.e. #4170), but also when I added the package on the top level using ```meteor add```. So although #5101 was closed as being

[2015-09-08 22:45] trusktr commented on #4477
If this could be cleaned and documented for `1.2`, that's be great! @glasser @stubailo

[2015-09-08 23:04] trusktr commented on #5067
@glasser @stubailo I'd really like to help you guys solve this. I'll email you guys access to a private repo where this is happening.

[2015-09-08 23:07] trusktr commented on #5067
Sent an email with the subject "private repo access".

[2015-09-08 23:21] Pushplaybang opened #5123 "Passing { reactive: false } causes a tracker recompute error."
this dumps a massive error in the console as per this [stack overflow issue](http://stackoverflow.com/questions/28771732/exception-from-tracker-recompute-function-error-bad-index-in-range-getmember)

[code]

removing the `reactive:false` argument stops this.

[2015-09-08 23:30] brettle commented on #5110
Sorry for the poor explanation. Let me try again...

The situation is a guest user (e.g. created via my `brettle:accounts-anonymous` package) adding a login service to his account. My `brettle:accounts-patch-ui` package overrides `currentUser` so that `accounts-ui-unstyled` treats guests as logged out (i.e. it lets the guest user sign-in with any of the available login services). When the guest us

[2015-09-08 23:53] leocavalcante commented on #4155
It seams that Cordova support for Win isn't working in 1.2rc12.
Any plans?

[2015-09-09 01:58] martijnwalraven commented on #5099
(I responded to an [initial issue](https://github.com/martijnwalraven/meteor-ios/issues/63) in the meteor-ios repository, but should have posted here too.)

No, I don't think we should do something about this. (Which would have been hard, because we don't actually fork platform-specific projects like cordova-ios.) The bug mentioned is in the built-in `CDVHandleOpenURL` plugin, which is not used as

[2015-09-09 02:00] rgoomar opened #5124 "Upgrading Node.js"
***45 Upvotes*** So, Node.js now has a fully merged codebase between itself and io.js and they released [4.0](https://nodejs.org/en/blog/release/v4.0.0/) which is meant to be LTS.

Since that will be the continuing track for the future, it would probably be a good idea to upgrade to node v4. But, it will be a large task since there are a lot of changes between `10.40.0` and `4.0.0`.

To me, it mak

[2015-09-09 02:14] avital commented on #5055
#5056 improves things by eliminating the `setRawMode` exception, but it's still hard to use `meteor shell` in a shell script for two reasons (at least):
1. It takes time for the shell to start, so you have to wait before sending output into `meteor shell`.
2. `meteor shell` only exits once you send it `.exit`, and you have to wait until your command is done before doing that.

Ideally, you should

[2015-09-09 03:16] jrothman commented on #1834
+1 for native ObjectID support (ran into the same late-stage integration issues as several others above!)

[2015-09-09 03:50] emgee3 commented on #5124
Fibers' tests fail when run in Node 4.0, at least on my computer. I'm also running El Capitan, so there could be another issue going on.

[2015-09-09 04:21] martijnwalraven commented on #4155
It's almost there, but there are a few remaining issues and we didn't feel comfortable releasing it for 1.2. But it should come not too long after.

[2015-09-09 07:14] Cangit commented on #5124
Getting on the LTS builds of Node looks like a really good idea for Meteor. (18 months of patches and then a 12 month security and critical bug fix period for a total of 30 months support.)

[2015-09-09 07:45] derwaldgeist commented on #5099
Hi Martijn, thanks for this clarification. I thought that using handleOpenURL was the standard way to communicate back from Cordova to Meteor, as read this somewhere. If it is safe to use, I will be using stringByEvaluatingJavaScriptFormString instead. Thanks again for pointing me into the right direction.

[2015-09-09 07:58] derwaldgeist commented on #5099
PS: After revisiting my code, I now know why I was implementing the communication using the handleOpenURL method. This is because the CDVViewController's corresponding method processOpenURL automatically defers the call until the web view has successfully being loaded. Any call from the native side before this time-point will be cached and executed onPageDidLoad. If I would have called .stringByEv

[2015-09-09 08:25] martijnwalraven commented on #5099
I'm no expert on writing Cordova plugins, but reading through the cordova-ios source it seems the recommended way to call into the web view from a plugin is using `[self.commandDelegate evalJs:@"alert('Hello!')"];`, which takes care of some threading issues and puts the call onto the `_commandQueue`. The plugin will only be initialized after page load, so you shouldn't have to worry about that.

[2015-09-09 08:30] derwaldgeist commented on #5099
Thanks for this tip! Yes, the plugin will only be initialized after page load, but I also do need message queuing from native to the plugin, as my app is hybrid and the user may interact with it before the Cordova side has been loaded.

[2015-09-09 08:37] martijnwalraven commented on #5099
I don't believe there's a built-in way to do what you want, so you'd have to implement your own queue or otherwise remember what you want to happen on the Cordova side after page load.

[2015-09-09 09:59] martijnwalraven commented on #5098
Thanks for the bug report about the 1.2 upgrade. Fixed in 95627b3badd4d7925c08a15977cfa46e94380f0b, so should make it into the next RC.

I haven't been able to reproduce the issue with the status bar. @Urigo?

[2015-09-09 10:00] brylie opened #5125 "Make documentation browser more friendly for search-engines and bookmarks"
As a developer, I am continually frustrated when following links to the Meteor documentation. Many times, the links will have been deprecated or will only point to the top level of the documentation. This means I have to search again within the documentation, when a simple search engine link should have sufficed.

Please re-design the Meteor documentation so that it is more friendly for search-eng

[2015-09-09 10:02] brylie commented on #5125
For an example, see how Bootstrap 4 developers [re-wrote the documentation/doc browser in Markdown](http://blog.getbootstrap.com/2015/08/19/bootstrap-4-alpha/).

[2015-09-09 10:57] brylie commented on #5125
Underscore.js is an example of a [documentation browser](http://underscorejs.org/#contains) having a similar design to Meteor and that exhibits the same difficulties in searching. The following Google search for a [method (named lastIndexOf)](https://www.google.fi/search?client=ubuntu&channel=fs&q=underscore+lastindexof&ie=utf-8&oe=utf-8&gfe_rd=cr&ei=TRDwVavsJKmr8we6tLDwAg) demonstrates that Googl

[2015-09-09 11:40] brylie commented on #5125
[GitBook](https://github.com/GitbookIO/gitbook) is one possible solution for a documentation generator that outputs .html files while offering a scrolling sidebar for navigation.

[2015-09-09 12:03] rjakobsson commented on #5122
Without knowing your specific problem - I'm guessing that this is probably not an issue with Meteor, but with the rendering engine on your android device. Is your CSS using any properties that Android doesn't support? Check out http://caniuse.com .

[2015-09-09 12:46] cwaring commented on #4477
@trusktr :+1: looking forward to this being fully automated too.

[2015-09-09 13:07] AndreasGalster opened #5126 "Meteor deploy add upload progress"
**_1 Upvote**_ This is super crucial. I'm deploying right now from the Philippines, my speed is quite slow right now. I'm deploying my app (probably with too many static resources being uploaded but still) and it's taking forever. Having a progress bar to see how much longer it'll take to deploy would be really nice.

The same should be done for Galaxy of course.

[2015-09-09 13:16] joaobarcia opened #5127 "Accounts.onLogin clientside not firing when user re-opens page and is already logged in"
onLogin is not firing when user opens the page and is already logged in, only when user actively goes from logged out to logged in state.

On the server side it works on both situations and it seems that it should work that way as well for the client side, at least for my use case. Is there any way around this? Is it possible to implement?

Thanks

[2015-09-09 13:55] DavideCan commented on #4723
+1

[2015-09-09 14:17] markusgattol commented on #5125
Since it's not just Meteor but also HTML, CSS, Jade, etc. I think https://zealdocs.org is really good. You can have it offline, it's searchable and auto-updates docsets https://kapeli.com/dash#docsets

[2015-09-09 15:36] web-jenezis commented on #5124
I have the same problem. What the highest version of NodeJS we can use with Meteor?

[2015-09-09 15:43] rjakobsson commented on #3603
Crosswalk has announced support for iOS and WKWebView: https://crosswalk-project.org/documentation/ios.html . Not sure if that's of any help for us, however.

[2015-09-09 15:45] pors commented on #3698
I tried all possible solutions mentioned here, but what helped in the end was to not use port 3000 in production (port 80 or 443 worked fine!). For some reason the first bit of data transfer went fine with port 3000, but after a few seconds the client tried to make calls to different hosts (in the local network) which ended up in showing a white screen (both on iOS and Android).

My case might not

[2015-09-09 16:00] Urigo commented on #5098
Sorry, I've tried as well and it didn't happen to me..

@adrianolsk does it do the same thing with iOS?

[2015-09-09 17:15] dgreensp commented on #5113
Hi @wallslide, we'd really appreciate your help tracking this down, since it sounds like a regression.  Can you either provide us access to your code (privately, if you like), or reduce your app to try to pinpoint the problem?  Thanks.

[2015-09-09 18:27] elie222 commented on #3742
+1

[2015-09-09 18:47] dgreensp commented on #5118
This change is due to a PR: https://github.com/meteor/meteor/pull/4704

I will ask about this there.

[2015-09-09 19:13] dgreensp commented on #5107
Where does the interaction occur?  If the fact that Meteor uses `shelljs` means that `String.prototype.to` and `String.prototype.toEnd` are set in the Meteor server environment, I would move to remedy that right away, though in some quick testing that doesn't seem to be the case.

[2015-09-09 19:15] fongandrew opened #5128 "Update MongoDB version for Meteor.com"
Not sure if Meteor.com deployment issues belong here, but deploying Meteor 1.1.x apps to meteor.com with `meteor deploy` sets the app up with MongoDB 2.4.10.

Since a Meteor deployment on localhost uses MongoDB 2.6.x by default, it would make sense for Meteor.com deployments to use a matching version of MongoDB to avoid compatibility errors.

[2015-09-09 19:22] brianlukoff commented on #5107
It's not clear to me exactly where it occurs, but it must be on the server somewhere -- the logs that I posted above are from the server console in dev mode.

[2015-09-09 19:46] mquandalle commented on #5107
More specifically doesn't that happen for build plugins? cf. the `simple-schema` dependency on the `tap-i18n` plugin: https://github.com/TAPevents/tap-i18n/blob/547097be1bc449f73322541c39653fc6bad2f51c/package.js#L55. I guess the string prototype shouldn't be modified for these.

[2015-09-09 20:54] adrianolsk commented on #5098
It´s happening on ios device as well after upgrade to rc7 and add angular (using osx of a friend)
on android I was using Linux

![img-20150909-wa0003](https://cloud.githubusercontent.com/assets/4512482/9773807/04fabc2c-571b-11e5-9c14-701a892f1e45.jpg)

[2015-09-09 21:04] mquandalle commented on #5107
Yes I've just verified that on build plugins `String.prototype.to` is a defined function on 1.2 RCs whereas it was previously undefined.

[2015-09-09 22:26] dgreensp commented on #5118
@phfrohring This change was intentional.  Thanks for pointing out the inconsistency with the docs.

Did this change cause a problem for your app, or are you just pointing out the discrepancy?

[2015-09-09 22:28] dgreensp commented on #5118
I think the original point the docs were making is that `Meteor.settings` always exists as an object, whether or not there is a settings file.  Now, additionally, `Meteor.settings.public` always exists as an object, whether or not there are any public settings.  So the proposed course of action is to change the docs to say this.

[2015-09-09 23:05] dgreensp commented on #5118
Fixed the docs.  Let me know know how this solution works for you.  Thanks!

[2015-09-09 23:05] #5118 closed

[2015-09-09 23:07] dgreensp commented on #5107
It looks like the dependency on `shelljs` is coming from `cordova-lib`, which the tool now uses.  Notably, `cordova-lib` does not itself use the weird `String#to` and `String#toEnd` methods, based on my grepping.

I decided to be bold and implement a workaround in the tool that prevents `shelljs` from doing its damage.  See: 98886f98ef71994fe43d23794270af8c24c3d006  @martijnwalraven, what do you t

[2015-09-10 02:43] adrianolsk commented on #4444
Any update on this?
I am getting this error on meteor console when I ported a cordova contact list to meteor
[code]
I tried several diferent ways using  App.accessRule in mobile-config.js
[code]
But with no luck
I think that's because using cordova the files are running on file:// and with meteor is on http://meteor.local, but I am not sure.

[2015-09-10 04:53] #5099 closed

[2015-09-10 04:53] #5092 closed

[2015-09-10 04:58] #5049 closed

[2015-09-10 04:59] #5089 closed

[2015-09-10 04:59] #4989 closed

[2015-09-10 05:00] #4896 closed

[2015-09-10 05:01] #4770 closed

[2015-09-10 05:28] martijnwalraven commented on #5103
What is it you're trying to accomplish? In most cases, there should be no need to set up a DDP connection yourself and hook this up manually to the Accounts system.

As @avital mentions, modifying internals in this way is likely to break. Here, I believe the issue is that you are setting `Meteor.users` while Meteor 1.2 refers to the collection as `Accounts.users` (although it sets up `Meteor.users

[2015-09-10 06:40] wallslide commented on #5113
Thanks @dgreensp, I'll try to whip up some sort of private code access for you.

[2015-09-10 07:19] hitchcott commented on #5100
Aha! I didn't know about that script. That will definitely out for the time being - thanks @glasser.

[2015-09-10 07:37] phfrohring commented on #5118
@dgreensp It works. Thanks!

Here the use case, let's say that you want to do:
[code]

and that you check the pattern of `settings.json` using `check`: then you get an error for unexpected `public` field showing up.

It suffice to change the `check` pattern to solve this: easy enough...

I cannot see in anyway why changing the doc would not suffice.

[2015-09-10 08:34] rijk commented on #3876
+1

[2015-09-10 10:56] scsirdx commented on #5103
I have one main app (server with web interface). And several client cordova apps. Client apps have totally different interface and libs, so i cant just use ```if isCordova``` and so on.
After several hours of reading docs, googling, reading meteor forum and experimenting i found that solution.
Thank you for telling about ```Account.users```, all working fine now.
It would be **really great** if yo

[2015-09-10 11:25] joeytwiddle commented on #5106
I exported the collection from mongo, and modified it so it should load.  This got me a `SyntaxError: Unexpected token ILLEGAL` with a line number:

                        " 155, 135); border-bottom-width: 2px; border-bottom-style: solid; border-radius:" +
                        " 5px; transition: background-color 0.2s linear; background: rgb(9, 179, 156); }\" +
                        "n.bt:hov

[2015-09-10 16:03] joeytwiddle commented on #5106
I uninstalled Ubuntu's mongodb-2.0.4 and installed the latest version 3.0.6 from mongo's own repo.  The database remained intact but now the error is not appearing!  :+1:

[2015-09-10 16:03] #5106 closed

[2015-09-10 16:59] benjamn commented on #5055
I spent some time yesterday working on a branch implementing the ideal behavior, if you want to check it out: https://github.com/meteor/meteor/tree/pipe-to-meteor-shell

[2015-09-10 18:06] stubailo commented on #4925
Interesting. I've run into some similar things in different browsers. I thought the URL spec was to ignore a double slash, but maybe that's only for Unix file paths. Who knows these days.

[2015-09-10 18:09] stubailo commented on #4494
I dunno, maybe a lot of people will disagree with this, but to me it seems like we should be moving in the direction of fewer global variables and hidden state, not the other way around. If your function depends on where it is called, then the best way to make that clear and obvious is to take that parameter as an argument.

Let's see what other people say about it.

[2015-09-10 18:10] stubailo commented on #3992
@martijnwalraven what's the new status of this? I would suspect we don't redownload all of the plugins every time you build anymore.

[2015-09-10 18:11] adrianolsk commented on #3799
I got the same error when trying to display a contact picture on android

``` Not allowed to load local resource: content://com.android.contacts/contacts/10 ```

[2015-09-10 18:15] derwaldgeist commented on #4925
Yup, obviously Android doesn't ignore this.

[2015-09-10 18:16] stubailo commented on #4003
It's hard to help without having all of the info. Please submit a reproduction in the form of an app. One possible issue is if your mobile-config.js is not at the root of the app.

[2015-09-10 18:35] martijnwalraven commented on #5103
You're right, there is currently no public API to make the Accounts system use a different DDP connection, although some work to prepare for this has been done internally. I'm glad your solution is working for you in the meantime.

[2015-09-10 18:35] #5103 closed

[2015-09-10 19:07] Fathardie commented on #4494
I agree on lowering hidden state to a minimum! It is tough though to give an exact rule for what to remain hidden and what to move out into the open. My feeling about the Template.instance() is that it should be accessible anywhere as it is a function on a global variable/prototype which is why I find it inconsistent.

How would you feel about the exact opposite? Doing it functional style? As in,

[2015-09-10 20:49] iboxgithub opened #5129 "Cannot deploy an app because of Network error: wss://packages.meteor.com/websocket: write EPIPE"
Hi,

when I'm trying to do a "mup deploy" on my app I have a crash saying

Error connecting to package server: Network error: wss://packages.meteor.com/websocket: write EPIPE
Warning: could not connect to package server

I don't find this specific issue with EPIPE on internet, did anyone already run into that issue?

Thanks for your help

[2015-09-10 20:55] mitar commented on #4494
I do agree that it is ugly to have a hidden state, but that is the approach Meteor took. And in some way it tries to add new semantics to JavaScript. Which made it easier to program some things. So while I see internal implementation as ugly, because it uses hidden state, it is good, because it exposes simpler API to the user. The question now is should this be reverted or should we just keep it,

[2015-09-10 23:35] horochovec opened #5130 "Assets in wrong place at mobile build using Meteor 1.2-rc.12"
I noticed that the contents of the folder public/ is being moved to the folder app/ in build for Android.

However, all references in my application are directed to the root of the project, occurring a reference inconsistency.

![build](https://cloud.githubusercontent.com/assets/844097/9803693/78e7e782-57fb-11e5-81ce-0c24ba0f71b4.png)

[2015-09-10 23:39] horochovec commented on #5130
Please, close this issue, another issue is open for same bug. #5119

[2015-09-10 23:39] #5130 closed

[2015-09-11 01:01] jonlachlan commented on #4732
Meteor is great for code reuse, however this barrier to calling helpers goes against that patter. It would make more sense to make it convenient to call a template helper.

Experts may know how to get around this, but relative novices are going to be expecting this as an option.

[2015-09-11 01:10] avital opened #5131 "[1.2 regression] `meteor shell` executes each line of a multi-line function"
Reproduction:
[code]

Wait for the shell to load. Then type:
[code]

With Meteor 1.1.0.3, this doesn't print anything (but then calling `foo()` does, as expected).

With Meteor 1.2-rc.12, it prints `inside function`, even without calling the function.

Single-line functions work fine.

This bug makes it close to impossible to use `meteor shell` for scripting. (Now that we merged #5056 that makes i

[2015-09-11 02:16] benjamn commented on #5131
I haven't been able to reproduce this on `devel`, `release-1.2`, or curl-installed meteor `1.2-rc.2`, with or without the `ecmascript` package installed.

I was worried it might have something to do with 5a880a00bbd3cd6bc648cae67771fc2f40b12b88, so you might try reverting that commit if you can still reproduce the problem?

[2015-09-11 02:36] nicholasalanbrown commented on #3728
Differential just wrote a great blog post about combining Meteor and React Native: http://blog.differential.com/meteor-react-native-learning-from-experience/

I'm personally hoping official support for React Native comes soon...

[2015-09-11 02:44] avital commented on #5131
Hmm. It really does only happen if you literally PASTE the function declaration, rather than typing each line separately.

[2015-09-11 02:47] avital commented on #5131
I've verified that reverting 5a88a0 indeed eliminates the problem. Good hunch!

Let me know if you need help reproducing the problem.

[2015-09-11 03:17] 4thlaurocruz opened #5132 "Parallelize application build to use more than one core"
a multicore machine isnt using all cores when building application including --production

[2015-09-11 04:07] martijnwalraven commented on #3992
Indeed, we only reinstall plugins when there are changes (plugin added/removed or version changed), except for plugins loaded from the local filesystem, which we reinstall on every build (we have no exact version for those and this feature is meant for development).

Cordova now installs plugins from npm, so the usual npm caching mechanism is used. We no longer support installs from tarballs, but

[2015-09-11 04:16] stubailo commented on #5113
@wallslide I talked to @n1mmy, and unfortunately we won't be able to look at a private repository to reproduce a bug. We'll need a open source reproduction to move forward.

[2015-09-11 04:18] stubailo commented on #5088
Oops, I have fixed this and it will come out in the next RC. Sorry I wasn't more careful!

[2015-09-11 04:23] stubailo commented on #5067
@trusktr I talked to @n1mmy and we can't look at private repos to reproduce issues. Let me know if there are any more hints so that we can reproduce it on our end.

[2015-09-11 04:26] stubailo commented on #3992
Sounds like it's going to be fixed in Meteor 1.2 then!

[2015-09-11 04:26] #3992 closed

[2015-09-11 04:31] dfischer commented on #5124
+1 this is very much needed and the longer it takes the more hurt it will be

[2015-09-11 04:41] wallslide commented on #5113
As I mentioned above, I unfortunately wasn't able to reproduce the problem in an empty project using the list of packages taken from my real project.

[2015-09-11 04:47] stubailo commented on #5113
Are you sure this isn't a duplicate of: https://github.com/meteor/meteor/issues/5027

That was a somewhat similar issue where methods weren't getting called.

[2015-09-11 04:48] stubailo commented on #5113
The question to answer there is: do you have any publications that return `undefined`?

[2015-09-11 05:48] wallslide commented on #5113
Thanks for the suggestion. I'll look into that, but actually our publications and subscriptions are working, it's only calls from the web browser using ```Meteor.call``` to ```Meteor.methods``` that we've defined that don't seem to ever make it to the server.

[2015-09-11 05:51] stubailo commented on #5113
Yes, I'm aware, but it could still be a result of the same.

[2015-09-11 07:14] bradvogel commented on #5121
Also filed https://forums.meteor.com/t/anyone-using-the-loginexpirationindays-null-accounts-option-to-disable-auto-logout/9640

[2015-09-11 07:15] OminStyle commented on #2429
@stevenhornung It took a while for me to figure out because the error wasn't very descriptive but Materialize package was causing the error for me.
https://github.com/Dogfalo/materialize/issues/1805

[2015-09-11 07:41] tmeasday opened #5133 "React docs don't mention how to wrap a browserified npm module in a meteor package"
It's in here https://github.com/elidoran/cosmos-browserify/ but it wasn't obvious from the text here http://react-in-meteor.readthedocs.org/en/latest/client-npm/ that it is possible (and so I didn't look straight away)

[2015-09-11 09:35] 4thlaurocruz commented on #5091
this is a meteor issue, it downloading sources one at a time in debug mode. to fix this add a --production flag

[2015-09-11 09:42] sebakerckhof commented on #5029
Quick question: What happens when the publication throws an error? A lot of publications use the check function to validate input parameters. Do we need to try-catch these and return [] on error?

[2015-09-11 10:03] SoftBrain001 commented on #4083
I have the same error, but in an earlier step :
udo-admin@udo-project-002:~/repos/alerti-new$ sudo meteor install-sdk android
[sudo] password for udo-admin:
✓ Found Android bundle
✓ A JDK is installed
✓ Found Android Platform tools
Installing Android Build Tools

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: read ECONNRESET
    at errnoException (net.js:905:11)

[2015-09-11 14:16] AdamBrodzinski commented on #5117
@avital if you haven't seen it already checking out https://github.com/jedwards1211/meteor-webpack-react might be interesting. I've even created a Blaze branch that uses a spacebars loader :smile:

I've switched all most all of my apps over to using it and i've seen big productivity gains, especially with hot-code-patching. With cheap source maps i'm getting ~0.8 second reloads on a 2012 rMBP.

Ha

[2015-09-11 14:28] vjau commented on #5117
This would also make most of the work toward #4888.

[2015-09-11 14:46] davidecantini opened #5134 "Env: node: No such file or directory"
I'm testing meteor 1.2rc and receiving an error when attempting to run on android-device (everything works fine running on the browser).

Additional information:
1) I was on meteor 1.1.0.3 and everything was working fine on android-device

2) Upgraded to meteor 1.2rc-11 (then rc-12), created a new default project (meteor create ym)

3) Followed the steps reported here to install Android SDK on Mac

[2015-09-11 14:54] DavideCan commented on #4943
Getting an error running on android-device: <a href="https://github.com/meteor/meteor/issues/5134">#5134</a>

[2015-09-11 15:04] jedwards1211 commented on #5117
Rewrite the core Meteor packages as NPM packages...just sayin' :)

[2015-09-11 15:17] jedwards1211 commented on #5117
@harisvsulaiman @avital the thing I don't like about `rocket:module` is, as far as I can tell, it doesn't seem intended to let users configure Webpack themselves, but rather just provide a run-of-the-mill ES6 environment.  People who want to use Sass, Typescript, etc. may be left out.

[2015-09-11 16:41] theduman commented on #348
https://stackoverflow.com/questions/17243032/curl-ca-cert-error-installing-meteor-on-mac/31275888#31275888

if you have ssl certificate issue that solved my problem.Ubuntu 14.04

[2015-09-11 16:42] avital commented on #5117
@AdamBrodzinski that looks very cool! i think that's an approach we should learn more about.

[2015-09-11 16:43] avital commented on #5117
I updated my initial response to refer to meteor-webpack-react as well.

[2015-09-11 16:49] martijnwalraven commented on #5134
Thanks for the report! I believe this should be fixed with b274e5390a8ae74aec8505c817568eda377e005f, which will be in the next RC.

The bug meant the `node` we ship was not added to the path, so unless a global `node` is available the version command will fail. It worked after a reset because that removes the platforms which contain the version command, so we won't try to execute it.

[2015-09-11 17:22] davidecantini commented on #5134
That explanation makes sense, thanks also for the quick analysis and for providing the fix already (I'll test the new rc (13) as soon as available to confirm).

[2015-09-11 17:31] ciclopes commented on #2347
Same issue here. Meteor@1.1.0.3.

[2015-09-11 17:49] msavin opened #5135 "Rename Tracker and Reactive-Dict"
Hey folks, as you probably know I'm a big fan of Meteor. I especially like how well designed the API is. However, I have a strong dislike for the name Tracker and Reactive-Dict. I would like to propose the following name changes:

Tracker to Reactor: since Tracker is the source of Meteor's REACTivity, I figured this would be a better name for it. It also sounds more alive than Tracker, like a nucl

[2015-09-11 18:24] rgoomar commented on #5135
I like the change from `Tracker` to `Reactor` (sounds more catchy), but I don't think that `Namespace` would be a good name for Reactive-Dict. I feel like that would cause confusion especially since `Namespace` could be looked at as a module rather than a dictionary. Especially if those people are coming from [C# land](https://msdn.microsoft.com/en-us/library/z2kcy19k.aspx).

I personally like the

[2015-09-11 18:56] benjamn commented on #5131
Reproduced and diagnosed!

When you type out a multi-line function by hand, the lines pretty much always get evaluated in order, and  the `SyntaxError: Unexpected end of input` from attempting to evaluate `function foo () {` gets thrown before the `console.log("inside function")` gets evaluated, so the REPL knows it should keep defining the function instead of evaluating the `console.log`.

When y

[2015-09-11 19:00] stubailo commented on #5135
Yeah, I don't think namespace makes sense, since it's actually just a data structure. I agree ReactiveDict isn't the best name ever but it seems good enough for now and the only other names that would be appropriate are probably ReactiveMap or ReactiveObject.

As for Tracker vs. Reactor, I think there are already some things called Reactor, and this seems like an unnecessary rename - what's the ac

[2015-09-11 19:01] stubailo commented on #5135
There's also an old mailing list thread about this: https://groups.google.com/forum/?hl=en#!searchin/meteor-core/reactor/meteor-core/OKHNz6Oga4w/d7J5hBuwE3IJ

[2015-09-11 19:05] rgoomar commented on #5135
@stubailo I like ReactiveMap

[2015-09-11 19:55] mbrookes opened #5136 "NPM support should build the NPM module when downloading a source version"
Npm.depend() accepts a github URL, but doesn't build the downloaded source.

This impacts NPM modules installed via meteorhacks:npm / cosmos:browserify, for example:

https://github.com/elidoran/cosmos-browserify/issues/13

[2015-09-11 20:17] martijnwalraven commented on #5119
As part of the build tool improvements for Meteor 1.2, application assets are now stored in a `app` directory, but they should still be accessible using the familiar URL (without the app prefix). This works for normal webapps, but is more difficult to get right for Cordova. I've made some temporary changes to our plugin that I hope will fix these issues for now.

[2015-09-11 20:31] stubailo commented on #5136
What do you mean by "build the downloaded source"?

[2015-09-11 20:59] glasser commented on #5136
Guessing they mean "run the npm publish-time automation"

[2015-09-11 21:05] stubailo commented on #5136
Oh, like if there is a compile hook or something. That makes sense.

[2015-09-11 21:05] stubailo commented on #5136
Does `npm install` do this by default? What's the workflow like when using vanilla NPM?

[2015-09-11 21:24] mymedicalshopper commented on #2429
If I use ongoworks:spiderable, then the /dev/stdin issues goes away. However, I then have the SSL handshake error.

If I use gentlenode:spiderable-ssl, then SSL issue goes away, but then I have the /dev/stdin issue.

I can't seem to figure out how to eliminate the /dev/stdin issue and the SSL issue *at the same time*. I've looked everywhere, but it seems everything I see fixes one problem or the o

[2015-09-11 21:42] mbrookes commented on #5136
@stubailo - good point, just tried,

[code]

and no it doesn't.

However if you then cd into `node_modules/material-ui` and run `npm install` there, it builds.

[2015-09-11 21:49] katywings commented on #2429
Did you try out lufrai:spiderable2?

[2015-09-11 22:35] #5131 closed

[2015-09-11 22:41] stubailo commented on #5136
That's weird. I feel like they are publishing things "wrong" in that I thought the best practice was to compile code when the package is published so that you don't rely on a specific build system.

Does adding the correct transforms to `cosmos:browserify` fix the issue? Probably babelify or something.

[2015-09-11 22:52] ilampirai commented on #3799
When I try the package  natestrauser/cordova-file-server

Got the following error :
starting server at /storage/emulated/0/
failed to start server: IO Exception: Host is unresolved: 127.0.0.1

plz help @nate-strauser

[2015-09-11 22:53] nothingofit commented on #3210
It won't let me add the platform.

It says "The Android platform is not installed; please run: meteor install-sdk android"

[2015-09-11 23:17] wh0 opened #5137 "Error compiling {{#each a in (b)}}"
In Meteor release 1.2-rc.12, when compiling `{{#each a in (b)}}`, I get the following error:

[code]

[caching-compiler.js:312](https://github.com/meteor/meteor/blob/8754e3626f866173bf9a89693f3ecc1e3c72cd07/packages/caching-compiler/caching-compiler.js#L312)
[caching-html-compiler.js:40](https://github.com/meteor/meteor/blob/8754e3626f866173bf9a89693f3ecc1e3c72cd07/packages/caching-html-compiler/c

[2015-09-12 00:17] wh0 commented on #5137
maybe it's this replace:
https://github.com/meteor/meteor/blob/8754e3626f866173bf9a89693f3ecc1e3c72cd07/packages/spacebars-compiler/codegen.js#L122

[2015-09-12 00:40] wh0 commented on #5137
it's not that replace. Here's the real stack trace

[code]

[2015-09-12 00:59] wh0 commented on #5137
https://github.com/meteor/meteor/blob/8754e3626f866173bf9a89693f3ecc1e3c72cd07/packages/spacebars-compiler/codegen.js#L127
calls `codeGenPath` with an EXPR, not a PATH.

[2015-09-12 01:28] wh0 commented on #5137
trying to commit this patch

[code]

but I get

[code]

[2015-09-12 02:42] stubailo commented on #4943
Just released 1.2-rc.14, with some fixes. Mostly these are things where we have responded "will be released in the next RC". Also, it should work a lot better on Windows now.

[2015-09-12 02:43] stubailo commented on #5134
this should be fixed in RC 14, just released!

[2015-09-12 02:43] #5134 closed

[2015-09-12 02:44] stubailo commented on #4560
The workaround is now published as part of 1.2-rc.14. Try it out!

[2015-09-12 02:44] #4560 closed

[2015-09-12 02:45] stubailo commented on #5119
This should be fixed in the just released 1.2-rc.14. Try it out!

[2015-09-12 02:45] #5119 closed

[2015-09-12 03:11] mbrookes commented on #5136
Honestly, I have no idea! Relatively new to JS, and its myriad of build systems, so not sure how to go about this, bit I'll do a bit of digging.

[2015-09-12 04:07] stubailo commented on #5137
weird, try running the `./scripts/admin/eslint/eslint.sh` script?

[2015-09-12 04:18] stubailo commented on #5125
@brylie I couldn't agree more. The only reason we haven't changed it is because nobody currently has the bandwidth to refactor stuff. The bright side is, the docs _are_ actually written in markdown! See here: https://github.com/meteor/meteor/tree/devel/docs/client/full-api/api

So it should be pretty mechanical to migrate to markdown-based doc generator.

For the [React](http://react-in-meteor.rea

[2015-09-12 06:55] mrzafod commented on #5135
You can write a new package that could be very popular. Just one ```js``` file:
[code]

[2015-09-12 07:32] davidecantini commented on #5134
Confirming that RC 14 fixes the issue. Thank you guys!

[2015-09-12 07:44] SachaG commented on #5135
In that case, watch out for my upcoming new package!
[code]

[2015-09-12 10:33] msavin commented on #5135
Thoughts:
 - Meteor really should hire Sacha for Chief Naming Officer
 - ReactiveX should be something that's just one word, like everything else in Meteor's API
 - The APIs and libraries are your brand, so they should sound cool
 - Even though Namespace and Reactor have pre-existing meanings, I think the fact that they fit with Meteor's brand matters more

[2015-09-12 11:00] jagi commented on #5135
I've created my own [ReactiveMap](https://github.com/jagi/meteor-reactive-map) :) and it's almost one to one copy of API from `Map` collection (from ES6)

`Namespace` is ugly name...

On 0.9.1 release there was a change from `Deps` to `Tracker` and changing it one more time would cause more frustration.

I like the way of naming collection/sets by adding reactive word:
- You have normal `var` in J

[2015-09-12 14:26] DAB0mB opened #5139 "Testing problems using Velocity reporter in Meteor 1.2"
Whenever I try to test my package using jasmine and velocity test reporter, an error is thrown from a package called `respondly:util`, claiming jquery to be undefined (Uncaught TypeError: undefined is not a function). Well I'm not quite sure it's a Meteor issue, if I'm wrong please do tell me.

I tried running my tests using the following command:

[code]

Am I missing something? Any ideas?!

[2015-09-12 15:55] Urigo commented on #5125
@stubailo yes, in my last visit we talked about that as well.
For the new site and docs it can be a really good idea to collaborate.
For generating docs automatically they use [Dgeni](https://github.com/angular/dgeni)

There is a nice talk that talks about the broader approach to docs here:
https://www.youtube.com/watch?v=JSQrYozVLXo

Here is the new `angular.io` site's code: https://github.com/an

[2015-09-12 16:04] raix opened #5140 "[1.2-rc.14] Crash on code updates"
I do `$ meteor run android`
Then update the code
Get this crash when the code is updating:
[code]

[2015-09-12 16:54] haozhengfeng commented on #5140
i also have  this  issue

[2015-09-12 16:58] ghost opened #5142 "."

[2015-09-12 17:20] martijnwalraven commented on #5140
Thanks for the report! This should be fixed in the next RC.

[2015-09-12 18:10] AdamBrodzinski commented on #5117
@avital @stubailo  You may also want to checkout [babel-plugin-react-transform](https://github.com/gaearon/babel-plugin-react-transform) which implements hot-patching via [react-transform-webpack-hmr](https://github.com/gaearon/react-transform-webpack-hmr).

It seems like Meteor could take advantage of the hot-patching (which is super fast) by using a babel transform. However I haven't tried this

[2015-09-12 19:10] jsteel commented on #4083
Same for me on Ubuntu 14.04.2 LTS. Sudo didn't help.

[2015-09-12 20:20] SoftBrain001 commented on #4083
I think that there is some issues on Ubuntu 14.04 Server.
I try it on Ubuntu 12.04 Desktop, it's work fine.

[2015-09-12 21:45] Tim-W commented on #5140
Same here. Runs perfectly fine first time, but have to re-run `meteor run android-device` everytime I do an update.

[2015-09-12 22:01] elidoran commented on #5136
In the issue at cosmos:browserify I wrote: "It seems Meteor's NPM support would need to build the NPM module when downloading a source version instead of a published version".

What I should have written is: "It seems to me Meteor would have to be able to build npm modules from source despite the great many variations dev's use for building npm modules."

There are many tools used to build npm mod

[2015-09-12 22:03] JWo1F commented on #5091
@4thlaurocruz in production mode I can't see full debug information about my files because they will be merged into a single file.

[2015-09-12 23:53] morrismukiri commented on #4906
I'm experiencing the same problem. I've tried installing the required npm packages globally first but can't install bcrypt

[2015-09-13 01:00] byrne-yan commented on #3799
@ilampirai @nate-strauser I met the same issue. When I forked the project and then changed the 'localhost_only' to false, it worked.

[2015-09-13 01:14] JanAhrend commented on #4358
I encountered the same problem when naming the meteor project "03" or similar. Giving the project another name (like "myapp") 'solved' the problem.

[2015-09-13 01:51] ilampirai commented on #3799
Thanks @byrne-yan  your fix works well.

@nate-strauser Is there a way to send www_root , port and localhost flag from our meteor js file ? (in meteor.startup function) that will be helpful greatly can you make your package work so?

[2015-09-13 05:27] avalanche1 commented on #4732
At least @Slava 's recommendation should be mentioned in the docs.

[2015-09-13 05:31] Slava commented on #4732
@avalanche1 I disagree, my example above is just a regular JavaScript. There is nothing special about it. I don't think it should be in the docs.

[2015-09-13 05:54] avalanche1 commented on #4732
Well, if you're ok with less experienced javascript devs bumping their heads with this issue like blind kittens - so be it.

[2015-09-13 06:46] Tarang opened #5143 "Cordova will not play video on iOS."
I've tested the equivalent on a vanilla cordova app with the following html added along with BigBuckBunny_320x180.mp4 from http://download.blender.org/peach/bigbuckbunny_movies/

This works without issue on cordova
[code]

The equivalent on a vanilla meteor (1.1.0.3 or 1.2-rc14) project wont work, when the file is stored in `/public`.

I suspect this has something to do with how `file://` is handl

[2015-09-13 09:04] martijnwalraven commented on #5143
This is a known issue, and something I hope to fix after the Meteor 1.2 release as part of Hot Code Push improvements for Cordova. Also see #3799.

[2015-09-13 09:04] #5143 closed

[2015-09-13 10:16] mitar opened #5144 "Cannot run Meteor from source code without a `.git` directory"
Trying to do so fail with:

[code]

The reason why `.git` directory is not there is because I have whole Meteor source tree as a git submodule.

[2015-09-13 13:57] JanAhrend commented on #3989
I have the same issue. Running Max OS X.
Downgrading didn't work for me (e.g. meteor run android --release 1.0.3.1)

[2015-09-13 14:40] SPAHI4 opened #5147 "static-html package error"
[code]

[2015-09-13 14:41] SPAHI4 commented on #5147
i tried to do this
[code]
and get this error
[code]

[2015-09-13 15:39] nhduc296 commented on #395
+1

[2015-09-13 16:51] vishnuavenu opened #5148 "Frequent error connect ETIMEDOUT"
I feeling meteor script should be more robust like npm and other i have moderate connection speed  but it still can't able to fetch the packages from atmosphere!

[2015-09-13 18:16] vishalmanchanda opened #5149 "unable to add bootstrap or angular-ui-bootstrap."
This can be specific to meteor(or some setting on my side )but adding here as I could not find any answers from my google search. I'm able to add angular, angular-ui-router, less and many other packages where as unable to add bootstrap or angular-ui-bootstrap. Tried with multiple package authors but getting timeout error -whereas connection doesn't time out for many other packages

 => Errors whil

[2015-09-13 20:21] nate-strauser commented on #3799
i updated the package default for localhost_only to be false.  I also added the ability to override all the http server options via meteor settings.  hopefully this works for you all!

@adrianolsk it might.  you seem to be experiencing the same issue with not being able to load content across protocols.  although i'm not sure how you would be able to access contact pictures via the filesystem acce

[2015-09-13 20:27] idoivri commented on #5049
(just an FYI - this happens in Meteor 1.1.0.3 as well)

[2015-09-13 22:51] dnish commented on #3799
Is there any possibility to upload a picture with CollectionFS? With your plugin, I can display a image - but I also need to add it to my file collection. I've tried to generate a base64 url with a canvas element, but that didn't work (seems a cross domain issue).

[2015-09-14 00:22] woniesong92 commented on #5048
@avital Aha, I had left out `return` keyword. Thank you!

[2015-09-14 03:26] claudiorafaels commented on #2722
+1 for Windows Phone support.

[2015-09-14 04:16] dnish opened #5150 "Document how to clean up old Android SDKs when upgrading to Meteor 1.2"
Hey,
just read that Meteor 1.2 will now use a local installation of Android Studio and its SDK tools. Now I've the question if there is a command or recommend way to remove Meteors SDK installation from my Mac?

[2015-09-14 04:17] trusktr opened #5151 "[BUG?] Sometimes `~/.meteor` gets into a state where apps fail with isopack-1 not found errors."
I think it has to do with the fact that I'm using PREVIEW-PLUGIN and/or 1.2-rc.7+ in local projects. Those project work fine. Then when I go into a project that uses the current default release of Meteor and run `meteor` I get error like this: http://trusktr.io:7777/huduxaqupu

I can fix the problem by deleting `~/.meteor` then trying `meteor` again, in a project that uses `1.1.0.2` for example. T

[2015-09-14 05:26] dcworldwide commented on #5126
Similiar for me. Could be useful. I find myself watching 'uploading.....' wondering when it will finish. Sometimes I get timeouts of late

[2015-09-14 05:57] leomatthew opened #5152 "Error In deployment"
When I deploy a app in a new server. I got the below error. Can anyone help?

root@grannytherapy:/opt/granny/Acito# sudo meteor
[[[[[ /opt/granny/Acito ]]]]]

=> Started proxy.
=> Started MongoDB.

/root/.meteor/packages/meteor-tool/.1.1.4.st5tu4++os.linux.x86_32+web.browser+web.cordova/mt-os.linux.x86_32/dev_bundle/lib/node_modules/fibers/future.js:259
			throw new Error('Must throw non-empty err

[2015-09-14 06:21] cunneen opened #5153 "Minimongo sort is inconsistent with mongodb sort, no numeric sort available."
Mongodb performs type conversion on numeric types prior to sorting, as specified [here](http://docs.mongodb.org/manual/reference/method/cursor.sort/#ascending-descending-sort):

Meteor doesn't provide any option to do this. This causes havoc if there are mixed types.

For example, I have a PatientIDs collection. Here's what I get if I attempt to sort with meteor:

[code]

As you can see, this is c

[2015-09-14 06:39] derwaldgeist commented on #3799
@dnish: I had the very same problems. I wanted to upload a picture taken with a mobile camera via Cordova, this is always a base64 encoded string. But this was not accepted by CollectionFS/GridFS. So eventually, I switched over to Slingshot, which is not optimal for my use-case, but at least worked.

[2015-09-14 06:50] jagi commented on #5153
What version of MongoDB do you have? I can't reproduce your problem.
I have version 2.6.7 and the result is:

[code]

It's clearly non numerical order and in MiniMongo I have the same result.

[code]

And the you have an error, the `$sort` operator is reserved for `aggregate` method. You should use the `sort()` method on the cursor.

[2015-09-14 06:56] cunneen commented on #5153
I'm on 2.6.8 .

The lack of the ability to explicitly force a numeric sort is a problem either way.

Using the sort() option on the cursor I get the same result as you (non-numeric with no type conversion). But using $sort in mongodb I can get the results I need; in meteor I can't at all.

[2015-09-14 07:46] sjmcdowall commented on #4906
@morrismikiri -- until MDG updates their hacked fibers .. you may just have to bite the bullet and install the VS 2012 CE version of stuff to have the tools to build fibers on your machine .. then package up the whole kit into a shrink-wrap bundle to deploy.  I use demeteorizer to do the shrink wrap part -- works well for me -- but I did have to install VS2012 STUDIO Express .. <sigh> ..

[2015-09-14 08:00] itsgg commented on #5148
I am having the same issue.

[2015-09-14 08:07] gitawego commented on #5124
+1, in meteor world, we can not really benefit the advance of nodejs :(
with the release of meteor 1.2, I hope they can support node 4.0.0. 'cause that would be much faster at server side with native es6 support.

[2015-09-14 08:18] jagi commented on #5153
But there is no third argument in the `find` method http://docs.mongodb.org/v2.6/reference/method/db.collection.find/

You can always convert the `patient_number` value to the number before saving it into the collection.

[2015-09-14 08:19] LarsBuur commented on #4943
Something strange is happening when upgrading from RC10 to RC11.

I tried to update to rc14 this morning but it did not work and I got a "This project is at the latest release which is compatible with your current package constraints."

So I reverted to RC7 and to the updates one by one. The error happens after RC10.

[code]

How can I tell which package is causing my troubles?

This is the curren

[2015-09-14 08:20] Tarang commented on #5143
@martijnwalraven I hope this also fixes for `assets-library://` urls too.

[2015-09-14 08:35] cunneen commented on #5153
Ha. True. Interesting that it does anything at all, let alone giving the exact results I need.

But this is an existing collection. So no, I can't do a conversion.

Meteor does not let me do a numeric sort. This is the problem.

I can work around it by fetching all of the documents and performing a sort (luckily I don't need any other fields so this shouldn't be a problem) but it is a big omission

[2015-09-14 09:13] jagi commented on #5153
But it's not a problem with Meteor, it's a problem with MongoDB. It does not allow you to make numeric sort on string fields.

So, the solution would be, as you said, doing it manually.

[2015-09-14 09:15] cunneen commented on #5153
Everything meteor provides, it provides on top of what mongodb provides on its own. Consider this a feature request.

[2015-09-14 09:16] jagi commented on #5153
And MongoDB does not provide such feature :) so it's way Meteor doesn't do it too :)

[2015-09-14 09:47] mitar opened #5154 "No way to run devel branch from the command line"
I would love to be able to run:

[code]

Very useful in Travis CI tests to see if current devel branch still works for my package.

[2015-09-14 10:12] Exilz commented on #3469
I've been struggling with this issue for a few days too. I've tried everything listed here, thanks for your detailed answers @MichaelJCole. I'm using meteor 1.2 rc 12.
However, I still can't connect my Android app to my server.
The issue might be quite simple actually... Just like everyone I have a

`XMLHttpRequest cannot load http://domain.net/sockjs/info?cb=qs5l6qd5wh. No 'Access-Control-Allow-O

[2015-09-14 11:06] dnish commented on #3799
@derwaldgeist CollectionFS isn't the problem here. I always get a 1979 byte base64 string, because Cordova can't access the image due policy (I think Nates plugin need to send a "allow-origin: *" header to make it work).

If you want to insert a base64 image string to CollectionFS, you also need the EJSON plugin for it - on my projects it works without problems.

https://github.com/CollectionFS/Me

[2015-09-14 12:20] raix commented on #5124
+1

[2015-09-14 13:12] martijnwalraven commented on #5150
Good point, we should at least document this somewhere. You can remove the bundled Android tools using `rm -rf ~/.meteor/android_bundle`.

[2015-09-14 13:20] derwaldgeist commented on #3799
Thanks for this info and the hint for the EJSON plugin. Is there any documentation available how to use this? The page only says "FS.File as EJSON", but in my case, I do not have a File object, I have a data URL.

Anyway, I did *not* get an error at all in my app. Instead, the upload seemed to work and was acknowledged by CollectionFS, but when I tried to download the file again, an invalid / inco

[2015-09-14 13:33] dgreensp commented on #4943
@LarsBuur see https://github.com/meteor/meteor/issues/5114 for a way to find out what packages are preventing update in the absence of a better error message for this case.

[2015-09-14 13:46] SPAHI4 commented on #5147
@stubailo so what i must do now? Wait for release?

[2015-09-14 13:52] Shekharrajak opened #5155 "Not able to deploy using own domain name."
I deployed my meteor app using deploy command ::
$ meteor deploy whitecastle.in

after uploading all the files it is saying
Deploying to whitecastle.in.
Now serving at http://whitecastle.in

but I can't  actually see it being deployed in http://www.whitecastle.in or http://whitecastle.in
![screenshot from 2015-09-14 19 03 13](https://cloud.githubusercontent.com/assets/5774448/9851370/eec0059e-5b15

[2015-09-14 14:17] vishnuavenu commented on #5148
Hi ... Ganesh I just resolved that issue ... I hope by this way you can
save your time tooo

NOTE: Meteor runs a internal server for packages and trying to listen and
communicate to PORT 80 ..

I had two server trying to bind I do'nt know but Apache2 was first one that
hinders the communication of Meteor and when i uninstall it THERE IS
LIGHTTPD server which quickly occupied same PORT hence i was

[2015-09-14 14:44] LarsBuur commented on #4943
Thanks @dgreensp. It was my /app/packages/npm-container that caused the problem. The error was:

[code]

This could be something that someone else would run into but not related to meteor core.

There is a note on how to solve the problem here: https://github.com/meteorhacks/npm

[2015-09-14 14:48] dnish commented on #3799
@derwaldgeist There is no documentation for EJSON, it works automatically after installation. I also add the "data:" url directly into my FS collection, that works without any problems. Do you use GridFS as storage engine? What about displaying an image with

    <img src="{{foundImage.url store='your collection'}}"/>

[2015-09-14 14:51] raix opened #5156 "[1.2-rc.14] Method stub isn't calledback"
While testing 1.2 on an existing app we got an issue where the callback in a `Meteor.call` is never called back.

The server method is run and returns expected value.

But `Meteor.connection._outstandingMethodBlocks` growing and the stream doesn't seem to return the method result to the client.

First outstanding method is id 1 and results are not on the websocket.

cc. @jperl

[2015-09-14 15:13] raix commented on #5156
sorry - Kadira bug - upgrade to `meteorhacks:kadira@2.23.2` fixes this

[2015-09-14 15:13] #5156 closed

[2015-09-14 15:13] jperl commented on #5156
Glad you found the issue :)

[2015-09-14 16:01] davidworkman9 commented on #2508
+1. Can't use anything above rc-10 for the 1.2 release right now and have no idea what package is causing the problem.

[2015-09-14 16:33] stubailo commented on #5147
Are you running one of the RCs for Meteor 1.2? Or 1.1.0.3?

[2015-09-14 16:35] SPAHI4 commented on #5147
No, 1.1.0.3 on windows

[2015-09-14 16:44] stubailo commented on #5147
Yeah, this package will only be available in 1.2, but you can try it out now by using a release candidate with `meteor update --release 1.2-rc.14`. Unfortunately it's hard to have a better error for this.

[2015-09-14 16:44] #5147 closed

[2015-09-14 17:19] ni-ko-o-kin commented on #4793
I had the same problem. Fixed with Chromium 45.0.2454.85.

[2015-09-14 17:24] stubailo commented on #5139
@DAB0mB  this is an error with respondly:util, which has an unregistered dependency on `jquery`. We realized that a lot of packages were unknowingly depending on stuff like Mongo and jQuery because these packages were automatically added when running test-packages.

I would suggest reaching out to the authors of respondly:util and letting them know they should add a dependency on `jquery`.

[2015-09-14 17:24] #5139 closed

[2015-09-14 18:40] rbwsam commented on #2655
I'm experiencing this issue as well: 7 seconds to start on iPhone 5s @ 1.1.0.3

[2015-09-14 20:49] stubailo commented on #5154
I think the equivalent that you could use in CI would be:

[code]

Is that sufficient?

[2015-09-14 20:56] raix opened #5157 "[1.2-rc.14|babel] ...arguments in call fail"
It's an odd case:
[code]
Results in `TypeError: Cannot read property 'call' of undefined`

[code]

-

This works fine:
[code]

[2015-09-14 21:29] AntonLydike opened #5158 "32-bit libraries not found but installed"
I've run through the [tutorial](https://github.com/meteor/meteor/wiki/Mobile-Dev-Install:-Android-on-Linux) for meteor developing on mobile, but I got to the point, where `meteor install-sdk android` prints:

    ✓ Found Android bundle
    ✓ A JDK is installed
    ✓ Found Android Platform tools
    ✓ Found Android Build Tools
    ✗ 32-bit libraries not found
    ✓ Found Android 19 API
    ✓ Found

[2015-09-14 21:42] afuggini commented on #5155
Check out https://github.com/meteor/meteor/issues/2213

[2015-09-14 21:46] stubailo commented on #5140
Should be fixed in the newly released `1.2-rc.15` version! Let me know if it isn't.

[2015-09-14 21:46] #5140 closed

[2015-09-14 21:46] stubailo commented on #5157
@benjamn can you take a look at this?

[2015-09-14 21:48] stubailo commented on #5098
We can't reproduce this issue right now, any more information you have would be helpful.

Are you able to get a different computer and try it there?

[2015-09-14 21:48] stubailo commented on #5113
Any new information?

[2015-09-14 21:49] stubailo commented on #5088
Should be released now in `1.2-rc.15`. Thanks for reporting!

[2015-09-14 21:49] #5088 closed

[2015-09-14 21:50] stubailo commented on #5114
Fixed, will come out in the next RC.

[2015-09-14 21:50] #5114 closed

[2015-09-14 21:53] stubailo commented on #5144
What branch are you on? devel?

[2015-09-14 21:57] stubailo commented on #5155
What else have you done? Have you set the CNAME record as detailed here? http://docs.meteor.com/#/full/deploying

[2015-09-14 21:59] mitar commented on #5154
Hm, but I already have Meteor installed in the system. And you can then control with simple environment variable the release (which allows you to do easy build-matrix stuff: http://docs.travis-ci.com/user/customizing-the-build/#Build-Matrix). But then for `devel` branch we would have to use completely other set of commands.

[2015-09-14 22:01] mitar commented on #5144
Yes, and the command is `./meteor test-packages ../`. So clone [this repository](https://github.com/peerlibrary/meteor-server-autorun), go into `meteor` directory and run `./meteor test-packages ../`.

[2015-09-14 22:10] stubailo commented on #5144
Cool. I might not be able to get to this immediately since I'm working hard on shipping 1.2. But it should be easy to submit a PR to: https://github.com/meteor/meteor/blob/7eafc55eb2fcfb47d858f859c480c162f1d3b10b/tools/tool-env/install-git-hooks.js#L56-L67

To check if a `.git` directory exists, as a temporary solution.

[2015-09-14 22:14] stubailo commented on #5154
The thing is, Meteor releases are a whole different beast from the source code in Git. So under the hood, that command would basically do the exact thing I posted above, but now we have to maintain it, clean up old checkouts, etc etc. I can reopen as a feature request, but I don't think it will be a priority since checking out from git isn't that difficult. You can write a bash script that takes a

[2015-09-14 22:54] stubailo commented on #5137
Thanks for handing me the fix on a silver platter! Also added a test for it.

Should be out in the next RC (>= 16)

[2015-09-14 22:54] #5137 closed

[2015-09-14 23:45] jaskinn commented on #5017
Eagerly awaiting 1.2 - specifically for the Cordova update.

[2015-09-14 23:47] jaskinn commented on #5124
+1

[2015-09-14 23:50] stubailo commented on #5152
Please don't run `meteor` with `sudo`, ever. If you would like to deploy your Meteor app on your server, use `meteor build`: http://docs.meteor.com/#/full/deploying

There is also a lot of good discussion about deployment on the forums: https://forums.meteor.com/c/deployment

[2015-09-14 23:50] #5152 closed

[2015-09-15 00:22] wallslide commented on #5113
I'm still trying to debug what is going wrong. I tried upgrading to rc14, but after doing so the client couldn't even seem to load all of the initial subscriptions. On rc12 it loaded them fine however. I'll post if I make any more progress.

[2015-09-15 00:54] dcworldwide commented on #5135
Don't understand the need for change. The names are apt imo

Of all the priorities the mdg have is it really worth distracting them with cosmetic changes? If you still feel strongly about it this would be better as a community PR.

[2015-09-15 00:55] benjamn commented on #5157
I can fix the missing `babelHelpers.slice`, but I suspect you meant to do `console.log.call(console, ...arguments)`, since `console.log` weirdly has to be be called with `console` as the object.

[2015-09-15 00:59] benjamn commented on #5157
Fixed by fe69807f1872b4f64b143d0a555fe3d2775e5308, thanks!

[2015-09-15 00:59] #5157 closed

[2015-09-15 00:59] stubailo commented on #5135
I think this issue isn't really productive at the moment. If there's a consensus reached somewhere other than GitHub (perhaps the forums) that this name change is important, we can reopen it then.

[2015-09-15 00:59] #5135 closed

[2015-09-15 01:03] stubailo commented on #5157
I'll release this in the next RC! Probably will be `1.2-rc.16`.

[2015-09-15 01:39] benjamn commented on #5076
What is/should the `NODE_PATH` be for non-package server code?

[2015-09-15 01:39] mitar commented on #5144
Oho, ES6 code in Meteor core. :-)

[2015-09-15 01:49] mitar commented on #5144
BTW, I also have some other pull requests open. ;-)

[2015-09-15 01:51] mitar commented on #5144
Done. See #5160.

[2015-09-15 02:06] wh0 commented on #5137
I've opened a pull request with a more permissive fix, which additionally allows `{{#each a in b c}}`, without need for parentheses.

[2015-09-15 04:03] dwhu commented on #4321
Is there any update on this issue?  I am having the same problem as well.

[2015-09-15 04:14] mitar commented on #3871
OK, this was just a lack of index for the server side tests.