[2020-03-02 15:40] brucejo75 commented on #10583
@filipenevola, looks like 1.9 did not complete all of the bugs assigned to it.

Shouldn't these bugs be the first to be considered for follow on releases?  Shouldn't they have been moved to 1.10?

[2020-03-02 15:42] #10918 closed

[2020-03-02 15:44] #10917 closed

[2020-03-02 22:37] filipenevola commented on #10626
Hi, as we already have even RCs for 1.10 I'm closing this. Please double-check on 1.10-rc.3 or the latest.

[2020-03-02 22:37] #10626 closed

[2020-03-02 22:39] filipenevola commented on #10583
Hi @brucejo75 , you are right, I've moved them to 1.11 as 1.10 is already in the RC phase.

[2020-03-02 22:41] brucejo75 commented on #10583
RC is still bug fix no?  😸

[2020-03-03 00:35] hexsprite commented on #10959
maybe file an issue with uBlock. Seems like a bug in uBlock. Shouldn't break the whole site...

[2020-03-03 07:18] devanghire commented on #7378
you have to use command like:- meteor npm install

[2020-03-03 21:06] banjerluke commented on #10959
It's probably because the module has the word "analytics" in the title. I'll bet if you rename it, the error will go away. (Wouldn't be an issue in production since all js files are combined into one.)

[2020-03-04 00:32] doronrk commented on #10924
Not here just to say "me too", but also to urge a fix in 1.9.x series since this is causing problems for us in production and I'd rather not tack on a substantial upgrade to fix this problem.

[2020-03-04 00:41] doronrk commented on #10924
@KoenLav Looking at release-1.9.2 it looks like `useUnifiedTopology` isn't actually set anywhere in meteor. The mongo documentation is a little vague, but it seems like `useUnifiedTopology` defaults to false?

Can you check my understanding here? Trying to figure out why setting `useUnifiedTopology` would change any behavior on 1.9.2

[2020-03-04 03:21] cfnelson commented on #10959
`@banjerluke` is correct, the cause is due to having `analytics` in the filename or request.

uBlock & other ad blockers will normally inspect the names of files being requested along with other various heuristics for deciding when to block requests or intercept incoming resources.

The issue isn't specific to Meteor, I've experienced the above in Meteor & non Meteor projects alike. A crash or ina

[2020-03-04 03:33] cfnelson commented on #10882
The above has also been occurring for own projects for awhile. Can't recall specifically what version, but it was happening prior to updating to `v1.9`. I've never spent any time investigating the issue itself, as I assumed it was an issue with the pkg.

[2020-03-04 06:20] cfnelson commented on #10957
@banjerluke Not sure if this will be of much help. But I can attest to having experienced similar ambiguous Syntax Errors referring to promises and/or ecmascript or maybe it was the polyfills.

From memory most of the issues I encountered were in late 2018/early 2019 and were only occurring in Safari and were caused by:

- the usage of async/await/promises
- the usage of **dynamic imports** along

[2020-03-04 08:03] arggh commented on #10959
@cfnelson @banjerluke yup, like I wrote in the issue description:

...Hoping that whoever happens to stumble on this same problem won't spend an hour trying to figure out why their app is suddenly crashing :)

[2020-03-04 08:03] #10959 closed

[2020-03-04 10:38] sebakerckhof commented on #10916
Just took a look and the behavior is correct.

Meteor guarantees you will never see a removed for a certain mongo object, before you see an added. However, in this case, these are different objects (just with the same label, but different _id) and Meteor makes no guarantees around those.

This has to do with performance optimizations on both frontend and backend:
When a large amount of changes com

[2020-03-04 17:53] pawansingh-snapwiz commented on #6777
User logs into Tab1 and automatically gets logged into Tab2, which is OK, but then suddenly he gets logged out of both tabs.
Isn't this still a BUG?

Sample Code --

`        // Tracker.autorun(function () {
        //   if (Meteor.loggingIn()){
        //     return;
        //   }
        //   Meteor.logoutOtherClients(function (err) {
        //     if (err) {
        //       console.log(" Err

[2020-03-04 21:23] banjerluke commented on #10957
I verified that Safari 9 clients were receiving the legacy bundle, so async/await and other ES6+ features are transpiled. I've only got a couple dynamic imports for seldom-used features and the SyntaxErrors seemed unrelated. But yeah, probably something to do with polyfill changes, etc.

In the end, I just wrote all my users who were using iOS 9 devices (according to my analytics) and told them I

[2020-03-04 22:28] jnurkka commented on #10924
I totally agree. Also, given the issues upgrading to 1.9. caused us due to this, I'd like to test 1.10. in a staging environment for at least a month. And not keen to have to work with 1.8 for another month

I'd add that our staging environment just experienced this same issue even though we've set `useUnifiedTopology` to `false`

[2020-03-04 23:46] doronrk commented on #10924
@jnurkka Thanks for this valuable info.

Yeah this makes complete sense. I've confirmed that `useUnifiedTopology` defaults to false looking at the 3.2.7 driver code.

[2020-03-05 10:31] KoenLav commented on #10924
@doronrk when I search through the Meteor repository I can't find it either, but when I search through my .meteor/local directory in a project running Meteor 1.9 I do find this:
[code]

[2020-03-05 11:49] MarceloPrado commented on #10808
Hi @mbatchkarov, we’re also facing a similar issue at my company.

We just migrated from mlab to Atlas and I’m receiving this warning 2-3 times per day.

I noticed a weird issue which seems related to how atlas handles oplog: some callbacks from Meteor.methods don’t get fired, even though the DDP return messages correctly arrives from server.

This issue seems to happen only on meteor methods that

[2020-03-05 14:33] afrokick commented on #6777
@pawansingh-snapwiz it is ok, because there is 'shared' `Meteor_token` variable in LocalStorage. So, if you logged out, it just cleared.

[2020-03-05 16:28] aas395 commented on #10867
I'm running into this, too.

[2020-03-05 19:47] generalleger commented on #10924
@KoenLav That is very helpful. Just to be clear, wrapping the following in a Meteor.startup function should do the trick?

`Mongo.setConnectionOptions({ useUnifiedTopology: false });`

[2020-03-05 19:56] KoenLav commented on #10924
I put it before (outside of) Meteor.startup on our server code.

I guess the config should be set before the database connection is initialized.

[2020-03-05 19:59] generalleger commented on #10924
Ahh okay, i was thinking to do it after so that the default initialization process would not override the database connection setting!  To be safe, I'll do both until a formal fix comes out.

[2020-03-05 20:33] jnurkka commented on #10924
I also put it as early as possible in the server code, outside the Meteor.startup callback. This didn't seem to work as I stated above.

[2020-03-05 22:53] kbromwich commented on #10850
We've also hit this problem (on both Windows and Linux, though it's rather less severe on Linux), and we're holding off upgrading from 1.8.1 because of this (and also due to #10712 to a small extent, though that can be worked around by changing imports).

I've done a little testing, but haven't come up with much beyond what has been mentioned in this thread already. Meteor 1.8.1 runs fine, while a

[2020-03-06 00:08] doronrk commented on #10924
@KoenLav thanks for sharing your finding.

// Required to silence deprecation warnings with mongodb@3.2.1.
      useUnifiedTopology: true

The .meteor/local directory contains a bunch of stuff, including old builds which may have been built with different versions (in this case, we can be certain this is what is happening, because the comment string you posted appears in `1.10-rc.3` and is from [t

[2020-03-06 01:36] evolross commented on #10913
I think this might be what's causing these server console warnings:
[code]

[2020-03-06 01:45] doronrk commented on #10924
For posterity. 1.9.3-rc.0 is being released with updated mongo drivers

[2020-03-06 06:24] KoenLav commented on #10924
So maybe I was unclear, but you should set useUnifiedTopology to false, not true.

I'm fairly certain this resolved the issue we were experiencing. But either way, as long as this gets resolved somehow, I'm fine :)

[2020-03-06 09:06] pawansingh-snapwiz commented on #6777
@afrokick Any suggestions how can I solve it? What I want to achieve is

1. Across Multiple browsers there can be only one Session at a time, which seems to be working with above code.
2. Within a browser user should be able to open multiple tabs, which is not working with above code (As soon as user opens an another tab he will be logged out from both the tabs).

**Browser Fingerprinting** is one

[2020-03-06 11:19] ramzauchenna commented on #10924
@filipenevola the issue stopped after i reverted to node 12.14.1. No idea if this fixed the issue but have not experienced it after this and i am using meteor 1.9.2

[2020-03-06 12:31] TeNNoX commented on #10916
Wow! Thank you for this extensive and comprehensive answer :+1:

I see, so I need to adapt my client-side code in accordance to this.
Is there a document with those guarantees and details? That would be amazing, and ease development a lot!

For example I had the question if there are any kind of guarantees on ordering of events for documents that are not the same `_id`?
From how I understand you,

[2020-03-06 12:31] #10916 closed

[2020-03-06 12:57] gotjoshua commented on #10916
Is addition to documentation that @TeNNoX asked for, I'm rather curious about which queries can and can't use oplog tailing. Could you provide links to code and/or documentation about that?

[2020-03-06 14:08] sebakerckhof commented on #10916
yeah, I've been planning to do a blog post or video to demystify some parts of the livequery system. So people can make better decisions regarding performance etc. But haven't found the time for it.

Regarding the question of @TeNNoX : Yes, to the best of my knowledge, the only guarantee is on the ordering of events on the same document.

Regarding the question of @gotjoshua . This piece of code d

[2020-03-06 16:37] filipenevola commented on #10924
Hi @doronrk any news on 1.9.3-rc.0? Is the new driver fixing your issue?

The PR is here https://github.com/meteor/meteor/pull/10961

[2020-03-06 17:41] RealHandy commented on #10863
Still having this issue after update to meteor 1.9.2, iOS 13.3.

[2020-03-06 17:44] RealHandy commented on #10863
Same problem also occurs in the iOS build project created by meteor .build

[2020-03-06 18:25] filipenevola commented on #10863
@RealHandy can you reproduce this issue on Meteor 1.10-rc.4?

[2020-03-07 09:34] sebakerckhof commented on #10733
Should be fixed in 1.10 since https://github.com/meteor/meteor/pull/10856 got merged.

[2020-03-07 09:34] #10733 closed

[2020-03-07 23:59] cfnelson commented on #10924
Can confirm for anyone else that updating from Meteor 1.9.2 to -> 1.9.3.rc.0 has fixed the issue for us (hosting on Meteor Galaxy).
Updating to the 1.9.3 release were the only changes made to resolve the problem.

For anyone in the future -> `meteor update --release 1.9.3-rc.0` or once v1.9.3 lands, just run `meteor update`  and redeploy your app.

[2020-03-08 07:49] coolchenqian commented on #10074
I encountered the same problem, how can I solve it

[2020-03-08 18:53] jordancortes commented on #10904
This is a deprecated package #9737

[2020-03-09 02:39] Slavrix commented on #10808
I have recently moved over from mLab to Atlas also.
Whilst I have not yet seen the errors that are being described above, something I have had happen is the connection timing out when a new primary is promoted.

[2020-03-09 11:34] BrianMulhall commented on #10904
I still fixed it because the only popular alternative markdown package https://atmospherejs.com/perak/markdown i found on atmosphere seemed to be abandoned. So the fix should get merged in and released in the first post 1.10 release.

[2020-03-10 07:09] semtyre commented on #10912
We are also experiencing this issue.

Current Workaround: Changing ts files in /server seems to trigger a refresh which also rebuilds the changed files under /imports/**/*.

Windows 10, Meteor 1.9

[2020-03-10 11:43] JanvanCasteren commented on #10912
the workaround that I use is to not use the imports folder convention and point to the mainModule from package.json, as is stated in the Meteor release notes:
https://github.com/meteor/meteor/blob/devel/History.md#v17-2018-05-28

quote from those release notes:

[2020-03-10 12:07] semtyre commented on #10912
You are right. But the changelog also states "when specified".
I am not sure that these changes caused the bug (/feature).

[2020-03-10 14:59] hexsprite commented on #10912
@JanvanCasteren as a workaround, what if you make a symbolic link eg. ln -s imports notImports ?

[2020-03-10 17:30] filipenevola commented on #10924
Fixed on 1.9.3

[2020-03-10 17:30] #10924 closed

[2020-03-10 22:35] #10890 closed

[2020-03-11 01:38] aas395 commented on #10867
I eventually got past this by removing angular-compilers, updating meteor, and then reinstalling.

[2020-03-11 12:25] ramzauchenna opened #10962 "EJSON Crashing Server In Meteor 1.9.3"
After updating to meteor 1.9.3 my server started crashing. I checked and could not find any reason for the crash.

Server is hosted on Amazon ECS using docker containers and Aws cloud watch for logs.

I checked the logs and every time the server restarts and runs for 1 minute it crashes with the  error below

`message: Maximum call stack size exceeded
stack:
RangeError: Maximum call stack size exc

[2020-03-11 19:16] filipenevola commented on #10962
Hi @ramzauchenna were you able to identify what query that is producing this output? ESJON can crash very easily if you have circular dependencies.

Also, what is your MongoDB Version?

[2020-03-11 19:18] filipenevola commented on #10867
Hi, as we have more than one person saying that is not an issue in Meteor but in the dependencies of the project I'm closing this as we can't fix code that is not part of Meteor here.

[2020-03-11 19:18] #10867 closed

[2020-03-11 19:25] filipenevola commented on #10712
I've just followed the reproduction steps in the latest Meteor (1.9.3) and it's working fine, see

![typescript-material-app  ~:Documents:meteor:ws:tests:typescript-material-app  -  :imports:ui:App tsx 2020-03-11 16-25-17](https://user-images.githubusercontent.com/437372/76455869-f5f5a100-63b4-11ea-920c-741090edb5a6.png)

![typescript-material-app 2020-03-11 16-24-22](https://user-images.githubuse

[2020-03-11 19:26] filipenevola commented on #10863
As we don't have feedback and I can't reproduce this I'm assuming it is fixed on 1.10.rc.4.

[2020-03-11 19:26] #10863 closed

[2020-03-11 19:28] #10957 closed

[2020-03-11 19:34] ramzauchenna commented on #10962
@filipenevola  Mongo version is 3.6.17.

I haven't been able to identify it. the stack trace does not say much or were the problem is from.

I just rolled back to 1.9.2 where everything works fine. i later tried 1.9.3 and it failed.

[2020-03-11 21:50] RealHandy commented on #10863
It’s not reproducible, which means it works for everyone even though that line removes their mobileprovision. My workaround is working. I assume this is a strange edge case that could be related to who knows what in my years-old-and-updated-a-million-times environment. The usual reasons for not wanting to install a release candidate apply, so I’ll check it on 1.10 and keep applying the workaround

[2020-03-11 23:01] carlosalvidrez commented on #8111
Same challenge here. Any solutions?

[2020-03-12 01:34] linegel opened #10964 "Node options required to be together blocked to be used"
Before reporting a bug, please check for existing or closed issues
first and read the instructions for filing a bug report:
https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#reporting-a-bug-in-meteor

Bug report:
Meteor version - 1.9.2
OS - MacOS

The expected behavior:
Pass `NODE_OPTIONS="--experimental-modules --input-type=module --es-module-specifier-resolution=node"` with meteor buil

[2020-03-12 01:47] linegel commented on #10964
Just to make the issue clear, since Meteor 1.9.2 uses nodejs 12.16.1 I updated the local nodejs version from 12.12.0 to 12.16.1 and both options still passed to nodejs successfully, following expected behavior (no options out of 3 provided blocks any other)

[2020-03-12 01:53] hexsprite commented on #10964
Did you try `TOOL_NODE_OPTIONS` instead ? That is passed directly to the node that invokes the Meteor runner iirc...

[2020-03-12 01:54] hexsprite commented on #10964
Oops nevermind I think you wanted it during the build phase...

[2020-03-12 10:29] ivan133 commented on #9388
So this should be fixed in 1.11 right?

[2020-03-12 15:41] sebakerckhof commented on #10964
Ok, there are a couple of things going on here:
1. This is the normal node behavior, and happens before any Meteor code runs.
E.g. if you try:
NODE_OPTIONS="--experimental-modules --input-type=module --es-module-specifier-resolution=node" /Users/User/.meteor/packages/meteor-tool/.1.9.2.1bpgp1k.xybn++os.osx.x86_64+web.browser+web.browser.legacy+web.cordova/mt-os.osx.x86_64/dev_bundle/bin/node

You

[2020-03-12 17:23] mitar commented on #10560
Unstale.

[2020-03-13 09:03] Slind14 commented on #10495
Push

[2020-03-13 12:47] yanickrochon commented on #6091
+++++1

[2020-03-13 14:23] #10562 closed

[2020-03-13 19:25] arggh commented on #10903
Get lost stale bot.

[2020-03-14 04:23] #10894 closed

[2020-03-14 04:23] #10716 closed

[2020-03-14 11:38] zhe1ka opened #10966 "Aggregate with ObjectId"
Hi,
Noticed that "aggregate" doesn't work with `ObjectId` as a value in `$match` despite it works well for any other kind of types. Could it be fixed?

![image](https://user-images.githubusercontent.com/6460571/76681336-9e487700-65fa-11ea-88b5-d58a9c65e57f.png)

[2020-03-14 13:01] zhe1ka commented on #10966
I've figured out that `Mongo.ObjectID` and `mongo.ObjectID` return different objects. If to use `mongo.ObjectID` inside the aggregating it works as expected

![image](https://user-images.githubusercontent.com/6460571/76682267-364a5e80-6603-11ea-9766-0d6bc730e177.png)

[2020-03-14 22:30] xet7 commented on #10881
Currently building Meteor-based Wekan takes about 30min to 1h.

What would it take to change from Meteor's Javascript based builder to Go-based esbuild?
https://github.com/evanw/esbuild/

How does Meteor's current way to build bundle check all dependencies, minify code, etc?

[2020-03-14 22:33] xet7 commented on #10881
Current bundle of Wekan contains about 30k files.

[2020-03-14 22:36] zodern commented on #10881
@xet7 is that for `meteor build` or `meteor run`? If you are willing, it would be helpful if you could share the output from running it with `METEOR_PROFILE=100` set.

[2020-03-14 22:39] xet7 commented on #10881
It's from meteor build. I'll try to capture output and add it.

[2020-03-14 23:57] xet7 commented on #10881
@zodern

Wekan uses Meteor 1.10.1.

I do build this on KVM VM that is running on bare metal NVME disk. KVM VM has 32 GB RAM and 20 CPU cores, and Ubuntu 19.10 64bit.

Those dependency security messages is because GitHub is warning about acorn and minimist packages. I will try later again to upgrade those dependencies.

First I install newest Node 12.x and npm with n.

Then I install other build de

[2020-03-15 00:04] xet7 commented on #10881
According to Google search "3,243,448 ms to minutes" the amount of time used is 54 minutes.

[2020-03-15 00:08] xet7 commented on #10881
Directory `wekan/.build/bundle` is total 401.5 MB that contains 57129 files.

[2020-03-15 00:37] zodern commented on #10881
It seems to be the same cause as for the slow rebuilds with Wekan reported in #10943.  Almost 52 minutes are spent by `coagmano:stylus`.

[2020-03-15 00:57] xet7 commented on #10881
@zodern

Thanks! Now building Wekan takes only 3 minutes.

[2020-03-15 01:00] mhlmhl commented on #8721
I've run into this issue several times, where it says "... just run `meteor update --all-packages`" so I do that and then it just repeats the same message again. Each time, I've wasted my time googling the issue.  I think the message should be suppressed.  If the packages are up-to-date with respect to the installed version of Meteor, then I already have the current packages and I should not be to

[2020-03-15 21:44] santiagopuentep commented on #10930
Getting the same error here. I can't update or create any Meteor project in Windows. Only one already created project in Meteor 1.8.1 works.

[2020-03-16 02:38] trusktr commented on #10906
I found the following tool, which may serve as a good example (if not give us some re-usable code to build from) on how to generate import maps from Node.js-based projects using Node's module resolution rules: [@jsenv/node-module-import-map](https://www.npmjs.com/package/@jsenv/node-module-import-map).

One particular thing to note about Node.js ESM: The only way (out of the box) to import a Commo

[2020-03-16 09:10] #10900 closed

[2020-03-16 23:26] mariusrak commented on #10881
Well, but that's totaly different issue than my case. My problem is with windows and meteor run. Can we look into that, please?

[2020-03-17 04:21] cfnelson commented on #10966
@zhe1ka Not sure if this will solve your issue, as I'm not sure if your question is asking for:

1. A different syntax for querying ObjectID's directly on Meteor mongo rawCollections or;
2. How can I access the raw npm mongodb driver's ObjectID instead of Meteor's own ObjectID's implementation which is implemented using the meteor/random pkg and doesn't behave exactly the same as the MongoDB nodej

[2020-03-17 08:07] wreiske opened #10968 "Unable to upgrade to 1.10.1 release due to oauth constraints"
Hello!

I saw the 1.10.1 release is available to test and went to give it a try... Release updates are painful on Windows :(. Takes about 3 minutes on my MacBook Pro and 30+ minutes on my Windows machine. I ultimately always end up killing node.exe the first go around and re-run the commands to update and it seems to go through better the second time?

Anyway, I'm stuck here:
[code]

I'm trying to

[2020-03-17 12:40] townmulti commented on #10884
@nosizejosh Did you figure this out?

[2020-03-18 02:46] guanzo commented on #7853
@NitroBAY did you ever figure this out? I'm testing an offline page and the sockjs errors are really annoying, they fill up the console with errors and it's just distracting.

[2020-03-18 12:36] koolamusic opened #10970 "Error not thrown on invalid Meteor Call"
Meteor Version 1.9.0
Linux

When I call a meteor method example `todo.insert` instead of `todos.insert` There is no error shown either via console, this way if a submission fails, logging the reason for the failure would be ideal.

Sometimes it may not be easy to tell that the wrong method is being called. I don't know if this has been solved or maybe I am wrong. It would be good to know how to ha

[2020-03-18 13:42] meggarr opened #10971 "Replace fiber with async/await"
Since the `async/await` is already in ES8, shall the `meteor` replace the `Fiber` in its implementation with native `async/await` ?

[2020-03-18 14:16] Urigo commented on #10784
no stale.

I believe @ardatan gave a couple of possible solutions, can someone decide and offer one of them?
https://github.com/meteor/meteor/issues/10784#issuecomment-555361241

[2020-03-18 21:42] jamesgibson14 commented on #10928
This happening to me as well, I can't install fibers. It seems that MacOs Catalina does not have the correct build tools for node-gyp.  I have tried following the steps here and the tests pass but I still can't install meteor fibers, id `meteor npm i` fails.
Side note: I did successfully install a Beta of Meteor 1.10 a couple of weeks ago, I am pretty sure it was before my upgrade to Catalina.

[2020-03-19 11:33] MatthewLawCandB opened #10973 "NetInfo has been removed from React.Native"
- [ ] Meteor 1.9.3
- [ ] Running on Windows 10
- [ ] When attempting to call the Meteor.connect Function I get the following:

after following the steps from this stack overflow: [Meteor.connect throwing error in React Native (Version 0.61.5)](https://stackoverflow.com/questions/59362607/meteor-connect-throwing-error-in-react-native-version-0-61-5) it resolves the issue.

Could this not maybe be r

[2020-03-19 13:02] pmogollons commented on #10973
I think you are posting the issue in the wrong place. This issue should belong to the package you are using with react-native.

With that said, there are multiple up to date options you can use.

https://github.com/ricaragao/react-native-meteor
https://github.com/pmogollons/react-native-meteor

[2020-03-19 16:03] irafunesta commented on #10915
Has anyone ever had this bug ?

[2020-03-20 06:11] MatthewLawCandB commented on #10973
Apologies

[2020-03-20 06:11] #10973 closed

[2020-03-20 08:27] aliogaili commented on #10225
Stepping back a bit, I think the request here it allow Meteor to act as API backend only. Perhaps we've a skeleton apps that allow bootstrapping DDP API and GraphQL API with account features (and collection/mongo server only if DDP is used).

If my understanding is correct, it is possible today to have Meteor act as backend only with minimal flag, but the issue is with third party packages injecti

[2020-03-20 10:34] #10907 closed

[2020-03-20 11:35] perbergland commented on #10555
Adding a comment to unstale it. Nothing has improved, still an issue

[2020-03-20 12:32] filipenevola commented on #10878
Hi @AleF1 please try Meteor 1.10.1 as on it Cordova is up-to-date 😉

[2020-03-20 12:33] filipenevola commented on #10809
This was delivered in Meteor 1.10.1

[2020-03-20 12:33] #10809 closed

[2020-03-20 12:34] #9548 closed

[2020-03-20 12:35] filipenevola commented on #7675
Please re-open if this is still affecting anyone.

[2020-03-20 12:35] #7675 closed

[2020-03-20 12:37] xpressabhi opened #10974 "Pls update useraccounts-core to use latest roles and jquery."
No error.
It's not broken.
Just need some old packages to be replaced with new ones.

<img width="598" alt="Screenshot 2020-03-20 at 6 04 02 PM" src="https://user-images.githubusercontent.com/3841160/77164105-8f1f6880-6ad5-11ea-9ec5-413ea1d9c2c2.png">

[2020-03-20 12:44] filipenevola commented on #10974
Hi @xpressabhi are you sure these versions are coming from accounts-core packages?

Could you run `meteor list --tree` in your project to check where these versions are coming from?

Thanks

[2020-03-20 13:01] radovansurlak commented on #10850
Hey there guys, I have had a very similar issue with Meteor v1.10 on MacOS 10.13.6

My CPU has been running over 100% nearly constantly in development without having opened my app in the browser.

Installing and rebuilding fsevents didn't help me.

I downgraded to Meteor 1.8 (`meteor update --release 1.8`) and my CPU usage dropped from over 100% to about 13%.

Hope this can help in some way.

I li

[2020-03-20 13:02] filipenevola commented on #10915
Hi, I've checked your code and you have a lot of packages there, maybe one of these packages are causing the issue because this is not a Meteor issue as you can see your other app is working fine and if I create a new app it's also working fine. My advice would be for you do remove the packages one by one to check if the reactivity return to work fine.

If you can create a reproduction in a new pr

[2020-03-20 13:02] #10915 closed

[2020-03-20 13:07] filipenevola commented on #10968
Hi @wreiske, it seems that q42:accounts-microsoft and bluehive:linkedin-oauth are also using old versions.

Were you able to solve this issue in your project?

[2020-03-20 13:08] xpressabhi commented on #10974
Not all the packages depend upon useraccounts-core but jquery.
jquery old version is dependent upon kadira-blazelayout and core
<img width="434" alt="Screenshot 2020-03-20 at 6 35 42 PM" src="https://user-images.githubusercontent.com/3841160/77166258-efb0a480-6ad9-11ea-99a0-e3745670b476.png">
<img width="357" alt="Screenshot 2020-03-20 at 6 38 24 PM" src="https://user-images.githubusercontent.com/

[2020-03-20 13:11] filipenevola commented on #10904
I've published markdown@1.0.13.

[2020-03-20 13:11] #10904 closed

[2020-03-20 14:50] zodern commented on #10850
I am working on a change that has a side effect of fixing this, but it will probably be a few days before it is ready. It seems Meteor 1.8.3 removed some checks that prevented watching files in node_modules.

[2020-03-20 16:30] radovansurlak commented on #10850
Thank you a lot :)

[2020-03-20 17:11] AleF1 commented on #10878
We have updated to 1.10.1 but now we face a different issue (again only with cordova)

[code]

I suppose there's something missing in the appendConfig. This is from my mobile-config:

`App.appendToConfig('<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android"><application android:usesCleartextTraff

[2020-03-21 12:29] #10910 closed

[2020-03-21 16:59] sabatale opened #10975 "[WIN10] promise_server.js:218 throw error;"
Windows 10 Pro (Version 10.0.18363 Build 18363).

I'm trying to get around the Windows install of Meteor but I get the following error - note that I have very limited knowledge of Meteor:

[code]

Is there any way you can help me clarify the issue? I've tried reinstalling the whole thing (always through Chocolatey) but can't seem to fix the problem. I've also downloaded the archive "meteor-bootstr

[2020-03-21 18:48] ostrolucky commented on #10923
.

[2020-03-22 14:22] townmulti commented on #10884
Anyone coming here for a likely solution should look into where the compiling fails. In the example above, it fails when node is compiling `fibers@1.0.15 install` so I found that fibers verison 1.0.15 is not compatible with the currently used version of node so it crashes. The version of fibers use at this compilation or package will need to be upgraded to be compatible with the node version used.

[2020-03-22 20:37] #10885 closed

[2020-03-23 13:31] david-soyez opened #10977 "meteor 1.5 build issue: SyntaxError: Unexpected token {"
Meteor 1.5  build issue brought me here.
Can you block tough-cookie to the previous version so that my meteor 1.5 and 1.4 apps build properly?

[code]

https://github.com/salesforce/tough-cookie/blob/master/lib/cookie.js#L40
`const { fromCallback } = require("universalify");`

[2020-03-23 13:46] #10977 closed

[2020-03-23 15:01] hassansardarbangash opened #10978 "(node:18136) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead."
I just updgraded Meteor from 1.8 to 1.10.

Suddenly I am getting this error on my server console:

`(node:18136) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.`

My application is working fine though.

Is this something I should worry about?
Or how can I fix this?

[2020-03-23 17:03] AlexSterk opened #10979 "[Windows] 7Zip cannot extract dev_bundle due to spaces in filepath"
- Meteor version: 1.10.1, although this bug seems rather independent from any Meteor version. Commit: 80359f0b2d0ce7edc5fc18170459d2237d78b32b
- Operating System: Windows 10 Pro Version 1909

Basically the title. Because there is a space in my file path, 7zip can't find the dev_bundle tar that was just downloaded. I have to manually extract it to get meteor up and running. I've narrowed the issue

[2020-03-23 20:27] sakulstra commented on #10894
@raphaelarias did you ever figure out what is wrong? i'm actually running into the same error using your https://github.com/EducationLink/meteor-google-cloud library :sweat_smile:

[2020-03-24 00:13] iamstevendao commented on #10894
Hi guys, so the `bad option` error only throws when we check for the version of npm and node (`meteor npm -v --allow-superuser` and `meteor node -v --allow-superuser`), which it didn't happen before `1.9`.
@sakulstra Currently workaround is to pass `--node-version` and `--npm-version` to `meteor-google-cloud` `v1.2.0`.

[2020-03-24 16:53] p3pp8 opened #10983 "Server-side typescript scripts inside imports folder don't trigger server rebuild/refresh."
Hello, this issue is really easy to reproduce, it happens only with .ts resources. If from server/main.ts you import any server-side script from a imports named folder and update the code inside the script, Meteor will rebuild/refresh only client-side, if you take instead the same script, rename it to .js and try again, Meteor will rebuild/refresh both client-side and server-side resources and thi

[2020-03-24 21:44] renanccastro commented on #10878
@AleF1 can you share your entire mobile-config with us?

[2020-03-24 21:48] AleF1 commented on #10878
@renanccastro Sure! Here you go (personal info omitted)

[code]

[2020-03-24 22:16] leocavalcante commented on #5438
Just got it, I solved by force quitting the process.  So things like restarting the computer should work as well...

[2020-03-24 22:18] asafratzon opened #10984 "Meteor Incompatible with Google Cloud Storage"
Hi all.

### General Description
Getting build warnings + blank screen on old mobile devices when using Meteor + Google Cloud Storage services. I run Meteor v1.10.1 (OSX) but as far as I can tell this bug was around in older Meteor versions as well.

### How To Reproduce
There are 2 different ways to access Google Cloud Storage from node.js:
1. With @google-cloud/storage library:
It's enough to ru

[2020-03-25 01:13] emaciel10 commented on #5712
@aliogaili did you ever resolve this issue on ie11? We are seeing this same issue right now and struggling to find a fix for it.

[2020-03-25 06:10] xpressabhi commented on #10974
Either update jquery to the latest version or make it npm dependent like Blaze.

[2020-03-25 06:14] xpressabhi commented on #10974
Currently jquery is bundled twice 1 for Blaze(jquery 3.0.0) and 1 for useraccounts-core(jquery 1.11.11).

[2020-03-25 10:01] andreasemprebon opened #10985 "[1.10.1] [1.10.2] [Windows] Running "npm install" inside "bundle/programs/server" fails"
Good morning,
As the title said, running the command `npm install` inside `bundle/programs/server` fails.

<details>

<summary>Full error log</summary>

[code]

</details>

<details>

<summary>Shorter error log</summary>

[code]

</details>

I've traced down the error to when `npm-rebuild.js` tries to rebuild `npm`.

The error disappears if I change the file `npm-rebuilds.json` from
[code]

to

[c

[2020-03-25 11:29] kakadais commented on #1587
@llvasconcellos I believe that you can always run away from this meteor world or othes as well bro.

[2020-03-25 11:32] kakadais commented on #1587
@glasser I'm wondering that the idea of CRUD in client is just for making it easy for newbie? I thought that could be a new approach and one of the good idea to build an application if we could care the security things more. I just want to know we have to stop to use it on the security perspective.

[2020-03-25 13:53] joaomframos opened #10986 "Meteor start up crash with AppCache and "--exclude-archs web.browser.legacy""
Updated a Meteor app from 1.9.2 to 1.10.1 and now the following error is happening:

![image](https://user-images.githubusercontent.com/10920050/77543859-2c94e680-6ea0-11ea-8eb4-fa6d99883d66.png)
AppCache package is with version 1.2.5
Only occurs with '--exclude-archs web.browser.legacy' enabled.

[2020-03-25 16:23] llvasconcellos commented on #1587
@kakadais I did it! And I'm glad I did. Also, still mad with the time wasted on this piece of software.

[2020-03-25 18:43] kakadais commented on #1587
@llvasconcellos Congrats for you- but I want to carefully warn you that there's no best or worst tech in the world, but only appropriate tech with smart enough person to know where and how to use ;)

[2020-03-25 19:00] llvasconcellos commented on #1587
@kakadais I disagree. Some people are smart enough to understand that some techs aren't worth the effort.

[2020-03-25 19:08] kakadais commented on #1587
@llvasconcellos KKK Yeah but first of all, we don't call the people  'smart' who said that 'smart' to himself  bro ;) Nice to have a conversation- bye-

[2020-03-25 21:18] sebakerckhof commented on #10986
Hmm, there's a check for that:
https://github.com/meteor/meteor/blob/devel/packages/appcache/appcache-server.js#L268

But it seems that 1.2.5 is not the latest code.

@filipenevola can you publish a new version of appcache?

[2020-03-25 21:23] evolross commented on #10974
Try doing a `meteor add jquery@3.0.0!` and that will use whatever version of `jquery` you install with `meteor npm` and not bundle it twice. It relaxes all the pre-3.0.0 requirements of your meteor packages.

[2020-03-26 01:25] xpressabhi commented on #10974
Thanks
Yes, now it bundles only one jquery.

Still, I feel all the community packages should be updated once in a while to the latest dependencies.

[2020-03-26 19:57] hassansardarbangash opened #10987 "Exception in HTTP response when error status code"
How do I get HTTP status code in case of 401?

Here is my code:

[code]

In case of error i get this exception:

[code]
How can I get error status code from this?

[2020-03-26 20:26] filipenevola commented on #10735
Meteor 1.10.1 uses Swift 5.

[2020-03-26 20:42] filipenevola commented on #10968
I'm closing this as I didn't receive an update.

[2020-03-26 20:42] #10968 closed

[2020-03-26 20:45] wreiske commented on #10968
Sorry, I hadn't had a chance to test. :'( I'll re-open if I find more detailed information for you. Thank you!

[2020-03-26 21:13] filipenevola commented on #10876
Hi @afrokick and @pmogollons could you try Meteor 1.10.2-beta.0 using this new option to set Mongo options https://github.com/meteor/meteor/pull/10976?

Check the docs to understand how to use it https://github.com/meteor/docs/pull/662/files

[2020-03-26 21:19] #10986 closed

[2020-03-26 21:19] filipenevola commented on #10986
Hi @sebakerckhof, it's done. Published appcache@1.2.6.

[2020-03-26 21:21] filipenevola commented on #10987
Hi @hassansardarbangash, did you try to use a `try/catch` block around your `HTTP.call` code?

[2020-03-26 21:25] hassansardarbangash commented on #10987
@filipenevola This is what I get in catch too. Its the same for asynchronous too

[2020-03-26 21:26] filipenevola commented on #10974
As `meteoraccounts:bootstrap` is [not](https://github.com/meteor-useraccounts/bootstrap) a core package I don't have a way to update it.

[2020-03-26 21:26] #10974 closed

[2020-03-26 21:27] filipenevola commented on #10987
Maybe I'm not understanding your issue, the `statusCode` is in your error object.

[2020-03-26 21:29] filipenevola commented on #10987
Let's proceed with this in the forums https://forums.meteor.com/t/get-http-error-status-code/52239/3

[2020-03-26 21:29] #10987 closed

[2020-03-27 02:02] xpressabhi commented on #10974
The question started with useraccounts-core package.
<img width="334" alt="Screenshot 2020-03-27 at 7 31 25 AM" src="https://user-images.githubusercontent.com/3841160/77713684-020c7000-6ffd-11ea-9143-1096b916b441.png">

[2020-03-27 02:41] hexsprite commented on #10974
@xpressabhi you've opened this issue on the wrong tracker, useraccounts is not part of Meteor core.

[2020-03-27 02:49] flean opened #10988 "ecmascript@0.14.3"
Going from ecmascript@0.14.2 to ecmascript@0.14.3 creates this bug in iOS
right after App Start
`Could not signal service com.apple.WebKit.Networking: 113: Could not find specified service`

[2020-03-27 10:18] joaomframos commented on #10671
Sorry @filipenevola for the poke, but are there any updates regarding this?
I would like to at least know if there are any plans to address this issue.

[2020-03-27 19:44] filipenevola commented on #10974
Yeah, this would be the right repo https://github.com/meteor-useraccounts/core

[2020-03-27 19:53] filipenevola commented on #10988
Hi @flean I have tested on a new app running `ecmascript@0.14.3` and it's working fine on iOS, I have tested on Safari directly as a web app and also as a native app.

Could you please provide a reproduction or more details about how are you getting this error and why do you think this is because of `ecmascript@0.14.3`?

[2020-03-27 19:59] filipenevola commented on #10671
Hi @joaomframos I would be glad to review your PR about this.

[2020-03-28 06:06] arggh opened #10989 ""Exception while polling query""
This morning I returned to my laptop and noticed this error in the terminal (I always leave Meteor running for the night in dev mode...):

```Exception while polling query {"collectionName":"galleryItems","selector":{"userId":"32BJgsbFQrRDD24oz","galleryId":"myedCXbeLeBX7Ccxz","status":1},"options":{"transform":null}} MongoError: Cursor not found, cursor id: 396014238069```

I've never seen this e

[2020-03-28 12:27] longyarnz opened #10990 "App lags after updating to meteor 1.10.1"
I noticed a slight change with meteor build performance in the latest version 1.10.1. The app rebuilds faster especially with --exclude-args but it loads slower on the browser. Simply clicking refresh on the browser while the app is fully loaded takes a couple of seconds (~10s). The browser displays a blank screen during this time, there are no files loaded and no requests on the network tab until

[2020-03-28 12:27] longyarnz commented on #10990
I downgraded to 1.8 and the issue was gone. The speed of the app in the browser was back to normal.

[2020-03-29 07:36] KoenLav commented on #10990
Could you take a look at the size of all the JS files which are sent (from the network tab in Chrome)?

[2020-03-29 07:44] longyarnz commented on #10990
Sure

[2020-03-29 07:55] longyarnz commented on #10990
It's 32.7MB

It takes a considerable amount of time to paint anything on screen which was not so in the previous version.

[2020-03-29 07:59] KoenLav commented on #10990
And I assume 1.8 it is less? (Which version of 1.8 btw?)

This may be related/similar to: https://github.com/meteor/meteor/issues/10712

[2020-03-29 08:04] longyarnz commented on #10990
Yeah, 1.8.1

[2020-03-29 08:08] longyarnz commented on #10990
I'll comb through the app for destructured imports

[2020-03-29 08:28] longyarnz commented on #10990
Yeah, I found a couple of destructured imports from material-ui icons. I removed them and the app loads fine 😀
Thank you very much @KoenLav

[2020-03-29 08:28] MastroLindus commented on #10939
not stale

[2020-03-29 08:34] KoenLav commented on #10990
Great to hear.

This does mean that issue has reappeared on 1.10 or it was never really fixed.

[2020-03-29 09:01] longyarnz commented on #10990
I hope it gets fixed. I am new to meteor and I never would have found this if you didn't point it to me. I can safely close this now.

[2020-03-29 09:18] KoenLav commented on #10990
@longyarnz let's keep this open because this should be fixed in Meteor.

[2020-03-29 09:20] longyarnz commented on #10990
OK

[2020-03-29 16:02] flean commented on #10988
Yes, I’ll see how to reproduce. When I load the app in Xcode and run the simulator it just stays stuck. If I roll back it all works.

[2020-03-29 16:44] hexsprite commented on #10941
Not stale

[2020-03-29 20:36] #10871 closed

[2020-03-30 00:43] ninefivetwo commented on #10712
This worked for me too.
I experienced the same issue when updating from 1.8.1 -> 1.8.2. Same thing when updating to 1.10.1.
It is more of an issue with loading time rather not rendering the icon.
I feel the issue is more prominent in larger projects.

[2020-03-30 04:44] eugle opened #10991 "Verification failed while extracting reify@0.20.12"
meteor 1.10.1 Error deploying pm2 in docker:
![image](https://user-images.githubusercontent.com/24447931/77875870-01d1d600-7284-11ea-9ac9-ab803ce7b96f.png)

The server is in Hong Kong, China

node version
![image](https://user-images.githubusercontent.com/24447931/77876036-74db4c80-7284-11ea-9b90-76ed89ad0a48.png)

[2020-03-30 07:13] DavidSichau opened #10992 "Meteor less package outdated"
I have some issues with the meteor less package:

1. It is quite outdated compared to less.js. This leads in our case to some problems with antd4 which requires some features available in less 3.7.0 or later. The new math mode.

2. I do not find the current location of the less package in meteor. All links point to /packages/less. However in the current develop branch this is missing. Where did it

[2020-03-30 11:49] DavidSichau commented on #10992
I have created an new version with less 3.11.2:

https://github.com/DavidSichau/meteor-less

If there is an interest, I could merge my changes into the official meteor less package.

[2020-03-30 11:58] vishalsevani opened #10993 "ssh timeout"
In my application I do following operation. Via node-ssh library, I open parallel ssh connections. I use async library’s async.parallelLimit to schedule asynchronous parallel ssh connections.

For the following values, ssh timeout as 20 secs and number of parallel ssh connections as 200 with meteor 1.8.0.2 and using node v8.11.4 on my production deployment, my application works properly. For the s

[2020-03-30 20:01] filipenevola commented on #10989
Hi, I believe you don't have a way to reproduce this, right?

So I think it would be better to close it for now and we can check later if more users report the same issue in the future.

[2020-03-30 20:01] #10989 closed

[2020-03-30 20:04] filipenevola commented on #10990
Hi @KoenLav I'm not sure if I understand what is the issue to be fixed here.

Could you clarify?

[2020-03-30 20:07] #10103 closed

[2020-03-30 20:07] KoenLav commented on #10990
@filipenevola Meteor should not take 10 seconds to load when using destructuring imports?

Also the original issue I linked mentions that this should be fixed, but it appears not to be.

[2020-03-30 20:08] KoenLav commented on #10990
I think the minimal repro listed there might not cause the issue to surface (as soon)?

[2020-03-30 20:14] filipenevola commented on #10103
Published mongo@1.9.1.

[2020-03-30 20:21] filipenevola commented on #10991
Hi, have you tried to remove your node_modules cache and rerun it?

Also, I see your `npm install` is not prefixed by `meteor` what can lead to different versions of npm being used. Any reason to run npm directly instead of `meteor npm install`?

[2020-03-30 20:23] filipenevola commented on #10992
Hi @DavidSichau, Meteor less package is here https://github.com/meteor/meteor/tree/devel/packages/non-core/less

Please submit a PR updating it. Thanks.

[2020-03-30 20:37] filipenevola commented on #10990
Correct me if I'm wrong but I think what is happening, as Meteor does not have tree-shaking yet, is that when you import with destructuring the `material-icons` you are importing all the icons and then it's making the client bundle huge and that is adding this delay.

In my Meteor apps, I use `material-icons` but as I don't want to have a huge client bundle I'm always using direct imports for each

[2020-03-30 20:49] KoenLav commented on #10990
@filipenevola yeah, you're missing the fact that this worked fine in Meteor 1.8.1 and before but was somehow broken in 1.8.2.

Also when I take a normal webpack setup, without tree shaking, and use destructured imports it does cause a large bundle but no significant delay.

[2020-03-31 06:44] DavidSichau commented on #10992
Hi @filipenevola

thanks for pointing to it. I have created an pull request:

https://github.com/meteor/meteor/pull/10995

Thanks a lot.

[2020-03-31 16:21] #10979 closed

[2020-03-31 18:04] benjamn commented on #10984
Thanks for the detailed and easy-to-follow writeup @asafratzon! However, I'm not having any luck reproducing the warning, and I can successfully log the `Storage` and `admin` variables from `server/main.js` at application startup.

Just to be completely sure, what version does `meteor --version` print when you run it inside your application directory?

[2020-03-31 18:51] #10804 closed

[2020-03-31 20:23] BrianMulhall commented on #10992
@DavidSichau i tried to update this version recently, but couldn't get test group 3 and 8 to pass for some reason. the lru-cache node package that the caching-compiler atmosphere package relies on fails during testing. did you run into this problem too? i couldnt figure out what was causing it to fail

[2020-03-31 22:13] nathanschwarz opened #10999 "multiple apps on the same server: reversed proxy and meteor ressources"
Hi there,

I have 2 meteor apps on the same server.
I Have issues when I try to setup the reversed proxy for the 2 apps.

`BASE_URL` is set to `DOMAIN/auth` for the first app and `DOMAIN/customer` for the second.

I can't reach the meteor js resources because meteor set the files to the ROOT URL `/bdd878cac7f60606b37d6497341552599f743a9e.js?meteor_js_resource=true` instead of `/customer/bdd878cac7

[2020-03-31 23:14] Wade-BuildOtto opened #11000 "Updated to 1.10.1 - broke IOS"
I updated the project from 1.8.3 to 1.10.1 and updated the packages to their compatible state, run it in the browser with no errors, but when I go to test it on simulator via ios-device via Xcode it just loads to a black screen, and errors all over the place.

some of these should of come up if their were problems with the packages in the browser.

[Error] Error: Cannot find module '@babel/runtime

[2020-04-01 01:38] FishSaidNo commented on #10704
@sebakerckhof Thanks for that. Seems `BrowserPolicy.content.disallowEval()` overwrite only applies when called within a Meteor.startup block, which isn't mentioned in the browser-policy docs.

[2020-04-01 05:28] eugle commented on #10991
Thank you for your reply. I used NPM when the server was deployed, and there was no meteor installed on the server，It's actually a production server deployment

[2020-04-01 05:49] DavidSichau commented on #10992
@BrianMulhall I saw this error if an error occured in the `loadFile` methode. For example by not finding the file.

[2020-04-01 10:00] SimonSimCity opened #11001 "Throwing an error in Meteor method reports "TypeError: stack.startsWith is not a function" on the console"
We currently see the following message on our console if a syntax-error is thrown by node inside a method:

[code]

It seems to be related to https://github.com/nodejs/node/issues/30572 which is a node internal error - which should've been resolved in Node `v12.14.1`, according to the changelog - https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V12.md#2020-01-07-version-12141-er

[2020-04-01 11:25] SimonSimCity commented on #11001
Fixed by updating to Meteor `1.10.1` which - despite not being mentioned - updates NodeJS to `v12.16.1`.

[2020-04-01 11:25] #11001 closed

[2020-04-01 15:16] SimonSimCity commented on #11001
I have to be fair - the update is mentioned as part of the Meteor release `1.9.1` and `1.9.2` ... I just haven't been awake enough to see it 🙈

[2020-04-01 18:59] BrianMulhall commented on #10992
@DavidSichau i wasnt on the right track to fix that bug ... I am glad you came along and fixed it tho and showed me how you did it :) great work man

[2020-04-01 22:41] asafratzon commented on #10984
Thanks a lot @benjamn !

I just looked into it again and seems like you're right - printing the variables from server/main.js doesn't reproduce the warnings. You helped me notice that this issue occurs only if some file that is also required by the client is importing something from the Google Cloud Storage init file.
I hope you could have some advice on my use case, which I think is fairly common

[2020-04-02 09:08] Pagebakers commented on #10881
I'm running into the same issue while trying to deploy our app after upgrading to 1.8.2+ (tried all versions up to 1.10)

babel/ecmascript packages are updated as suggested.

Up to 1.8.1 is working just fine.

Any ideas?

[2020-04-02 09:53] vlasky opened #11004 "Mongod won't start under CentOS 7 after 1.10.1 update"
Hiyas,

My development environment is running CentOS 7 with the latest kernel.

I just updated a project from Meteor 1.9.2 to 1.10.1. When I start meteor, mongod fails with the following error:

[code]

It seems that the Mongod binary in the Meteor 1.10.1 package was compiled with a more recent version of GCC/GLIBC than the one used in CentOS 7 (and RHEL 7).

I suspect that a new Meteor minor upda

[2020-04-02 13:55] Twisterking commented on #8998
I just updated to Meteor 1.10.1 and Xcode 11.3.1.
When I run `meteor build` I end up with the same error:
[code]
Any help? 😄

[2020-04-02 15:01] brucejo75 opened #11005 "[1.10.1 Cordova Android] call to App.appendToConfig crashes cordova build"
Cannot build android build for my project on Meteor v1.10.1.  Error is cannot find cordova-module.

Any tips or pointers for other areas to investigate are welcome.  Thanks!

### Environment:
- Meteor v1.10.1 (worked for Meteor v1.9.3)
- OS: MacOS v10.14.6

### What happened
I upgraded to v1.10.1 and I am no longer able to build the android platform.

This apparently only happens in my environment

[2020-04-02 15:14] filipenevola commented on #11000
Hi @Wade-BuildOtto, Node.js was also updated in Meteor 1.9, could you try to remove your node_modules and run `meteor reset` to ensure you don't have old binaries?

[2020-04-02 15:46] smeijer commented on #10677
Can someone who's running 1.10 confirm that this has indeed been fixed?

[2020-04-02 15:57] gbhrdt commented on #10677
With Meteor 1.8.1 we had regular CPU Spikes to 100% lasting forever and resulting in a crash.
I can confirm that we do not have these anymore after upgrading from 1.8.1 to 1.10. I'm not sure if it's because of this fix or just because of the updated node version in 1.10.

[2020-04-02 16:42] Wade-BuildOtto commented on #11000
worked well now down to just one error,

Error: Cannot find module '@babel/runtime/helpers/createSuper'

[2020-04-02 20:00] micktaiwan commented on #5123
I can reproduced it - METEOR@1.10.1

[2020-04-03 00:34] brucejo75 commented on #11005
I created a repro. (Also discovered that the call to `App.appendToConfig` causes the problem.

Find the repro repo here: https://github.com/brucejo75/issue_11005. 😸

### Instructions:
1. `git clone https://github.com/brucejo75/issue_11005`
2. `cd issue_11005/repro`
3. `meteor build ../build --directory --debug --server https://foo.com`

<details>
<summary>Result</summary>

[code]

</details>

###

[2020-04-03 11:06] afrokick commented on #11000
@Wade-BuildOtto did you try `meteor npm install @babel/runtime@latest` ?

[2020-04-03 13:38] kaju02525 commented on #5266
It's perfect working my side...please guys  uninstall exits app apk than install.

[2020-04-03 15:34] dandv opened #11006 "Wrong year on the blog"
Not sure where to report this random issue, but the year on this [old 0.5.1 announcement is 2013](https://blog.meteor.com/meteor-0-5-1-database-scaling-9a98279abaa9), when [in reality it was 2012](https://docs.meteor.com/changelog.html#v05120121120).

[2020-04-03 18:07] Oyshoboy commented on #6091
++++++1

[2020-04-03 20:51] claudiosdc commented on #10803
I am also experiencing this issue ever since I have upgraded my development meteor environment from version 1.8.1 to version 1.9. I am currently using Meteor version 1.10.1 on macOS 10.15.4 and the issue persists.

I was doing some research and found out that the issue was introduced when the "shell-client.js" module has been converted to TypeScript generating the new "shell-client.ts" module. Her

[2020-04-03 23:33] #10988 closed

[2020-04-04 00:59] Wade-BuildOtto commented on #11000
that worked thanks for all the help.

[2020-04-04 00:59] #11000 closed

[2020-04-04 02:10] pgiani commented on #11004
Did you follow the migration steps?

Migration Steps
If you get Unexpected mongo exit code 62. Restarting. when starting your local MongoDB, you can either reset your project (meteor reset) (if you don't care about your local data) or you will need to update the feature compatibility version of your local MongoDB:

Downgrade your app to earlier version of Meteor meteor update --release 1.9.2
Start

[2020-04-04 02:38] vlasky commented on #11004
@pgiani the steps you describe are for addressing a different problem.

[2020-04-04 08:39] #10909 closed

[2020-04-04 09:59] cesarve77 commented on #5123
Did you try to upgrade meteor version?

at least 1.10.last?

[2020-04-04 12:39] MarceloPrado commented on #10613
@afrokick I just had a conversation with Filipe and we're going to review some of the opened PRs related to typescript conversion (there about 10 of them right now).

I don't really know the priority of converting to TS, but count on me to drive this effort a little further.
Any help is appreciated!

[2020-04-04 13:16] edemaine commented on #10606
I'm not aware of this being fixed yet. Would appreciate some attention, or some pointers on what I might investigate...

[2020-04-04 15:00] larswolter commented on #10999
You need to specify ROOT_URL for each app independently in their environment.
ROOT_URL=https://DOMAIN/auth for one app and ROOT_URL=https://DOMAIN/customer for the other app.

[2020-04-05 07:39] #10940 closed

[2020-04-05 19:52] micktaiwan commented on #5551
@Elyx0 did you find a solution ?

[2020-04-06 08:06] javascriptlove opened #11012 "Broken links to google-oauth source in atmosphere"
There are links to google-oauth packages in readme, and they are broken (should go to /google-oauth instead of /google)

Here
https://github.com/meteor/meteor/blob/devel/packages/google-oauth/README.md
_Source code of released version | Source code of development version_

[2020-04-07 01:20] vlasky commented on #11004
I did try **meteor reset** to no avail.

[2020-04-07 16:28] edemaine commented on #10606
The same issue arises on the Sea Monkey browser.

[2020-04-07 17:53] klaussner commented on #11004
Sorry about that, @vlasky. The `mongod` binary is compiled with [this Docker image](https://github.com/meteor/mongodb-builder) based on Debian Buster, which uses a newer version of the GNU C Library. I'll try to find a way to link to an older version (hopefully next weekend). 🤞

[2020-04-07 23:56] aas395 commented on #10912
Did anyone ever come up with a conclusive solution to this? I'm encountering this, too

[2020-04-08 03:11] sajhu commented on #10712
@filipenevola take into account that the issue reported is not that it doesn't render, but instead that it is loading the while library

[2020-04-08 06:02] #10945 closed

[2020-04-08 07:45] semtyre commented on #10912
What version of meteor are you using? On which os?

[2020-04-08 11:52] aas395 commented on #10912
I'm using 1.9.3 on Mac Catalina. Let me know if I can provide any other information for you.

[2020-04-08 12:22] vparpoil opened #11014 "meteor create --full references kadira:flow-router"
`meteor create --full` comes with these dependencies in `.meteor/packages` :
[code]
(see [here](https://github.com/meteor/meteor/blob/efeccc85d6c192cfce955423f4db640e330d7d89/tools/static-assets/skel-full/.meteor/packages#L22))

Since [this PR](https://github.com/meteor/guide/pull/834) updates the recommended router in the Meteor Guide to `ostrio:flow-router-extra`, it seems a good idea to update

[2020-04-08 12:55] harrisonhunter commented on #10912
Experiencing this with 1.10.1 and Catalina

[2020-04-08 19:45] npvn commented on #10912
Seems to be an issue in Meteor core. If you don't want to specify `mainModule` and rename the affected directory, one potential workaround is to monitor the directory and generate a random temp file on the server (e.g. `/server/temp.js`) to trigger a server reload every time changes are detected.

[chokidar](https://www.npmjs.com/package/chokidar) works well for this purpose.

[2020-04-08 20:21] menelike opened #11015 "[1.10.1] Broken Cordova plugin resolution"
`METEOR@1.10.1` is not able to build a Cordova application in conjunction with the Cordova plugin `phonegap-plugin-push@2.3.0`.

## Steps to reproduce:
1. Checkout https://github.com/risetechnologies/cordovaTest.git
2. `meteor npm install --production` (dev dependencies are only used for further observations, see below)
3. `npm run reset`
4. `npm run build`

## Details
It seems that the existence

[2020-04-08 21:11] menelike commented on #11015
I just saw that this might be a duplicate to https://github.com/meteor/meteor/issues/11005, closing this for now.

[2020-04-08 21:11] #11015 closed

[2020-04-08 21:15] menelike commented on #11005
@brucejo75

I accidentally created a duplicate to this issue in https://github.com/meteor/meteor/issues/11015 (did not recognize the same error). It provides an additional analysis of the root problem which might help to solve this. I also provided a possible workaround that might temporarily solve your problem.

[2020-04-09 00:52] vlasky commented on #11004
@klaussner thank you. The sooner this can be released, the better for all of us Meteor developers who are using RHEL 7 & CentOS 7 and are blocked from testing and deploying the fix for issue https://github.com/meteor/meteor/issues/10677 resolved in the 1.10 series.

[2020-04-09 00:57] evolross commented on #10913
Freshen.

[2020-04-09 15:09] fjmr68 opened #11016 "accounts_base 1.6.0 error"
File **accounts_server.js,** line ### 1323 cause an exception.

[code]

I think the solution is to replace "services.resume.loginTokens.$" by **"services.resume.loginTokens"**.

_Exception while invoking method 'login' MinimongoError: Minimongo doesn't support $ operator in projections yet.
    at MinimongoError (packages/minimongo/common.js:1087:17)
    at packages/minimongo/local_collection.js:8

[2020-04-09 15:36] brucejo75 commented on #11005
Hi @menelike,

Thanks for the in-depth analysis of this issue.

### Workaround

I attempted:
1. `npm install`
2. exclude call to `App.appendToConfig`
3. `meteor reset`
4. `meteor remove-platform android`
5. `meteor add-platform android`
6. include call to `App.appendToConfig`
7. `meteor build`

**Result**: error still happens ☹️

[code]

[2020-04-09 18:06] menelike commented on #11005
@brucejo75

I just checked out your repo and went through all steps without any issues.
In contrast or to be more precise, I built the app with `meteor build ../output --server=http://foo.bar` but this should not be important.

I zipped the output for further confirmation. [android.zip](https://github.com/meteor/meteor/files/4457864/android.zip)

Can you tell me what you see after the fifth step?

[2020-04-09 18:18] menelike commented on #11016
The change has been introduced in https://github.com/meteor/meteor/commit/413565ba6c5a5a4a8e31f66122c4cc20bd026204

@fjmr68 I could not reproduce this issue, it should happen upon the second visit where the resume happens right? I have tested this with a dedicated MongoDB `v4.0.12`, not sure if this might be the reason since I don't use the MongoDB provided by Meteor.

[2020-04-09 18:28] bolaum opened #11017 "[1.10.1] Project local packages being used by build system (?!)"
Ok, this is a weird one. Somehow, installing a specific package to meteor and to npm dependency makes android build fail. Here goes the steps to reproduce (I'm supposing android tools are properly installed):

[code]

Well, as you can see, only when both `nathantreid:css-modules` and `twilio` are installed, the bug manifests. I noticed `twilio` has a dependency on `q` lib version 2.0.x and `cordov

[2020-04-09 19:17] fjmr68 commented on #11016
Is is a dedicated MongoDB, version .6.4.
[code]

[2020-04-09 19:27] menelike commented on #11016
@fjmr68 This might be exactly your problem.

I don't think that Meteor has any interest in supporting backwards compatibility with older mongo versions. Since Mongo uses `4.2.1` (see https://github.com/meteor/meteor/blob/devel/History.md#v1101-2020-03-12) you should either update your MongoDB to 4.x or downgrade Accounts-Base.

[2020-04-09 19:30] menelike commented on #11017
@bolaum Not sure if this helps, but https://cordova.apache.org/announcements/2019/03/18/cordova-lib-release-9.0.0.html states that   they have dropped `q` (`GH-710 Drop Q Dependency and Use Native Promises`)

As a result, it might not be related to Meteor.

[2020-04-09 19:37] bolaum commented on #11017
@menelike I think the `cordova-android` version that meteor is currently using (8.1.0) still depends on `q`, take a look at the branch: https://github.com/apache/cordova-android/blob/f1f472297af7d3985a5769edd7272222bfd42416/bin/templates/cordova/lib/check_reqs.js#L197

Anyway, I don't think this is necessarily a meteor problem but something is not right somewhere and since it manifested here, we c

[2020-04-09 19:55] fjmr68 commented on #11016
Thank you for your reply. I will upgrade my database.

[2020-04-09 19:59] menelike commented on #11017
You're right, I don't understand why `q` is still used, especially because https://github.com/apache/cordova-android/blob/master/RELEASENOTES.md#800-feb-13-2019 states

[code]

This issue might be related to https://github.com/meteor/meteor/issues/11005#issuecomment-611198592 . I am not an expert in Cordova but I assume that version 9.0 has changed the way how node modules were used.

Do `q` insta

[2020-04-09 20:22] bolaum commented on #11017
Yeah. I don't get it either.

Before the workaround:
[code]
After the workaround (`meteor npm i -D q`):
[code]

Well, at least this I can answer =D The latest version for `q` is `1.5.1` (see https://www.npmjs.com/package/q?activeTab=versions). Twilio forces the future version (https://github.com/twilio/twilio-node/blob/abf3470d89c68f5efbb6eeb811242404ec59762d/package.json#L28).

[2020-04-09 21:04] brucejo75 commented on #11005
Hi @menelike,

Good catch.  I had tried with my full project and it failed.  But with the repro case the workaround succeeded.

With my full project I had clobbered the `local/cordova-build` folder before running `meteor build`, so that is why that failed.

Thanks much for the workaround!!

[2020-04-09 21:19] brucejo75 commented on #11005
@filipenevola, I think this is a fairly high prio bug.  I think this has been dogging me for a couple of years.

I think I just successfully flailed around and found something that worked.  But it has always been very irritating.

 #11015 has a more detailed breakdown of where this issue may be.

[2020-04-09 23:13] javoire commented on #7855
When you google a problem and find your own reply to it :P

For VSCode you can get Meteors "absolute import paths" to work using https://forums.meteor.com/t/vscode-absolute-imports/40278/16

Still have no solution for Vim.

[2020-04-09 23:23] hexsprite commented on #7855
It sounds like a bug in the client if they don't support the official TypeScript solution to support leading slash absolute paths. Personally I think having a leading slash that means the root of the filesystem, as opposed to the root of my source tree, is pretty useless. There's almost no situation I could think of where I would want to embed an absolute filesystem path into a project.

[2020-04-09 23:56] zodern commented on #10850
I opened  #11018 which should fix this.

[2020-04-10 01:28] Giteon commented on #10764
THANK YOU THIS WORKED!

[2020-04-10 02:40] naturom commented on #10850
Thanks Zodern!

I would like to share another finding, remove node modules folder and install again with 'meteor npm install' seems help. We suspect some of our packages is installed via 'npm install'.

[2020-04-10 07:09] radovansurlak commented on #10850
thank you :)

On Fri, 10 Apr 2020, 01:56 zodern, <notifications@github.com> wrote:

[2020-04-10 19:07] anhpt86 opened #11019 "Cannot update meteor 1.4.2.7"
Hi,

I have a project which was built from 2017 and now client wants to reuse it to save time and cost but for some reason, I have to update the meteor for push notification issue.

I tried many times but still get the below issue.

=> Errors while initializing project:

While selecting package versions:
error: Conflict: Constraint babel-compiler@6.8.0 is not satisfied by babel-compiler 7.5.3.
Con

[2020-04-10 19:50] klaussner commented on #11004
This should be fixed by #11020. Until the next Meteor version is released, you can replace `mongod` and `mongo` in your `~/.meteor/packages/meteor-tool/1.10.1/mt-os.osx.x86_64/dev_bundle/mongodb/bin` directory with the binaries from this release: https://github.com/meteor/mongodb-builder/releases/tag/4.2.5.

[2020-04-10 20:03] menelike commented on #11017
Thank you, stupid me 🤦‍♂️

I think someone with some in-depth knowledge of the meteor build system needs to answer this.

What I could observe is the following (logged from `check_reqs.js`):

1. Without `nathantreid:css-modules` installed `module.paths` is:
[code]

and `q` is resolved from `simple-todos-build-error/.meteor/local/cordova-build/node_modules`;

2. With `nathantreid:css-modules` insta

[2020-04-10 21:08] menelike commented on #11017
I just saw that `nathantreid:css-modules` uses 'app-module-path': '1.0.4'.
https://github.com/patrick-steele-idem/app-module-path-node#additional-notes
says:

https://github.com/akanix42/meteor-css-modules/blob/61c22d83698f5f2d8da3170e2085e566bd33dac8/package.js#L19

The last part made me think....

I cloned `nathantreid:css-modules` into `simple-todos-build-error/packages`, updated `app-module-pa

[2020-04-10 21:23] bolaum commented on #11017
@menelike wow! Congrats on the debugging skill =D

I'll try to reproduce your findings tomorrow and will open an issue on `nathantreid:css-modules` repo and refer this thread.

Thanks!!!

[2020-04-11 02:49] javoire commented on #7855
Ok it's all sorted now. [This setup](https://github.com/autozimu/LanguageClient-neovim/wiki/javascript-and-typescript-language-servers#method-2---typescript-language-server) of the language server handles leading slashes, given the appropriate `tsconfig.json` setup mentioned above.

@hexsprite you are right that it's the clients responsibility/fault to handle this.

Cheers

[2020-04-12 08:05] SachaG commented on #10859
I just ran into this, fyi what worked for me was hardcoding the `3.1.0` version in my package.js (`apollo@3.1.0`). Just doing `meteor update apollo` didn't do anything, maybe because the dependency was coming from a package and not from Meteor's own `packages` file.

[2020-04-12 13:27] StorytellerCZ commented on #10913
So what should be the steps here?
Depracate the `http` package with directions to use the `fetch` package?
Then replace any use of `http` in core with `fetch`?

[2020-04-12 14:02] #10613 closed

[2020-04-12 15:49] santiagopuentep commented on #10930
Tried doing a full uninstall and removing temporary files and even many registry entries and still the same issue, can't create of update to higher that 1.8.1.

[2020-04-12 21:23] derwaldgeist commented on #10061
That's a bummer. I just stumbled upon this because a community package is using this. Why are these kind of breaking changes introduced without any need?

[2020-04-13 03:58] #10882 closed

[2020-04-13 11:05] sunyamare commented on #10682
Seeing this in Meteor 1.10.1

[2020-04-13 19:07] brucejo75 commented on #11019
This is more of a question that is appropriate in the forum: https://forums.meteor.com/.  You should close this bug.

To answer your question: try upgrading `angular2-compilers` to the latest release.

[2020-04-14 00:19] sajhu opened #11021 "Error removing cordova plugins on subsequent builds"
When running meteor build for cordova for a second time, sometimes throws the following error. Deleting project/.meteor/local/cordova_build and trying again works everytime, but this adds a lot of overhead development time.

`=> Errors executing Cordova commands:
   While removing plugins
   cordova-annotated-plugin-android,cordova-plugin-googleplus,cordova-plugin-inappbrowser,cordova-plugin-keybo

[2020-04-14 01:43] BrianMulhall commented on #11021
I have seen this too, where I will have to go in an manually delete them from the plugins folder

[2020-04-14 05:47] asafratzon commented on #10984
Well I assume this is not a Meteor issue and have found and published a workaround in my previous comment. Thanks for the help.
Closing issue.

[2020-04-14 05:47] #10984 closed

[2020-04-14 06:29] SachaG commented on #9871
As a quick note in case this helps someone (I just got good old error 62 with Meteor 1.10.1) you can also do the following to dump and restore, assuming you can get your db running:

1. `mongodump -h 127.0.0.1:3001 -d meteor`
2. `mongorestore -h 127.0.0.1:3001 -d meteor dump/meteor`

[2020-04-14 06:53] StorytellerCZ commented on #10560
Do we somewhere track progress on this?

[2020-04-14 08:23] jnurkka commented on #10808
Hi @MarceloPrado,

We're also experiencing both the MongoDB Atlas alert and this issue with method callbacks not getting fired. This cost us hours to debug and we had to write a very ugly workaround to know if the method actually completed successfully..

Did you hear back from the atlas folks? Would appreciate it if you'd share any insights you've gained on this!

[2020-04-14 09:15] iBeACoder commented on #10930
I investigated this issue further and I discovered that while the error output is similar to #10874 it is not the same file. The error that I am facing (and probably @santiagopuentep) is in a different file. The error is in:

`tools/fs/files.ts` **on line 1170**

while the error on #10874 was related to as it provided the same error message, this error is in a different file, and

`sourcemapConsum

[2020-04-14 11:23] AleF1 commented on #10878
I have tried the workaround mentioned in #11005 but still no success. I'm getting the exact same error I mentioned before...

[2020-04-14 11:25] jamesmillerburgess opened #11022 "Bundle size check package"
This is a feature proposal for a new non-core Meteor package to check bundle sizes, and there is already a head-start on it from a file we have in our primary Meteor project: https://gist.github.com/jamesmillerburgess/a16a0c3b789ceba50cbf30a905f49e30

We run it with an npm script in CircleCI to check that the modern and legacy browser bundles don't go over a certain gzipped size. We've been using

[2020-04-14 15:15] MarceloPrado commented on #10808
Yes, sure @jnurkka!
I spent a week digging this issue before having Atlas to help me out.

During this period, I created a workaround that I'm still using on production, it might make sense to share here:

[code]

In the places where our callbacks weren't getting fired we changed native Meteor.call to this workaround.

When I asked Atlas if their oplog behaved differently than mLab, this is what t

[2020-04-14 19:53] dr-dimitru commented on #11014
@vparpoil Let me know if you need help with it, at least I'd be happy to review your PR.
Also, I'm working on removing `kadira:blaze-layout` from docs as FlowRouter Extra has it's own `this.render()` available in every hook.

[2020-04-15 07:49] menelike commented on #11021
I think that this is a duplicate or at least highly related to https://github.com/meteor/meteor/issues/11005.
The Cordova dependency system is completely unreliable right now.

[2020-04-15 23:46] AlanOrtega91 commented on #10990
I also have this problem.
Updated from 1.8.1 to 1.10.1 and loading times whent from 3s max to 1min.
tree shaking material-ui icons was the issue hope this gets fixed.
Meanwhile I'll be importing the icons differently

[2020-04-16 03:43] focus97 commented on #10555
Sentry alerted us about this tonight. Pinging this again to make sure it's not stale.

[2020-04-16 05:03] LaloMores commented on #10712
Wow. Thanks a lot @cvolant . I lost +half a day to this until I found this issue. My project jumped from <5s loading time to > 130s **because of 3 icons**. Dear lord. (and useless stale bot).

[2020-04-16 05:05] LaloMores commented on #10712
This happened to me too when 1.8.3 was out (and I jumped from 1.8.1). Regressed back to 1.8.1 because I didn't find the root cause. Now I finally know.

[2020-04-16 05:36] LaloMores commented on #10990
Same problem.
VERY difficult to spot! (The same does not happen for material-ui/core, or at least I think it does not: I have my code full of @material-ui/core destructured imports).

[This issue](https://github.com/meteor/meteor/issues/10712) stated the original problem.

[2020-04-16 13:43] anantonton commented on #9243
this helped for me too.

[2020-04-16 14:21] renanccastro commented on #10878
@AleF1 Sorry, I can't reproduce your problem...
What I've tested so far:
1. Create a new project with meteor create and add the android platform
2. Try to break the strings.xml file by adding accentuated characters in it
3. Add all the setPreference and appendToConfig you are using to the sample project

None of them made me able to reproduce...
If you want/can, please privately share your project

[2020-04-16 14:21] #10878 closed

[2020-04-16 18:52] lnufnu commented on #10878
@renanccastro I am still seeing the original issue on two machines.
Running
[code]
reproduces it for me. 1.10.1 throws `Asset /cordova.js not found in bundle` like 1.8.1, but has no errors related to Meteor being undefined. I have a 1.8.1 project that will build on this machine.

Will creating a new project with the 1.8 release cause this issue for you? Is there any logging output that would be he

[2020-04-16 23:50] davidjack7 commented on #10878
@renanccastro @filipenevola as @lnufnu mentioned I'm also experiencing similar issues.

I created a brand new meteor project to make sure it wasn't one of the Cordova plugins using meteor create (v 1.10.1), added the android platform and still no results.

This is the log I'm getting from the brand new out of the box meteor create project

macOS Mojave 10.14.6

`I20200417-09:35:39.190(10)? 04-17 0

[2020-04-17 00:49] delki8 opened #11024 "[1.10.1] hot code push doesn't work on android"
### reproduction recipe:

[code]

the browser version will be refreshed as expected but the android app will not

if you open a chrome tab and inspect the app running on android (by typing chrome://inspect) you'll be able to see a few errors:

Those errors disappear if you add a mobile-config.js with the following content:
[code]

After this, the error changes to

~Which I believe to be almost the

[2020-04-17 01:27] davidjack7 commented on #10878
I downgraded the version to 1.8.3 and the issue disappeared, as soon as I upgrade to anything above or equal to 1.9 the problem appeared again.

I did however manage to get both the clean meteor project and my own project to work on 1.10.1 by completely wiping out meteors cache (not just a meteor reset):

I have one other project that still runs on meteor 1.8.0.2 and wonder if the cache just got m

[2020-04-17 17:43] filipenevola commented on #10803
The fix above is going to be released on 1.10.2 https://github.com/meteor/meteor/pull/11025

[2020-04-17 17:43] #10803 closed

[2020-04-17 17:58] filipenevola commented on #11006
It was probably a problem migrating to medium

[2020-04-17 17:58] #11006 closed

[2020-04-17 20:16] #11019 closed

[2020-04-17 20:17] anhpt86 commented on #11019
I found the way to upgrade meteor. Pls remove all plugin in .meteor/packages file and run 'meteor update'.

[2020-04-18 04:20] joyjiyuan commented on #11024
try add

[2020-04-18 04:21] joyjiyuan commented on #11024
App.appendToConfig(`
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
        <application android:usesCleartextTraffic="true"></application>
    </edit-config>
`);

[2020-04-18 04:21] joyjiyuan commented on #11024
try add this  to you mobile-config.js

[2020-04-18 09:58] paulincai opened #11026 "[1.10.1] Steady increase in server CPU and Memory consumption"
Example pattern (please note the number of Sessions - 0). This is a standby no cron jobs project. It is exposed via a public URL and approximately 80 URL are being indexed for SEO (served from a Prerender server.)

Reported/discussed by multiple developers here: https://forums.meteor.com/t/steadily-increasing-cpu-on-meteor-v1-10-1/52517.

![Screen Shot 2020-04-15 at 20 32 12](https://user-images.g

[2020-04-19 14:56] Urigo commented on #10784
no stale.

[2020-04-20 02:14] #10970 closed

[2020-04-20 07:11] menelike commented on #11024
AFAIK this is the normal behavior since Android 6.0. See https://developer.android.com/training/articles/security-config for more information.

If you ask me this is nothing Meteor or Cordova can solve. Also, this should not happen in production as you usually use valid TLS certificates there.

One could argue, that Meteor or Cordova should add `android:usesCleartextTraffic="true"` when in develop

[2020-04-20 10:04] Batistleman commented on #10480
Any chance this could move up the priority list for the new MDG? It would be awesome to see some of these improvements (eg. sourcemaps) being merged into the core packages.

[2020-04-20 12:15] AleF1 commented on #10878
I managed to get past the initial error by commenting `` in ic_launcher_round.xml but not I'm back to the original error, app launches but bundle seems empty:

[code]

[2020-04-20 14:20] afrokick commented on #10721
not stale

[2020-04-20 18:04] pradeepcheekatla commented on #7773
Simply uninstall the package and resinstall.

meteor npm uninstall bcrypt
meteor npm install bcrypt

if your bcrypt version is > 2.0.0 . You will never see this message again.

[2020-04-20 20:10] #10962 closed

[2020-04-21 09:03] thanhpn opened #11027 "Account.createUser throw exception with exactly email address"
I am using Meteor to 1.9.2 and Node to 12.16.1
I had a bug when create account with email: dthieu@ictu.edu.vn
the function Account.createUser throw exception:

{"isClientSafe":true,"error":403,"reason":"Email already exists.","message":"Email already exists. [403]","errorType":"Meteor.Error"}

but i check in the DB, this email does not exited

Something wrong

[2020-04-22 03:09] pmogollons commented on #11027
It might exist but with any of the letters capitalized. Try looking in the database for the same email but in a case insensitive query.

[2020-04-22 09:56] santiagopuentep commented on #10930
@iBeACoder that's correct, my error is in `tools/fs/files.ts on line 1170`. Still can't update to any version.

[2020-04-22 12:58] Slavrix commented on #10103
@filipenevola champion.

does anyone have any experience with updating the @types?

[2020-04-22 18:04] #10964 closed

[2020-04-22 19:07] ostrolucky commented on #10923
.

[2020-04-22 19:10] sebakerckhof commented on #11026
Do you know if also happened before 1.10.1?

[2020-04-22 20:28] alanning commented on #11024
I was able to confirm hot code push is working with a default Meteor Android app when SSL is used.

Here's the steps I used:

    1. Set up a free ngrok account.
    2. In one terminal: ./ngrok http 3000
    3. In another terminal: meteor run android --mobile-server https://<hashFromStep2>.ngrok.io

When I edit the main.html file the Android emulator refreshes as expected.

[2020-04-22 20:49] dlsso commented on #10716
I'm getting this as well (Catalina, 10.15.3).  Same behavior as @virgil9306 . There are at least 3 stack overflow questions and 3 posts in the meteor forums about this issue as well, with no answers on any of them.

[2020-04-22 21:21] brendonlamb commented on #10853
Still not state in Meteor 1.10.2 - just upgraded, same issue.

[2020-04-22 22:10] filipenevola commented on #10999
Hi @nathanschwarz I'm not sure if I understood your setup.

As you didn't reply to the last reply I'll close this but feel free to comment back here if you still have issues.

[2020-04-22 22:10] #10999 closed

[2020-04-22 22:12] filipenevola commented on #10704
I'm closing this because Seba provided a workaround if the workaround is not enough for you then please open a new issue referencing this one.

[2020-04-22 22:14] mitar commented on #10704
Sorry, what? The issue is how to disable `dynamic-import`. Where is a workaround for this?

[2020-04-22 22:14] filipenevola commented on #10991
I'm assuming this was solved.

[2020-04-22 22:14] #10991 closed

[2020-04-22 22:16] #10992 closed

[2020-04-22 22:17] mitar commented on #10704
So the issue is that I want to get rid of `dynamic-import`. It is hard to get rid of that and make sure no dependency uses it, without removing `dynamic-import` package. If one can get rid of `dynamic-import` I can be sure it is not being used. If `dynamic-import` is around, then I have to manually inspect all my dependencies to see if they are using `dynamic-import` or not, for real. Also, just d

[2020-04-22 22:18] #11016 closed

[2020-04-22 22:21] filipenevola commented on #11004
Meteor 1.10.2 is released and recommended now https://github.com/meteor/meteor/blob/devel/History.md#v1102-2020-04-21.

[2020-04-22 22:21] #11004 closed

[2020-04-22 22:47] #11027 closed

[2020-04-22 22:56] filipenevola commented on #10704
I was assuming the workaround was enough because of this:

But I can reopen it, no problem 😉

[2020-04-22 22:59] mitar commented on #10704
I mean, this is important motivation. But sadly just disabling eval without removing `dynamic-import` introduces potential issues as described above because you do not know which of your dependencies might use it.

Thanks for reopening.

[2020-04-23 04:16] dsx190 commented on #10878
Hi @AleF1. Could you try running `meteor npm update`? I think your dependencies need to be updated too.

[2020-04-23 08:19] GabinH opened #11028 "Accounts-base - Log out without unstore token"
Hello,

I use accounts-base for my project, and I would like to open a connection from external people during x days.

To open this connection, I create a token (`Accounts._generateStampedLoginToken`) and I insert it in a special user (`Accounts._insertLoginToken`).

Next I can log in with this token (`Accounts.loginWithToken`).

The problem is when I log out, this destroy my token in my database

[2020-04-23 09:42] vooteles commented on #10808
I'm too experiencing the same issue. Yesterday I set up a new Meteor deployment on AWS Beanstalk (2 out of 5 instances running there) with Mongo on M10 in Atlas. The DB is almost empty and the app has seen almost no use during these 2 days, but despite this, I've already received about 50 alerts on email about "Query Targeting: Scanned Objects / Returned has gone above 1000". Pretty much once or t

[2020-04-23 22:50] paulincai commented on #11026
@sebakerckhof the shot was taken with 1.10.1. I believe 1.9.1 was still ok. I attach another shot (not too useful anyway) The drop in CPU utilization is a re-deploy of code.
![Screen Shot 2020-04-24 at 02 46 31](https://user-images.githubusercontent.com/26188915/80156987-46783500-85d6-11ea-8779-f6485206e318.png)

[2020-04-24 01:39] linegel opened #11029 "[1.10.1] Create react is broken"
### This bug report should include:
`meteor --create react` just doesn't work
- [ ] The version of Meteor showing the problem - 1.10.1
- [ ] OS - macOS
- [ ] The expected behavior - created app with react starter
- [ ] The actual behavior - help showed instead
- [ ] Re-pro: just run `meteor --create react`
<img width="562" alt="Screen Shot 2020-04-24 at 04 35 39" src="https://user-images.githubuse

[2020-04-24 01:40] linegel commented on #10682
Appears in Meteor 1.10.1

[2020-04-24 05:21] afrokick commented on #11029
`meteor create --react my-react-app`

[2020-04-24 17:06] mynameiskyleok commented on #10977
@david-soyez I'm having the same issue. Were you able to resolve it?

[2020-04-24 17:39] skarborg commented on #11026
Unfortunately I skipped 1.9 due to various factor including ironically Mongo client version. More below.

I switched to a blue/green deployment (with DNS failover) this week and see the same CPU increase over a matter of days across both nodes. The warm node is occasionally used for admin, but no user traffic. So I don't think it's a flaw in my app code.

BLUE/hot:
<img width="350" alt="Screenshot

[2020-04-25 03:40] #10906 closed

[2020-04-25 13:51] AleF1 commented on #10878
Done. Still no success :(

[2020-04-25 15:11] abuuzayr commented on #11029
I just ran this and its fine. @afrokick's command is correct, @linegel your command is wrong

[2020-04-25 19:14] #11029 closed

[2020-04-26 05:47] #10966 closed

[2020-04-26 13:31] andreasemprebon commented on #10985
This issue is still relevant unfortunately, I don't think it should be labelled as stale (sorry stale bot, you did your job)

[2020-04-27 05:05] trusktr opened #11030 "[feature] A way to specify how to resolve modules (fix for duplicate modules), like Webpack."
The problem is that sometimes (for whatever reason, using `npm link` is often the cause) there are more than one version of the same package in `node_modules`, which causes problems with libraries that export singletons, and there is currently no (obvious) way to resolve these issues in Meteor.

I'm not sure if there even is a way to resolve the issues.

Webpack has a feature, where in the Webpack

[2020-04-27 10:47] gabi-lee commented on #8396
Here' the stackoverflow thread that related to this:
https://stackoverflow.com/questions/38988365/meteor-unexpected-mongo-exit-code-14-restarting-cant-start-mongo-server

HTH

[2020-04-27 14:25] ivan133 opened #11031 "webapp meteor/browser-policy can't find a way to set nonce"
### This bug report should include:
- [x] A short, but descriptive title. The title doesn't need "Meteor" in it.
- [x] The version of Meteor showing the problem.
I'm using meteor 1.10.1
- [x] The last version of Meteor where the problem did _not_ occur, if applicable.
Not sure
- [x] The operating system you're running Meteor on.
Ubuntu Linux 18.04
- [x] The expected behavior.
I'm setting nonce in

[2020-04-27 22:02] trusktr commented on #11030
I tried running this piece of code before anything else,

[code]

as well as

[code]

hoping it would do the trick like the Webpack `resolve.alias` trick does, but no luck.

In my particular case, `solid-js` is imported twice. I can tell because I put `console.log`s in both of the `solid-js` packages that are inside my node_modules, and in my console I see

[code]

One log per each of the duplicat

[2020-04-27 23:04] #10928 closed

[2020-04-28 02:56] lpcheniris commented on #7905
I got the same error..................

[2020-04-28 08:13] mateusz-golebiowski opened #11032 "[1.10.1] Unable to authenticate when install cordova plugins from private repository"
We use nexus repository to store some npm packages. After update to Meteor 1.10.1 authentication with our private repository stop works for cordova plugins (it still works for packages added in package.json)

To auth with nexus repo we store npm token in `.npmrc` which is located in our meteor project.

## Environment:
- Meteor v1.10.1
- OS: MacOS v10.15.4
- The last version of Meteor where the pr

[2020-04-28 08:31] ivan133 commented on #11031
If it's a wrong place to submit this issue please guide me where is the best place to submit it.
As far as I understand meteor/browser-policy doesn't have standalone repository and a part of webapp package (https://github.com/meteor/meteor/tree/master/packages/webapp)

[2020-04-29 03:37] shaneseaton commented on #10716
Also getting this, and have been for 6 months. Had to resort to using docker containers, which is a ball ache. Wish someone could come up with something to at least work around this, if not fix it.

[2020-04-29 04:03] hexsprite commented on #10716
I wasn't able to reproduce this. I removed /usr/local/bin/meteor, and ~/.meteor and then re-installed via the OP's instructions. Was able to create the app and run it successfully.

[2020-04-29 05:07] shaneseaton commented on #10716
Totally understand that this works for the majority of users, otherwise I am sure it would be a bigger problem. It well could be something specific to the machine config, or an addition install or anything.

If I debug the meteor tool, I get a "SIGSEGV" error in the utils.execFileSync() function in response the `child_process.execFile` call . No idea how or why, and not sure I will ever know, but

[2020-04-29 06:04] shaneseaton commented on #10716
I am leaving this alone for now, it way above my understanding (debugging meteor-tool itself). The only other thing I tried was pausing the debugger early in the `main.js` and executing from the debug console `require('child_process').execFileSync('uname', ['-p']).toString()` which totally worked fine, only when pausing in the `utils.execFileSync()` and attempting the same line did it fail.

Somew

[2020-04-29 09:47] sebakerckhof commented on #4436
@mutdmour I stumbled upon this today. Are you still interested in making this into a PR?

[2020-04-29 09:49] cstrat commented on #8694
I am running into this issue now, not sure why it hasn't come up before.

I can't even use `Accounts.sendVerificationEmail()` in the `Accounts.onCreateUser()` hook because the user doesn't exist yet. I saw a workaround in the forums by using a timeout... seems silly?

[2020-04-29 12:37] ivan133 commented on #11031
I guess this is the function to blame
[code]

[2020-04-29 17:33] joaomframos opened #11033 "Transpiling failing in web.browser.legacy Meteor packages"
I'm still trying to figure out exactly what's going on and this issue is mainly to raise awareness/requesting suggestions regarding what else I should attempt to fix the issue.

Recently our staging build has stopped working in IE and after barely any debugging I noticed almost all of Meteor packages were missing transpiling. For example, meteor modules package looks as follows:
![image](https://u

[2020-04-30 00:50] Cyclopstark opened #11035 "Snake Game"

[2020-04-30 00:51] #11035 closed

[2020-04-30 08:45] MastroLindus commented on #10939
not stale

[2020-04-30 14:52] brendonlamb commented on #10555
We're still getting this on both Chrome 81 both Windows 10 and MacOS 10.14

It appears to happen when the tab has been idle/inactive for sometime and then re-focused.

![image](https://user-images.githubusercontent.com/1816511/80724350-be12fc00-8acf-11ea-9e92-62cf648d73bf.png)

I think it was mentioned somewhere before but, maybe something to do with the web socket connection being interrupted/dis

[2020-04-30 16:43] Floriferous opened #11036 "Single package tests in meteor core don't seem to work"
I'm trying to run tests on some core meteor packages, but after following the docs, it seems like it doesn't work.

Steps:
1. Clone Meteor repo
2. Install dependencies `./meteor --help`
3. Run tests for a single packages: `./meteor test-packages mongo`

And then nothing happens. I'd expect the tests for that package to run and show something in my terminal, instead it logs `App running at ...:3000

[2020-04-30 23:17] delki8 commented on #11036
Hello @Floriferous, Meteor uses TinyTest.
From the [docs](https://github.com/meteor/meteor/blob/devel/packages/tinytest/README.md#what-is-tinytest):

The '[Executing the Tests](https://github.com/meteor/meteor/blob/devel/packages/tinytest/README.md#executing-the-tests)' section explains that tests results are presented on the browser at port 3000. That's why you're seeing   `App running at ...:300

[2020-05-01 05:15] hexsprite commented on #10941
Not stale.

[2020-05-01 10:04] gbhrdt opened #11037 "[1.10.1] No MongoDB writes possible after replica set failover"
After a replica set failover and re-election of the primary node, we are getting the following error in the console.
Reads continue to work but all writes are timing out without any further errors.
We are not using Oplog tailing.

[code]

[code]

[2020-05-01 11:59] mateusz-golebiowski opened #11038 "[1.10.1] Some cordova plugins crash Cordova build"
Some cordova plugins (e.g [cordova-plugin-proximity](https://github.com/awoken-well/cordova-plugin-proximity)) makes  cordova build failed.
The problem also occurs with all scoped plugins which are stored on private npm repository
## Environment:
- Meteor v1.10.1
- The last version of Meteor where the problem did not occur.: 1.9

## How to reproduce
1. Clone [This repository](https://github.com/ma

[2020-05-01 18:25] Floriferous commented on #11036
My bad, I was too used to seeing test results in my terminal 🤦‍♂️

[2020-05-01 18:25] #11036 closed

[2020-05-01 18:28] jirikrepl commented on #10532
Hi, after update from meteor@1.8.1 to meteor@1.10.2 file `dynamic-versions.js` suddenly increased in size by ~20KB in the bundle -visualizer.

I did `meteor --production` build and looked for the content of the `minified dynamic-versions.js`
I saw that in meteor@1.10.2 the file is bigger.

It seems to be that bundler.js puts [here](https://github.com/meteor/meteor/blob/master/packages/dynamic-impo

[2020-05-01 19:15] jirikrepl commented on #7078
I think that doing only this call once If, a user declined to share some information is enough.

[code]

I read this Facebook docs page https://developers.facebook.com/docs/facebook-login/handling-declined-permissions#reprompt

I think that `auth_type: 'rerequest'` works first but after the first `loginWithFacebook` call Meteor app needs to check that some permissions were not granted by calling t

[2020-05-02 16:20] #10978 closed

[2020-05-03 16:53] alutom opened #11040 "[1.10.2] Creating new project on Windows lasts forever"
Hi, I would like to help, but don't know where to start. As many other Windows users, I experience random freezes when creating a new meteor app, especially on fresh install of meteor. The process doesn't end even after a few hours. I did some investigation, and found out the process always freezes in one of these two places:

https://github.com/meteor/meteor/blob/71f67d9dbac34aba34ceef733b2b51c2b

[2020-05-03 18:25] #10983 closed

[2020-05-04 04:05] javoire opened #11041 "[Typescript & Less] Import statements mistakenly imports .less"
Hi. I encountered an odd behavior when upgrading my project to use Typescript, and after some time debugging I've narrowed it down to the Less package. But that's as far as I could get.

I have not found a solution nor this issue mentioned anywhere else so I believe it's new.

**Actual behavior**:
In a Typescript enabled project, when importing a file and there exists a `.less` file next to it (eg

[2020-05-04 04:50] afrokick commented on #11041
It is the old issue. We use style.less filename as workaround.

[2020-05-04 04:56] afrokick commented on #11041
#10708

[2020-05-04 06:19] trusktr opened #11042 "[1.10.1] Meteor doesn't refresh when modifying symlinked NPM dependency"
Meteor 1.10.1, Linux

### Actual behavior:

In certain cases, modifying a symlinked NPM dependency doesn't not refresh the client in dev mode.

### Expected behavior:

At least when code in a symlinked node_modules package changes, Meteor should rebuild and refresh the client. This does not always happen and I need to restart `meteor` to see the new changes.

The symlinking may be due to use of `n

[2020-05-04 22:33] javoire commented on #11041
Ah yes that looks like the same issue. So it's not about less, but rather style files.

I have too thought about the workarounds mentioned in there, but a solution would be preferable!

I'll follow up in the other thread.

[2020-05-04 22:33] #11041 closed

[2020-05-04 22:43] javoire commented on #10708
Hello! So I also ran into this (#11041). To shortly summarize the inconsistency:

**Case 1A:** Typescript and CSS -> `SomeComponent.css` is imported
**Case 1B:** Typescript and LESS -> `SomeComponent.less` is imported

**Case 2A:** Javascript and CSS -> `SomeComponent.css` is imported
**Case 2B:** Javascript and LESS -> `SomeComponent.less` is **not** imported

Case 2B is where I was, then I migra

[2020-05-04 23:37] diavrank opened #11043 "[1.10.1]Update link of installing-prerequisites for mobile apps"
Hi, I noticed that the link of "Installing prerequisites" for the mobile guide is outdated. Because currently it shows the following link:
http://guide.meteor.com/mobile.html#installing-prerequisites

And looking for in the meteor page I found that the new link is:
http://guide.meteor.com/cordova.html#installing-prerequisites

So, I imagine that you have to update this link in the code, because ma

[2020-05-06 00:14] #10876 closed

[2020-05-06 00:52] vlasky commented on #10733
I did a test with a Meteor 1.9 project using Cloudflare as a reverse-proxy.

I confirm that Cloudflare sets a 14,400 second (4 hour) expiry header for meteor_runtime_config.js.

I had to create a Cloudflare Page Rule like this to ensure that meteor_runtime_config.js file is always served fresh:

[code]

[2020-05-06 16:00] chrishearn commented on #11026
I'm also experiencing this issue with my app and currently investigating if this could be related to the Node v12 memory leak fix detailed here for the Mongo DB node driver - https://github.com/mongodb/node-mongodb-native/releases/tag/v3.5.5

As you can see the issue was fixed in v3.5.5, however latest version of Meteor is using v3.5.4 according to the change log.

[2020-05-06 16:12] skarborg commented on #11026
I think you are 100% on the money. After my CPU hit 10% during off peak I checked and it was still the npm-mongo package utilizing the bulk of the CPU. Just bigger spikes now.

[2020-05-06 16:12] hexsprite commented on #11026
@filipenevola sounds like an upgrade to Mongo node driver 3.5.5 is needed as Meteor uses the legacy topology types iirc.

[2020-05-06 16:14] hexsprite commented on #11026
There's some other potentially relevant fixes around session reuse in 3.5.7 as well.

[2020-05-06 16:29] wreiske opened #11046 "Update MongoDB to pull in ns not found fix"
My contribution has finally made it upstream into MongoDB to help diagnose the "ns not found" errors commonly found in meteor projects I've worked within the past.

https://github.com/mongodb/mongo/commit/485fdf001d39c7f809ead645d5d892b5094e9431

I'm not sure what it would entail getting this included in Meteor's Mongo driver. I figured I'd post this here to get some visibility to it.

My commit t

[2020-05-06 17:31] banjerluke commented on #11043
In addition to updating the link, I would suggest adding a 302 or 301 redirect for the `/mobile.html` URL. Links to it are still in the wild and likely won't be updated.

[2020-05-06 22:37] filipenevola commented on #11026
Hi, I published `npm-mongo@3.7.1` and it uses `mongodb` `3.5.5` so if you run `meteor update` in your project it will update your `npm-mongo` version to `3.7.1` if you already running `3.7.0`.

Please let me know if this new version fixes this issue @paulincai @chrishearn @skarborg

[2020-05-07 05:41] sebakerckhof commented on #11026
@skarborg not every query is usable by the oplog driver. So meteor may decide for some queries to still use poll and diff.

We also noticed this memory increase. Will also report my findings, thanks for pointing out the mongo issue

[2020-05-07 18:48] chrishearn commented on #11026
@filipenevola thanks for updating the package so swiftly. I've deployed this and will monitor the metrics over the next couple of days then report back.

[2020-05-07 19:06] rpesciotta commented on #11026
@filipenevola thanks for the prompt update! I’ve got it deployed in prod, and will report if this fixes the continuous increase!

[2020-05-07 23:15] trusktr commented on #11030
I often keep running into this issue in general. Today I ran into it in a Webpack-managed project, and luckily it was easy to solve the problem with Webpack's `resolve.alias`, as hinted by the following article that details the situation in general (which Meteor seems to inherit due to following Node.js module resolution strategy):

[Finding and fixing duplicates in webpack with Inspectpack](https

[2020-05-08 03:58] lyslim commented on #10990
I also had this problem - initial loading of the app went pretty slow after upgrading from 1.8.1 to 1.10.1

Had to workaround like @LaloMores (big thanks!) suggested in my thread [here](https://forums.meteor.com/t/initial-loading-becomes-very-slow-after-upgrading-to-1-10-1/52409/13)..

Hope Meteor would fix this soon...

[2020-05-08 09:58] javascriptlove commented on #11012
Don't close

[2020-05-08 10:36] loliarz commented on #11032
I have same problem.

[2020-05-08 18:54] paulincai commented on #11026
2 days after the update, CPU sits at less than 1%. As mentioned initially, this is still a standby project, with almost no traffic so, within the same circumstances, I do not see that steady growth of CPU usage.
Will keep an eye on the memory for the next couple of days too.

![Screen Shot 2020-05-08 at 22 49 33](https://user-images.githubusercontent.com/26188915/81438724-4489a680-917e-11ea-9d31-0

[2020-05-08 19:06] #11026 closed

[2020-05-08 19:17] filipenevola commented on #11026
If you are still getting this issue you should run meteor update to update your npm-mongo as it seems npm-mongo@3.7.1 solves this issue!

[2020-05-08 21:51] javoire commented on #11041
Any thoughts on https://github.com/meteor/meteor/issues/10708#issuecomment-623746555?

[2020-05-08 22:01] javoire commented on #10708
Also for anyone reading who wants to use the workaround mentioned by e.g. @nicu-chiciuc, here's a script to change all `MyComponent.less` to `MyComponentStyles.less`

[code]

[2020-05-09 01:25] jonlachlan commented on #11041
Seems like you have a real bug there.

[2020-05-09 12:35] #10993 closed

[2020-05-09 14:17] hexsprite opened #11050 "[1.10.2] ENOMEM building in CI"
Been getting this error while building Meteor

[code]

I believe this did not occur in versions of Meteor that did not use Node 12 (< 1.9)

My suspicion is that when Meteor calls `execFile` to run git to get the commit hash this ends up exhausting memory due to this open Node bug: https://github.com/nodejs/node/issues/25382

Possible solutions:

- `exec` earlier to get Git Commit hash so that memo

[2020-05-09 17:43] edemaine commented on #10606
Still an issue. 🙁

[2020-05-09 19:56] derwaldgeist commented on #8998
Same here. This problem still persists in Meteor 1.10.2. Why has this been closed?

[2020-05-09 20:25] teenangst opened #11051 "[1.10.2] `meteor create app` fails with isopacket errors"
I am unable to create an app, after using the app I get 2 errors:
[code]
Whole error: https://pastebin.com/uGhVukea

I went to `C:\Users\x\AppData\Local\.meteor\packages\meteor-tool\1.10.2\mt-os.windows.x86_64\tools\fs\tools\fs\` to look for `files.ts` and the directory doesn't exist, but `C:\Users\x\AppData\Local\.meteor\packages\meteor-tool\1.10.2\mt-os.windows.x86_64\tools\fs\` does, with `file

[2020-05-09 20:31] derwaldgeist commented on #5107
I have this on Meteor 1.10.2 now. Anything changed here?

[2020-05-10 13:53] teenangst commented on #11051
I tried running it on my laptop and I got a different error, but still on the same line as the second error `node_modules\meteor-promise\promise_server.js:218`

![unknown](https://user-images.githubusercontent.com/30373155/81501016-d3590900-92cd-11ea-8586-f4f0ef90e205.png)

[2020-05-11 15:30] StorytellerCZ commented on #11028
We could potentially add a hook to check if the token is to be deleted. You could fork the package locally if you want. A workaround would be to create a new token for the user after login. This would probably also be a bit more secure.

[2020-05-11 18:19] joaomframos commented on #11033
Issue is being caused by https://github.com/aldeed/js-message-box a dependency of the 'simpl-schema' recommended by Meteor. I'm migrating this issue to them.

[2020-05-11 18:19] #11033 closed

[2020-05-11 18:20] perbergland commented on #10939
Is there any interest from the maintainers to move the TS plugin in this direction?

There is some recent discussion around using babelrc for setting tsconfig options. but to make the TS compilation part of the build process so we can get proper support for build servers and console diagnostics has not been mentioned and it's unclear to me if there are underlying technical reasons preventing this

[2020-05-11 19:57] #11012 closed

[2020-05-11 19:58] teenangst commented on #11051
I see, Meteor is a dead project and I can't expect a response.

[2020-05-11 23:30] hexsprite commented on #10912
Not stale. I just experienced this issue right now and it sucks! ;(

[2020-05-12 00:08] hexsprite commented on #11050
Looks like that environment variable already exists. Using it solved the issue for me...

[2020-05-12 00:08] #11050 closed

[2020-05-12 01:59] filipenevola commented on #11051
Hi, we have tested and it's working fine on Windows.

Have you tested in a fresh installation?

[code]

[2020-05-12 05:04] PushanPatel commented on #8427
I am getting following error. I have tried uninstalling and then reinstalling both meteor.js as well as chocolatey(installer for windows for meteor.js). Even then the problem is not getting resolved. What should I do?
`
D:\Coursera_Web_development\Course 3 - Meteor.js\My tried\getting_started>meteor create image_share
C:\Users\Admin\AppData\Local\.meteor\packages\meteor-tool\1.10.2\mt-os.windows.x

[2020-05-12 08:08] sebakerckhof commented on #11040
https://github.com/meteor/meteor/issues/7688 I believe is different. Since there it doesn't actually hang forever, just for a really long time (not hours though). That one seems related to windows defender.

[2020-05-12 08:15] sebakerckhof commented on #10712
Reopening since we keep getting reports ( e.g. https://github.com/meteor/meteor/issues/10990 ). The load times are not acceptable and we should look into it.

[2020-05-12 08:15] sebakerckhof commented on #10990
Closing as duplicate of https://github.com/meteor/meteor/issues/10712

[2020-05-12 08:15] #10990 closed

[2020-05-12 08:26] sebakerckhof commented on #11046
The mongo dev version is specified here: https://github.com/meteor/meteor/blob/devel/scripts/build-dev-bundle-common.sh#L9

and this is how meteor downloads it when you generate a new dev bundle.
https://github.com/meteor/meteor/blob/devel/scripts/generate-dev-bundle.sh#L58-L77

So the easiest way would be to modify that script or wait for a release of mongo that includes it.

[2020-05-12 09:46] sebakerckhof commented on #11026
Btw @filipenevola I was testing a clone with npm-mongo 3.5.7, which turns out to be fine and contains some additional fixes.

[2020-05-12 10:58] danielruiz7 commented on #10912
I did create a file at server folder that I modify when I want to manually trigger the server refreshing... not fun

[2020-05-12 14:33] arggh opened #11059 "Woes with Firefox Android and Svelte"
We received complaints from our users that our app wasn't loading on Firefox Android.

_And it wasn't._

Quickly (not...) launched the Firefox debugging console for Android and I was greeted with

[code]

The same app works on Chrome on the same phone. I also tested it on the latest stable Firefox and the nightly, both failed with the same error message.

It doesn't matter which Svelte components

[2020-05-12 16:36] jirikrepl opened #11060 "verifyEmail URL does is not correctly formated on localhost"
Meteor version 1.10.2
email package version 1.2.3
OS: MacOS 10.15.4

During development if verifyEmail is sent without MAIL_URL is set, it is printed to console.
But verification URL is printed incorrectly over two lines

[code]

If I string last `=` character from verification URL and append the second line. Then I got the working URL with the correct verification token.

In this case:
    http:/

[2020-05-12 17:20] #10677 closed

[2020-05-13 07:45] arggh opened #11061 "Unable to update package"
I could not update `svelte:compiler` from `4.0.0-beta.0` to `4.0.0-beta.1`.

Meteor just errored out with this to say:

[code]

Then I tried to remove the package and re-add it:

[code]

No luck.

[code]

What can I do? :)

[2020-05-13 08:01] arggh commented on #11059
This was resolved by forking `svelte:compiler` and updating the dependencies. It was using old versions of `babel-compiler`, `caching-compiler` and `ecmascript`. I also removed the `@babel/runtime` dependency: if I'm not mistaken, it should be  included in Meteor apps and there is no point in including another, lagging-behind version of the runtime.

Ping @klaussner and reference to https://github

[2020-05-13 08:08] arggh commented on #11061
https://github.com/meteor-svelte/meteor-svelte/pull/30

[2020-05-13 18:09] arggh commented on #11061
Oh for f... I had a lingering symlink to an old fork of this package in my global `meteor-packages` folder. Duh.

[2020-05-13 18:09] #11061 closed

[2020-05-13 18:31] rpong commented on #5438
In our case, this happened intermittently and affected our test builds which we are running in parallel with other instances per box.

What we did is we setup retries with random sleep:

[code]

[2020-05-13 19:16] arggh commented on #11059
I take my previous statement back.

**_TL;DR_: I believe there is a bug in `modern-browsers` package.**

Not sure if I was mistaken about the browser I was on when I thought it worked, but it actually didn't work.

On Android Firefox, the browser gets the transpiled legacy bundle where the Svelte component is no longer a class, but a transpiled function:

[code]

...It tries however, to "extend" s

[2020-05-13 20:04] sebakerckhof commented on #11060
It prints the emails exactly as it would be send, thus in the correct email format.
In this case, since it's using the MIME extension, it is subject to [RFC2045](http://www.faqs.org/rfcs/rfc2045.html) (in particular section 6.7), which defines a line length limit of 76 characters. Where longer lengths are wrapped with an equal sign as soft line break.

I understand it's a bit annoying, but this is

[2020-05-13 20:04] #11060 closed

[2020-05-13 20:29] krizka commented on #10850
@zodern I investigated this with `truss` on mac and found that load coming from huge amount of `stat` of `node_modules` files.
Why we ever need to watch after `node_modules` changes? we could just look `package-lock.json` and `yarn.lock`? and it is looking even more consistent, because they only changing after installation done.

[2020-05-13 21:43] krizka commented on #10850
I just dirty-hacked few lines of meteor to ignore watches on all `node_modules`,
and you could see results:
For original:
[code]
Without node-modules watches:
[code]
First build times dropped almost 3 times, and CPU usage dropped to 1-2%.
Also my app full reload time from file save to server restart dropped dramatically to 12 secs.

[2020-05-13 22:22] zodern commented on #10850
Many of those files do not need to be watched, which #11018 helps with.

After #10839, the main reason files in node_modules are watched is to invalidate cache entries when the files change. The caches in the build process handle files in node_modules inconsistently: some require meteor to be restarted after node_modules is modified, while others will use the file watchers to invalidate cache entr

[2020-05-14 07:46] krizka commented on #10850
@zodern thanks. Hope it will be rolled soon. Until that will use local version.

[2020-05-14 15:21] teenangst commented on #11051
Yes, multiple times

[2020-05-14 23:53] delki8 commented on #10912
Hi guys, I'm trying to reproduce this bug with the recipe given by @JanvanCasteren but with no success. I recorded a short video with my attempt: https://youtu.be/Xb_P-xrRQHw
Meteor 1.10.2
What am I missing?

[2020-05-15 00:31] hexsprite commented on #10912
I just tried from scratch to reproduce this and could not. So for now it's not reproducible.

[2020-05-15 02:57] aas395 commented on #10912
Still an issue in 1.9.3, not sure if there are any plans to fix there

On Thu, May 14, 2020 at 8:32 PM Jordan Brant Baker <notifications@github.com>
wrote:

--
Aaron Smyth
aas395@gmail.com
My LinkedIn profile <https://www.linkedin.com/in/aaron-smyth-941aa35>
@aaronasmyth

[2020-05-15 03:15] hexsprite commented on #10912
Pretty unlikely. What's stopping you from upgrading ?

[2020-05-15 06:13] lnufnu commented on #10878
@renanccastro @filipenevola Were you able to reproduce it by creating a 1.8.1 app and upgrading?

[2020-05-15 09:24] danielruiz7 commented on #10912
In my case is this issue:

https://github.com/Urigo/angular-meteor/issues/1974

I Know there is a workaround as explained here: https://github.com/meteor/meteor/issues/10867#issuecomment-575157740

I will end up doing it and upgrading... but it's a bit scary having an app with hundred of hours of development based on a package (angular-meteor) that I don't know for sure if it will be maintained or

[2020-05-15 09:36] JanvanCasteren commented on #10912
I followed my own reicpe in meteor 1.10.2 and can confirm delki8 and hexsprite 's findings, so the problem seems fixed in the latest version of meteor. Was this a fix-by-purpose or just a side effect of changes that had another purpose?

[2020-05-15 18:18] hexsprite commented on #10913
Sounds like deprecating the `http` package is the way to go, since `fetch` is a standard API.

[2020-05-15 18:59] Floriferous commented on #10392
I also found, that resetting your database from the client, like when using `xolvio:cleaner`, it somehow resets the websocket connection, and creates a new one. This might lead to unexpected behavior in your client-side tests that interact with the DB.

[2020-05-15 20:18] aas395 commented on #10912
I upgraded our app to Meteor 1.10.2 today and it still seems that the app
isn't rebuilding after making changes to server files in my
"server/imports" folder. I'm also using the angular-compilers package,
which seems to be affecting danielruiz above.

On Fri, May 15, 2020 at 5:36 AM JanvanCasteren <notifications@github.com>
wrote:

--
Aaron Smyth
aas395@gmail.com
My LinkedIn profile <https://www.l

[2020-05-15 21:06] hexsprite commented on #10912
It sounds like the problem could be with the angular-compilers package, not Meteor itself. Have you filed an issue about this at https://github.com/Urigo/angular-meteor ?

[2020-05-15 21:07] hexsprite commented on #10912
Or perhaps this is two different issues happening.... @JanvanCasteren were you using the angular-compilers package?

[2020-05-16 02:15] obonyojimmy opened #11062 "Fact-base package , `Facts.resetServerFacts()` function not available at runtime."
### The Issue
When using fact-base package, exported function  `Facts.resetServerFacts()`  is not available in server runtime functions , see attached screen-shot of the error

![fact-base-bug](https://user-images.githubusercontent.com/14318239/82107675-39acb400-9732-11ea-9f7c-708b17275acf.png)

### Expectation
Expected `Facts.resetServerFacts()` to be available as per https://github.com/meteor/me

[2020-05-16 03:37] hexsprite commented on #11062
Strange. It seems like the published code for `facts-base` is missing that method, even though it's present in the devel branch. Perhaps a new version needs to published.

Ahh, yes I checked the history and it seems like that method was added 3 months ago and a new release was never cut.

[2020-05-16 12:15] jirikrepl commented on #11060
OK, thank you. The debug log of the "verify email URL" can be useful.

If you agree I can create a PR.
Can you please point to some code where Meteor logs something in development? Thanks.

[2020-05-16 12:35] jirikrepl commented on #11060
I've added a log to this code:

[code]

will then produce this output:

[code]

[2020-05-16 20:12] dr-dimitru commented on #11014
Not stale, just pending

[2020-05-17 01:08] ownspark commented on #10975
I have the same problem.

[2020-05-17 07:56] arggh opened #11064 "App broken on iOS Safari 9 due to SyntaxError"
I know it's iOS Safari 9, but our app _used to work_ on this browser with Meteor `1.8.2`. I think supporting old iOS versions is important, since lots of people have old iPads laying around that they use for browsing the web. They can't update the browser past the OS version and Apple doesn't release updates to those old, yet functional devices.

We are updating our app to the latest Meteor `1.10.

[2020-05-17 10:52] mwarren2 commented on #8998
I've got this after installing Meteor 1.10.2
The `rm` used by @mirstan seems to have finally solved it, which seems logical since the error arrives when it removes plug-ins.

[2020-05-18 07:31] JanvanCasteren commented on #10912
No, I did not use angular-compiler package in the project in which I discovered the issue

[2020-05-18 07:39] derwaldgeist commented on #8998
I can confirm the error persists. I have to delete the cordova-build folder every time before I run a Cordova build to prevent this, which is pretty annoying.

[2020-05-18 07:46] derwaldgeist opened #11065 "Cordova build: Cannot find plugin.xml"
This is to revive #8998 (and #8196 and #7029) which has been closed, but the issue hasn't been resolved yet.

Even on Meteor 1.10.2, if you have Cordova plugins which reference other Cordova plugins, the Cordova build only works for one time. If you try to do it a second time, it fails because it can't delete files it expects to be there.

When I tried to trouble-shoot this a long time ago (see th

[2020-05-18 07:47] derwaldgeist commented on #8998
I have opened a new issue for this, as it hasn't been resolved so far.

[2020-05-18 07:57] semtyre commented on #10912
Same for us, although we have not upgraded to meteor 1.10.X yet.

[2020-05-18 10:16] JanvanCasteren commented on #10912
I tried again to reproduce the problem with version 1.8.3 and noticed the problem does NOT exist anymore.

Then I looked back to my other project running on meteor 1.8.3 and noted it still uses barbatus:typescript package instead of the new typescript package.

I then used barbatus:typescript package in 1.8.3 instead of the new official package and yes, the problem was back.

So @semtyre  : could

[2020-05-18 16:11] skirunman commented on #11021
Not stale.

[2020-05-18 18:41] lnufnu commented on #11065
I do not get the plugin.xml error. My build works but the default Cordova plugins are missing from my bundle. Following [this](https://github.com/meteor/meteor/issues/8196#issuecomment-355420160) from one of those issues, when I remove Cordova plugins and add them back in or remove `cordova-build`, some plugins are missing.

Here is a part of the log:

[code]

Environment
Meteor 1.10.2
cordova-plu

[2020-05-18 21:43] Ajaay opened #11067 "Unable to start app following upgrade from v1.8.1 to v1.8.2"
Mac OS 10.13.2
Meteor working version 1.8.1
Broken version 1.8.2. Have tried upgrading to 1.8.3 but same issue.

When starting the app i get the following errors:

[code]

I have tried `meteor reset` and removing and reinstalling Meteor with `curl https://install.meteor.com/ | sh` but no luck...

Thanks

[2020-05-18 22:23] aas395 commented on #10912
In case it helps track this down, I don't have barbatus:typescript installed.

I created a new Meteor app and added an "imports" folder to the "server" folder and sure enough, my server does not restart when I make changes to files in that folder. When I make changes to the default main.js file the server does reload.

[2020-05-18 22:56] lnufnu commented on #11067
Have you validated your `package.json` file? Do you have any trailing commas from removing a package?

[2020-05-18 23:24] hexsprite commented on #10912
Can you share what’s in your .meteor/packages ?

[2020-05-19 00:37] delki8 commented on #11051
Hey @teenangst could you help me out with this? I'm not a Windows user, and tried the following:
- installed a Windows 10 x64 on a virtual machine using virtual box
- installed chocolatey following these instructions: https://chocolatey.org/install
- installed meteor using `choco install meteor`
- opened a simple cmd and typed `meteor create my app` -> `cd myapp` -> `meteor`
- Meteor couldn't star

[2020-05-19 01:33] aas395 commented on #10912
Sure, here's the whole thing:

meteor-base@1.4.0
mobile-experience@1.1.0
mongo@1.10.0
reactive-var@1.0.11
tracker@1.2.0

standard-minifier-css@1.6.0
es5-shim@4.8.0
ecmascript@0.14.3
shell-server@0.5.0

accounts-password@1.6.0
aldeed:collection2
alanning:roles@1.2.19
edgee:slingshot
peerlibrary:aws-sdk
momentjs:moment
session@1.2.0
aldeed:moment-timezone
email@1.2.3
underscore@1.0.10
http@1.4.2
rey

[2020-05-19 03:08] RailgunWinjoy commented on #10930
Any solution yet? I want to update my project from 1.8.3 to 1.10.2

[2020-05-19 03:10] santiagopuentep commented on #10930
Same here.

[2020-05-19 03:39] pawansingh-snapwiz commented on #10216
Is this already part of -- 1.8.1?
@benjamn Please let me know, I wan't to upgrade to 1.8.1, but getting confused with this - **so this version of Meteor should be considered experimental until those problems have been fixed**, which is written in 1.8.1 changelog page.

https://docs.meteor.com/changelog.html#changes-8

Note: While Node 8.12.0 included changes that may improve the performance of Met

[2020-05-19 04:11] derwaldgeist commented on #11065
@lnufnu Are you using Cordova plugins that reference other Cordova plugins? IIRC, this was part of the problem mentioned above and may explain why some experience it while others don't.

[2020-05-19 04:49] lnufnu commented on #11065
@derwaldgeist Was hoping these plugin issues were related, but as I do not believe the plugins I am using reference other Cordova plugins, they must be not be.

[2020-05-19 05:55] derwaldgeist commented on #11065
I am not 100% sure if this is actually the root cause, as it's already more than 4 years when I initially dug into this in #7029.

[2020-05-19 05:58] iBeACoder commented on #10930
Hi @santiagopuentep & @RailgunWinjoy,  there is no solution to this as of yet. There was a solution mentioned #10874 but I don't know why the issue does not seem to be fixed.

[2020-05-19 06:04] iBeACoder commented on #11051
I have been having the same problem updating or create any of my projects on my Windows 10 64-bit machine. I have mentioned it on #10930 the seems to be originating from:

`tools/fs/files.ts` **on line 1170**

as far as I know.

I have tried to go find more about the error and you can see as mentioned in my comment: https://github.com/meteor/meteor/issues/10930#issuecomment-613324152. If you have

[2020-05-19 06:57] semtyre commented on #10912
We are not using the official typescript package but adornis:typescript@0.9.15.

[2020-05-19 07:16] Ajaay commented on #11067
Double checked and package.json is clean. All I did was `meteor update --release 1.8.2`

[2020-05-19 10:04] iBeACoder commented on #10930
Hi @santiagopuentep & @RailgunWinjoy,
I have found a hacky way to resolve the issue. As there is no destroy function passed into the sourcemapConsumer object it makes sense to comment it out of/remove it from the code. On meteor repo, I believe the file is in

`meteor/tools/fs/files.ts` **on line 1170**.

On my windows 10, I just went to:

`C:\Users\USER\AppData\Local\.meteor\packages\meteor-tool\

[2020-05-19 10:12] iBeACoder commented on #11051
Hi @teenangst, @filipenevola & @delki8 I found a potential solution check out https://github.com/meteor/meteor/issues/10930#issuecomment-630721277 I am not sure how to test out and or fix meteor repo but this seems to do the trick for my local machine. It might help you get started and running again @teenangst and perhaps someone who can fix the code on the repo can take a look at the files mentio

[2020-05-19 15:36] brianlukoff commented on #11064
1.10.2 seems to have this issue on old versions of Safari in general -- even a clean install exhibits the same problem.

[2020-05-19 23:39] Craigp10 opened #11069 "On Windows - Meteor RangeError: 'Maximum call stack size exceeded' after installing new node package"
When I call meteor via gitbash command line inside of a meteor application directory I get this error
![image](https://user-images.githubusercontent.com/30419540/82388660-faf75200-99ee-11ea-8857-43d8db6b5d50.png)

I've had this issue before and was able to resolve it by completely uninstalling Node and Meteor, along with any packages attached to them, then reinstalling them. I believe its caused b

[2020-05-20 01:17] delki8 commented on #10930
Hello @iBeACoder could you check something for me? Open `C:\Users\USER\AppData\Local\.meteor\packages\meteor-tool\1.10.2\mt-os.windows.x86_64\dev_bundle\lib\node_modules\source-map\package.json` and send me whatever is after `"_from":`[...]
From what I can tell the destroy was added "recently" to source-map and there was not so long ago that Meteor changed to a version of source-map that has (and

[2020-05-20 01:56] santiagopuentep commented on #10930
@delki8 Here's the code `"_from": "source-map@0.7.3",`

@iBeACoder I tried deleting those lines and it worked. Thanks! This doesn't break anything in the app right? Great to finally be able to update meteor, I was stuck in 1.8.1.

[2020-05-20 05:09] iBeACoder commented on #10930
Hi @delki8,

@santiagopuentep as far as I have tested in my apps there has been nothing breaking.

As @santiagopuentep said I get the following:

`"_from": "source-map@0.7.3",`

Here is the whole file: (without the integrity)

[code]

[2020-05-20 10:52] Ajaay commented on #11067
I started a fresh project and gradually added packages back in and looks to have been an issue with the version of meteor-desktop I was running.

Upgraded to the latest and app is now working.

Thanks

[2020-05-20 10:52] #11067 closed

[2020-05-20 18:04] ruohki commented on #10784
is there a workaround until we can use that by default?

[2020-05-20 18:27] ardatan commented on #10784
You can use barbatus:typescript package instead of official one.

[2020-05-20 19:45] bessw opened #11070 "choco install does not work for non priveliged users"
You recommend on your web page chocolatey to install meteor on windows but it only installs it for the user executing the command.

Running the installer as non privileged user does not work, thus it is not working on non privileged user accounts.

choco package version 0.0.2

# expected:
works on non privileged user accounts

[2020-05-20 19:55] santiagopuentep commented on #10850
I have the same problem here. After finally being able to update from 1.8.1 to 1.10.2 due to other problems in Windows now my computer is unusable due to the high CPU usage. Please give more priority to Windows. Reload times are very bad and the dev experience has been very bad for years.

[2020-05-20 19:56] bessw commented on #11070
I switched to WSL and the linux version, because the .exe installer also didn't work out of the box as non privileged user (probably it didn't set path, but I didn't want to investigate again)

[2020-05-20 21:51] #11069 closed

[2020-05-21 00:47] #11017 closed

[2020-05-21 10:46] filipenevola commented on #10985
Hi @andreasemprebon I would like to understand why do you need to run npm install manually inside `bundle/programs/server`. Are you deploying on Windows or is this your development process?

[2020-05-21 10:54] filipenevola commented on #8694
Hi, I believe we should update in the docs these quirks and possible solutions.

[2020-05-21 10:55] filipenevola commented on #11031
Hi @ivan133 are you willing to write a PR to solve this issue?

[2020-05-21 10:57] filipenevola commented on #10860
I can't reproduce this and we don't have an answer after my comment then I'm closing it.

[2020-05-21 10:57] #10860 closed

[2020-05-21 11:06] filipenevola commented on #11037
Hi @gbhrdt I know many projects in production where the failover is happening without any issues.

It seems to me this is a problem in your specific settings or in your MongoDB hosting.

Also the stacktrace shows MongoDB node driver code throwing the error and not Meteor specific code so I believe it would be better to open this issue here https://github.com/mongodb/node-mongodb-native

[2020-05-21 11:06] #11037 closed

[2020-05-21 11:32] #11043 closed

[2020-05-21 11:38] filipenevola commented on #5107
@derwaldgeist I don't think so.

[2020-05-21 12:01] filipenevola commented on #10878
I have upgraded a project recently from 1.8.1 to 1.10.2 and it is working fine.

[2020-05-21 13:50] andreasemprebon commented on #10985
Hi @filipenevola thanks for your help.
Yes, my requirement is to deploy on a Windows environment and the `npm install` inside `bundle/programs/server` is part of the CI process I use to build Meteor.
To implent it I followed the instructions under the *Custom deployment* section of Meteor's docs: [https://guide.meteor.com/deployment.html#custom-deployment](https://guide.meteor.com/deployment.html#

[2020-05-21 14:01] filipenevola commented on #11014
Please make a PR updating the skeleton.

[2020-05-21 14:08] filipenevola commented on #11065
Hi @derwaldgeist, I would be happy to fix this issue.

Can you provide a small reproduction?

Maybe this needs a simple fix like this other case https://github.com/meteor/meteor/pull/11052

[2020-05-21 14:11] filipenevola commented on #11021
Hi guys, have you tried to reproduce this on 1.10.3-beta.0?

https://github.com/meteor/meteor/pull/11052

[2020-05-21 14:24] vparpoil commented on #11014
@filipenevola already done : https://github.com/meteor/meteor/pull/11044

[2020-05-21 15:12] filipenevola commented on #11038
It will be included on 1.10.3.

[2020-05-21 15:12] #11038 closed

[2020-05-21 15:16] filipenevola commented on #11014
Yeah, my bad, it's merged 😉

[2020-05-21 15:43] lnufnu commented on #10878
Thanks for checking. Installing jquery fixed this error for me.

[2020-05-21 23:02] delki8 commented on #10930
Thx @santiagopuentep and @iBeACoder. You're running the right version so the problem is probably somewhere else. I might dig into this a little deeper.

[2020-05-21 23:07] delki8 commented on #11024
Meteor [docs](https://docs.meteor.com/packages/autoupdate.html) were updated to reflect this behavior and enable cleartext is now mandatory in order to have HCP working on Android. So I'm closing this issue.

[2020-05-21 23:07] #11024 closed

[2020-05-22 01:45] afifalfiano commented on #10930
Thanks, it's work on my project

[2020-05-22 08:58] #11014 closed

[2020-05-22 13:36] Thorsten1987 commented on #7697
I faced the same problem today while installing meteor with curl https://install.meteor.com/ | sh. I am getting:
curl: (22) The requested URL returned error: 403 Forbidden

Does anyone can help me out on that?

[2020-05-22 14:22] Thorsten1987 opened #11071 "I faced the same problem today while installing meteor with curl https://install.meteor.com/ | sh. I am getting:"
I faced a problem today while installing meteor on linux with curl https://install.meteor.com/ | sh. I am getting:
curl: (22) The requested URL returned error: 403 Forbidden

Does anyone can help me out on that?

_Originally posted by @Thorsten1987 in https://github.com/meteor/meteor/issues/7697#issuecomment-632694191_

[2020-05-22 15:10] mistergibson commented on #11071
I'm having the same issue - can someone please look into this?

[2020-05-22 18:06] MastroLindus opened #11073 "[1.9.2] MongoDB replica set failover caused production outage"
I have a mongodb replica hosted on Atlas. Yesterday they did some maintance to the cluster and rolling restarted causing an election and a secondary becoming a new primary.
My production app got two errors from which it crashed without recovering:

[code]

and
[code]

It seems related to this discussion, that never got some final answers:
https://forums.meteor.com/t/what-happens-to-meteor-during-a

[2020-05-22 19:46] denihs commented on #11070
Hi, it's expected to be a privileged user to install Meteor on Windows, but then later you can run without the privileges.

[2020-05-22 19:46] #11070 closed

[2020-05-22 21:10] Smokolisz commented on #7905
@lpcheniris  @mikeumus did you found the fix? I have the same issue.

[2020-05-23 17:01] hexsprite commented on #11021
Running 1.10.3-beta.0, still having a problem on 2nd time.

I'm using `cordova-plugin-purchases` (for iOS IAP) and it depends on `cordova-annotated-plugin-android` (which I don't use, not sure why it would get installed.

[code]

<details>
<summary>Full traceback</summary>

[code]
</details>

[2020-05-23 17:13] hexsprite commented on #11073
Also running Atlas, had similar errors yesterday, was probably an automatic version update. It looks like the automatic retry is not working as this exception should not get raised at the application level...

<details>
<summary><code>MongoNetworkError: connection 9 to xxx.mongodb.net:27017 closed</code>
</summary>

[code]
</details>

<details>
<summary><code>MongoNetworkError: write EPIPE</code><

[2020-05-24 20:09] ostrolucky commented on #10923
.

[2020-05-25 02:52] ninefivetwo commented on #10712
Could this be a @material-ui issue?
Not sure if anyone else notice this as well but their [docs](https://material-ui.com/) take awfully long to load at times. Had a brief scan over their doc website source code and they have destructured imports of their icons in a few spots.

[2020-05-25 09:03] Thorsten1987 commented on #11071
Does anyone else have the same issue?

[2020-05-25 12:20] menelike commented on #11005
Not stale.

[2020-05-25 12:49] Nauzer commented on #11021
I am having the same issue with cordova-plugin-file in relation to cordova-plugin-file-transfer.

[code]

[code]
Does the trick but as @sajhu says it add a lot of unnecessary build time.

Tried moving the 'blocking' plugin to the bottom of the .meteor/cordova-plugins file but that doesn't seem to resolve it. In the list of plugins it tries to remove (logs above) its position remains unchanged...

[2020-05-25 20:08] perbergland commented on #10939
There is now a new third-party compiler that has what you are asking for, @MastroLindus.

Please check it out and maybe contribute with some improvements?

Here’s the announcement:
https://forums.meteor.com/t/ann-working-early-version-0-0-3-of-refapp-meteor-typescript-a-brand-new-fast-typescript-compiler-with-tsconfig-json-support-and-diagnostics-output/52943/2

[2020-05-25 20:08] perbergland commented on #10939
Related link - https://github.com/Meteor-Community-Packages/organization/issues/48

[2020-05-26 00:47] delki8 commented on #11071
I just tested it in a virtual machine running Lubuntu and it worked. It's a long shot but have you checked for locks on your network configuration? Maybe you could narrow down the problem if you change for a 4G connection just to check if this is something related to your modem/router or with your PC.

[2020-05-26 06:54] Thorsten1987 commented on #11071
Thanks for your test. I will try that.
The strange thing is, I can download and install Meteor release 1.4.3. However, if I want to upgrade to 1.10.1 or 1.10.2 I always get 403 forbidden. But with your advice I can check if the router or pc is the problem.

[2020-05-26 13:35] xet7 commented on #11059
It is a bug in browser detection code. To get Meteor-based Wekan working on iOS Safari, Firefox Mobile, Chromium, Vivaldi, Opera, I did previously delete legacy bundle from Wekan, but now that has caused Wekan not working in legacy Microsoft Edge browser:
https://github.com/wekan/wekan/issues/3125#issuecomment-634022433

(Wekan does work also [as PWA](https://github.com/wekan/wekan/blob/master/CHA

[2020-05-26 13:39] xet7 commented on #11059
It seems that stalebot did close previous issue about this #10692

@benjamn has there been progress since your comment at  https://github.com/meteor/meteor/issues/10692#issuecomment-533344603 ?

[2020-05-26 21:06] Natas0007 commented on #10682
Still in Meteor 1.10.2.  I've disabled with the env var, but just giving a heads up.

[2020-05-26 21:29] obonyojimmy commented on #11073
I can assert to this too , in production server when replica-set does a re-election, meteor instance crashes and requires a reboot.

[2020-05-27 12:23] AndyCC25 commented on #10853
Also I notice that still happens the two fire

[2020-05-27 12:31] AndyCC25 commented on #10853
a WA could use a `once()` function from underscore

[2020-05-27 13:10] StorytellerCZ commented on #10712
@ninefivetwo Please double check your imports so that you are not importing all the icons which causes the long load times, but only the ones you need, ie.:
[code]
Had a similar issue with `styled-icons`. Since you have seen the same on their docs I would say that the imports are the issue. You might be able to spot the issue while looking on the network traffic in developers tools.

[2020-05-27 13:15] KoenLav commented on #10712
@StorytellerCZ as mentioned earlier this is definitely an issue with Meteor as it did not exist in 1.8.1 (worked perfectly fine) and started in 1.8.2 (although I'm currently not seeing the issue in Meteor 1.10.1 myself).

Destructuring imports from @material-ui/icons have always worked and should continue working, I guess?

[2020-05-27 18:02] russpadgett commented on #10930
Looks like there is a missing dependency.
Do a "npm install source-map" before trying "meteor create Test" or "meteor update"

[2020-05-28 10:36] perbergland opened #11074 ""meteor test" does not reload when Typescript implementation file has changed"
Meteor 1.10.2 on macos Catalina, using refapp:meteor-typescript 0.1.0 (with Typescript 3.9.2)
No mainModule or testModule sections in package.json.

When I develop TDD-style to first write a failing test and then modify the implementation in a file under server/, I find that Meteor does not notice the change when running in "meteor test" mode, so I have to modify the file containing the test to fo

[2020-05-28 12:57] afrokick commented on #10682
There is PR https://github.com/meteor/meteor/pull/11075 for updating the version of PostCSS to resolve this issue.

[2020-05-29 11:13] Thorsten1987 commented on #11071
Seems that there ist now problem with modem/router or PC. I am using Ubuntu 16.04.6. May this be the problem?

[2020-05-29 12:51] bessw commented on #11070
Running it later without privileges did not work for me, because it was not in my path and I couldn't just add the executable that was in admins path to my path because it was in its appdata.

[2020-05-29 14:31] StorytellerCZ commented on #10712
Another thing that you can try is having Meteor build the package.

[2020-05-29 14:43] zodern commented on #11070
@bessw would you be willing to try https://github.com/zodern/windows-meteor-installer/? It should work for users that are not admins.

[2020-05-29 23:42] delki8 commented on #8694
It sounds like an easy problem to solve but the design decisions may be somewhat controversial. I thought about some and would like to hear what y'all think:

1. add a new boolean arg to [`createUser()`](https://github.com/meteor/meteor/blob/devel/packages/accounts-password/password_server.js#L1091) and move the [send email verification](https://github.com/meteor/meteor/blob/devel/packages/account

[2020-05-30 05:15] StorytellerCZ commented on #11071
@filipenevola
Ubuntu isn't the problem unless you have some strange network settings.
Are you behind a firewall/proxy?

[2020-05-30 10:37] Slind14 commented on #10495
Any support on this would be much appreciated.

[2020-05-30 10:53] faburem commented on #10902
Is there any update on this? I think this could be a huge benefit especially for docker images. If there is anything we can do to push this forward - I am happy to help.

[2020-05-30 11:54] peernohell opened #11076 "update Sockjs 0.3.20 to fix ERR_STREAM_WRITE_AFTER_END"
On our server sometime we have error's about ERR_STREAM_WRITE_AFTER_END

Here the stack
[code]

After a few search it seems to be this bug in SockJS  https://github.com/sockjs/sockjs-node/issues/252 and that have been fixed in 0.3.20

On ubuntu LTS
Meteor: 1.10.2
Node: 12.16.1

[2020-05-30 11:57] frediustcDev opened #11077 "Better VSCODE support"

[2020-05-30 12:03] frediustcDev commented on #11077
Meteor does not

[2020-05-30 12:03] #11077 closed

[2020-05-30 19:12] mitsol opened #11078 "[1.10.2] meteor mongodb external access"
since the upgrade to 1.10.2 I'm no longer able to access meteor mongodb from a mongodb browser, e.g. using Robo3T. Before the upgrade, it was possible to access the database after starting meteor by using localhost:3001. However now an error-message in Robo3T says

`Error: Failed to execute "listdatabases" command.`

any settings i need to change here?

[2020-05-31 10:52] rj-david commented on #9982
We are currently forced to fork meteor because of this. While looking at the boilerplate, may I suggest the following changes:

1. Main: Adding `<meteor-dynamic-head />` together with `<meteor-bundled-css />`. This will give the flexibility for developers to decide if the dynamicHead is placed before or after the bundled css

2. Optional: Allow async loading for `<meteor-bundled-css />` e.g. `<met

[2020-05-31 12:04] bsluck101 opened #11079 "Blake David Sluck 5702346053"

[2020-05-31 15:13] #11079 closed

[2020-05-31 21:37] afrokick commented on #11078
Which version of robo3t did you use? Try to update to the latest

[2020-05-31 22:46] SachaG commented on #9982
@rj-david if it's just this issue I don't think you have to fork Meteor? You can just copy over the boilerplate package to your app repo.

[2020-06-01 01:26] rj-david commented on #9982
@SachaG thanks for the heads up that this is a package. I totally missed this. Thank you.

[2020-06-01 01:29] eugle commented on #10364
The problem is still there

1. React 16.13.1
2. Meteor 1.10.2

[code]

[2020-06-01 15:51] perbergland commented on #10555
Not stale

[2020-06-01 20:03] killkrt commented on #7905
@Smokolisz I guess that you have the "Command line tools" installed instead of XCode, so you could try to use:

`sudo xcode-select -switch /Library/Developer/CommandLineTools`

[2020-06-01 20:56] Smokolisz commented on #7905
Thanks for your reply, but it didnt work for me. I get this error:
`Promise rejected with non-error: "xcode-select: error: tool 'xcode build" requires Xcode, but active developer directory '/Library/Developer/CommandLineTools' is a command line tools instance\n`
I have installed XCode, i can open it and create a new project and run it on iphone emulator. I have no idea why this isnt working

[2020-06-02 10:26] softwarecreations commented on #9255
I've been having this issue constantly, for YEARS with many versions of firefox.
It happens if I open localhost:3000 in my browser.

And it also happens, even if I setup a Nginx SSL reverse proxy with a real, valid letsencrypt certificate and open `https://my.host.com` in the browser, and the meteor server is started with
`export ROOT_URL='https://my.host.com'`
It happens on my local server and on

[2020-06-02 11:04] softwarecreations commented on #9255
@hwillson @denihs @sebakerckhof @filipenevola @hexsprite can we please reopen this issue?

[2020-06-02 12:19] skarborg commented on #11026
Brilliant, thanks so much guys. This has sorted out the issues I was
facing. Bravo!

On Tue, May 12, 2020 at 11:47 AM Seba Kerckhof <notifications@github.com>
wrote:

[2020-06-02 12:46] sebakerckhof commented on #9255
What catches my attention is 'just click the address bar and hit enter, if the error doesn't appear, do it again and usually within 3-5 loads this error will appear'
This seems a bit like a race condition like this old FF bug: https://bugzilla.mozilla.org/show_bug.cgi?id=712329

I'll try to see if there's a workaround short-term. Might be a good time as well to upgrade the sockjs library.

It seem

[2020-06-02 18:51] bessw commented on #11070
I tried it, but got an error while installing:
[code]

[2020-06-02 19:38] flean commented on #11021
I run this and it fixes the problem
```rm -R .meteor/local/cordova-build/plugins/*/```

[2020-06-02 19:41] hexsprite commented on #11021
@flean yes, it's a good workaround but not ideal since it requires downloading and configuring the plugins fresh every time (slower than it needs to be)

[2020-06-02 20:53] tenzint opened #11081 "❗️'meteor create simple-todos' - takes wayy too long"
### This bug report should include:

- [ ] Version - meteor@1.10.2
- [ ] The last version of Meteor where the problem did _not_ occur: N/A
- [ ] The operating system you're running Meteor on: Windows 10 x64
- [ ] The expected behavior: Takes relatively short time, like 1 minute (5 minutes max)
- [ ] The actual behavior: Takes infinity. My computer sleeps in the mean time.

First time meteor user h

[2020-06-02 21:21] tenzint commented on #11081
I'm noticing that no matter what the terminal is (cmd, or powershell, git bash etc), once I click outside of the terminal, the terminal will hang until I refocus the terminal by copying and doing ctrl + c or something.

[2020-06-02 21:23] tenzint commented on #11081
Meteor's terminal output style of having only 1 output line at all time (old output messages get replaced with new message) is really not to my liking.

[2020-06-03 00:51] delki8 commented on #11081
Hello @tenzint. :smile:

A few days ago I was trying to replicate another issue in _Windows 10 x64_. First I tried to replicate it on a virtual machine and it worked fine, but then I installed Meteor on a real laptop running _Windows 10 x64_ and the thing you related happened to me. While using the PowerShell, Meteor took the whole night creating an app and it was just stuck on some message like y

[2020-06-03 08:54] afrokick commented on #10682
Will be released in 1.10.3 Thanks @filipenevola

[2020-06-03 09:54] softwarecreations commented on #9255
@sebakerckhof Thanks for reopening this issue!
Well spotted regarding that Firefox bug. I've just done some testing that confirms that the issue we're having is described in that bug.

**I just did these tests**

1. Close firefox completely, load meteor app, close firefox. **Repeated 10X with no errors.**
2. Click address bar, hit enter. Error appeared on the 1st reload.

**This issue has nothing

[2020-06-03 10:28] 564064202 commented on #9262
it's too slow! do you  want to abandon ??????? so you limit the speed??

[2020-06-03 10:30] 564064202 opened #11082 "I am so soryy,please forgive me.fuck,the download speed it's too slow!"
I think most pepole will want to say the word:fuck! (not for anyboy),
please resolve this problem:
curl https://install.meteor.com/ | sh   //too slow !!!!

[2020-06-03 10:32] 564064202 commented on #11082
please give anthoer way to install it

[2020-06-03 10:47] 564064202 commented on #11071
too slow!!! I think this speed will refuse  the people want to use it

[2020-06-03 12:18] sebakerckhof commented on #9255
Yes, it has nothing to do with SSL. In the meantime I tested with the latest sockjs version, but it doesn't fix it.

[2020-06-03 14:17] softwarecreations commented on #9255
What do you think the solution would be? Testing a different websocket server library?

[2020-06-03 14:29] MartiniHenry1988 commented on #9255
I am getting this even now with Meteor 10.x. I stopped worrying about this since it wasn't effecting my application that much (Although I still face longer page loading times on web client).

But I wonder if it really is effecting performance or causing some connection issues.
Because one thing for fact, connection to the server can be frustratingly unstable in real-world use specially when using

[2020-06-04 19:28] tenzint commented on #11081
hello @delki8,

The exact same thing happened to me too. At one time, I wondered if there were some kind of corruption while installing meteor or choco, but it made no sense since I tried `meteor --version` and `choco upgrade meteor`. I also wasted one whole day/night on the installation/set up process ( mostly on `meteor create simple-todos` ). The comedy comes after waiting a few minutes the nex

[2020-06-04 19:28] #11081 closed

[2020-06-05 12:20] sushannnt commented on #9996
Error: Username contains an illegal unescaped character

[2020-06-05 13:03] kukupopo commented on #10930
@iBeACoder, you are right on the point, commenting out 2 files solved the issue. Thank you.
This is my first time installing meteor and this ugly error immediately showed up and I had no clue how to solve it. Thank you once again.

[2020-06-05 14:04] abernix commented on #10216
@pawansingh-snapwiz While this was fixed in Meteor 1.8.1, the version of Node.js in Meteor 1.8.1 (Node.js 8) is no longer under long-term support by the Node.js Foundation and is not receiving security updates.  Please consider upgrading to a newer Meteor version which bundles a version still under [long-term support](https://github.com/nodejs/Release#release-schedule), e.g., Meteor 1.9+ (Though M

[2020-06-06 09:17] rsercano opened #11083 "process.on("uncaughtException") not working"
I saw the issue https://github.com/meteor/meteor/issues/4245 and suggestion to catch an unexpected error, and trying to catch an external API's unexpected error (nodejs mongodb driver's.) but neither both below ways are working;

[code]

[code]

Your help would be appreciated

[2020-06-06 11:45] greggman opened #11085 "Browserslist: caniuse-lite is outdated in new project"
meteor version 1.10.2
os: MacOS 10.15.5

steps:

* make new full app
* run it once
* build it

[code]

and `npm update` does nothing

[code]

[2020-06-06 11:57] greggman commented on #11085
Sorry, this is dup of https://github.com/meteor/meteor/issues/10682

[2020-06-06 11:57] #11085 closed

[2020-06-06 14:26] suezzo commented on #10900
I've encountered very similar problem. Did you find a solution?

[2020-06-06 15:00] andreasemprebon commented on #10985
Small update to confirm that the bug is present also in the latest 1.10.2 (I updated the title to also include the [1.10.2] tag)
I've currently built a workaround to remove the element `"npm"` from the array present in `npm-rebuilds.json`, but I don't believe this is the actual solution to the problem.

[2020-06-08 13:26] #10682 closed

[2020-06-08 13:33] filipenevola commented on #10682
minifier-css@1.5.1 is published.

[2020-06-08 13:33] filipenevola commented on #11085
minifier-css@1.5.1 is published.

[2020-06-08 13:54] filipenevola commented on #11064
Hi, do you have an easy way to test in old Safari?

Maybe this core-js upgrade was the cause:
https://github.com/meteor/meteor/commit/330a6cfe3d9065e579c04683ffdf8c71bf197234

Also have you tried to use `setMinimumBrowserVersions` https://docs.meteor.com/changelog.html#changes-18?

[2020-06-08 14:49] IkKan commented on #10555
Not stale

[2020-06-08 16:37] brianlukoff commented on #11064
We have been using BrowserStack for testing, which is great:
https://www.browserstack.com/

We do have `setMinimumBrowserVersions` set to require Safari 11.1 but it doesn't seem to matter here.

[2020-06-08 17:22] arggh commented on #11064
@filipenevola if you are on a Mac, you can install Xcode and launch the Simulator. From there, you can install different iOS versions and run them on various virtual Apple devices. You can even use desktop Safari's debugger.

[2020-06-08 17:24] filipenevola commented on #10036
I added this to the docs https://docs.meteor.com/windows.html#cant-start-mongo-server so people can find it easily later, I also added this to the error message https://github.com/meteor/meteor/commit/d2e1d694253f92ce66fbe333997059aa0773ea20

[2020-06-08 17:26] filipenevola commented on #11051
Let's focus here https://github.com/meteor/meteor/issues/10930 as this looks like the same problem.

[2020-06-08 17:26] #11051 closed

[2020-06-08 17:43] brettg2 commented on #11064
+1

I get a similar error in Safari 8... it complains the name of the function and the parameter can't be the same, like function module(require, exports, module)

![image](https://user-images.githubusercontent.com/6796960/84062828-34cbd080-a97d-11ea-9795-353e4108daf6.png)

[2020-06-08 18:06] filipenevola commented on #10930
Hi @santiagopuentep, @RailgunWinjoy, @kukupopo, can you install Meteor from scratch removing first all the old files?

I can't reproduce this issue on new installations, as I'm not a Windows user I don't have previous installations on my Windows, maybe you have some old binaries.

I don't know why this function is not present when you have these issues https://github.com/mozilla/source-map/blob/7a

[2020-06-08 19:22] santiagopuentep commented on #10930
@filipenevola I did a reinstall many times removing everything, even searching in the registry to see if there was something there. The problem persisted. kukupopo also got the problem on a fresh reinstall.
We were able to solve the problem by commenting out those parts on the code but we don't know if that can create other issues. We are also still using Meteor 1.8.2 because 10.0.2 has a high CPU

[2020-06-09 05:44] iBeACoder commented on #10930
Hi @filipenevola,

I am not sure why we get these issues. I have a mac and on it there are not issues of this sort.

However, on my windows, these issues are there. I have uninstalled Meteor, removed all the files, uninstalled Node and reinstalled all of it to get the same issue. I agree that writing defensive code would probably not be a great idea. If you refer to https://github.com/meteor/meteo

[2020-06-09 05:53] santiagopuentep commented on #10930
@filipenevola here's the content of the meteor.bat file.

[code]

[2020-06-09 11:46] MatejJan opened #11088 "Greatly increased recompile times from version 1.8.1 to 1.8.2 due to ImportScanner"
- Last version of Meteor where the problem did not occur: 1.8.1
- Version of Meteor showing the problem: 1.8.2, 1.10.2
- Operating system: macOS Catalina 10.15.5

I have a fairly large project built with the old /packages architecture that I've been working on since 2015. 80k lines of CoffeeScript code across 2k files, organized into 50 local packages.

I recently upgraded my project to latest Met

[2020-06-09 19:14] arggh opened #11089 "`module not found` while trying to import files from local npm packages"
I've written a build plugin for Fluent's `.ftl` -files and it has worked well so far. However, today I tried to import a `.ftl` -file from a local npm package and it didn't work as I expected.

[code]

After digging for a while, I noticed that the import works if I...

**a)** Symlink the package to `/app/imports/` and import it from there
**b)** Use [yalc](https://github.com/whitecolor/yalc) to pu

[2020-06-09 20:21] filipenevola commented on #11021
Hey @hexsprite, @flean, @sajhu, @skirunman could you try on 1.10.3-beta.2?

`meteor update --release 1.10.3-beta.2`

[2020-06-09 21:05] hexsprite commented on #11021
@filipenevola looks like it's fixed for me! thanks so much! 🚀

[2020-06-10 07:07] arggh commented on #11089
Here is PR https://github.com/meteor/meteor/pull/9771 based on which I'd expect the application to work exactly the same regardless of the import identifier used (since the package is symlinked):

[code]

I also tried to use the `nodeModules.recompile` config in `package.json` but it made no difference.

[2020-06-10 11:11] kukupopo commented on #10930
Hi @filipenevola,
As @santiagopuentep mentioned, mine was a clean install.
I uninstalled and deleted all the relative meteor files and
did an installation again and encountered same issue.

I'm using Meteor 1.10.2.

Here's the content of my meteor.bat, hope this helps :

`@echo off
SETLOCAL
SET METEOR_INSTALLATION=%~dp0%
"%~dp0\packages\meteor-tool\1.10.2\mt-os.windows.x86_64\meteor.bat" %*
ENDLOC

[2020-06-11 00:22] llnathanll commented on #8325
I'm having this issue now with 1.10.2.  The first missing module was `jquery`, then `stream`.  Both can be fixed by `npm install jquery stream-browserify`, but now I am getting `Uncaught Error: Cannot find module 'os'`.
Any thoughts?

[2020-06-11 15:42] far1s commented on #9758
It would be really great if we could put this into the Roadmap @filipenevola. The meteor CSS bundler needs to get an option to ignore CSS imports (see https://github.com/cherrry/ignore-loader). Even if you work around this issue with the solution provided by @CaptainN (by loading all your CSS into the main.css file), you will still have that problem as soon as you import 3rd party components that

[2020-06-11 15:54] filipenevola commented on #8325
hi @llnathanll please open a new issue.

We are not aware of any bug that could be causing this then probably is something in your code but open a new issue with details so we can check.

[2020-06-11 16:29] opyh commented on #9568
I still see a problem here - Tested with v1.10.2 and `TOOL_NODE_FLAGS "--max-old-space-size=2048 --optimize_for_size --gc-interval=100"`:

It seems switching off the GC in source-maps generation (WASM, https://github.com/meteor/meteor/pull/10798#issuecomment-558784613) causes a spike at the end of the build that goes over the 2048M value you'd expect with this setting.

<img width="980" alt="Scree

[2020-06-11 16:44] sebakerckhof commented on #9568
@opyh This issue stems from a time when we were using the none WASM version. The slow / non-wasm version was using at least as much memory. The wasm comes from Rust code which does its own memory magement. GC isn't likely to help here.

So that leaves option 1 & 3.

[2020-06-11 16:47] sebakerckhof commented on #9568
Maybe we could use: https://github.com/parcel-bundler/source-map

[2020-06-11 16:49] opyh commented on #9568
In the meantime, how about displaying a helpful warning before source maps generation?

It’s a frustrating kind of error as it happens at the very end of the build process. You get no sensible error message (or none at all depending on your Docker build tool). And when you stumble upon it, it’s unclear where to start searching.

Theoretically, the build process could even foresee the issue, and ab

[2020-06-11 16:49] opyh commented on #9568
Is there a way to limit used memory in the Rust code?

[2020-06-11 18:03] dimpy17agg opened #11091 "meteor is not recognized"
I have installed meteor on my system - windows10

but still, cmd shows meteor  is not recognized as an internal or external command,
operable program or batch file

And also unable to find .metor on the location C:\Users\username\AppData\Local\.meteor (to set path)..

[2020-06-11 22:17] filipenevola commented on #11091
Hi, is your installation producing any errors or warnings?

Are you using cmd or PowerShell? If you are using cmd, could you try PowerShell?

[2020-06-11 22:33] dimpy17agg commented on #11091
It shows no error.
I used cmd. Okay, I will try it with PowerShell.

[2020-06-12 02:27] CaptainN commented on #10364
I wonder if something like [desync](https://github.com/abbr/deasync) could help?

[2020-06-12 09:06] WayneUong opened #11092 "[ 1.10.2 ] TypeError: this._encodeParams is not a function"
After updating to meteor 1.10.2, we started to get this error everytime we make an `HTTP.get()` to the Mailchimp API/

[code]

[2020-06-12 09:48] macrozone commented on #10364
that would make it even worse ;-)

The problem is if you write a library like react and users of your libraries can provide a `render` function, you might have something like this in your library:

[code]

The language spec makes it clear that A, B, C run in that order on the one node process.
So the library can use some globals or shared variables in A and C and can assume that nothing happens be

[2020-06-12 12:21] dimpy17agg commented on #11091
Thanks, It correctly worked with PowerShell.
But why it didn't work with cmd??

[2020-06-12 13:20] CaptainN commented on #10364
@macrozone If that's the case then using Meteor Mongo in SSR with React should be specifically prohibited...

[2020-06-12 13:47] macrozone commented on #10364
this is not only a react problem, it _could_ apply to _every library_. This does not mean that it doesn't work at all. In fact, SSR with meteor, react and fiber-driven mongo collections _does_ work (we have one last production app using that). It just can break with some version under specific conditions (as it already did). it is like a grey zone and that makes me uncomfortable to use it.

[2020-06-12 14:59] CaptainN commented on #10364
Couple of ideas, observations first:
- The output works - even though I get warnings, my HTML output is still what I expect.
- It leaks memory - I haven't been able to gain any insight as to why yet except that a fiber pool is reference at the base of the "out of memory" error. I need to learn how to get some measurements going (I host on Galaxy, and don't do dev ops much).
- SSR passes are a rela

[2020-06-12 17:11] enryco opened #11093 "cordova build fails to copy local packages and link them properly"
xcode build error: `error: Build input file cannot be found: '/Users/Enrico/Developer/projectName/projectName/code/builds/ios/project/projectName/Plugins/packages/cordova-diagnostic-plugin/src/ios/Diagnostic_Notifications.m'`

When building for ios the local packages in `packages` referenced in `cordova-plugins` as `plugin-name@file://packages/plugin-name` are not getting copied into the build fol

[2020-06-14 05:43] rsercano commented on #11083
Any news ? Is this project abandoned ?

[2020-06-14 07:50] codeneno opened #11094 "Dear sir,how I can install a low version meteor version"
si,we use the shell https://install.meteor.com install meteor,but our project rocket.chat is low version with low meteor version.how I can install a low version meteor  version?

[2020-06-14 09:57] andreasemprebon commented on #11094
Hi! You can get a specific version of Meteor by appending the parameter `release` to the install URL: [https://install.meteor.com/?release=1.10.1](https://install.meteor.com/?release=1.10.1) will get Meteor 1.10.1 instead of the latest 1.10.2, and so on.

[2020-06-14 10:04] yuwiggin opened #11095 "$bitsAllClear, $bitsAnySet and $bitsAnyClear didn't work"
I tested the bit operations of minimongo and found $bitsAllClear,  $bitsAnySet and $bitsAnyClear didn't work on Meteor1.8.1, mongo: 4.0.12.
Has the pull request https://github.com/meteor/meteor/pull/8350  really implemented?

[2020-06-15 01:31] codeneno commented on #11094
thank you

[2020-06-15 04:27] coagmano commented on #11094
Also, Meteor will install and use the version number in the file `.meteor/release` of a project, regardless of the globally installed version.

You can see that the latest Rocket Chat uses 1.10.2:
https://github.com/RocketChat/Rocket.Chat/blob/develop/.meteor/release

Where Rocket Chat 2.4.12 uses Meteor 1.8.3:
https://github.com/RocketChat/Rocket.Chat/blob/2.4.12/.meteor/release

[2020-06-15 05:05] codeneno commented on #11094
thank you every much

[2020-06-16 10:03] sonhle commented on #11064
Hi, I am experiencing the same error with Meteor 1.10.2 and safari 9.1.2. Any workaround? Thanks,

[2020-06-16 18:58] evolross commented on #10913
Refresh.

[2020-06-16 19:25] hexsprite commented on #10913
I see only two usages of request, one is in the HTTP package (server only, client side uses XHR)

And in `tools/utils/http-helpers.js`.

This file has some interesting customizations on request that will need to be preserved.

[code]

[2020-06-17 11:14] sonhle commented on #11064
I downgraded Meteor 1.8.1 to fix the error. Still have the error with 1.8.2 & 1.8.3

[2020-06-17 18:47] filipenevola commented on #9758
Hi @far1s are you willing to write a PR for this? I would be glad to review and merge.

[2020-06-17 18:55] filipenevola commented on #11093
Hi @enryco could you set up a repo with this reproduction?

[2020-06-17 18:55] leonardoventurini commented on #11091
I am not sure, but you could try comparing the path environment variables in both, for example:

`echo $Env:PATH` for powershell and `echo %PATH%` in cmd, and check if there are any differences between the two.

[2020-06-17 18:57] filipenevola commented on #11083
Hi @rsercano could you provide a repository with a reproduction?

[2020-06-17 19:01] filipenevola commented on #11095
Hi, could you provide a reproduction? 😉

[2020-06-17 19:05] #11094 closed

[2020-06-18 06:27] rsercano commented on #11083
Hello @filipenevola finally somebody showed up. I'm using nodejs mongodb driver internally and it was throwing an unexpected exception in nosqlclient which I couldn't manage to catch with below methods. This's not just me, if a node package throws something it's uncatchable with `process.on` I guess meteor overrides it?

[2020-06-18 06:42] WayneUong commented on #11092
@filipenevola you can try this in a 1.10.2 meteor project:
[code]

[2020-06-18 06:45] WayneUong commented on #11092
@filipenevola you can try this in a 1.10.2 meteor project:
[code]

[2020-06-18 09:00] ivan133 commented on #11031
For now, I'm using this hack
[code]

[2020-06-18 10:58] jjhesk commented on #662
the problem happens again on version 1.10.2

[2020-06-18 11:18] jjhesk opened #11096 "There are some @import rules in the middle of a file."
app/client/styles.scss: warn: There are some @import rules in the middle of a file. This might be a bug, as imports are only valid at the beginning of a file.

it failed to compile the scss code as it works before.

[2020-06-18 13:05] edemaine commented on #11091
Also, did you install Meteor (`choco install meteor`) in the same shell that you were trying to run it (`meteor`) from? If so, that is likely the problem: you need to `exit` that shell and run it again, so that its path updates.

[2020-06-18 13:34] iBeACoder commented on #10384
We are also facing this issue since the app got bigger, and we switched over to dynamic imports. On iPhones, the website does not load on anything but Safari. Firefox and Opera do not support the site at all on iPhones.

[2020-06-18 18:59] rpong commented on #10555
definitely NOT stale.

[2020-06-18 19:13] opyh commented on #9568
Another idea: Are fibers absolutely necessary for this build step? Couldn't they be generated in separate child processes that don't use fibers, for example?

[2020-06-18 19:28] yuwiggin commented on #11095
Sorry, I made a mistake.

[2020-06-18 19:28] #11095 closed

[2020-06-19 07:57] RobertLowe commented on #11092
This is an issue

[2020-06-20 09:16] derwaldgeist commented on #9915
Interesting to see that these kind of super important issues have been auto-closed by stale-bot. What's the state of MongoDB Atlas connections now? Are they fully supported?

[2020-06-20 09:40] derwaldgeist commented on #9915
Update for others: I was able to setup the connection using the new `mongodb+srv` protocol using Meteor 1.10. The only thing you have to change in the oplog url is to switch the database to "local" here, assuming you granted your database user access to all databases on the cluster.

[2020-06-20 15:35] #11028 closed

[2020-06-20 19:52] brucejo75 commented on #10850
Hi, can someone (@krizka?)  post a set of work around steps?  e.g. how to "dirty-hack"?

It looks like @zodern's fixes (#10839 & #11018) are stuck?

[2020-06-20 20:44] derwaldgeist commented on #9915
For my Meteor 1.5 app, the approach with `mongodb+srv` did not work. But the older `mongodb` URLs worked fine, even with the `retryWrites` flag. I faced errors on the first server start, but after a second attempt, they vanished.

[2020-06-20 21:18] RobertLowe commented on #11092
Expanding on this, the issue seems larger, noticed this elsewhere:

[code]

Really very odd https://github.com/meteor/meteor/blob/devel/packages/accounts-base/accounts_common.js#L119

I'll try to make a reproduction of this one as well, but something is weird with `this`.

[2020-06-21 09:35] #11046 closed

[2020-06-21 13:26] krizka commented on #10850
@brucejo75 Sure, sorry, I didn't done it before:
This patch hacky disables watching of node_modules while meteor development run:

1. Clone meteor from original repo
1. Apply patch with: `patch -p0 < meteor-watch.patch` from gist https://gist.github.com/krizka/f4b315a06b702e63aeea40b135b14722
1. Use meteor executable in cloned dir to run your project

[2020-06-21 21:06] ardatan commented on #10784
no stale.

[2020-06-22 07:32] nikhilbisht opened #11099 "Getting error " TypeError: The "string" argument must be one of type string, Buffer, or ArrayBuffer. Received type object" while using formdata with javascript xhr"
Here is my code
[code]

[2020-06-22 07:41] #11099 closed

[2020-06-22 07:41] nikhilbisht commented on #11099
not of this project

[2020-06-22 10:22] javascriptlove commented on #10460
This issue has to be reopened

[2020-06-22 20:27] mfen commented on #11096
I think there is a bug with `minifier-css` failing to hoist any `@import` that is preceded by a comment(s) in the asset. Does that match the imports that weren't hoisted in your project?

We hit the same warning attempting a custom integration with Fomantic UI's less only package, based on [Semantic-UI-Meteor](https://github.com/Semantic-Org/Semantic-UI-Meteor)'s approach.

It seems `minifier-css/

[2020-06-23 16:21] ericoe commented on #11064
I'm late to the party, but I'll +1. Upgrading to 1.10.2 breaks us on iOS 9.
While using 1.8.3, we run native on iOS9 and we can support iOS8 via Safari.
After upgrade to 1.10.2, we have to set minimum iOS10x for native app and we cannot run in browser to support older iOS.

[2020-06-23 18:17] WayneUong commented on #11092
@filipenevola  can you release this as a hotfix?

[2020-06-24 12:48] filipenevola commented on #11083
Hi, no, Meteor does not overrides it. You can read in this comment a few possible root causes https://github.com/meteor/meteor/issues/8649#issuecomment-298324481

Please, provide a repository with a reproduction so we can help you in the analysis.

[2020-06-24 13:08] filipenevola commented on #11091
I'm closing this issue because we haven't heard anything from the original poster.

[2020-06-24 13:08] #11091 closed

[2020-06-24 13:12] filipenevola commented on #10384
@leonardoventurini I believe we could accept this PR if we enable this conditionally so the affected projects could use this solution. Are you willing to write this PR?

We should use the settings to enable/disable this behavior, in a key like:
[code]

[2020-06-24 13:20] filipenevola commented on #10555
I believe everyone that is experiencing this error is not getting any back feedbacks from their users or errors in the UI, should we replace this throws by debug logs or even nothing?

If we decide that is the way to go we could write a PR and release this change asap.

[2020-06-24 13:35] filipenevola commented on #11092
Hi @WayneUong, fixed on url@1.3.1.

[2020-06-24 13:35] #11092 closed

[2020-06-24 13:47] filipenevola commented on #9915
Hi @derwaldgeist, Meteor is up-to-date with MongoDB major version and working well with MongoDB Atlas. Many Galaxy clients are using MongoDB Atlas for a long time without any issues.

Recently we also added the option to provide custom options for MongoDB connection https://docs.meteor.com/api/collections.html#mongo_connection_options_settings

This issue here was from 2018 and that is why stale b

[2020-06-24 13:59] filipenevola commented on #10784
Hi @ardatan I've talked with @perbergland about his typescript package as well (https://github.com/ref-app/meteor-typescript) and we should join efforts here to update the official typescript package in the best way for the community.

@zodern is also going to take a look in this package from Per to check if the performance could be improved.

We need to select a package to be the candidate for th

[2020-06-24 14:07] ardatan commented on #10784
@filipenevola I think it is fine. The most important point is to have enough flexibility to support user's tsconfig.json (at least decorators).

[2020-06-24 15:42] stolinski commented on #10555
Yeah, that's my situation. No actual bugs, just this popping up in my Sentry logs.

[2020-06-24 15:57] po-jo commented on #10555
Yes, same here !

[2020-06-24 16:51] banjerluke commented on #10555
Same here. I eventually filtered these out of Sentry in my beforeSend handler (included below).

<details>
<summary>My filtering code</summary>
<br>
I'm including the whole thing in case folks find it useful; lots of Blaze-specific niceties in here. The relevant lines for this error are marked, about halfway down.<br>

[code]

</details>

[2020-06-24 17:00] brendonlamb commented on #10555
I still see it in APM, personally i'd replace the throw with debug logs, anything to point at a root cause or give us more info.

My main concern is whether or not this could be a red (or yellow) flag for Google- we aim to minimize client-side JS errors all together page-breaking or not.

[2020-06-25 04:30] #11062 closed

[2020-06-25 09:04] ixdi opened #11103 "[1.10.3-beta.3] error: Constraint email@1.2.3 is not satisfied by email 2.0.0-beta1103.3"
Hi,

When updating to Meteor 1.10.3-beta.3 there's a conflict with installed email package.
It seems that accounts-password is the problem but package.js from accounts-password doesn't have an email version constraint.

[code]
Any idea? We have tried to reinstall email and accounts-password in any combination, also to remove .meteor/local or to add manually the packages to .meteor/versions and .me

[2020-06-25 09:15] ixdi commented on #11103
As a temporary solution we have forked accounts-password package and forced email dependency to be 2.0.0-beta1103.3

[2020-06-26 08:21] MrCodeGarage opened #11104 "multi sessions error"
Hi guys I'm using Meteor.loginToken to log in to my application. Unfortunately I can't log in with 2 devices at the same time because he will throw me out in the first session. After analysis he kicks out the first resume session on login and one of you can help me

[2020-06-27 15:24] xet7 commented on #11059
This issue still exists. Does @benjamn or someone other know has there been any progress? Or where I could find related code?

[2020-06-27 17:22] CaptainN commented on #10364
@macrozone Does your SSR code use the newer `useTracker` (or `withTracker` built on `useTracker`)? I'm thinking these leaks are specifically from an interplay between react's hooks and Meteor's Fibers.

[2020-06-27 23:21] hexsprite commented on #11073
I'm still seeing these issues.

[2020-06-28 10:45] derwaldgeist commented on #9915
Thanks for the update and the hint to the new MondoDB connection settings. That's the problem with that stale-bot: It closes issues without any information about the current state. It's pretty hard to figure out what the state is in these cases.

[2020-06-28 17:29] chmelevskij commented on #10835
had similar issue following the react meteor tutorial. Fixed the same way.

[2020-06-29 17:56] CaptainN commented on #11059
I'm not sure if this is precisely the issue, but it's worth noting that Svelte components from npm MUST be recompiled (and SHOULD be distributed as source), because Svelte is a compiler! It needs source, and it needs to compile.

For Meteor there are at least 3 build targets:
- server (Svelte compiles these differently - there is no interop between compiled SSR and client components)
- client mode

[2020-06-29 20:15] arggh commented on #11059
The original problem in my case was omitting Svelte from the recompiled modules, as you wrote, but it revealed another issue regarding `modern-browsers` that I stated above:

That no longer has anything to do with Svelte. I'm just curious why the latest Firefox on Android gets shipped a legacy bundle.

[2020-06-29 20:26] hexsprite commented on #11059
it seems like iOS Cordova also gets the legacy bundle as well. maybe it's just a cordova thing.

[2020-06-29 20:45] xet7 commented on #11059
Problem is, mobile browsers should get modern bundle, and legacy edgehtml should get legacy bundle. Now it's vice versa, and that causes meteor apps to not work.

How to fix?

[2020-06-30 02:51] CaptainN commented on #11059
I'm sure it has something to do with the modern bundle white list. It uses browser sniffing to determine which to send, and Firefox's mobile user agent string is quite a bit different form its desktop counter part.

https://github.com/meteor/meteor/blob/devel/packages/modern-browsers/modern.js

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent/Firefox

[2020-06-30 10:08] cfnelson commented on #11073
@hexsprite What version of MongoDB are you running on atlas?

I believe I had a similar related issue (couldn't get meteor to restart/reconnect after crash/redeploy) which was resolved by updating to [v1.9.3](https://github.com/meteor/meteor/blob/devel/History.md#v193-2020-03-09) which updated the mongodb drivers.

The initial problem I experienced may have been triggered by a primary failing and

[2020-06-30 13:35] skarborg commented on #11026
I was maybe too hasty as I'm not so sure this is 100% solved for me yet... while it is much better than before I'm still seeing a steady but slow growth of CPU over time. Can anyone else confirm after the update?

![image](https://user-images.githubusercontent.com/6149354/86132475-36556800-bae7-11ea-8c14-0960755a6ba2.png)

[2020-06-30 13:49] jayjshah opened #11108 "first meteor app problem"
when i try to create a new app in meteor it shows that your app is crashing & waiting for file changes.

[2020-06-30 15:17] perbergland commented on #11074
not stale

[2020-07-01 07:03] skarborg commented on #11026
Much easier to see with new Digital Ocean graphs... The arrows are redeploys of app. I have migrated DB to Atlas since I thought the issue was fixed, maybe that's a consideration. Different DB version from mLab 🤔

From my Meteor versions file: npm-mongo@3.7.1

![image](https://user-images.githubusercontent.com/6149354/86212977-44ec5f80-bb79-11ea-98f7-3928a27d9ac5.png)

[2020-07-01 08:19] vnorguet opened #11109 "Android generated-application unable to connect to server"
## Short description

I've build an android app with MeteorJS and React. The web version works everywhere (desktop and mobile), and Nginx access logs show activity for web version.
When I create a new item in the form, the item is created in database and every other user show it. There's currently no user management.
* Meteor.status() displays and updates to "connected"
* Nginx logs show activity

[2020-07-01 10:14] Masterkey12 commented on #8585
i have the problems with meteor

\AppData\Local\.meteor\packages\meteor-tool\1.10.2\mt-os.windows.x86_64\dev_bundle\lib\node_modules\meteor-promise\promise_server.js:218
      throw error;
      ^

RangeError: Maximum call stack size exceeded
(Use `node --trace-uncaught ...` to show where the exception was thrown)

[2020-07-04 01:19] mitar opened #11111 "Cannot install an older version of Meteor"
When I am trying to run:

[code]

I get:

[code]

In fact, that happens also for `curl https://install.meteor.com?release=1.10 | sh`, which is a pretty new version.

This makes it hard for us to have reproducible builds. :-(

I am trying to do that on Linux. So URL which it tries to fetch is `https://static-meteor.netdna-ssl.com/packages-bootstrap/1.10/meteor-bootstrap-os.linux.x86_64.tar.gz`. So

[2020-07-05 01:46] wollardj commented on #11108
Not sure what version you're running, but I just tried `meteor create issue-11108` and it started up without any complaints. Version info:
[code]

[2020-07-05 02:09] wollardj commented on #11111
You might try putting the url in quotes to make sure that pesky `?` isn't getting interpreted by your shell:

[code]

[2020-07-05 08:16] vnorguet commented on #11109
Solution found here: [StackOverflow Post](https://stackoverflow.com/questions/57980657/meteor-cordova-android-app-not-connecting-to-server-if-server-is-running-on-vmwa)

Modern Android versions  (SDK >=26) do not unencrypted allow traffic in webview by default.

I didn't see any related logs into logcat, so it's kinda hard to find.

Solution is to either use HTTPS in the "--server", or add this in

[2020-07-05 08:17] andsnw commented on #11076
We experienced denial of service because of this.

I have created a proof of concept exploit code which you can test on your own Meteor server running SockJS 0.3.19 to instantly crash the container in 3 requests: https://github.com/andsnw/sockjs-dos-py

Disclosed to Snyk advisory as well

[2020-07-05 13:38] StorytellerCZ commented on #11076
@andsnw Can you try out: https://github.com/meteor/meteor/pull/11110
to see if that fixes your issue?

[2020-07-05 22:47] StorytellerCZ commented on #11111
If I remember correctly 1.10 was "special" (it is not even listed in the changelog) so that one does not surprises me. The same thing appears to be true for 1.0.3

[2020-07-06 02:40] juliusarden commented on #11076
@StorytellerCZ Yes, #11110 fixes the issue that @andsnw mentioned.
tagging @filipenevola on this issue as well.

[2020-07-06 03:07] mitar commented on #11111
Hm. Is there a better way to programmatically get a list of all released Meteor versions (without having Meteor installed)? I am currently using `git ls-remote --tags https://github.com/meteor/meteor.git tags/release/METEOR@* | cut -d '@' -f 2 | grep -v -`.

[2020-07-06 03:07] mitar commented on #11111
But `1.0.3` was released: https://github.com/meteor/meteor/blob/devel/History.md#v1103-2015-08-03

[2020-07-06 09:59] zdavatz opened #11112 "Any plans to start supporing ARM, Apple A12Z chip?"
Are there any plans to start supporting ARM, Apple A12Z chip?

[2020-07-06 18:26] evolross commented on #11076
Just saw this same error in our Galaxy logs over the weekend on July 3rd. Looks like It crashed three out of six containers. Got complaints. Running Meteor 1.9.3. Guess we should probably update.

[2020-07-06 18:42] #11076 closed

[2020-07-06 18:51] filipenevola commented on #11076
ddp-server@2.3.2 is published now.

[2020-07-06 21:28] nathanschwarz commented on #11064
It's not just on IOS, tested on Mac Os today with Safari 9.1.2.
It throw "SyntaxError: Invalid parameters or function name in strict mode.".

[2020-07-07 04:31] StorytellerCZ commented on #11111
Strange... my mistake.

[2020-07-07 07:59] mitar commented on #11111
No no, no mistake. Thanks for input about 1.10. But there are some strange things here. :-(

[2020-07-07 08:24] klaussner commented on #11111
@mitar Version 1.0.3 doesn't exist. The correct version number is 1.0.3.1, so `curl https://install.meteor.com?release=1.0.3.1 | sh` should work. @StorytellerCZ is right about 1.10. The oldest available 1.10.x version is 1.10.1, which can be installed with `curl https://install.meteor.com?release=1.10.1 | sh`.

[2020-07-07 11:33] VirgilioGM opened #11113 "Password being inserted as plain text into db by accounts-password createUser method"
I just realized that new inserted users have a _password_ field with the password as plain text. I'm using acounts-pasword@1.6.0 and it seems the bug is due to insert the hashed password into _user.services.password_ but keeping _options.password_ as received, so the field is inserted when calling to `Accounts.insertUserDoc(options, user)` in password_server.js:1119.

To reproduce it, run anywhere

[2020-07-07 17:36] mitar commented on #11111
Oh, you are right. I was looking wrong. So why are then tags? So I got those versions from tags on GitHub? What are those tags pointing to?

[2020-07-07 19:31] FlavienBusseuil commented on #10460
This issue is not totally coupled with meteor.
`--expose-gc` is part of V8 options that are **not** allowed with NODE_OPTIONS. https://nodejs.org/api/cli.html

Executing the command `meteor node --v8-options | grep expose` also pointed that the correct option for me is `--expose_gc` with a `_` instead of `-` 🤷

As said `TOOL_NODE_FLAGS` seems not to spread down the option to `meteor run ...`.

For

[2020-07-08 01:18] StorytellerCZ commented on #11113
@VirgilioGM Can you provide a reproduction? On first look I'm not seeing any relevant change in the code that deals with this.
Do you use on create user hook? That looks to me like a possible weakness here.

[2020-07-08 10:54] VirgilioGM commented on #11113
First of all, I'm really sorry that I wasted your time because the error doesn't happen as I reported it. It was caused by another Atmosphere package (developed by a colleague) that was extending the _onCreateUser_ hook. Thank you very much for pointing out the possible origin of my problem and I apologize again.

[2020-07-08 10:56] #11113 closed

[2020-07-08 19:35] dcantatore opened #11116 "Accounts.onEmailVerificationLink throws console warning when being used"
When you use Accounts.onEmailVerificationLink() on the client side as instructed, in the console it says:

[code]

The meteor doc around it is:
https://docs.meteor.com/api/passwords.html#Accounts-onEmailVerificationLink

It says "This function should be called in top-level code".  Which it is, so I'm not sure where else I would put it to avoid this bug

I have seen this mentioned as a feature requ

[2020-07-09 13:20] perbergland commented on #11074
I wonder if this could be caused by some limit for fsevents on my machine (macos Catalina) and also how I would find out. There’s no error thrown for the fs.watchFile call as far as I could tell.

[2020-07-09 17:45] filipenevola commented on #11064
Hi, could you test with Meteor 1.10.3-beta.4? meteor update --release 1.10.3-beta.4. thanks.

[2020-07-09 17:58] brianlukoff commented on #11064
Still does not work on 1.10.3-beta.4 -- I created a clean app and used Browserstack to test on Safari 7.1 and got errors similar to @brettg2 above.

[2020-07-09 19:50] klaussner commented on #11111
Maybe these versions were released/tagged and then retracted due to issues like the one mentioned in https://github.com/meteor/meteor/issues/11111#issuecomment-653948517.

[2020-07-10 06:30] ixdi commented on #11103
It has been resolved in meteor@1.10.3-beta.5

[2020-07-10 06:30] #11103 closed

[2020-07-10 20:50] brucejo75 commented on #10583
@benjamn, @filipenevola, any updates on this?  Thanks!

[2020-07-10 21:23] brucejo75 commented on #11005
Hi @filipenevola , any status?

[2020-07-11 00:01] alanisdg commented on #8942
issue still persist on Meteor 1.10  React apps

[2020-07-12 21:07] santiagopuentep commented on #10930
This is still happening here, whe can't update unless we do a hack.

[2020-07-13 06:07] arggh commented on #11089
Beep.

[2020-07-13 09:47] nytamin opened #11120 "Meteor.wrapAsync handling undefined properties wrong"
I have come across an issue where `Meteor.wrapAsync` is not handling undefined properties as it should.

The [documentation states that](https://docs.meteor.com/api/core.html#Meteor-wrapAsync):

But in the case of
[code]
The arguments provided into `myWrapFunction` is
[code]
altough I expected this to happen:
[code]

This creates a significant problem, since the callback *might not be the last par

[2020-07-13 13:30] SimonSimCity commented on #10902
Just as a small sidenote: Also the packages `ecmascript-runtime-server` and `ecmascript-runtime-client` both have the package `core-js` two times in their current release. Once as `core-js` and once as `.core-js-garbage-*.*`. Maybe it's a good solution to somehow prevent the inclusion of such packages in a release on atmosphere.

[2020-07-13 14:26] afrokick commented on #10902
Is it safe to remove the Babel-compiler folder? I’ll try to create PR to solve this issue

[2020-07-13 14:48] rereradu opened #11121 "Legacy bundle served when using Headless Chrome"
I am using Meteor 1.10.2 on a Debian 10 Buster server. When loading the site in Headless Chrome (using `puppeteer`), the `web.legacy` bundle is used, which is causing lots of errors - my app doesn't support legacy browsers.

Example of error captured in the console:

`no such file or directory, open '<PATH_TO_APPLICATION>/bundle/programs/web.browser.legacy/dynamic/node_modules/@babel/runtime/helpe

[2020-07-17 15:56] d0liver opened #11123 "meteorBabelHelpers is Undefined in the Cordova Bundle (iOS) in releases > 1.8.1"
I'm attempting to build for iOS (with Cordova on macOS) on any Meteor release above 1.8.1. Running the app in the iOS simulator produces a `meteorBabelHelpers is undefined` error coming from multiple Meteor packages using coffeescript like https://github.com/softwarerero/meteor-accounts-t9n and https://github.com/arillo/meteor-flow-router-helpers. I did some digging and it looks like `meteorBabelH

[2020-07-17 15:58] hexsprite commented on #11123
Hey, I had this same problem. I ended up forking the packages and adding this at the top of each .coffee file:

[code]

which solved the issue for me. I didn't have that many coffeescript packages.

I had filed some issues about this but there wasn't much interest in fixing it ;)

[2020-07-17 17:05] #11096 closed

[2020-07-17 17:10] filipenevola commented on #11096
Published minifier-css@1.5.2.

[2020-07-17 17:40] filipenevola commented on #11104
Hi, the best place to ask questions is in the [Forums](https://forums.meteor.com) or in our [Community Slack](https://join.slack.com/t/meteor-community/shared_invite/enQtODA0NTU2Nzk5MTA3LWY5NGMxMWRjZDgzYWMyMTEyYTQ3MTcwZmU2YjM5MTY3MjJkZjQ0NWRjOGZlYmIxZjFlYTA5Mjg4OTk3ODRiOTc).

Please send this question there and I'm sure you are going to get some help.

[2020-07-17 20:10] #10555 closed

[2020-07-17 20:12] filipenevola commented on #10555
Published socket-stream-client@0.3.1.

I didn't change the other place that is throwing this error as I didn't see anybody complaining about that place, all stack traces that I saw were from _didClose function.

[2020-07-17 20:40] filipenevola commented on #9915
Hi @derwaldgeist I understand your frustration but stale-bot only closes issues without any activities for a long time so the issues are probably not going to be solved any way, if you have issues that you are not sure are still happening or not feel free to open a new issue 😉

[2020-07-17 20:45] filipenevola commented on #11073
I don't believe this is a Meteor issue as I don't have these issues on my apps when my primary changes.

We need some reproduction steps and versions here to be able to narrow down this issue but I believe if this was a Meteor issue many would be facing this problem every week, at least my clusters on Atlas have different primaries at least once a week.

If we don't have more details I would have

[2020-07-17 20:47] filipenevola commented on #11108
Hi, as we don't have any details here I have to close this issue.

[2020-07-17 20:47] #11108 closed

[2020-07-17 20:48] filipenevola commented on #11109
This is also documented here https://docs.meteor.com/packages/autoupdate.html#usesCleartextTraffic

[2020-07-17 20:48] #11109 closed

[2020-07-17 22:49] evolross commented on #11073
Using Atlas here too. How do you detect this? Would be curious to see if my Atlas cluster's primary changes.

[2020-07-18 11:29] perbergland commented on #11074
I investigated a bit more and this is caused by a bug in the meteor file watching logic. It’s quite complicated.

The source of the problem seems to be the handling of lazy files in the compiler-plugin handling. During tests, all non-test files (named *.spec.*, *.tests.* etc) are considered lazy unless explicitly marked as non-lazy:

https://github.com/meteor/meteor/blob/d9db4f52f2ea6d706a25156768

[2020-07-18 13:28] zodern commented on #11074
Thanks for looking into this @perbergland. I think it will be fixed by https://github.com/meteor/meteor/pull/10455 since it will replace `addPotentiallyUnusedFile` and `computeJsOutputFilesMap` to only watch the files used by compilers.

[2020-07-18 14:02] perbergland commented on #11074
Thanks @zodern, looking forward to it. I’ll see if there’s a quick fix that could be applied to avoid needing to wait for that upcoming larger PR.

[2020-07-18 14:13] dcantatore opened #11125 "Deployed files in public folder are not available website"
I have been building and deploying several meteor apps for a while now and I still can't seem to work the reason for this "bug". I have items in the public folder that I can see and some that I can not.

Here is the directory from the server:
![Screen Shot 2020-07-18 at 10 06 03 AM](https://user-images.githubusercontent.com/15852431/87854270-cadd0a00-c8de-11ea-987f-d8b7e2cbf230.png)

I can type in

[2020-07-18 14:34] perbergland commented on #11074
Upon further inspection of the code, I think all I wrote above is wrong. The "lazy" file handling is not broken where I said.

Instead, when I reviewed _watchOutputFiles, I noticed that it takes the list of all output files (per module) and does try to add a watchset for the source files, except as I debug the code, the sourcePath field of the JsOutputResource is suddenly set to the produced js fi

[2020-07-18 15:22] perbergland commented on #11074
When I modified my typescript compiler to set the path property in the addJavaScript call to the *source file path* (path/to/myfile.ts, inputFile.getPathInPackage()) just like the BabelCompiler does, things now work.

The documentation on https://docs.meteor.com/api/packagejs.html is misleading as it the example shows that you should set path to the generated file, named ".js".

![image](https://u

[2020-07-19 10:57] ruhci28 commented on #11031
Hii , can i work on this ?

[2020-07-19 11:03] ruhci28 commented on #10923
Hii, can i work on this .?

[2020-07-19 12:18] ostrolucky commented on #10923
Please do

[2020-07-19 20:17] d0liver commented on #11123
@hexsprite Thanks very much. I was able to get this working doing what you suggested. I'm going to leave this open though, because I think that this effectively breaks compatibility with CoffeeScript for users unless they're willing to maintain their own forks of integral packages.

[2020-07-20 07:40] perbergland commented on #11074
Backtracking on the fix now because it broke the client builds even if meteor test now runs flawlessly

[2020-07-20 15:16] macrozone commented on #9758
revisiting an older meteor project i am surprised to learn that this issue still is unsolved. since meteor does not use webpack and implements bundling itself, this issue here should be solved by the core-team and not by the community. just my 2 cents.

[2020-07-20 22:39] nelsyeung opened #11126 "Unable to add Cordova plugins from GitHub"
### Reproduction details

Terminal commands:

[code]
The error message:
[code]
Note that I'm not doing anything special here. I copied the command straight out of the Meteor guide: https://guide.meteor.com/cordova#cordova-plugins

### System information
**OS**: macOS 10.15.5
**Meteor**: 1.10.2
**NodeJS**: 14.5.0

[2020-07-20 22:44] hexsprite commented on #11126
try wrapping the whole package name including the href part in quotes...?

[2020-07-20 23:03] nelsyeung commented on #11126
@hexsprite Thanks for that pointer. Turns out that this is a problem with ssh.
Running it with quotes works:
[code]

[2020-07-20 23:03] #11126 closed

[2020-07-20 23:27] hexsprite commented on #11126
yeah, less likely ssh but rather the shell you're using might have some different escaping rules...

[2020-07-20 23:36] nelsyeung commented on #11126
Not ssh, zsh, it's because of the extended glob system.

[2020-07-21 12:44] gbhrdt commented on #11073
You can see it in your Project's Activity Feed ("Replica set elected a new primary…").

[2020-07-21 13:01] nelsyeung opened #11127 "Cordova variables missing during another platform build if a Cordova plugin is installed from GitHub"
## Reproduction details

Terminal commands:

[code]

Add the following to `mobile-config.js`:

[code]

Terminal commands:

[code]

Errors:

<details>
<summary>

[code]

</summary>

[code]

</details>

## Workaround

Reset before the second build `meteor reset`.

## Notes

* Running iOS or Android first doesn't matter, it'll always break during the second build.
* Installing without GitHub is fine

[2020-07-21 14:54] hexsprite commented on #11073
This problem may be exacerbated by the issues with incomplete mongo tracebacks in Meteor. I opened issue #10941 about this. It's possible that solving that may allow us to see which DB operations in application code are erroring out in the failover situation.

[2020-07-22 05:35] shivamkrpandey commented on #10764
Faced same issue and added only below option in `tsconfig.json` to fix

` "importHelpers": true `