[2021-08-18 22:55] filipenevola commented on #11513
I believe the root cause of this message being displayed is that the `ddp-client` is not up-to-date.

Could you check your versions?

I don't see this message in the server console, as expected, with these versions:
- `ddp-client@2.5.0`
- `ddp-server@2.4.0`

But I do see with these versions:
- `ddp-client@2.3.3`
- `ddp-server@2.3.2`

Please update your packages and if the message persist let me kn

[2021-08-18 22:55] #11513 closed

[2021-08-19 02:00] kakadais commented on #11513
ddp-client@2.3.3 in my case.
It sounds figured the reason out but still, I don't get why the message appeared all of a sudden without any update.

[2021-08-19 03:10] tomtom87 commented on #11513
Yeah me too, seems really weird that can appear without update.

Any chance that this is some form of tracking being added that was bugged? I didn’t realize meteor can push out updates without the developer requesting them. Very interesting thanks for the feedback.

[2021-08-19 03:20] kakadais commented on #11513
That's my point.

I think one of the best points of Meteor is 'Manage & Keep the project independently'.
It still works great than the other platforms,
but this one is critical of the dependencies things.

[2021-08-19 10:19] StorytellerCZ commented on #11513
@kakadais from the OP it looks like there has been an update to Meteor 2.3 which removed some deprecated code. From the looks of it I failed to account for an impact of one of the removal would have, which was this message. It was fixed in the later version and then I forget that I pushed out a patch with it as it was just a one liner that came in together with something else. I have then moved on

[2021-08-19 10:41] StorytellerCZ commented on #11589
That is a tough one. First of all, this is something that Grapher should address and it should short circuit. Having it in the core is questionable as this is something that the app should catch and I don't think we should provide fail saves for every potential pitfall that a developer can make as that would just increase the code base tremendously.

That being said, let's look at the fix for this

[2021-08-19 12:02] StorytellerCZ commented on #9689
Closing this in favor of this discussion: https://github.com/meteor/meteor/discussions/11591

[2021-08-19 12:02] #9689 closed

[2021-08-19 12:03] StorytellerCZ commented on #11424
Closing this in favor of this discussion: https://github.com/meteor/meteor/discussions/11591

[2021-08-19 12:03] #11424 closed

[2021-08-19 12:04] StorytellerCZ commented on #10704
We will have to make sure that this is taken care of with upgrading browser policy package.
Discussion: https://github.com/meteor/meteor/discussions/11591

[2021-08-19 12:11] priyanshuk99 commented on #11221
const [values, setValues] = useState({
postedby: "",
description: "",
photo: "",
loading: false,
error: "",
createdPost: "",
getaRedirect: false,
formData: {} //<--- fix it
});

just do this and that's it. Cause previously formData was string, but now it is an empty object, and since function is also an object it would fix your code. I'm not sure it is the correct way or not but it save me 👍

[2021-08-19 12:13] StorytellerCZ commented on #9957
Updated less package recently as well. Since @gotjoshua reported this as fixed I'm closing this issue. Comment if that is not the case and I'll re-open.

[2021-08-19 12:13] #9957 closed

[2021-08-19 12:23] StorytellerCZ commented on #9964
Tested on Ubuntu and no problem. Most likely the hanging Windows issue.

[2021-08-19 12:35] StorytellerCZ commented on #11361
This should be fixed in Meteor 2.3+
Please comment if you encounter it again.

[2021-08-19 12:35] #11361 closed

[2021-08-19 12:43] StorytellerCZ commented on #10821
@wildhart if you could do a PR that would be great. I'm going to close this issue in the meantime.

[2021-08-19 12:43] #10821 closed

[2021-08-19 12:59] StorytellerCZ commented on #11342
Workaround available, closing.

[2021-08-19 12:59] #11342 closed

[2021-08-19 13:48] bhushitjoshipura commented on #11513
I am using Ubuntu. It is wrong to say that this message can be ignored.
I am just copying from https://blaze-tutorial.meteor.com . I had progressed till almost half the tutorial. Then the problem started.
Now I have deleted and recreated the project many times over. No sooner than I change main.html, the error message starts appearing and localhost:3000 doesn't reflect ANY change whatsoever.

I am

[2021-08-19 13:55] tomtom87 commented on #11513
I have changed ddp client and server and there is no change at all. Also it reverts to the previous versions no matter what I specify in the versions file. I didn't update anything this was just pushed out afaik one minute it was fine, next this message appears.

[2021-08-19 13:58] filipenevola commented on #11513
Hi @tomtom87 so you can reproduce in latest versions?

Could you paste the content of your .meteor/packages, .meteor/versions and .meteor/release files?

[2021-08-19 14:08] bhushitjoshipura commented on #11513
I uninstalled and reinstalled Meteor. The problem seems to have gone for now.

[2021-08-19 14:23] bhushitjoshipura opened #11592 "https://blaze-tutorial.meteor.com/simple-todos/02-collections.html - important detail missing"
I am not sure whether tutorial related issues should be reported here.
In https://blaze-tutorial.meteor.com/simple-todos/02-collections.html#2-3-Render-Tasks-Collection , restarting Meteor is necessary for the changes to reflect. Otherwise the student gets a blank screen - the former static data is gone and MongoDB doesn't load.

Please mention "Restart Meteor" as a required step.

[2021-08-19 14:24] tomtom87 commented on #11513
release: ***@***.***

I am literally editing the versions files and setting the ddp client and
server @ versions and everytime it reverts to the originals. Is there
another way to set this or what am I doing wrong?

On Thu, Aug 19, 2021 at 8:59 PM Filipe Névola ***@***.***>
wrote:

[2021-08-19 15:10] bhushitjoshipura opened #11593 "Tutorial - missing important instruction at https://blaze-tutorial.meteor.com/simple-todos/04-update-and-remove.html#4-1-Add-Checkbox"
https://blaze-tutorial.meteor.com/simple-todos/04-update-and-remove.html#4-1-Add-Checkbox is missing an important detail.
While it mentions adding a new file task.html to describe template 'task', it forgets to mention that this template is already existing in App.html, which should be removed. In absence of this instruction, the page just displays task addition part and not the existing task list

[2021-08-19 16:13] filipenevola commented on #11513
@tomtom87 you should not edit the `versions` file manually, this doesn't work, Meteor is always going to use the pinned version from the Meteor release for core packages.

For core packages, you need to be in the correct Meteor release to be able to run the correct package or you can fork and copy the package to your local folder `packages` which I believe makes no sense in this case.

For other p

[2021-08-19 16:43] tomtom87 commented on #11513
How do I fix the issue? Update meteor? Please give a plain English business answer, thanks for all the verbose details, still doesn’t fix the problem. If it even is a problem. It’s just kinda weird to see it appear in my app, I never realized you can push our updates without our consent. Having to seriously think about Meteor now and going forward with it in production.

[2021-08-19 17:31] StorytellerCZ commented on #11513
@tomtom87 You fix the issue by running `meteor update` and getting the latest version of the packages. The display of the message does not have any functional impact. Meteor does not and cannot push any updates without you expressly running a command to do so.

[2021-08-19 17:45] tomtom87 commented on #11513
How come this error appears for everyone at the same time yesterday and non of us did an update?

[2021-08-19 18:35] StorytellerCZ commented on #11513
@tomtom87 It did not appear to everyone at the same time. If you look this issue has been started a while ago. We have fixed an issue where this message would be displayed every time on a start of a server as a check for this particular handshake between server and client was removed in a deprecated code.
That does not mean that the message might not appear when there is an actual invalid message

[2021-08-19 18:38] tomtom87 commented on #11513
It just appeared yesterday. Didn’t update anything. Started my dev env and this message is there.

I didn’t realize you can just roll out updates to meteor like that. I thought it was down to me to issue an update. Thanks for clarifying.

[2021-08-19 18:54] StorytellerCZ commented on #11513
@tomtom87 We can't roll out any updates to your app. You always have to issue a command.

[2021-08-20 00:22] filipenevola commented on #11539
Hi @pozylon I was able to reproduce this issue as expected in your code.

I see how you are using AsyncLocalStorage and I believe you could use Fiber in the same way Meteor does, to store the context in the `Fiber.current` as you are already using Fiber anyway.

When Meteor finishes the work of migrating away from Fibers you could switch back to AsyncLocalStorage.

I believe this is the only worka

[2021-08-20 00:27] filipenevola commented on #11536
hi @fpreti the change is probably not going to breaking these libraries.

Updating the versionsFrom to be compatible should do the work.

The problem here is that these packages are no longer maintained by the authors but you could create a new up-to-date versions of these packages by creating a Fork.

This community is also discussing this here https://github.com/Meteor-Community-Packages/organiz

[2021-08-20 01:05] filipenevola commented on #11318
Hi @Oyshoboy if this is still affecting you please open a new issue with a reproduction.

Read more [here](https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#reporting-a-bug-in-meteor)

Thanks.

[2021-08-20 01:38] filipenevola commented on #11589
Hi @Floriferous I don't see why this should be implemented in Meteor.

This is a valid query that should create a valid cursor.

As Jan said it would be ok for Grapher to implement a short circuit in this case but not for Meteor.

[2021-08-20 01:38] #11589 closed

[2021-08-20 02:57] tomtom87 commented on #11513
I started my app yesterday, there is this livedata message showing. I told I can’t get rid of it without updating. It wasn’t there Monday. It’s there Tuesday. I’ve done no update. So that doesn’t make any sense at all.

[2021-08-20 04:21] pozylon commented on #11539
@filipenevola I was also thinking about that and it makes sense what you say. We don't want to miss out on node 14 and will do what you're proposing in the meantime. Thanks for looking into this.

[2021-08-20 09:13] StorytellerCZ commented on #11513
@tomtom87  As mentioned before, there can be multiple causes for the message. Without more information about your app I can only make wild guesses.

[2021-08-20 09:21] StorytellerCZ commented on #11586
If we could get a sample of an object that is being passed in that crashes it, we might be one step closer to reproduction.

[2021-08-20 09:31] tomtom87 commented on #11513
There’s seriously so many reasons for on one day having no message, to the next having the message without doing any update? Ok shoot man, take a wild guess, I’d love to hear it. 🍿

[2021-08-20 11:43] rj-david commented on #11586
We also encountered this. We removed HMR temporarily because we need to deploy. Will post here the sample object once I get the chance

[2021-08-20 12:01] StorytellerCZ commented on #11513
If you are on Meteor 2.3.5 with the latest packages then the problem you are seeing is not related to this issue and is something else. If you are confident that it is not coming from something in you app, please open a new issue with reproduction so that we can look into that. Wild guessing, without even knowing what version of Meteor and packages you are on, is just a waste of time.

[2021-08-20 12:43] kakadais commented on #11513
Hey guys- take it easy- ;)

I believe that what the @tomtom87 wants to know is 'how come it happened.
He's not saying 'it's real problem' or so on.

I had the same things before I saw @StorytellerCZ's comment,
because I love so much that the independence,
which mean,
'If I keep the project, it will work perfectly same in the 1000 years later'

I realize this is not true because,
Meteor is updating

[2021-08-20 12:50] tomtom87 commented on #11513
Don’t worry I’m chill man I just don’t get how it can update itself. Traditionally it should be user invoked not pushed. The 1000 year analogy is a good example. It makes me uneasy that updates are pushed without our consent or any notification. I just loaded my app that’s all. I did not issue a update command.

Meteor version 2.0

[2021-08-20 13:15] kakadais commented on #11513
emm, yeah it's curious ;)

@StorytellerCZ help man-
I think this is the last question haha.

![image](https://user-images.githubusercontent.com/5265343/130238365-17773ff6-2c1e-4799-871e-815b48e1298e.png)

I have the Linux server which is installed only 1.10.2 and never update anything on meteor & project here,
but the log message is showed when I re-run the project.

How the log message update is

[2021-08-20 13:59] alihuber commented on #11513
I'm also seeing this message appear on my dev machines all of a sudden. Meteor versions ranging from 1.11 (ddp-client 2.3.3) to 2.0 (ddp-client 2.4.0). Also without any manual intervention or updating anything. One of the apps was last updated in September 2020.
What makes this kinda disturbing is that it seems that somehow the server code on our (dev-)machines or even Meteor itself got updated wi

[2021-08-20 14:07] StorytellerCZ commented on #11513
Semantics, but true, mea culpa. What I meant there, there is no button the Meteor Software can push in some administration that is going to push code that is going to send code to user's apps.

[2021-08-20 14:08] alihuber commented on #11513
Thanks for clarification.

[2021-08-20 14:10] zodern commented on #11513
I also started recently seeing this error on an app still using Meteor 2.0.

It uses `ddp-client@2.4.0`, updated 7 months ago and `ddp-server@2.3.2`, updated 12 months ago. The versions for the core Meteor packages haven't changed in the past 4 months in this app. I have local packages disabled for this app (`METEOR_PACKAGE_DIRS` is set to an empty string).

Is there anything that could cause this

[2021-08-20 14:10] filipenevola commented on #11539
@pozylon actually I've checked this right after your post but I don't know why in my mind I thought that I have posted the reply here already but yesterday double checking all my GitHub notifications I saw that I didn't, sorry about that.

BTW, a few months ago I was comparing AsyncLocalStorage and Fibers and you can see how the API is similar and you can achieve the same with both, check this cod

[2021-08-20 14:14] kakadais commented on #11513
Wow.
The only question left is how I didn't know this for 7 years with 100 projects ;)
Thanks for clarification too-

[2021-08-20 14:17] filipenevola commented on #11513
@kakadais we don't have that many patch versions in core packages.

Usually we have only minor versions bumps on each Meteor release. Also it's not very often that something is going to produce a new log in every new server startup and so in this case it was very clear that something was changed.

[2021-08-20 14:17] tomtom87 commented on #11513
Exactly

[2021-08-20 14:18] StorytellerCZ commented on #11513
@zodern
This is the offending code in ddp-client:
[code]
So it can be triggered in some other instances. Also don't mistake this for `discarding unknown livedata message type` which is when ddp can't figure out what to do with the received message.

[2021-08-20 14:20] zodern commented on #11513
@StorytellerCZ  The error log is:
[code]

I actually am seeing the error message before the app's server starts. Could the invalid message be sent by troposphere when Meteor is updating the package catalog?

[2021-08-20 14:24] filipenevola commented on #11513
I believe we are spending too much time here but I can explain again.

This message was there from Meteor versions before 1.0.

Before 1.0 Meteor was sending a message after the Websocket connection.

This message was used in some tests to check if Fibers was running in the callback and by mistake this message was removed by Storyteller when he was removing old code.

So I added this message back

[2021-08-20 14:26] filipenevola commented on #11513
If we want to discuss versions resolutions in Meteor I believe this is not the right issue for this.

[2021-08-21 12:40] WilliamKelley commented on #11562
No I did not get any reports. I doubt the user noticed it honestly, unhandled promise rejections are usually silent errors.

I think this generally would be the way to go from here. At least something around the LOC that will give a future error more context for reproduction or cause analysis.

[2021-08-23 13:45] larswolter opened #11600 "Using Accounts.resetPassword with enrollment is not working anymore"
Using resetPassword throws an error, Invalid email [403] when used in the enrollment workflow.

The error is in
https://github.com/meteor/meteor/blob/721841ba900cae609da84a97938241874b39e07f/packages/accounts-password/password_server.js#L781

The reason field has been removed from services.password.xxx in Meteor 2.3.x But it is still used instead of `isEnroll`.

[2021-08-23 14:36] StorytellerCZ commented on #11600
@larswolter thanks for the notice! Looking into it now.

[2021-08-23 15:22] StorytellerCZ commented on #11600
@larswolter can you please check #11601 for the fix?

[2021-08-24 07:31] larswolter commented on #11600
Thanks @StorytellerCZ i tested the fix and it also works in my setup.

[2021-08-24 07:32] #11600 closed

[2021-08-24 07:45] StorytellerCZ commented on #11600
Alright! I will release the patch now.

[2021-08-24 12:54] po-jo commented on #10555
Just happened to me as I was browsing our app (good connection, macbook pro 2019 with a recent chrome => websocket supported) . As a user, we see everything re-loading (including Methods calls). Meteor.status was 'reconnecting' for about ~5 seconds. That seems odd since our app loads <100ms most of the time.
We are using heroku with sticky sessions, Meteor2.1

[2021-08-25 19:45] WilliamKelley opened #11604 "Issue installing Meteor through NPM (beta testing) (in WSL2)"
Following the request to beta test installing Meteor on linux/mac through NPM, I've run into an issue.

My OS is Windows 10 Pro, and I'm developing on WSL2, Ubuntu latest. I was using NPM version `6.14.11`. I was using the `zsh` shell, but the same behavior appeared on `bash` as well.

I moved the current meteor install, removed the program, and installed through NPM. Then I tried to call `meteor

[2021-08-26 21:16] #11604 closed, assigned to renanccastro

[2021-08-27 13:05] olafthiele opened #11606 "Error in 2.3.5 docs for node params for meteor run"
[Current docs](https://docs.meteor.com/commandline.html#meteorrun) refer to `SERVER_NODE_OPTIONS ` to be given as part of the meteor run command, but they should be provided via env options as [described here](https://forums.meteor.com/t/solved-how-to-provide-node-options-in-2-3-5/56551):

In Linux:

In Windows (PS):

Thanks @robfallows for this information.

[2021-08-27 19:41] #11606 closed, assigned to nobody

[2021-08-28 06:08] filipenevola commented on #10712
This is going to be released on Meteor 2.4. You can already test it on latest RC https://github.com/meteor/meteor/pull/11488

[2021-08-28 06:08] #10712 closed

[2021-08-28 06:09] filipenevola commented on #9907
This fix is going to be released on Meteor 2.4. You can already test it on latest RC #11488

[2021-08-29 18:48] olafthiele commented on #11606
@filipenevola, thanks for the feedback. Didn't see the option to submit a PR that easily.

[2021-08-31 04:21] filipenevola commented on #11606
If you scroll to the bottom of every doc page you see a link "Edit on GitHub" and then you can just click in the pencil on GitHub UI to suggest a change.

[2021-08-31 10:56] macrozone commented on #9907
The linked PR does not solve the issue. It simply adds an additional check for `env.NODE_ENV === 'development'`, which is true anyway in most cases as you will usually use the `meteor` command in development.

Goal is that you can use METEOR_SETTINGS env var as an alternative to `--settings`.

@filipenevola should i create a new issue?

[2021-08-31 11:22] StorytellerCZ commented on #9907
@macrozone feel free to create a PR

[2021-08-31 16:07] macrozone commented on #9907
i created one 2 years ago: https://github.com/meteor/meteor/pull/10605

(CLA did not work back then, so it got closed without providing any help.)

It puzzles me that there is a discussion about this particular issue at all. There is nearly no value in forcing users to use `--settings` (yes, it refreshes automatically if you change settings.yaml, hooray), but thats not reason enough to purpously b

[2021-08-31 22:44] schlaegerz opened #11612 "Meteor always determines that ios wkwebview is a legacy browser even though it is on par with safare"
Ended up running into an issue where my code was running as the legacy bundle on ios, which was causing some issues.

Found out that I needed to call
[code]
To be able to mark it as a modern browser like it is.

This seems to be missing form the modern-browsers package either as an alias or as an additional item listed.

Seems like it would be a good default to include.

[2021-09-01 08:23] StorytellerCZ commented on #11612
For classes the minimum version of mobile Safari is set to 9.2, but the way you have added the name is not something that looks like we have listed in the package. Is this in Cordova?

[2021-09-01 08:33] StorytellerCZ commented on #11612
@schlaegerz can you please check that #11614 works for you?

[2021-09-01 08:41] StorytellerCZ commented on #11040
@zodern does #11608 help with this?

[2021-09-01 08:45] StorytellerCZ commented on #11402
#11506 will be released as part of Meteor 2.4

[2021-09-01 13:51] schlaegerz commented on #11612
Yeah that looks like it works

[2021-09-01 17:58] kwhjvdkamp commented on #11388
Working out a sample found on the TopTal environment about NgRx Angular (Angular 12.2.3) in conjunction with Firebase (as backend, version 9.0) on Visual Studio Code with default Chrome browser (version 93, no Firefox) during the initial phase of building the sample 'Generating browser application bundles (phase: setup)' the erroneous message '(node:52256) [DEP0131] DeprecationWarning: The legacy

[2021-09-01 19:59] StorytellerCZ commented on #11388
Most likely some old package or something that uses the HTTP parser directly. Best to check your packages. What version of Meteor are you on?

[2021-09-02 00:59] filipenevola commented on #11040
Yes, this issue should not happen anymore in Meteor 2.4.

[2021-09-02 00:59] #11040 closed

[2021-09-02 01:00] #11402 closed

[2021-09-02 01:03] diavrank commented on #11040
Good news for Windows users. I am not one of them anymore, but I will test that in my other computer.

[2021-09-02 07:39] jasongrishkoff commented on #11324
Hi @zodern - any luck reproducing this?  It's gotten to the point where updating a scss file at `/functions/scss/file.scss` forces me to wait ~30 seconds to update, then refreshes the page.  I feel like I'm back in the old days of 2016 Meteor :(

[2021-09-02 09:40] kwhjvdkamp commented on #11388
No Meteor involved! The only http-parser thing involved is "http-parser-js": "^0.5.3" (according npm e.g. it's the latest)...

[2021-09-02 13:07] zodern commented on #11324
I am able to reproduce.

This looks like a separate issue. 30 seconds is much longer than a rebuild should take. Could you please create a new issue with a profile from [zodern:build-profiler](https://packosphere.com/zodern/build-profiler) or the output from a rebuild with the `METEOR_PROFILE=20` env var set?

[2021-09-02 16:38] megawebmaster commented on #10767
I just stumbled upon this issue and I might shed an interesting point of view for that. My app currently has 120kB of this dynamic imports descriptors (using Meteor 2.3.5) for the initial page when I dynamically load only 2 components with a multiple dynamic dependencies (there are different routes there).

I believe that the bundling system and dynamic imports should support what developer wants

[2021-09-02 16:48] StorytellerCZ commented on #11388
That it is the latest doesn't mean anything. Since it is focused on http parsing it is most likely your culprit.

[2021-09-04 08:43] itsmingjie opened #11616 "Improving ease of contribution for beginner student contributors"
Dear Meteor maintainers,

We're reaching out on behalf of an ongoing partnership between California State University Monterey Bay's Computing Talent Initiative and CodeDay, a nonprofit organization. We're working on a program for college students who are new to contributing to open-source software, and we'd love to invite them to help closing some "good first issues" in your project!

One of the g

[2021-09-04 16:05] filipenevola commented on #11616
Hi @itsmingjie this is a great initiative and for sure we can help.

We can discuss details here or by email if you prefer filipe@meteor.com.

What do you believe should be the first step?

We also have a hackathon coming in October with great prizes. It's not focused directly on open-source contributions but they would have contact with the maintainers during the hackathon as well, read more here

[2021-09-04 21:50] ocavue opened #11617 "module.exportDefault is not a function"
Hi. I'm a maintainer of an NPM package called `remirror`. One of all users found that the application crashes with `module.exportDefault is not a function` error when import `remirro` in meteor.

Check the [origin issue](https://github.com/remirror/remirror/issues/1213) for detailed steps to reproduce it. I also prepared a [reproduction](https://github.com/issueset/remirror_meteor) if that can hel

[2021-09-05 07:23] itsmingjie commented on #11616
Thanks a lot for the kind words @filipenevola! I'm starting an email thread to coordinate the next steps -- mostly, we just need some time from you to record a "tour" through your codebase (or, if desired, a live webcast with our students). Andrew (cc'ed on the email) can help getting things started.

And thanks for bringing up the hackathon! I'll pass this on to our team as well :D

I'll post per

[2021-09-05 08:21] StorytellerCZ commented on #11617
I guess we are both at a lost here :laughing:
I'm going on a limb here, @zodern does anything comes to mind? We had this appear and disappear a few times in the past as far as I can tell: https://forums.meteor.com/t/module-exportdefault-is-not-a-function/54610?u=storyteller
Though it always seem to went away.

[2021-09-05 18:37] jasongrishkoff commented on #11324
@zodern struggling to get that package installed. Keep encountering an error:
[code]

[2021-09-06 04:44] #11616 closed

[2021-09-06 09:57] jmdsg opened #11619 "Minifier is removing unused function args in production run"
- Version: I am using meteor 2.3.5, but also tried on meteor 2.2.1 and it behaves the same.
- Last version it worked: Not really sure.
- The operating system: Windows 10 Version 10.0.19043 Build 19043
- The expected behavior: Unused arguments not being deleted in the minified code, since some libraries i use (ramda) rely on `fn.length`.
- The actual behavior: Unused arguments are being deleted in

[2021-09-06 14:25] StorytellerCZ commented on #11619
@jmdsg can you please give it a try in the latest 2.4 RC, minifiers were updated for that release.

[2021-09-06 15:30] diavrank commented on #11377
Fixed [here](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/55608)

[2021-09-06 18:31] zodern commented on #11324
@jasongrishkoff sorry, I forgot it hadn't been updated for Meteor 2.3. It should work now.

[2021-09-07 18:00] jasongrishkoff commented on #11324
Thanks! Attached is a log from when I updated a scss file in `/imports/scss/`. Just replace the `txt` extension with `cpuprofile` and I'm hoping it'll work!
[client-rebuild.txt](https://github.com/meteor/meteor/files/7123455/client-rebuild.txt)

[2021-09-08 08:06] eric-burel commented on #10459
Hi guys, still relevant, there seems to be a fix with NPM.depends, but then why don't we have an error message when dependencies are missing? I would expect the build to fail or something when the dependencies aren't there.

[2021-09-08 14:31] snowwolfjay opened #11622 "Could not find mainModule for 'web.browser' architecture: client/main.jsx use --minimal demo"
just use meteor create app --minimal and then build
-----
system win10
meteor 3.2.5
_____
Errors prevented bundling:
While building the application:
[code]
----

[2021-09-09 11:02] fengzi2016 opened #11625 "Sorry, this project uses Meteor 1.12, which is not installed and could not be downloaded."
After change the /etc/hosts for warehouse.meteor.com, but It'progress is still 0%
![image](https://user-images.githubusercontent.com/22490787/132674495-459a28bb-61b6-4769-8e4b-fbdf9fe4d586.png)

[2021-09-09 12:50] fengzi2016 opened #11626 "static-html@1.3.0... can't download"
![image](https://user-images.githubusercontent.com/22490787/132688733-4fd5af33-2872-4a49-b353-be335fefdd57.png)
METEOR@2.3.6

[2021-09-09 12:56] StorytellerCZ commented on #11625
Hi @fengzi2016 we will need a bit more information. Are you on Windows? Are you behind a corporate proxy or in China?

[2021-09-09 13:00] StorytellerCZ commented on #11626
Closing as this is the same issue as #11625

[2021-09-09 13:00] #11626 closed

[2021-09-09 13:04] StorytellerCZ commented on #11622
Hi @snowwolfjay can you please copy here the content of `package.json`

[2021-09-09 13:35] fengzi2016 commented on #11625
I am in China，and use Mac
my question is when I run with  METEOR@2.3.6 ，it starts to download static-html@1.3.0, but its progress is always 0% or downloaded 5% then go to 0% again, I need some help.

![image](https://user-images.githubusercontent.com/22490787/132695382-0283f6b0-77e3-435c-9124-32c4f52553a9.png)

[2021-09-09 13:43] renanccastro commented on #11625
Hi, @fengzi2016 .
We are not experiencing any outage or active blocks in our CDNs that provide downloads, at this moment.

As the answer in your original issue:
https://github.com/Hitachi-Automotive-And-Industry-Lab/semantic-segmentation-editor/issues/154

I do recommend you use another VPN, if that is the case.

[2021-09-09 13:43] #11625 closed

[2021-09-10 01:19] fengzi2016 commented on #11625
hello，my VPN can connect to your service, but can't download successfully, even it download 10% then down to 0%  again;
![image](https://user-images.githubusercontent.com/22490787/132783327-5400da0c-ec8d-48bc-a6cf-258dbd8a8bd6.png)
This is not caused by VPN

[2021-09-10 01:20] fengzi2016 commented on #11625
Why did it download 10% and then go back to 0% instead of starting at 11%?

[2021-09-10 01:31] fengzi2016 commented on #11625
when downloading meteor-tool@1.12.0, Its download progress is always 0%
![image](https://user-images.githubusercontent.com/22490787/132784133-8e585ab4-a56f-4831-ae30-7824dbdfa2cb.png)
when downloading static-html@1.3.0, even if you download 100%, you'll go back to 0% and start again

[2021-09-10 01:34] fengzi2016 commented on #11625
![image](https://user-images.githubusercontent.com/22490787/132784446-e00966fc-431b-4a1b-81cc-7e50b2ceafbc.png)
Does the red box mean it's downloading? But it always comes back to 0%

[2021-09-12 14:07] MatejJan commented on #11088
Here is an updated test with 2.4-rc.6.

I have a new computer so I'm redoing the 1.8.1 test as well. The times there are now:

[code]

And after `meteor update --release 2.4-rc.6` and `meteor reset`, running and changing a line of stylus code:

[code]

The change in CSS in the browser appears only after the legacy build has completed. This means the times are

**1.8.1**: 651 ms + 2,684 ms + 1,733

[2021-09-12 18:57] zodern commented on #11088
You can use [`zodern:build-profiler`](https://packosphere.com/zodern/build-profiler) to take a cpu profile of the build process. This should show what is happening inside `other ImportScanner#scanImports for ...`.

[2021-09-13 10:20] SohelIslamImran commented on #7189
**I came up with a solution that worked in my case. it's very simple 😄**

First I tried this
`const getIconComponent = (type = "MaterialCommunityIcons") => {
  return require("@expo/vector-icons/" + type).default;
};`
But got errors for the dynamic string.

Then I got a solution.

This return a object of icon components
`//import { MaterialCommunityIcons, AntDesign, Entypo, EvilIcons, Feather, Fon

[2021-09-13 10:26] StorytellerCZ commented on #11377
Thanks a lot @diavrank !

[2021-09-13 22:07] filipenevola commented on #9907
This fix is going to be released on Meteor 2.4. You can already test it on latest RC #11613

[2021-09-13 22:07] #9907 closed

[2021-09-14 08:33] macrozone commented on #9907
<3

[2021-09-14 14:29] StorytellerCZ commented on #11622
I'm closing this issue because we haven't heard anything from the original poster for a while and weren't able to reproduce the issue.

[2021-09-14 14:29] #11622 closed

[2021-09-14 15:32] i-talic commented on #1964
The solution that worked for me in Meteor was to enclose the contenteditable div in an {{#if}} statement and use a reactive variable to turn its display off and back on. Thus the div was effectively recreated in DOM.

[code]
[code]

Some blinking might occur, but for me it was acceptable, since the purpose of this fix was to handle a marginal situation (when the user clicks the div multiple times)

[2021-09-14 16:15] toledoroy commented on #7310
A solution for the record, and future generations (since I just encountered the same issue)
Check your /etc/hosts file
[For an unknown reason in my /etc/hosts file, there was the entry: 54.192.225.217 warehouse.meteor.com; removed that entry](https://forums.meteor.com/t/solved-error-certificate-has-expired/49912/4), now it's working again.

[2021-09-15 11:57] #11612 closed

[2021-09-15 11:57] StorytellerCZ commented on #11612
Published in `modern-browser@0.1.6`

[2021-09-16 01:16] vlasky opened #11629 "Problems with minifier-js in Meteor 2.4"
I just upgraded an existing project to Meteor 2.4 which uses minifier-js@2.7.0

When creating a build, it is failing with the following error:

[code]

[The line of code in question](https://github.com/iron-meteor/iron-core/blob/c782823607aefc732bd53ca6b3e2a923bb7efdd5/lib/iron_core.js#L258) is part of the Meteor package iron:router and is rather unremarkable:

`  Iron.utils.assert(typeof package

[2021-09-16 06:40] StorytellerCZ commented on #11629
Yeah, that looks rather unremarkable. @vlasky co you have a quick reproduction?

[2021-09-16 07:22] vlasky commented on #11629
@StorytellerCZ this will reproduce the error:

[code]

[2021-09-16 08:06] StorytellerCZ commented on #11629
Having some issues with jQuery version resolution, in the meantime can you try with this PR: https://github.com/meteor/meteor/pull/11630

[2021-09-16 08:07] StorytellerCZ commented on #11619
@jmdsg can you try this PR if it fixes the issue: https://github.com/meteor/meteor/pull/11630

[2021-09-16 08:11] StorytellerCZ commented on #11619
From terser docs:
[code]
So it should keep the unused args.

[2021-09-16 08:53] vlasky commented on #11629
Yes, iron:router has a dependency on the jQuery version that shipped with Meteor 0.9.2 - jquery@1.11.11.

This is due to the line `api.versionsFrom('METEOR@0.9.2');` in its package.js. It is annoying and I would want the various iron:router packages to be updated even just to fix this.

Anyhow, I accessed the above PR #11630 and copied the Meteor packages `minifier-js` and `standard-minifier-js` i

[2021-09-16 09:10] StorytellerCZ commented on #11629
That is strange, but to be on the safe side I will release `standard-minifier-js` along with `minifier-js` so that their versions align.

As for Iron Router, that is something for the community. I think the issue there is that none of the maintainers are responding.

[2021-09-16 19:06] flean opened #11631 "ESM packages support Swiper.js 7"
Right now I'm stuck with version 6 of swiper and would like to upgrade to 7 but it requires ESM support.

Is there a way for us to use ESM packages in meteor?

[SwiperJS](https://swiperjs.com/migration-guide)

[2021-09-16 20:14] jmdsg commented on #11619
I read about that as well, but afaik, keep_fargs is enabled, and it is actually woking as expected, except with this particular case using the color package version 4.0.1, and potentially with some similar cases that we don't know about. So that makes me think, that something in the code of color@4.0.1, makes the terser to have an unexpected behavior, but i haven't been able to isolate exactly whi

[2021-09-17 00:35] filipenevola commented on #11619
Hi, `minifier-js@2.7.1` and `standard-minifier-js@2.7.1` are published.

A new `meteor update --release 2.4` should update these packages for you if you are already running Meteor 2.4.

[2021-09-17 00:36] filipenevola commented on #11629
Hi, `minifier-js@2.7.1` and `standard-minifier-js@2.7.1` are published.

A new `meteor update --release 2.4` should update these packages for you if you are already running Meteor 2.4.

[2021-09-17 00:50] vlasky commented on #11629
`meteor update --release 2.4` didn't update those packages in my existing Meteor 2.4 test project.

However, `meteor update --all-packages`  did.

[2021-09-17 00:56] filipenevola commented on #11629
Hmm, when I was updating atmosphere it updated without `--all-packages`.

Is everything working for you now @vlasky ?

[2021-09-17 00:56] #11629 closed

[2021-09-17 00:56] #11619 closed

[2021-09-17 01:19] vlasky commented on #11629
@filipenevola so far, so good.

[2021-09-17 08:15] StorytellerCZ commented on #11631
I don't follow, are you getting an error when you are trying to import from Swipper 7?

For example:
[code]
or
[code]

[2021-09-17 13:57] renanccastro opened #11632 "Update cordova-android to 10"
Cordova-lib is currently at @10.0.0, but cordova-android has a new major version that targets sdk 30.

There are a series of breaking changes in our code, so this is not a plug-and-play update.

What I saw so far:

https://github.com/apache/cordova-android/pull/1270
https://github.com/apache/cordova-android/pull/1269

These changes are not explicit in the changelog, but it changes how we build the

[2021-09-17 14:39] flean commented on #11631
[code]

[2021-09-17 15:08] StorytellerCZ commented on #11631
Shouldn't it be?
[code]

[2021-09-17 15:55] jamesloper commented on #10555
Some more info, in the context of Google crawler, It looks like you get `INVALID_STATE_ERR 3` when Google has not allocated, or does not have enough fetch quota.

[2021-09-17 16:10] flean commented on #11631
No, that comes directly from their docs and the react component inherits swiper core. At least thats my understanding.

[2021-09-17 17:30] StorytellerCZ commented on #11631
I still don't understand what the problem here is.

[2021-09-17 17:49] flean commented on #11631
It can’t find the module, app breaks. I have to use version 6 for it to work. It looks like meteor can’t use ESM packages. I’ll setup a meteor app only loading that component.

[2021-09-17 19:18] flean commented on #11631
here is the [repo](https://github.com/flean/simple-swiper-example) with version 7

Server
[code]
 Client Side
[code]

[2021-09-17 23:10] #11249 closed

[2021-09-17 23:36] #10767 closed

[2021-09-18 08:31] StorytellerCZ commented on #11631
OK, I see now!

Yeah, that is indeed not working. Right now workaround would be to import from the files directly like this:
[code]

But that is only a stop gap solution.

@zodern @renanccastro @filipenevola
The issue here is that in `package.json` the exports are defined under `exports` prop, in this case like this:
[code]

[2021-09-21 14:02] perbergland opened #11635 "Meteor 2.4 - chalk npm package incompatible with IE11, makes app crash on modules.js load"
After upgrading our app to meteor 2.4, it no longer loads in IE11 because one of the bundled npm packages in modules.js causes a syntax error which prevents further loading.

This time it seems to be "chalk". I’m not sure exactly which ecmascript feature that is used here and that is incompatible.

![image](https://user-images.githubusercontent.com/2690254/134184846-c0431c01-a2c8-4ccc-9729-fd74908

[2021-09-21 14:34] StorytellerCZ commented on #11635
We have run into this problem during the RC stage and me and @renanccastro worked on a fix and all the tests and manual testing have passed, so this is super strange to me. I will look into this again as the recompiling for the legacy is what should have happened already.
@perbergland can you provide us any additional details about your setup with IE11 that might help. Thanks!

[2021-09-21 14:37] perbergland commented on #11635
I just use a vanilla IE10 on Win10 with browserstack.

I upgraded my app from 2.3.5 without any attempt to clean out old builds or anything else in .meteor/local

[2021-09-21 14:50] StorytellerCZ commented on #11635
Interesting. :thinking: I think there might be something to your theory. Once I'm back on my Windows I will give it a try.

[2021-09-21 16:28] renanccastro commented on #11632
https://github.com/meteor/meteor/pull/11638
https://github.com/meteor/cordova-plugin-meteor-webapp/pull/108

[2021-09-21 20:17] #11635 closed

[2021-09-21 20:20] renanccastro commented on #11635
Hi @perbergland
can you please try the package logging@1.3.1 ?
It should have been fixed in this version!

[2021-09-23 11:11] harryadel opened #11640 "Email.send silent fail"
Email.send was failing silently because I failed to provide `from` property
[code]
And in the [docs](https://docs.meteor.com/api/email.html#Email-send) `from` is considered to be a required field, so I was thinking maybe if we add a little `check` statement inside Email.send method to check for important properties and ensure they're of the correct type.
https://github.com/meteor/meteor/blob/devel

[2021-09-23 12:41] kizim opened #11641 "App crashes because of network error when Apollo Subscription Server is added"
Meteor app crashes when GraphQL Subscription Server is added to the app.

The app — https://github.com/kizim/meteor-apollo-server-webapp-bug:
- Meteor 2.3
- Apollo Server 3.3.0
- Subscription Server imported from `subscriptions-transport-ws@0.9.19`
- macOS 11.1

The problem first appeared after upgrading Meteor from version 2.2.3 to 2.3.
I think a possible reason could be an update to the webapp p

[2021-09-23 14:01] renanccastro commented on #11641
Thanks for the detailed description and reproduction, we are checking it right now.

[2021-09-23 14:14] renanccastro commented on #11641
I can't repro @kizim
Here are the steps I did:
- Using your sample project, I've sent a query on http://localhost:3000/graphql
- I've then sent a GET request in any other route, ex: http://localhost:3000/asdfg`
- Opened a browser window on http://localhost:3000/test

Nothing crashed my server.
Is there any step I'm missing?

[2021-09-23 14:21] kizim commented on #11641
@renanccastro thanks, you did everything right.

I just ran the commands `rm -rf node_modules && npm i`, `meteor reset` and started the app. Opened http://localhost:3000/ and the server crashed. Here's the screen recording:

https://user-images.githubusercontent.com/11266157/134524258-682def31-72c0-4456-a97f-b8a2a8955b22.mov

[2021-09-23 14:49] StorytellerCZ commented on #11641
Don't forget to add `meteor` before `npm install` => `meteor npm i`

[2021-09-23 15:08] dovydaskukalis opened #11642 "Cordova fails to load local public assets after it was suspended because of iOS memory management"
When the app is opened while it was suspended due to iOS RAM management, it fails to load any public local files (inside Meteor’s public folder) until the app is closed and reopened again. All requests fail with `404` which in our case, makes the app render with no css styles. Basic steps to reproduce:

Version: 2.4 (but happened in previous ones too)
Platform: iOS 15, same issue on earlier versio

[2021-09-23 15:24] StorytellerCZ commented on #11641
Tested as well and was unable to reproduce. Everything works fine for me. Both on Meteor 2.3 and 2.4. I'm on Ubuntu.

[2021-09-23 15:30] renanccastro commented on #11641
It does indeed crash on Mac OSX, but not on my Linux machine.

[2021-09-23 15:34] StorytellerCZ commented on #11640
@harryadel Good catch, I'll see about adding it in for 2.5. As for moving packages that is done in steps and right now focuses on npm packages.

[2021-09-23 15:39] markdowney commented on #11629
I'm still hitting this issue when using `meteor.nodeModules.recompile` on a private npm package (using yarn workspaces). This worked fine on 2.2 but seems to be broken in 2.4. Here's a reproduction repo:
https://github.com/markdowney/meteor-minify-repro

[2021-09-23 21:11] filipenevola commented on #11629
Hi @markdowney what is the error that you are getting? Could you open a specific issue for your problem?

It seems to be a different one as this one here is solved.

[2021-09-24 00:03] markdowney commented on #11629
The error seems pretty similar (although this one might be specific to recompiling npm packages). I'll open a different issue.

[code]

[2021-09-24 00:16] markdowney opened #11644 "minifier-js error in Meteor 2.4, when recompiling npm package"
I have a monorepo setup where a private npm package is recompiled by meteor using:
[code]
Since upgrading from 2.2 to 2.4 , the build throws the following error (development works fine):
[code]
I've set up a reproduction repo here: https://github.com/markdowney/meteor-minify-repro
Might be related to: #11629

[2021-09-24 19:16] Torgen commented on #11540
Still seems to be an issue in 2.4.

[2021-09-24 19:34] renanccastro commented on #11641
@kizim I'm still investigating, but can you try to run your server on mac with:

` DISABLE_WEBSOCKETS=false meteor `

and let me know if it stops crashing?

[2021-09-25 08:48] perbergland commented on #11635
Yes the updated logging package fixes the problem and the workaround is no longer necessary

[2021-09-25 14:25] Romulo-S commented on #11388
Im having the same problem when do ng serve

![image](https://user-images.githubusercontent.com/1325820/134774894-8be51cd4-9039-4baa-9d19-f13aaf2f91b4.png)

[2021-09-26 09:33] Oyshoboy commented on #11318
@filipenevola thank you! Already resolved issue, by providing correct ROOT_URL on dev, since I'm using a Nginx and remote server for meteor development.

[2021-09-27 07:05] StorytellerCZ commented on #11388
This could potentially be something in Angular or if you are using http_parser directly. Hard to say from this little info.

[2021-09-27 07:51] Romulo-S commented on #11388
I´m preparing to migrate to angular 12, our app is using angular 10 and i´m suspecting that have something related to this.After i complete migration, i will check if this warning persist.
Btw: This warning appears after i update to node 16.

[2021-09-27 09:02] kizim commented on #11641
@renanccastro with `DISABLE_WEBSOCKETS=false` HTTP requests are now handled correctly, but the problem still exists for WS requests.

https://user-images.githubusercontent.com/11266157/134877881-0b69e462-4ed6-4b02-ac9c-f39cbfb82c0b.mov

[2021-09-27 12:44] StorytellerCZ commented on #11388
Latest Meteor is using Node 14. If you are using Angular on its own there is nothing we can do about it here.

[2021-09-27 14:02] snowwolfjay commented on #11622
This issue will happen when install meteor-client-bundle at the same directory, need use another folder pack client - code then things go well

[2021-09-27 14:52] filipenevola commented on #11388
Hi @Romulo-S, are you using Meteor in your project?

Meteor is using Node.js 14 on latest versions so I don't think you are running Node.js 16. Are you sure?

[2021-09-27 14:54] StorytellerCZ commented on #11622
Hi @snowwolfjay I don't follow, can you please provide a reproduction of the issue.

[2021-09-27 20:06] filipenevola commented on #11641
@kizim this error is happening only in Node.js 14 (that is the version of Node.js starting on Meteor 2.3) so this is where the problem started. Also only in MacOS so it seems to be related to MacOS + Node.js 14.

But so far we didn't identify exactly what is causing it and how to fix it.

About your last video, is this crash affecting you? Because in your video it seems that you made this request

[2021-09-28 10:24] Romulo-S commented on #11388
I´m not using Meteor im my project.
![image](https://user-images.githubusercontent.com/1325820/135070012-6b034542-bd1c-4288-9be0-43f2e29d27a4.png)

[2021-09-28 10:27] StorytellerCZ commented on #11388
@Romulo-S Out of curiosity, why are you posting about this issue in a Meteor repository?

[2021-09-28 10:38] Romulo-S commented on #11388
I´m came here because i was searching about the error. "The legacy HTTP parser is deprecated"

[2021-09-28 10:42] StorytellerCZ commented on #11388
I'm afraid that is not going to work to fix your issue, you need to put your issue to the correct repository from where the error is coming from. Since it is not related to Meteor it is not in our powers to fix this. You need to identify which package is the culprit of that error message and go to their repository and ask there for them to fix it. For general help/questions I recommend using [Stac

[2021-09-28 10:54] StorytellerCZ commented on #11644
Can also be reproduced with just running `meteor --production`.

[2021-09-28 11:13] StorytellerCZ commented on #11644
If you rename and import `mypackage/index.jsx`
`.js` => `.jsx` it works.

[2021-09-28 13:13] kizim commented on #11641
@filipenevola this issue does not affect our application, because as we found out it only occurs in macOS.

[2021-09-28 22:36] filipenevola opened #11651 "close RemoteCollectionDriver"
### We don't use discussions for questions or issues so I transferred this to here.

---

<div type='discussions-op-text'>

<sup>Originally posted by **rtalon83** September 28, 2021</sup>
Hi!

I have been search for several days how close mongo connection. I want to connect to mongo A, to do things and then close it and connect to mongo B.

[code]

I don't find the correct way to close Mongo A.
He

[2021-09-28 22:41] filipenevola commented on #11651
Hi @rtalon83, RemoteCollectionDriver is an internal of Meteor so we don't provide many APIs to it.

Inside RemoteCollectionDriver we have a [mongo property](https://github.com/meteor/meteor/blob/8a476251bede7c7fa97d05eff562d4ed43177113/packages/mongo/remote_collection_driver.js#L4):
`self.mongo = new MongoConnection(mongo_url, options);`

this object has a [close method](https://github.com/meteor/

[2021-09-28 22:41] #11651 closed

[2021-09-29 12:35] renanccastro commented on #11644
Hi @markdowney
I haven't dig deeper in comparing the behavior of the versions, but for me, it's clear that the error is spawning because you have react template code in your npm dependency and this dependency is only being recompiled for the "modern" bundle, thus failing to bundle the "legacy" one because JSX still exists in it.

It's the expected behavior. What changed in terser's version is that

[2021-09-29 12:35] #11644 closed

[2021-10-01 00:14] dpsigor opened #11654 "Network error: wss://packages.meteor.com/websocket: certificate has expired"
I believe it has to do with Let's Encrypt root certificate expiring this week. Can't build and deploy at all today.

Must update meteor.com certificate.

[code]

[2021-10-01 02:23] rahulmodu opened #11655 "Kadira Error: Reached maximum retry limit for certificate has expired"
From the last night, I am getting the below issues with the Meteor Cloud hosting into our LIVE production server which is having errors, and our application is impacted.

s906z
2021-10-01 04:19:33+05:30Kadira Error: Reached maximum retry limit for certificate has expireds906z
2021-10-01 04:19:58+05:30Kadira Error: Reached maximum retry limit for certificate has expireds906z
2021-10-01 04:20:24+05:

[2021-10-01 02:58] dpsigor commented on #11654
Nvm, I was using an old debian base image

[2021-10-01 02:58] #11654 closed

[2021-10-01 02:58] dpsigor commented on #11655
https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

[2021-10-01 03:04] filipenevola commented on #11655
Hi, what is your Meteor version @rahulmodu ?

You can read more about certificate problems in this [special document about the issue](https://docs.meteor.com/expired-certificate.html).

As you are using Galaxy the best channel to ask questions and report eventual problems is sending an email to support@meteor.com

Thanks.

[2021-10-01 03:04] #11655 closed

[2021-10-01 03:05] filipenevola commented on #11654
Hi, thank you for the feedback.

You can read more about certificate problems in this [special document about the issue](https://docs.meteor.com/expired-certificate.html).

[2021-10-01 11:48] ybico opened #11658 "Problem downloading Meteor old version packages - while downloading.......certificate is invalid"
While creating a meteor project using 1.4.4.6 version, I get 62 warnings saying:

While downloading xyx@1.2.3....:
error: certificate has expired
How can I solve this problem?

![terminal-screenshot](https://user-images.githubusercontent.com/2661994/135615096-1179e934-1937-4e4b-a182-04ddd6c7610c.png)
My PC's date and time is up to date
Ubuntu 20.04

[2021-10-01 12:30] StorytellerCZ commented on #11658
This is an issue affecting all Meteor releases before 1.9. There is a workaround for this. Please see:
https://docs.meteor.com/expired-certificate.html
and
https://forums.meteor.com/t/certificate-errors-in-meteor-commands-before-v1-9-only/56740?u=storyteller

[2021-10-01 12:30] #11658 closed

[2021-10-01 18:27] brucejo75 opened #11662 "[v2.4 web.browser.legacy] update to code-js v3.16.0 introduces iterator issue"
For legacy builds, Babel is throwing errors when trying to convert iterators into arrays.  It shows up when I try to use the spread operator.  This may be a recall class bug.

(Took me a while to encounter it because it only showed up in legacy builds, which for me is my `cordova` build)

## Environment
- meteor@2.4 w/core-js@3.16.0
- Ubuntu 20.04.3 LTS
- @babel/runtime@7.15.4

## Repro
I have a r

[2021-10-02 03:12] filipenevola commented on #11662
It seems like the rollback is the way to go.

We also should include new test cases including Iterators being converted to arrays with spread operator to avoid this regression again in the future.

[2021-10-02 06:53] StorytellerCZ commented on #11662
@brucejo75 first of all thank you for an amazingly written bug report. I agree with @filipenevola that rolling back to `core-js@3.15.2` is the fastest approach and adding regressions test for this. Since it is Hacktoberfest I give you the option to create the PR with the rollback & tests first if you want, let me know if you need any help with that or if you want me to take care of it.

[2021-10-02 07:04] brucejo75 commented on #11662
@filipenevola, @StorytellerCZ,

I agree rollback is the first right thing to do.  I will take a shot at creating a PR.

But, it seems to me this should also be looked into more closely?

I have no experience with core-js/babel or meteor's interactions with it.  Otherwise I would have dug some more.  Is there someone who is familiar with the meteor/babel interactions and could dig into that?

Eithe

[2021-10-02 09:36] StorytellerCZ commented on #11662
Looking at the code, core-js is used for polyfills, so maybe there is something wrong with compat checking or something changed in the polyfills.

[2021-10-02 09:51] StorytellerCZ commented on #11662
`core-js@3.16.0` did some changes to arrays, but nothing that pops out to me...
https://github.com/zloirock/core-js/blob/master/CHANGELOG.md#3160---20210730

[2021-10-02 09:59] StorytellerCZ commented on #11662
@brucejo75 please submit a quick PR for the rollback and then we can take care of adding the tests.

[2021-10-02 16:36] brucejo75 commented on #11662
@StorytellerCZ, PR #11665 available.  Will work on the tests...

[2021-10-02 17:22] brucejo75 commented on #11662
There are a couple of tests for iterators that should have failed, but they do not:

[Map spread](https://github.com/meteor/meteor/blob/release-2.4/packages/ecmascript/runtime-tests.js#L275)
[Set spread](https://github.com/meteor/meteor/blob/release-2.4/packages/ecmascript/runtime-tests.js#L289-L297)

Turns out this bug is specific to the [`NodeLlist`](https://developer.mozilla.org/en-US/docs/Web/

[2021-10-03 01:58] kentonv opened #11666 "MongoError: Index with name: username_1 already exists with different options"
Starting with Meteor 2.4, the `_ensureIndex()` method has different behavior: Previously, if the index already existed, regardless of options, then the call did nothing. Now, if the options differ, then the call throws an exception.

For new apps, the new behavior is clearly preferable.

Unfortunately, with Sandstorm, we've discovered that many of Meteor's own index-creation calls -- including the

[2021-10-03 02:01] kentonv commented on #11666
In one particularly-old Sandstorm instance I looked at, I found the following indexes on Meteor.users had `"safe": true`:

`username_1`, `emails.address_1`, `services.resume.loginTokens.hashedToken_1`, `services.resume.loginTokens.token_1`, `services.resume.haveLoginTokensToDelete_1`, `services.resume.loginTokens.when_1`, `services.github.id_1`, `services.google.id_1`

[2021-10-03 03:22] DeltaXWizard commented on #11168
Heya!

It looks like an old/stale issue, and I'm not sure if anyone else is planning to fix this, so may I work on it?

[2021-10-03 07:30] #11662 closed

[2021-10-03 07:51] StorytellerCZ commented on #11662
Fix published in `ecmascript-runtime-client@0.12.1`
@brucejo75 thanks for the tests analysis. That would explain why it slip through. As for the tests, I have seen DOM used in `less` tinytests. Take a look on those, but I'm not sure if that is going to work here. I will look into this as well.

[2021-10-03 08:14] StorytellerCZ commented on #11666
Wow, that is a really old version of MongoDB. I don't even see the `safe` option in MongoDB 2.6 docs. Looking through recent commits I don't see any change that would indicate that we had changed anything about setting index options, so it might be some old MongoDB driver default. :thinking:

[2021-10-03 08:15] StorytellerCZ commented on #11168
@DeltaXWizard go ahead!

[2021-10-03 13:52] kentonv commented on #11666
Yes, it seems like the Mongo driver used to set "safe" by default, or something. AFAICT this option can't even be set explicitly with the current API / driver -- it's ignored when I try to set it, which unfortunately makes it kind of hard to reproduce the problem outside of production. Note that I'm not even 100% sure that the "safe" option is the problem, but it's the only apparent difference I c

[2021-10-03 20:18] ocdtrekkie commented on #11666
It looks like the "safe" option was removed in #4340 (in 2015) after being added in 2012. So I'd gather any Meteor app servers spun up in those three years or so, and still running, should have this problem?

[2021-10-03 20:50] kentonv commented on #11666
@ocdtrekkie Good find.

What's unclear to me is, if someone is _not_ stuck on Mongo 2.6 like we are, but rather is using a newer version of Mongo, will they still hit this problem? Or do newer versions of Mongo ignore / drop this flag (which apparently never meant anything in the first place)?

[2021-10-04 01:18] trusktr opened #11668 "server's user agent detection causes code not to be sent to the client (Firefox Mobile 94.0)"
### This bug report should include:
- The version of Meteor showing the problem. **`METEOR@1.11`**
- The last version of Meteor where the problem did _not_ occur, if applicable. **N/A**
- The operating system you're running Meteor on. **Linux**
- The expected behavior. **Site should load all app code no matter which browser the client runs in.**
- The actual behavior. **The server appears to not s

[2021-10-04 01:37] trusktr commented on #10467
Related: https://github.com/meteor/meteor/issues/10467

[2021-10-04 01:40] trusktr commented on #9525
Possibly related: https://github.com/meteor/meteor/issues/11668

[2021-10-04 01:45] trusktr commented on #11000
Possibly related: https://github.com/meteor/meteor/issues/11668

It seems that due to user agent sniffing, someone may develop in Chrome but the application will not need to use ` '@babel/runtime/helpers/createSuper'` (?) but when trying to load the app in another browser, Meteor determines that ` '@babel/runtime/helpers/createSuper'` should be imported.

This is perhaps due to the more recent sys

[2021-10-04 03:03] menewman commented on #11666
One more data point: We have a Meteor application that's been running since (I think) 2014, and we have indeed seen this type of index error on upgrade to Meteor 2.4. Our current MongoDB version is fairly recent at 4.4+.

For conflicts like this in our own code, we switched from using `_ensureIndex` (or `createIndex`) to a monkey-patched `ensureIndex` method that catches this error and removes/rec

[2021-10-04 03:53] trusktr opened #11669 "[BUG] meteor shims Symbol.hasInstance in Firefox, breaks application"
Meteor is polyfilling `Symbol.hasInsance` in Firefox (I'm on FF 94) and this causes `instanceof` checks not to work.

In Chrome things work fine because Meteor is not patching `Symbol` with a fake one.

Firefox has supported `Symbol.hasInstance` since version 50, for quite a while now. It seems the logic that relating to browser detection is a bit dated (related: https://github.com/meteor/meteor/i

[2021-10-04 04:49] trusktr commented on #11631
Even TypeScript barely [_just_ added](https://github.com/microsoft/TypeScript/issues/33079#issuecomment-926936955) support for recognizing package.json `exports` fields.

The only solution right now is to import the files directly until Meteor adds support for it as well.

Keep one thing in mind about this workaround though: importing files directly will work in Meteor, but will fail in Node apps,

[2021-10-04 05:03] trusktr commented on #11669
I was able to work around this, for now, by adding the [undocumented `--exclude-archs web.browser.legacy`](https://github.com/meteor/docs/issues/721) option to my `meteor` command.

According to [this comment](https://github.com/meteor/meteor-feature-requests/issues/333#issuecomment-763493284), the `meteor build` command may not have this option yet, which I think means we can't use this in "produ

[2021-10-04 06:51] trusktr commented on #11668
I was able to work around this, for now, by adding the undocumented [`--exclude-archs web.browser.legacy`](https://github.com/meteor/docs/issues/721) option to my `meteor` command.

According to [this comment](https://github.com/meteor/meteor-feature-requests/issues/333#issuecomment-763493284), the `meteor build` command may not have this option yet, which I think means we can't use this in "produ

[2021-10-04 06:59] trusktr opened #11670 "Meteor legacy browser detection is detecting modern browsers as "legacy"."
Related to https://github.com/meteor/meteor/issues/11668, Meteor's browser detection is detecting a modern browser like Firefox Mobile 94 to be "legacy". I had to use the [`--exclude-archs web.browser.legacy`](https://github.com/meteor/docs/issues/721) to work around it.

It seems the browser detection needs some TLC.

[2021-10-04 07:50] StorytellerCZ commented on #11668
@trusktr thank you for the report.
Have you tested the site in regular (desktop) Firefox? If it works there, then we only need to add proper detection for Firefox Mobile.

Check the package `modern-browsers`, that is where these things happen and you can also use `setMinimumBrowserVersions` function to override the defaults.

[2021-10-04 07:59] StorytellerCZ commented on #11670
This seems to be an issue effecting only Firefox Mobile. Closing as duplicate of #11668.

[2021-10-04 07:59] #11670 closed

[2021-10-04 08:45] StorytellerCZ commented on #11668
The identification is done via `WebAppInternals.identifyBrowser`, which uses the `useragent` npm packages, which in case of Firefox Mobile on Android gets:
[code]
On iOS, the name is `firefoxIOS`.

Which I don't think has any minimum versions set anywhere for these.

[2021-10-04 13:53] renanccastro commented on #11168
Cordova-android v10 probably addresses this issue already. Could you please give it a try at 2.5-beta.1?

[2021-10-04 17:02] KoenLav opened #11674 "Meteor._debug does not receive MethodInvocation (or PublicationInvocation)"
We are overwriting Meteor._debug because (AFAIK) it's the only way to get all Errors to an error logging service.

We would like to include the user context on the server as well, but this appears impossible because Meteor._debug is called without the MethodInvocation or PublicationInvocation.

Adding this would allow all Meteor users to have more specific error logging, but I'm also open to other

[2021-10-05 05:25] djroxx2000 commented on #11640
Can I take this up? As far as I understand, it only requires an import and a line to check 'from' to be a valid String with regex mail validation. Should I also add a todo comment for checking more fields? Also, I see that the check function Match patterns don't accept regex as a pattern. Should that be added or keeping regex separate was intentional?

[2021-10-05 07:39] #11674 closed

[2021-10-05 13:24] djroxx2000 commented on #11640
@StorytellerCZ I have created the pull request here [#11678](https://github.com/meteor/meteor/pull/11678). I didn't use the check function since the regex check for null and undefined as well. Please let me know if any other changes required here.

[2021-10-06 00:47] trusktr commented on #10906
I really despise stale bots with a passion. They make me feel strong feelings of anger towards them. :robot::boom: • • • •  :boom::gun:

@StorytellerCZ @filipenevola Can you please take a look and re-open this?

[2021-10-06 00:48] trusktr commented on #11631
This is a duplicate of https://github.com/meteor/meteor/issues/10906

[2021-10-06 00:49] trusktr commented on #10906
https://github.com/meteor/meteor/issues/11631 is a duplicate of this.

[2021-10-06 09:35] Roshdy commented on #11470
+1
My case is even weirder!
I have two production environments (Staging & Live)
Staging: deployed on Galaxy, all clients (Web, iOS, & Android) [using React Native] connect without issues
Live: AWS Beanstalk with ELB & FW. Web & iOS have no issues, but for Android, i get to `Meteor.onConnection` (server) successfully with the IPs & everything, and the number of `HTTP_FORWARDED_COUNT` is correctly g

[2021-10-06 10:28] StorytellerCZ commented on #10906
@trusktr we'll continue this in #11631

[2021-10-06 11:25] StorytellerCZ commented on #11631
Some notes from me digging around this:
Babel plans to become ESM package in Babel 8: https://babeljs.io/docs/en/roadmap#babel-8
There is this esm package which should make things work: https://www.npmjs.com/package/esm
But Node should supporting this already: https://nodejs.org/docs/latest-v14.x/api/esm.html

[2021-10-06 23:26] dnish opened #11682 "Invalid ELF header after upgrade to Meteor 2.4"
After upgrading to Meteor 2.4, I'm getting the following error on my Ubuntu server:

[code]

The error didn't happen on the previous version. I'm building the app on a MacOS system, so I know that I have to rebuild the packages on the Ubuntu server. Until Meteor 2.3, this command worked:

[code]

But for Meteor 2.4, this seems not to work anymore.

// Edit:

For the moment, this will fix the issue

[2021-10-07 11:54] jankapunkt opened #11683 "MinimongoError: Key $flag must not start with '$'"
I am running on Meteor 2.3.6 and I get since this update the the error in the title, when update / upsert docs to a local collection:

[code]

prior to the Meteor update this was never an issue. Any hints if this might have changed in `minimongo` since 2.3?

[2021-10-07 16:00] milanzigmond opened #11685 "Webapp response for POST"
To reproduce the problem:

1. meteor create Example --release 2.2 (terminal 1)
2. run meteor (terminal 1)
3. in second terminal try: curl -X POST -v http://localhost:3000 (terminal 2)
4. I get 200 OK with the content <img width="1440" alt="Screenshot 2021-10-07 at 14 37 47" src="https://user-images.githubusercontent.com/4190850/136419435-4294f262-4c69-4c49-beeb-734a2199702c.png">
5. CTRL + C (stop

[2021-10-07 17:29] StorytellerCZ commented on #11685
This is the PR that has caused the issue for you: https://github.com/meteor/meteor/pull/11224
It might be possible maybe through WebApp, but I have decided to quickly create a new settings option to provide for your use case.

[2021-10-08 10:17] StorytellerCZ commented on #11617
OK, I have figured it out! It is the same issue as #11631
I'm closing this issue in favor of #11631 to concentrate everything there.

[2021-10-08 10:17] #11617 closed

[2021-10-08 14:48] #11669 closed

[2021-10-08 18:53] zodern commented on #11540
Node 14 removed the undocumented api Meteor was using to change how often it checks for changes to the file, causing the watcher to be stopped instead.

A work around for now is to set the env var `METEOR_WATCH_POLLING_INTERVAL_MS` to `500`. This will increase Meteor's cpu usage, but Meteor will no longer try to change the watcher interval.

Meteor sets up a native file watcher after the first tim

[2021-10-08 19:06] Torgen commented on #11540
https://github.com/microsoft/WSL/issues/4739 is the issue for file watchers not working on the windows filesystem on WSL2. In the meantime, thanks for the workaround.

[2021-10-11 14:13] Bullden opened #11690 "ENOENT: no such file or directory, mkdir 'undefined/.files/'"
when i started meteor i get this error:

[[[[[ ~\D\Folder\project ]]]]]

=> Started proxy.
=> Started MongoDB.

W20211011-17:04:42.106(3)? (STDERR) C:\Users\User\AppData\Local\.meteor\packages\meteor-tool\2.4.0_1\mt-os.windows.x86_64\dev_bundle\server-lib\node_modules\fibers\future.js:280
W20211011-17:04:42.116(3)? (STDERR)                                             ^
W20211011-17:04:42.121(3)? (

[2021-10-11 14:19] #11690 closed

[2021-10-11 14:25] Bullden commented on #11690
@StorytellerCZ  thank you a lot

[2021-10-11 15:34] ravisd77 opened #11691 "Not able to install the meteor on linux machine"
### I am getting the LOCALAPPDATA env var is not set. error while installing the meteor on linux machine
[code]

[2021-10-11 16:35] StorytellerCZ commented on #11691
@ravisd77 can you please give me more details on your OS?

[2021-10-11 17:01] ravisd77 commented on #11691
Hi,

I am using aws code build the machine is *amazonlinux2-x86_64-standard:2.0*
aws/codebuild/amazonlinux2-x86_64-standard:2.0

On Mon, Oct 11, 2021 at 10:05 PM Jan Dvorak ***@***.***>
wrote:

[2021-10-11 17:07] ravisd77 commented on #11691
Hi,
we are using meteor since 3 years. from long time we were ok with the
curl,But the curl installation is throwing certificate expiry error. So we
tried to install the meteor via npm -g this is giving the localappdata
error. I am able to install meteor on my local machine and also on the ec2
instance.But the error is throwing only when i tried to run the build
pipeline

On Mon, Oct 11, 2021 at 1

[2021-10-11 18:37] #11691 closed, assigned to nobody

[2021-10-13 14:08] Floriferous opened #11694 "meteor 2.4 install: chown: missing operand after '/home/.meteor'"
I'm trying to install meteor 2.4 in a Dockerfile, but I'm getting the following error:

[code]

The Dockerfile is as follows:

[code]

Any idea what might be going on here?

[2021-10-15 10:01] Floriferous opened #11699 "HMR not working consistently depending on file structure"
Here's a reproduction of a HMR issue where it does not work the same way depending on where your code is located in the file-structure.

In one instance, all the code is in a single file, in the other instance, the code is split between 2 files, and some of the changes are not reflected until after you refresh the page.

Reproduction is here: https://github.com/Floriferous/meteor-pdf-hmr

[2021-10-15 22:18] zodern commented on #11699
Thanks @Floriferous for the reproduction. I see the same behavior with it.

[2021-10-16 00:10] StrictlySkyler commented on #11694
Two reasons I can think of why this should work as root:
1. Using the `curl https://install.meteor.com/ | sh` script works as root without issue, so feature parity for the `npm` method should not cause a failure here
2. Forcing this change breaks existing build pipelines with a very opinionated way regarding how docker images are built and how Meteor should be used

Isn't Meteor meant to be "batte

[2021-10-16 13:18] StorytellerCZ commented on #11685
Released in Meteor 2.5-beta.4

[2021-10-16 13:18] #11685 closed

[2021-10-18 19:54] mariogasparoni opened #11701 "404 in dynamic-import/fetch when ROOT_URL is set with a custom path"
### Description
If you run your app with `ROOT_URL=http://host:port/myapp` and set dynamic-import option `useLocationOrigin:true` , you will hit 404 when importing dynamic modules. This is related to #11105 (issue #10384)

### To reproduce

1. Clone https://github.com/mariogasparoni/meteor-app and setup it (see the README.md).
2. Run the app with ```env ROOT_URL=http://127.0.0.1:3000/myapp```
3. A

[2021-10-18 22:02] filipenevola commented on #11632
This will be released in Meteor 2.5.

[2021-10-19 14:22] #11701 closed, assigned to nobody

[2021-10-19 18:15] #11538 closed

[2021-10-20 02:25] IanChok opened #11706 "'npm - cannot find module' error"
When trying to use the npm package `@elastic/eui` and start `meteor run`, there's errors in the console of missing npm modules.
![image](https://user-images.githubusercontent.com/33184246/138016363-2d799112-b491-4fcc-b384-4cfbe15cfff5.png)
I've uninstalled the package and re-installed, but it's still not working.

**To reproduce**: run `meteor npm install @elastic/eui`, then import a eui react com

[2021-10-20 03:15] #11706 closed

[2021-10-21 14:26] santiagopuentep opened #11709 "Exception thrown when calling forgot password with --production flag and MAIL_URL set"
On Meteor 2.4, calling `Accounts.forgotPassword` with the `--production` flag active and `MAIL_URL` is set with real keys throws this exception:

[code]

`smtpSend()` receives no transport, and there's no check of existence before calling one of it's function.

### Expected behavior:
No exception should be thrown.

[2021-10-23 21:10] brucejo75 opened #11714 "[v2.5] no accounts-passwordless documentation?"
First highlight of v2.5 is new `accounts-passwordless`.

I cannot find any documentation for this new package except in the PR #11602.
And the [README](https://github.com/meteor/meteor/tree/devel/packages/accounts-passwordless) refers to a broken link: "[projects page](https://www.meteor.com/accounts)".

I don't see anything queued up in [docs](https://github.com/meteor/docs/pulls?q=is%3Apr+passwo

[2021-10-25 10:38] rj-david opened #11715 ""Uncaught TypeError: Component is not a function" with HMR package"
- [ ] The version of Meteor showing the problem.
Meteor 2.5

- [ ] The last version of Meteor where the problem did _not_ occur, if applicable.
Meteor 2.4

- [ ] The operating system you're running Meteor on.
Ubuntu  and Mac

- [ ] The expected behavior.
No error

- [ ] The actual behavior.
Error
[code]

Error happens only when HMR is added to the project.

[2021-10-25 14:10] #11714 closed, assigned to nobody

[2021-10-25 23:35] njneer opened #11718 "NPM Install fails behind corporate proxy"
Version: 2.4
OS: Windows 10 64-bit
Expected behavior: Npm install should respect proxy environment variables
Actual behavior: While NPM packages successfully install, the installer runs a node script to download meteor distribution: node cli.js install; this node script does not use the proxy environment variables set for npm, so meteor installer never installs, hangs at 0%
How to reproduce: Sit b

[2021-10-26 23:27] gischer opened #11721 "Build fails at minification while processing packages/modules.js"
I don't know how to reproduce this.  The app runs fine.  This was on Meteor 1.10.2, where I first got the problem.  I upgraded to current (2.5) with no change.

Here is the error message (apologies for how long it is):
[code]
Having looked at [#8020](github.com/meteor/meteor/issues/8020), I tried using abernix:standard-minifier-js.   It failed with this error message:

[code]

While minifying app

[2021-10-28 15:00] rglover opened #11729 "Installation of Meteor fails on M1 Max"
Following the instructions [here](https://docs.meteor.com/install.html) for installation on M1 and getting the error `The current architecture is not supported: arm64`

 I've attempted to use both the standalone `npm install -g meteor` command as well as the `arch -x86_64 npm install -g meteor` command and both return the same error.

 I also attempted to use the legacy curl URL which gave me the

[2021-10-28 15:23] #11683 closed, assigned to nobody

[2021-10-28 15:26] #11729 closed, assigned to nobody

[2021-10-29 18:08] filipenevola commented on #11715
hi @zodern is this enough for you to reproduce the problem or do we still need a reproduction?

[2021-10-29 18:11] filipenevola commented on #11721
Hi @gischer it depends on how you are using Meteor, if you are using mainModules in your package.json or not, for example.

This document explains somethings that could be useful https://docs.meteor.com/packages/modules.html

Have you tried to remove the isolated-vm part of your code to see if the problem still happens?

[2021-10-29 18:17] gischer commented on #11721
Here is the relevant bit of my package.json:

[code]

I believe this means it loads those files first and then pulls in references.  Is that right?

I have removed all references to isolated-vm (it was only imported in one file). I haven't uninstalled it, though.

[2021-10-29 19:38] gischer commented on #11721
I have discovered more information, but I'm not sure what to do with it.  By commenting out "import" statements and using stubs to replace the imports, I've narrowed things down to file A.js and B.js.  File A, under normal operation, imports 5 functions from file B.js thus:

[code]

(Those aren't the names in my files, but the names don't seem to matter here.)
If I eliminate any one of them, touch

[2021-10-29 19:42] gischer commented on #11721
Oh, FWIW, the previous comment describes a situation where "isolated-vm" has been removed from the project.

[2021-10-30 06:42] kod3000 commented on #4894
Using Pop!_OS 21.04, Meteor version 2.5. Got a similar meteor tool error "HOME: unbound variable".

A quick fix to this was "export HOME=/your/home/directory" right on the command line and then running the meteor tool.

[2021-10-30 18:10] IanChok opened #11742 "Meteor CRASHES with React UI when importing a component folder that has an `index.tsx` and `index.css`"
### Bug Report
- The **app crashes** when importing a folder component that contains a `index.tsx` and `index.css` for a _React_ frontend with _typescript_.
- For e.g.,
![image](https://user-images.githubusercontent.com/33184246/139570148-6a955cf4-fda6-4cdc-9d9f-19b96efe3e67.png)
![image](https://user-images.githubusercontent.com/33184246/139570198-9cd19a60-b264-4b51-b659-6d3553b2bb05.png)
![image

[2021-11-01 22:49] gischer commented on #11721
@filipenevola I have, in fact, been able to make the error stop via commenting out code, producing the situation I described above.

In another full repository, I have done something similar, but without removing any other code.  I have found a certain file in which I must now remove *two* of five imported functions to get it to work.

That is,

[code]

fails, but if I eliminate ANY two of the imp

[2021-11-02 09:53] dovydaskukalis opened #11744 "global.___INIT_METEOR_FAST_REFRESH is not a function when HMR is enabled and importing the module with a name "global""
Version: 2.5 on Mac OS 12.0.1

We have noticed that in Meteor 2.5 importing CKEditor crashes the app. Digging deeper we found that internally CKEditor has import like this `import global from './global';` which seems to break the generated app.js bundle because variable `global` is being overwritten by the imported one, which doesn't have `___INIT_METEOR_FAST_REFRESH` variable defined.

The genera

[2021-11-02 19:26] jasongrishkoff commented on #11324
Anything I can do to help get this one resolved? Still happens in v2.5 for me.

[2021-11-02 22:29] filipenevola commented on #11721
Ok, I appreciate your explanation and I hope you can create a reproduction.

[2021-11-03 11:20] arggh opened #11746 "Seemingly random version constraints from local Atmosphere packages"
While attempting to update to latest Meteor, the Meteor tool complained that two of my local packages had incompatible version constraints.

However, they had none. The dependency for `accounts-base` was defined without any version requirement whatsoever.

[code]

I then proceeded to declare those dependencies in mu packages with the version requirement `2.2.0`, after which the Meteor update compl

[2021-11-03 19:14] brucejo75 opened #11747 "Undocumented behavior when using async functions for autorun callbacks"
I have been mixing `async` functions with Meteor for quite some time.  I encountered an issue today that was new for me.

I have an example where I am querying a collection intermixed with an `async` request to another system that does not reactively rerun on changes to the `users` collection.
Example 1 - changes to the user collection **will not** rerun this autorun:
[code]

However, if I simply

[2021-11-03 19:21] filipenevola commented on #11746
Hi @arggh could you provide your `.meteor/packages` file and `.meteor/release` file?

I see that the problem was because of `arggh:wormhole`:

`accounts-base@1.6.0 <- arggh:wormhole 0.0.1`

So it should still be a problem, unless you have changed something in this package.

Core packages are defined by the version of Meteor, so even if you don't declare a version they are going to respect the vers

[2021-11-04 12:33] denihs commented on #11747
Hi @brucejo75, are you able to provide reproduction?

A repository with a clean project (as explained [here](https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#reporting-a-bug-in-meteor)) just with some of these scenarios that you mentioned.

[2021-11-04 14:21] brucejo75 commented on #11747
Repro: https://github.com/brucejo75/11747-async-autorun

[2021-11-04 16:40] gischer commented on #11721
Ok, I have a repository that reproduces the problem. It is
https://github.com/gischer/reproduce-minify-problem

[2021-11-05 07:37] NicoP-S commented on #11718
having the same problem on an debian server.
system & npm proxy is set.

The `cli.js` requires the `install.js`
And thisone seems to use the node-downloader-helper
https://github.com/meteor/meteor/blob/devel/npm-packages/meteor-installer/install.js#L105

I did't find anything proxy releated to the downloaderHelper

[2021-11-05 18:24] brianlukoff opened #11750 "Use of createIndex instead of ensureIndex fails on older indexes with `safe: true`"
In this PR (https://github.com/meteor/meteor/pull/11556), Accounts started using `createIndex` instead of `ensureIndex` for indexes on `username`, `emails.address`, etc. The problem is that older Meteor apps (created prior to https://github.com/meteor/meteor/pull/4340) have many indexes created with the `safe: true` option (including important indexes like the unique constraint on `emails.address`

[2021-11-05 18:32] menewman commented on #11750
Potentially a duplicate of #11666?

[2021-11-05 18:35] brianlukoff commented on #11750
Yes - thanks!

[2021-11-05 18:35] #11750 closed

[2021-11-08 14:56] denihs commented on #11721
Hi @gischer, I tried to run your project but there is a lot of imports failing because the files don't exist. Maybe we don't need to run the project to see the problem you're having, but we need to know how you're reproducing the error.

Can you add a readme to the repository explaining step by step how to reproduce the error?

Also if this error does not block the app from running, maybe it's als

[2021-11-08 15:39] nick-gudumac commented on #11715
We are experiencing the same issue. Haven't been able to narrow it down yet.

[2021-11-09 08:16] rioadrian opened #11752 "RangeError: Maximum call stack size exceeded"
Hi, I found Error when trying to run aggregate on large data in my meteor project using npm-mongo 3.9.1

`RangeError: Maximum call stack size exceeded at JSON.stringify (<anonymous>) at ObjectID.toHexString
(/Users/rio/.meteor/packages/npm-mongo/.3.9.1.zn8p9o.3o4fj++os+web.browser+web.browser.legacy+web.cordova/npm/node_modules/bson/lib/bson/objectid.js:103:14)
at ObjectID.toString (/Users/rio/.me

[2021-11-09 11:20] nick-gudumac commented on #11742
This issue has been discussed before:
https://github.com/meteor/meteor/issues/10708

It's expected behavior and probably won't be fixed.

[2021-11-09 18:32] JanMP commented on #11699
HMR quit working for me after update to Meteor 2.5
Can't say if it's depending on location of code (have not found module with working HMR in the project).

[2021-11-10 12:11] pisacode opened #11753 "Subscription to users collection not returning the services object"
After upgrading meteor from 2.2 to 2.5 we are facing a very intereting bug. When we make a subscription to users collection with

[code]

`services` field always goes as empty object to the client.

[code]

What could be the reason for this difference between client and server values?

Many thanks

[2021-11-10 13:35] filipenevola commented on #11752
Hi @rioadrian npm-mongo is just a wrapper for Node.js MongoDB Driver.

The problem is probably not related to Meteor.

How large is your aggregation result?

And if you are doing an aggregation you are already using the rawCollection right? So Meteor is not involved in this process.

[2021-11-10 13:53] rioadrian commented on #11752
Hi @filipenevola thanks for respond. I already found the problem, it is because there is a method that return aggregate directly. It was running in meteor 1.2 that we used before, and start showing error after We upgrade meteor to 2
The error was solved by adding .toArray() in aggregate. Once again thanks for you quick respond I hope it can help others with simillar issue.

Thanks & Regards
Rio

[2021-11-10 13:53] #11752 closed

[2021-11-10 16:29] filipenevola commented on #11752
Great, thank you for the feedback @rioadrian

[2021-11-10 19:18] gischer commented on #11721
I will add a README.  The project in the example repository does not run.  It does reproduce the error if you type "meteor build ../output"

[2021-11-10 19:28] gischer commented on #11721
I have added a README as asked.  I am assuming that the project does not need to run (the problem reproduces when you do "meteor build").  Let me know if that is not the case.  I will work on making it start up cleanly.

[2021-11-10 19:37] gischer commented on #11721
You can now type `meteor run` and the project will start up.  There are still lots of errors in the browser due to missing stuff.  However, my belief is that leaving that stuff out probably makes the error easier to track down?

The repository definitely reproduces the error.

[2021-11-11 17:54] afrokick commented on #10902
@StorytellerCZ is it good idea to convert this issue into discussion?

[2021-11-12 00:41] brianlukoff opened #11756 "Minification issue with flow-router"
At some point post-2.3.4, the minification process of JS files seems to have broken in some way. To reproduce, create a plain app and add `kadira:flow-router`:

[code]

Then look at the minified source code:

<img width="417" alt="Screen Shot 2021-11-11 at 3 40 46 PM" src="https://user-images.githubusercontent.com/518013/141388904-6a3235af-1ed3-426a-b24b-723d8ceefa14.png">

Compare this to the act

[2021-11-12 20:30] brianlukoff commented on #11756
I think it's a bug in terser's `evaluate` option (possibly https://github.com/terser/terser/issues/837) and that we can avoid by adding `evaluate: false` to the terser `compress` options -- I've created this pull request: https://github.com/meteor/meteor/pull/11758

[2021-11-12 21:10] filipenevola commented on #11756
Published minifier-js@2.7.2.

[2021-11-13 15:08] ricaragao commented on #11699
I'm seeing the same behavior with Meteor 2.5. In the version 2.4.1 it works fine. I'm using Blaze with files directly in the client folder. When I change a JS file, the app doesn't reload as before. And HMR isn't doing nothing, just in HTML template files.

[2021-11-13 23:05] yghorbal opened #11760 "$MONGO_OPLOG_URL does not support unix domain sockets"
Hello,

 When providing a unix socket mongodb URI : `mongodb:///path/to/socket.sock/local`, the following check fails https://github.com/meteor/meteor/blob/365604c91020db2c36b491e7ea332ed730492994/packages/mongo/oplog_tailing.js#L192
 It's due to the fact that the `mongodb-uri` package does not parse unix sockets URIs "correctly" out of the box. For instance the output of `mongodbUri.parse(self._o

[2021-11-14 08:24] welkinwong opened #11761 "`(node:67890) Warning: Accessing non-existent property 'MongoError' of module exports inside circular dependency` on meteor run"
I receive the following error message on the console following (node:67890) Warning: Accessing non-existent property 'MongoError' of module exports inside circular dependency

Full trace

[code]

METEOR@2.5
[code]

[2021-11-14 08:34] welkinwong commented on #11761
my npm package is old...

[2021-11-14 08:34] #11761 closed

[2021-11-14 20:20] lmf-git opened #11762 "Goodbye Meteor"
I really wanted to use this and got 99% of the way there with it but it's too unreliable for me to invest further time into.

Just wanted to provide other developers with some feedback before they invest time into it like I did before getting disappointed. You'd be faster rewriting it all yourself from scratch than using Meteor.

[2021-11-15 07:40] SCOZYTOUNY commented on #8224
I had this exact error message when trying to use OMNIVERSE on an exFAT drive with Windows10.
Just to realize that symlinks are not supported in this configuration, so I had to FORMATE THE DRIVE TO NTFS drive .

[2021-11-15 10:12] icellan opened #11763 "Meteor.loginWithToken from accounts-passwordless overwrites loginWithToken from accounts-base"
The `Meteor.loginWithToken` from `accounts-base` is overwritten by `Meteor.loginWithToken` from `accounts-passwordless`.

A workaround is to import `Accounts` from `accounts-base` and directly use that instead of the `Meteor` global.

[code]

[2021-11-15 10:13] megawebmaster commented on #11709
@StorytellerCZ - I believe this is caused by missing mail setup in production mode. In this commit https://github.com/meteor/meteor/commit/c704a16935f92685b87b9a3b8d6252ee8b981a10 there is a change that removed check for transport being non-null before calling `smptSend`.

Do you know why was this change introduced?

[2021-11-15 17:42] macrozone commented on #8616
after like 3 years of running without problem i have this exact error now on one of our pipelines. I have no idea what the problem is all of sudden

[2021-11-15 18:39] brianlukoff commented on #11756
I'm having trouble getting this updated version to be used by Meteor. My `versions` file is now showing 2.7.2 in use, but it seems to be using an older version when actually minifying the code (since run into the same problem that started this issue). But if I add `standard-minifier-js` to my app's `packages` directory (i.e., from a checkout), then Meteor does seem to use 2.7.2 and minification wo

[2021-11-15 19:07] filipenevola commented on #11756
@brianlukoff I published the `standard-minifier-js` now as well.

Could you check if this solves the problem?

[2021-11-15 19:41] santiagopuentep commented on #11709
Sorry, I didn't see the notifications for this. How do I test the code?

[2021-11-15 20:28] brianlukoff commented on #11756
Thanks! I'm not able to update to 2.7.2 though -- getting the following when I try to put `@2.7.2` in `packages`:

[code]

[2021-11-15 20:30] filipenevola commented on #11756
@brianlukoff maybe you still have the local copy?

Or are you running from a checkout without pulling devel?

[2021-11-15 20:36] brianlukoff commented on #11756
Oops -- you are right -- forgot to remove my local copy. Using `standard-minifier-js@2.7.2` fixed it -- thanks!

[2021-11-16 01:08] adamgins commented on #8745
@WayneUong @erwzqsdsdsf any chance you could do a PR for Froala https://github.com/froala/meteor-froala/issues/37 ?

[2021-11-16 11:57] DerGut commented on #11709
We are getting the same error from a `Accounts.sendVerificationEmail` call:
[code]

Interestingly, this error only occurs in our CI test jobs running `meteor test --once --driver-package meteortesting:mocha` without any environment. We weren't yet able to replicate it locally.

[2021-11-16 12:38] megawebmaster commented on #11709
@DerGut - the same happens to me and it is because Meteor changed how they check for mail transport. If you run it in a production-like env it is enough, so if you don't supply a correct `MAIL_URL` then you'll get this error.

As I'm using Docker Compose to run the test I just added another service (mailcatcher) and pointed Meteor mailer there. It was enough to make it work :wink:

[2021-11-16 12:54] DerGut commented on #11709
@megawebmaster Thanks for the info! But I don't even understand why `smtpSend` is invoked instead of `devModeSend` in the first place. Looking at https://github.com/meteor/meteor/blob/081a7792deb23389f3cac8486558267b265f8990/packages/email/email.js#L231-L236, none of `Meteor.isProduction`, `MAIL_URL` or `Meteor.settings.packages?.email` should be truthy in my case 🤔 .

At least I don't run the tes

[2021-11-16 14:17] renanccastro commented on #11760
Hi, @yghorbal thanks for your report!
Have you tried on Meteor 2.5? Mongo driver updates can impact the issue you are describing.
Which version doesn't work?

Does this mean you currently have a workaround?

[2021-11-19 07:18] perbergland opened #11772 "With HMR enabled in 2.5.0, application fails to load in IE11"
Upgrading our app from 2.4.0 to 2.5.1 and running in developer mode it now crashes on initial load of bundles.

![image](https://user-images.githubusercontent.com/2690254/142581171-86a9f595-7870-4857-8b1d-3efba96718d3.png)

![image](https://user-images.githubusercontent.com/2690254/142581204-966925dc-77b3-4639-ac3c-0af4f4e3faaf.png)

![image](https://user-images.githubusercontent.com/2690254/14258

[2021-11-19 07:28] perbergland commented on #11772
this is what modules.js looks like with 2.4.0 (no global.___INIT_METEOR_FAST_REFRESH)

![image](https://user-images.githubusercontent.com/2690254/142582540-1c5aa23a-e103-48b9-afa0-44ee3967e531.png)

[2021-11-19 10:33] antislash21 commented on #11059
Hi, I guess it does.

Our application is now working on firefox mobile (android). Previously I had to start meteor with --exclude-archs 'web.browser.legacy'

[2021-11-19 11:16] filipenevola commented on #11772
As we don't have any changes in HMR in 2.5.1 I would assume the problem started in 2.5.

Could you confirm that @perbergland ?

[2021-11-19 11:50] filipenevola opened #11773 "Update useraccounts:core"
### Discussed in https://github.com/meteor/meteor/discussions/11743

<div type='discussions-op-text'>

<sup>Originally posted by **vparpoil** November  2, 2021</sup>
Please update the compat version of useraccounts:core to update the dependency to [softwarerero:meteor-accounts-t9n](https://github.com/softwarerero/meteor-accounts-t9n)
The old dependency has a old coffeescript version that is not co

[2021-11-19 18:45] perbergland commented on #11772
Confirmed with 2.5.0

[2021-11-19 19:40] chfritz commented on #3826
Surprisingly, what worked for me was to add a handler for the `timeout` event on the response object.
[code]
However, this only works when connecting to the app-port directly, as suggested by @glasser . And yes, it was necessary, at least in my case, when connecting directly to that port (bypassing the proxy).

[2021-11-19 22:50] leobastiani opened #11775 "2.5.X new project with message “React is running in production mode, but dead code elimination has not been applied”"
To see this error in the console you must have the React Devtools Extension
https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en

Copy and paste this script on your terminal, you also need to have docker installed
[code]

Open http://localhost:3000 and see that “React is running in production mode, but dead code elimination has not been applied”

I

[2021-11-20 04:01] Beat-YT commented on #6429
I made a fork that fix this problem:

https://github.com/Beat-YT/xml.js

[2021-11-20 09:49] perbergland commented on #11772
Tested again after disabling HMR and then it works.

[code]

[2021-11-20 10:29] perbergland commented on #11772
Can’t figure out how to make it not crash on production builds though. I get this error possibly caused by too new javascript code in react-fast-refresh

![image](https://user-images.githubusercontent.com/2690254/142723054-59179578-eac3-4251-913a-7b008c191a30.png)

![image](https://user-images.githubusercontent.com/2690254/142723049-ad774219-03c9-42bf-9c18-8d7e51397267.png)

[2021-11-20 10:35] perbergland commented on #11772
Could be as simple as changing this line to use IE-compatible syntax: `before: function (module) {`

https://github.com/meteor/meteor/blob/cd06a68d4fc34a9f5e0660fc4c4c5d7f49fc8d68/packages/react-fast-refresh/client.js#L21

[2021-11-21 19:53] abdagli opened #11778 "[2.2] I cannot build on DigitalOcean App Platform due to SQLITE_IOERR error"
I am trying to deploy using Dockerfile on DigitalOcean App Platform. But I am getting `SQLITE_IOERR` error during build. Even though I set it to `METEOR_SQLITE_JOURNAL_MODE: TRUNCATE`, nothing changes (METEOR@2.2).

As far as I understand from the documentation, the `METEOR_SQLITE_JOURNAL_MODE` env variable only works in the development environment. Unfortunately I can't deploy!

Some related link

[2021-11-21 20:43] StorytellerCZ commented on #11775
Can confirm, it started to pop up in my apps as well.

[2021-11-22 08:50] StorytellerCZ commented on #11763
Fix was released in Meteor 2.5.1

[2021-11-22 08:50] #11763 closed

[2021-11-22 08:53] StorytellerCZ commented on #11746
@arggh Just quickly looking at the constraints, you might need to update `arggh:test-utils` and `arggh:wormhole` to have `api.versionsFrom('2.3')` if you have that in you packages. Depending on the age of the packages you might or might not have that. Good idea to add it though.

[2021-11-22 09:06] perbergland commented on #11772
Current status:

Workaround for development builds: Set DISABLE_REACT_FAST_REFRESH=1 before `meteor run`
Fix for production/bundle builds: #11776

[2021-11-22 11:24] SkariDamm commented on #11744
Any news on a solution to this problem or a workaround?

[2021-11-22 11:49] KirillTertunov commented on #5712
Have you already found out a solution for IE11?

[2021-11-22 13:11] dovydaskukalis commented on #11744
Workaround we use now is starting Meteor with `DISABLE_REACT_FAST_REFRESH=1` which is not great but at least it works.

[2021-11-22 21:03] cpravetz opened #11779 "Cannot compile android apps on Windows 10 with 2.5.0 or 2.5.1"
Recreated on a clean PC running Win 10.  Meteor 2.5.1.  Steps to recreate:

1. meteor create --bare test
2. cd test
3. meteor add-platform android
4. meteor run android-device

Error is thrown by promise-server.js:218

Error: Command failed: c:\test\.meteor\local\cordova-build\platforms\android\cordova\version is not recognized as an internal or external command, operable program or batch file.
at

[2021-11-23 01:58] brucejo75 commented on #11747
@denihs, so what do you think?  Should I just generate a PR for the docs?

[2021-11-23 07:38] arggh commented on #11746
Thanks @StorytellerCZ, bumping `api.versionsFrom` resolves the issue. Maybe this is something that could be improved, documentation or error message wise?

[2021-11-23 07:38] #11746 closed

[2021-11-23 13:53] yanickrochon commented on #11775
Connected [StackOverflow question](https://stackoverflow.com/questions/70011464/is-there-a-reason-why-react-dom-would-load-both-development-and-production-versi).

I also have this problem, and it slows down the app considerably.

[2021-11-23 17:39] filipenevola commented on #11756
We need to find another fix for this problem.

As I had to revert this fix in 2.7.3.

https://github.com/meteor/meteor/issues/11775#issuecomment-976902874

[2021-11-23 17:40] #11775 closed

[2021-11-23 17:41] filipenevola commented on #11775
Hi @leobastiani can you run meteor update to confirm if the new minifier-js fixes this problem for you?

[2021-11-23 17:45] filipenevola commented on #11772
The fix for production/bundle builds is released here.

@zodern could you take a look at supporting IE11 in HMR?

[2021-11-23 17:50] filipenevola commented on #11753
By default, Meteor omits sensitive fields from the user default publication.

You can use https://github.com/meteor/meteor/blob/dae7af832d08a8b19384ac19aa5a5a9b6b005e55/packages/accounts-base/accounts_common.js#L125 to change this behavior.

[2021-11-23 17:50] #11753 closed

[2021-11-23 17:53] filipenevola commented on #11742
Hi, as discussed in #10708 this is the expected behavior and it's hard to have a different behavior as without extension we would need to always prioritize a specific extension.

So unless we come up with a better solution there is nothing to do here.

[2021-11-23 17:53] #11742 closed

[2021-11-23 18:24] filipenevola commented on #11747
Hi @brucejo75, yes, I believe a PR for the docs is the best solution in this case.

I have faced this same situation when working in the PR to implement async API for our Mongo package.

[2021-11-23 19:56] brucejo75 commented on #11747
Submitted #11784

[2021-11-23 20:18] brianlukoff commented on #11775
@filipenevola Even if flow-router-extra works OK, I think we should be very hesitant to use a version of terser that we know changes the meaning of code! (If we know that terser corrupts flow-router, then what other code might it be mangling and what other subtle bugs might be introduced by its use?)

[2021-11-23 21:44] renanccastro commented on #11778
Hi @abdagli .

This is not the recommended way to run production applications on digital ocean. That's why your app is trying to use SQLITE, as you are running an actual meteor build, which in turn requires the feature that is not supported on DO docker instances.

You should take a look at MUP if you want to deploy to digital ocean, or only run the built package using node, if you want to have a

[2021-11-23 21:44] #11778 closed

[2021-11-24 01:31] filipenevola commented on #11775
Hi @brianlukoff I believe the problem is not in terser but in the way the flow-router code was implemented.

We need this feature (evaluate) to correctly build React apps, for example.

Did you try to isolate the problematic code in flow-router?

I believe if you modernize this code in flow-router this problem is not going to happen anymore.

We could also revert the bump that was made in terser a

[2021-11-24 01:35] #11747 closed

[2021-11-24 02:14] leobastiani commented on #11775
After running `meteor update` it's running with no issues

[code]

[2021-11-24 06:29] brucejo75 commented on #10853
@jasongrishkoff & @namenotrequired you were right on target.
PR #11785 should address it.

Sorry I just noticed this issue.  To speed things up next time:
- Referencing a PR or other issue does not notify the author
- In a case like this it may have been addressed quicker if you had mentioned the author of the offending PR (e.g. @brucejo75)

Sorry I goofed it & sorry I did not see this earlier!  S

[2021-11-24 14:33] brianlukoff commented on #11775
@filipenevola The screenshot in #11756 is the affected code (minified) with the link to the original code. But my concern is larger than flow-router; it's that terser is changing the meaning of *any* code. I agree we could certainly rewrite that code in flow-router, but there is so much code that we all depend on in various libraries -- how can we be confident that terser is not also changing the

[2021-11-24 21:26] filipenevola opened #11789 "meteor add fourseven:scss@4.15.0 Command Failed!"
### Discussed in https://github.com/meteor/meteor/discussions/11787

<div type='discussions-op-text'>

<sup>Originally posted by **modanwalrahul31** November 24, 2021</sup>
The below issue comes when I am upgrading the meteor from 1.6 to 2.2.3, I can not remove fourseven:scss package because that's one, not a direct dependency.

meteor add fourseven:scss@4.15.0
Unable to update package catalog (ar

[2021-11-24 21:27] filipenevola commented on #11789
Are you running behind a proxy?

It seems that your catalog is not up-to-date. Is your Internet working fine?

See this part of your log: `Unable to update package catalog (are you offline?)`.

[2021-11-25 06:11] afrokick commented on #11756
@brianlukoff There is recommended flow-router fork created by @dr-dimitru

`meteor add ostrio:flow-router-extra`

It is more up-to-date with regular release cycle. Could you check it?

[2021-11-25 11:27] renanccastro commented on #11779
Hello @cpravetz, you can check here someone that had the same issue as you have: https://forums.meteor.com/t/errors-building-android-on-win10-version-is-not-a-command/57037/3?u=renanccastro

The cause is a missing SDK in your system. You can check the pre-reqs and the how to here: https://guide.meteor.com/cordova.html

While we can and should improve the error message, I think this is more appropr

[2021-11-25 11:27] #11779 closed

[2021-11-25 16:24] filipenevola commented on #11775
Terser has a good enough popularity IMO.

I believe if we improve flow-router code this issue is going to disappear. The code is using `var` and other old patterns in JS and I believe this is what caused the issue in the first place.

Meteor applies a lot of code transformations along the way, including Terser and Reify, as we have a compiler, bundler, and minifier we need to perform these operati

[2021-11-25 16:26] filipenevola commented on #11756
Yes, this is what I suggested [here](https://github.com/meteor/meteor/issues/11775#issuecomment-979341292) as well.

[2021-11-26 14:59] brianlukoff commented on #11775
I certainly understand that. I think updating that code in flow-router is certainly the way to go (or the newer fork may have already done so -- I haven't checked yet). But I still think it is dangerous to apply a transformation to every Meteor codebase (some may have similar legacy patterns in other older libraries) that we know has the potential to change the code's behavior and introduce bugs.

[2021-11-26 15:01] brianlukoff commented on #11756
@afrokick Thanks -- I'll definitely look into switching, but [see my comment in this thread](https://github.com/meteor/meteor/issues/11775#issuecomment-977935438) as to why I'm still concerned about the behavior of terser.

[2021-11-26 15:33] dr-dimitru commented on #11775
@filipenevola @brianlukoff I have fully refactored `flow-router` library to modern ES standard. The only place remained the same (*still* `var` *used*) is in tests of  `ostrio:flow-router-extra`. Tests shouldn't affect building a bundle, right?

[2021-11-26 15:59] brianlukoff commented on #11775
Thanks @dr-dimitru -- I'll take a look at switching to `ostrio:flow-router-extra`, although I'll still probably need to keep a fork of minifier-js around that disables the `evaluate` switch in terser, to avoid the risk of breaking other code.

[2021-11-26 20:19] filipenevola commented on #11775
@dr-dimitru yes, tests are not important for this matter.

@brianlukoff I don't think you should be afraid of this option in Terser. This is the first problem like this in a long time using it. We could isolate this in a test case inside flow router to make sure this doesn't happen in future versions.

Could you double check if @dr-dimitru fork doesn't manifest this problem? It would be really hel

[2021-11-27 00:28] brianlukoff commented on #11775
@filipenevola @dr-dimitru I have confirmed that `ostrio:flow-router-extra` works fine with the default `evaluate` option in terser -- thanks! (I won't belabor the point, but to me the fact that we had to check to be sure just reinforces my earlier point -- we should be completely confident that Meteor's minification process will not change the semantics of *any* library!)

[2021-11-27 13:48] lmf-git commented on #11729
Sigh

[2021-11-27 15:12] filipenevola commented on #11729
Meteor works on M1 now as you can read [here](https://blog.meteor.com/meteor-2-5-1-with-native-mac-m1-support-fb1c4b6990b5).

[2021-11-27 15:40] filipenevola commented on #11775
We are deprecating `kadira:flow-router` in favor of `ostrio:flow-router-extra`.

[2021-11-27 15:41] filipenevola commented on #11756
We are deprecating `kadira:flow-router` in favor of `ostrio:flow-router-extra`.

This issue only affects the [old flow-router due to old JS patterns](https://github.com/meteor/meteor/issues/11775#issuecomment-980475300).

[2021-11-27 15:41] #11756 closed

[2021-11-27 17:00] lmf-git opened #11790 "Installation of Meteor fails on M1"
#11729

This issue was closed and I was sent a link that I've already read many times over - you shut down feedback whilst the problem remains and made it even more inconvenient/unlikely of being solved.

Your npm installer tries to create a .meteor-install-started.txt file... in a location that doesn't exist/doesn't get used on a Mac.

I know which line of your install script causes it, I know wh

[2021-11-29 12:58] renanccastro commented on #11790
Hi @lmf-git . The issue you've linked is not related to the one you are reporting here. It was related to arm64 platform not being supported, which was indeed fixed.

I can't reproduce the issue you are reporting too, and we tried with some different Mac machines. Can you create a Pull Request? We would gladly review it!

[2021-11-29 14:41] lmf-git commented on #11790
I’m following the blog post? Could it be caused by cached global node
module?

On Mon, 29 Nov 2021 at 12:58, Renan Castro ***@***.***> wrote:

--
LM Fielding

Founder

Dreamsbyte
+44 738-980-5421 <+44+738-980-5421>
***@***.***
https://dreamsbyte.com
[image: facebook] <https://www.facebook.com/dreamsbyte>
[image: linkedin] <https://linkedin.com/company/dreamsbyte>
[image: instagram] <https://www.in

[2021-11-29 17:56] filipenevola commented on #11790
@lmf-git could you post the error that you are getting?

[2021-11-29 17:59] renanccastro commented on #11790
Also, please check if you are using the flag "--unsafe-perm" if installing it as sudo. We can't modify any files in your computer if you are running as sudo without this flag.

Please check this session here: https://docs.meteor.com/install.html#troubleshooting

[2021-11-29 18:31] lmf-git commented on #11790
<img width="902" alt="image" src="https://user-images.githubusercontent.com/67340984/143923192-08ffcc02-9f55-4d23-9af7-6a4983190cfd.png">

[2021-11-29 18:31] lmf-git commented on #11790
I've tried that

[2021-11-29 18:35] renanccastro commented on #11790
@lmf-git which is your node version?

[2021-11-29 18:36] lmf-git commented on #11790
<img width="315" alt="image" src="https://user-images.githubusercontent.com/67340984/143923905-45e4c372-5edd-42a2-8601-b53331d4464b.png">

[2021-11-29 18:37] lmf-git commented on #11790
How does node version affect this pointless txt file?

[2021-11-29 18:46] renanccastro commented on #11790
We don't support node 16. But, it indeed doesn't matter for the issue you are reporting.
I've published meteor@2.5.2 on NPM, which uses meteor 2.5.1, but has this issue fixed.

The issue was related to using ROOT(sudo) + mac. On mac, the home path is /Users, not /home

[2021-11-29 18:48] lmf-git commented on #11790
Ohhh sudo changes root path/owner of folders etc... interesting

[2021-11-30 06:08] GeoffreyBooth opened #11791 "Fibers is missing binaries; can do away with fork"
@renanccastro I just wanted to draw your attention to https://github.com/laverdet/node-fibers/pull/454#issuecomment-981142332: you can take over the original Fibers project. I think this would be preferable to maintaining a separate fork.

In addition, the version of the Fibers fork for Meteor 2.5.1 was missing some binaries that the original version usually included when it was published to npm.

[2021-11-30 10:41] renanccastro commented on #11790
I'm closing this as the issue seems to be fixed in latest installer. Let me know if that is not the case @lmf-git

[2021-11-30 10:41] #11790 closed

[2021-11-30 14:28] renanccastro commented on #11694
Hello, everyone.

Root install support was added to latest npm installer.

Let me know if you find any trouble with it

[2021-11-30 14:28] #11694 closed

[2021-11-30 21:02] renanccastro commented on #11791
Hi @GeoffreyBooth , I'm following up with laverdet for having npm push permissions there. As soon as we have it, we will publish a new version with all the binaries.

Sorry for this, adding the other architectures went through me, as fibers can always be compiled this wouldn't be a fatal exception in our flow (except on alpine). I will correct this in the new fibers version.

[2021-12-02 09:24] zendranm opened #11793 "Incorrect class transpilation since v2.2.3"
Classes aren't correctly transpiled since version 2.2.3. Up to version 2.2.2 the code below returns `test` and `test`. Since version 2.2.3 it returns `test` and `undefined`.

Reproduction:
[code]
Repository with basic reproduction: https://github.com/zendranm/class-transpilation-bug/blob/main/imports/ui/App.tsx

[2021-12-02 16:40] yghorbal commented on #11760
Hi @renanccastro you are right, the version I was investigating was very old. It's no longer an issue today !

[2021-12-02 16:40] #11760 closed

[2021-12-03 19:36] zodern commented on #11353
This is fixed in Meteor 2.5

[2021-12-03 19:36] #11353 closed

[2021-12-08 16:07] banjerluke commented on #11642
Any insight into why this is happening? It’s still affecting my users on Meteor 2.5.

[2021-12-08 17:06] ghybs commented on #11699
Hi @Floriferous

It seems to me that the bug you pinpoint is actually the one that is targeted by PR https://github.com/meteor/meteor/pull/11795, i.e. failure to fallback to HCP when HMR cannot be used.

In your reproduction repo, reload fails within the `react-pdf/renderer/PDFViewer` component
[code]

https://github.com/Floriferous/meteor-pdf-hmr/blob/76e68d30ddf4b1684c777d32e1900e3e85ec343c/impo

[2021-12-09 20:50] edemaine commented on #9586
I just ran into this issue, unaware that I'd accidentally made a `C:\Users\myusername\node_modules` folder, and surprised that that stopped `meteor` from successfully running (in a different directory, `C:\Users\myusername\Projects\myprojectname`).  The fix works, but presumably there's an underlying issue that causes this to happen?  Can we fix it, instead of everyone needing to find this thread

[2021-12-09 23:39] zodern commented on #9586
There is an open issue for the cause: https://github.com/meteor/meteor/issues/10930#issuecomment-678580436. It should be fixed once #11740 is merged and the Windows build machine is updated to publish the meteor-tool with working symlinks.

[2021-12-10 22:31] zodern commented on #11699
Meteor and its react refresh integration seem to be working correctly. This is a bug in react-pdf: https://github.com/diegomura/react-pdf/issues/1350.

If you want Meteor to use hot code push when you modify these types of files, you can add this to the files, though it will also disable HMR for any of the file's dependencies
[code]

The timeout is needed to prevent react-fast-refresh from overrid

[2021-12-10 22:31] #11699 closed

[2021-12-10 22:32] zodern commented on #11699
@JanMP and @ricaragao the bug you found should be fixed with https://github.com/meteor/meteor/pull/11795

[2021-12-10 22:34] zodern commented on #11772
The IE11 bug will be fixed by https://github.com/meteor/meteor/pull/11794

[2021-12-11 14:44] Shelagh-Lewins opened #11802 "Exception in flushing DDP buffered writes: MinimongoError: Key $v must not start with '$' - only when using oplog"
I have deployed a Meteor app through Phusion Passenger / Nginx, and see this error in the browser console when I update a collection:

`Exception in flushing DDP buffered writes: MinimongoError: Key $v must not start with '$'`

The error only occurs if the app is configured to use the oplog. "$v" is NOT the name of the field I'm updating, and as far as I can tell does not exist in my code.

OS: Re

[2021-12-13 05:50] CyberCyclone commented on #11246
Can you please let me know if there is a full example of how this would work? A lot of projects are using wasm which is making it difficult to continue to use Meteor.

[2021-12-13 12:49] zehrademirel opened #11805 "Data in Meteor Js application is kept in local mongodb. I can't migrate to cloud mongodb."
Hello, I have developed an application in meteor js. Data is stored in local mongodb. I can't connect to cloud mongodb. I am using windows computer and powershell.

[2021-12-13 15:36] #11772 closed

[2021-12-13 16:10] perbergland opened #11806 ""archived threads in combination with wasm not supported" when using nyc/istanbul but only on linux.x86_64"
Meteor 2.5.1, nyc 15.1.0

Running code coverage as described in [this post](https://forums.meteor.com/t/using-istanbul-nyc-for-code-coverage-in-meteor/38258/8) works fine on my M1 Macbook Pro but crashes on circleci with the exact same versions of everything.

I have not tested on Windows.

![image](https://user-images.githubusercontent.com/2690254/145847124-1ae026b7-c369-4e03-b3ac-ac294af5523d.pn

[2021-12-13 16:15] perbergland commented on #11806
Maybe the homebuilt nodejs 14 that’s bundled with meteor is compiled differently for arm64 and linux x86_64?

[2021-12-13 18:49] denihs commented on #11805
Hi,

What's the problem exactly? Are you getting any errors?

Are you trying to copy the data from your local database or just trying to connect your app to your cloud MongoDB?

If it's an error that you're getting, we need a reproduction. [See more on that](https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#reporting-a-bug-in-meteor).

[2021-12-13 19:55] zodern opened #11807 ""meteor-installer install" fails due to incorrectly thinking it is not installed globally"
When the `meteor` npm package is installed globally, running `meteor-installer install` prints this error:

[code]

[2021-12-13 20:03] zodern opened #11808 "When installing Meteor, installer should update path even if Meteor is already installed"
If for some reason Meteor is installed but isn't included in the path (for example, you installed Meteor with the old npm installer that had a npm bin file, and updated the meteor package to a new version that doesn't have it), it would be nice if the installer could check if the path has meteor in it, and if it doesn't it fixes it.

[2021-12-13 20:04] zodern commented on #11808
Another option is to add a command to the `meteor-installer` cli for updating the path.

[2021-12-14 02:52] leobastiani opened #11810 "Login with facebook and google could use the same user"
https://github.com/meteor/meteor/blob/7132723d1e3553be7e7e7e8c2966265918c502a1/packages/accounts-base/accounts_server.js#L1278-L1280

I think that `serviceIdKey` could call `Accounts.serviceIdKeyFactory(...args)` that could return a different key like `...email` and then we could be able to reuse the same user with different login services
Would it be possible?

[2021-12-14 07:40] zehrademirel commented on #11805
I want to connect my application to cloud mongodb.
![image](https://user-images.githubusercontent.com/62859366/145953902-66b67cfc-545f-4e0f-9612-3b7cc44d1864.png)

[2021-12-14 07:41] zehrademirel commented on #11805
I want to connect my application to cloud mongodb.
![image](https://user-images.githubusercontent.com/62859366/145954049-2df34659-31d4-45ac-ad61-69c72061a149.png)

[2021-12-14 12:06] renanccastro commented on #11806
Hi @perbergland, the Fibers backend we use for mac M1 is different than the one we are using for x86_64. While the M1 is backed by ucontext, the x86 one is based on custom assembly code, which is probably using archived threads and producing this error.

What we can try here is to make fibers on x86 also use the ucontext backend, as it has proved fast enough to be used. This would possibly solve t

[2021-12-14 12:31] renanccastro commented on #11718
Hello!

Can you describe more which env vars are you referring to? How are you using a proxy with npm?

[2021-12-14 12:59] zehrademirel commented on #11805
I solved the problems by doing research. Thank you. I upgraded the current versions.
I first fixed the expired certificates issue due to updates as I am using Powershell. ( $Env:NODE_TLS_REJECT_UNAUTHORIZED=0 ) I added the parentheses.

I deleted or updated the packages that were causing the problem.

meteor npm install --save

Then I did the process of moving the meteor to the atlas.

$Env:MONGO_

[2021-12-14 13:11] vitorflores commented on #11802
Hi, could you reproduce it locally using mongo embedded? This way we can help you better, checking if the problem is with your config file or with MiniMongo.

[2021-12-14 13:37] Shelagh-Lewins commented on #11802
Hi, thank you, but no, I cannot reproduce it locally, only on the remote server. This seems strange in itself! On the remote server, everything else works fine.

[2021-12-14 18:48] perbergland commented on #11806
Aha! That sounds like a good idea.

[2021-12-15 04:16] #11805 closed

[2021-12-15 15:38] perbergland commented on #11806
When not using MUSL, Linux already uses ucontext.

When is the gyp compilation applied in the installation process? Is it on the client machine? Is it possible to force the Linux version to use ucontext with some trickery just to see what happens (e.g. running on an Alpine image which doesn’t have MUSL IIRC)?

https://github.com/meteor/node-fibers/blob/master/binding.gyp

![image](https://user-ima

[2021-12-15 17:28] shelagh-lewins-ucl commented on #11802
After downgrading my setup, I've worked out how to reproduce the issue.

1) run Mongodb 5.0
2) set up a replica set, and hence the oplog, in mongo
3) configure Meteor to use the oplog by setting the passenger_env_var MONGO_OPLOG_URL

Now I know to look for Mongo 5.0 issues, I found a reference to this exact problem:

https://forums.meteor.com/t/mongodb-5-0-is-out/56266/3

The post suggests that th

[2021-12-15 18:03] StorytellerCZ commented on #11810
Possible, but undesirable. Personally I would see this as a security issue that you get access to a user account while using another service that is not associated with the user.
If you want to allow users to link and then sign from multiple services then you might want to consider `bozhao:link-accounts`: https://github.com/Meteor-Community-Packages/meteor-link-accounts
Other alternative would be

[2021-12-15 18:31] renanccastro commented on #11802
Hi @shelagh-lewins-ucl , yes, we currently doesn't support MongoDB 5.0.

We are actively working on it, so you should expect news soon. In the meanwhile, it's safer to use 4.4

[2021-12-15 18:31] renanccastro commented on #11802
I will close this in the meanwhile, ok? If you need further assistance after the 5.0 PR lands, we can reopen this issue. Thanks!

[2021-12-16 14:14] banjerluke opened #11811 "Reopening iOS Cordova app → blank white screen"
Many of my iOS users have been reporting the dreaded "white screen of death" when opening my iOS Cordova Meteor app. It seems to have gotten worse this year, but I'm not sure. I have been noticing it myself more, though. I've been keeping current with Meteor updates and am currently on 2.5.1, but this was happening before that (including before the Cordova 10 upgrade, I'm pretty sure).

It seems t

[2021-12-16 14:19] evolross commented on #11811
We're seeing a lot of white screen of death too on our Meteor app that gets loaded within Webex using their embedded App Hub, which I assume loads in some kind of WKWebView-esque web interface. This is on a Meteor 1.10.2 app. Doesn't happen for all users.

[2021-12-18 17:30] drone1 commented on #5310
Is this not something others are running into, all these years later? I constantly have to do guesswork about which file the tracker's even in. Example trace:

[code]

There is no useful information here from what I can glean -- no indication of which template, file or line number. Have there been no improvements here since 2015? If I'm doing something wrong I'd love to know what it is as I run in

[2021-12-18 17:55] WilliamKelley commented on #5310
@drone1 In the closing comment the lack of a reproduction was a key factor. It sounds like you could provide a reproduction repository given your issues? I encourage you to do so. Then the issue can progress with a goal to work against.

[2021-12-18 18:45] drone1 commented on #5310
Sorry about that @WilliamKelley. So actually in my case, if I call a nonexistent 'foo' from a template's autorun(), the stack trace is correct. But the confusion for me was this: the error above was produced because I was calling a non-existent helper function _with a parameter_ from _within Blaze markup_, like this:

[code]
When 'test' does not exist in any reachable context from Blaze at this po

[2021-12-18 19:28] WilliamKelley commented on #5310
No need to be sorry. I don't have the ability to contribute the improvement you're asking for, but I saw the issue update and wanted to clarify what's necessary.

By reproduction, I mean what's described [here](https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#reporting-a-bug-in-meteor). Descriptions and snippets are much less helpful than the simplest repro.

Hope someone can pick this

[2021-12-19 02:26] drone1 commented on #5310
OK nevermind, there is actually a useful file/line in this trace! I was missing app.js, buried down a bit. So, nothing to see here after all. Thank you @WilliamKelley!

[2021-12-21 01:15] leosco commented on #11807
I'm seeing this same issue on Windows 11 v22000.376

Although the meteor npm package is installed, the `meteor` executable is not present in `/c/Users/leo/AppData/Roaming/npm`. The only apparent binary installed is the `meteor-installer` which produces the error @zodern is seeing.

[2021-12-21 01:21] leosco commented on #11807
In fact, #11808 is due to this same issue

[2021-12-21 11:27] simplecommerce commented on #11791
@renanccastro Does the [2.5.2 beta 10](https://github.com/meteor/meteor/pull/11788#issuecomment-998303564) release include this new fibers version with all binairies? I am asking because in my current project, I cannot update to latest version of Meteor on Azure (windows web app) as I can't install any fibers version above 4.0.2 because of missing binairies. I don't mind waiting, I was just curiou

[2021-12-21 12:18] renanccastro commented on #11807
@leosco we don't ship binaries in the npm folder.

We install Meteor in your home folder and add it to your path. This issue linked by @zodern is actually not the usual installation path, so you probably won't need to run meteor-installer install ever. If you are having issues on windows 11 after using npm, please let me know, but this is not the actual cause. Do you have meteor in your path after

[2021-12-21 18:28] renanccastro commented on #11791
@simplecommerce no, not yet, unfortunately. There is still some CI work to be done for this to be possible

[2021-12-21 21:00] leosco commented on #11807
I do not. I’ve retried it multiple times and it doesn’t seem to install
meteor and add it to my path. Where is the meteor binary supposed to be,
then?

On Tue, Dec 21, 2021 at 07:18 Renan Castro ***@***.***> wrote:

[2021-12-21 21:09] filipenevola commented on #10930
This should be fixed in Meteor 2.5.2.

[2021-12-21 21:09] #10930 closed

[2021-12-21 21:12] filipenevola commented on #11744
This should be fixed in Meteor 2.5.2.

[2021-12-21 21:12] #11744 closed

[2021-12-23 05:34] CyberCyclone commented on #11143
I think you're right with this. I've been using Meteor for 5+ years but I'm now getting to the point where it's tight integration is becoming a burden and hard to use new technologies. Not having wasm support in Meteor has pretty much decided it for me.

[2021-12-23 11:49] dthwaite commented on #11811
I am having the same experience - since upgrading to Meteor 2.5 I think it has got worse (I think it was occasionally happening in earlier versions). It only happens after the app has been backgrounded for a long period (at least a day) - but I can almost guarantee the failure will happen eventually if you leave the app for long enough.

My Xcode does not stay connected for long enough for me to t

[2021-12-23 12:49] dmarkrollins commented on #5687
So I hit this issue upgrading to Meteor 2.3 and my problem was that I am using packages to segment my code and I had added accounts-base and accounts-password but not explicitly to my root package. Once I pulled them into my package explicitly the issue went away.

[2021-12-23 14:28] bogdanrn opened #11817 "oauth no longer works if app embedded in iframe, using the latest security settings on chrome"
How to reproduce:
Step 1: Turn on the setting on google chrome "block third-party cookies" which i believe is enabled by default (at least in safari it is).
Step 2: Load the meteor app inside an iframe on a different domain

Because oAuth relies on sessionStorage, login flow will no longer work.

[2021-12-23 16:27] renanccastro commented on #11811
I think the first required step for having an actual fix for this issue would be a reproduction or a detailed crash log. Without it, unfortunately, it's hard to say whether or not it's a user-code problem.

What I think can be a good way to achieve that is to use source maps in production, so we can see the crash logs of you guys @dthwaite and @banjerluke . Any chances you can set up Sentry or som

[2021-12-23 20:32] dovydaskukalis commented on #11811
Can it be related to https://github.com/meteor/meteor/issues/11642 ? I am not exactly sure how the cordova files are being served but it seems that some service/server just stops working and fail to load local assets.

[2021-12-24 06:33] WilliamKelley opened #11820 "Misleading api doc for Meteor.user"
### Issue

The API documentation of [`Meteor.user`](https://docs.meteor.com/api/accounts.html#Meteor-user) states it will return "the current user record, or null if no user is logged in." From that statement, I would assume it never returns `undefined` -- the user record would only be absent from minimongo if the user is logged-out, but then it would be `null`. However, I've found this reactive s

[2021-12-24 16:42] banjerluke commented on #11811
@renanccastro, there are detailed logs in my initial post above (they're in collapsed sections which you can expand). I do have Sentry but there are no JS errors so nothing is caught.

@dovydaskukalis I honestly don't know if this is related to #11642. That issue has also affected my app, albeit much more rarely. Could this issue be a case of failing to load the initial HTML template rather than a

[2021-12-25 13:04] paulincai opened #11821 "Meteor 2.5.2 both Login with Facebook and Google fail due to wrong redirect URI"
Update to 2.5.2 with meteor update --release 2.5.2. Login with social services stopped working due to missing or incorrect redirect URI.

Revert back to 2.5.1 all ok.

[2021-12-26 07:26] KoenLav commented on #11820
I agree this should be improved, but not by always ensuring null.

Currently when the application is starting and we don't know whether the session cookie (resume token) is still valid the value is undefined.

This allows us to render a loading screen for authenticated routes when undefined, but redirect to login when null.

I didn't notice it being undefined when logging out (and would expect it

[2021-12-26 16:34] WilliamKelley commented on #11820
I don't understand your scenario. When does the user method return undefined? Why doesn't conditioning on loggingIn suffice? Login with the resume token is like any another login strategy I believe.

[2021-12-26 18:03] LizhenQiao commented on #9586
Vote for the idea. I was new to a meteor project and run into this issue. Though it is simple to change the folder name. It still took me several hours to find this solution. And to be honest, I believe it will prevent a great number of users who have the interest to get involved in meteor project. BTW, even simply change the name of `node_modules` folder itself looks uncomfortable to me. (

[2021-12-26 18:13] WilliamKelley commented on #11820
Interesting, I didn't see that it [optimistically presents as logged-in by setting the user id](https://github.com/meteor/meteor/blob/devel/packages/accounts-base/accounts_client.js#L569-L572). I see the usefulness and it's another source of contradiction for `Meteor.user`, the user is "logged-in" but it will return `undefined`, not the user record.

By "this" I assume you mean the value of `Meteo

[2021-12-26 18:23] banjerluke commented on #11811
I also wanted to mention that I removed all Cordova plugins from my app but still got the white screen of death overnight.

[2021-12-26 20:30] Nauzer commented on #11811
Hi All,

Short reply because of a similar issue I had in the past. It seemed to
occur when memory was running full (RAM) on iOS.

So i guess there is a mem leak of some sort. Is it reproducable with a
clean/new meteor project for you?

Nauzer

On Sun 26. Dec 2021 at 19:23, Luke ***@***.***> wrote:

--
*​Mark Naus*

🇩🇪+49 (0) 173 398 9053

🇳🇱 +31(0) 6-11367708

*E*:  ***@***.***

*W*: www.caught.nu

[2021-12-27 11:53] KoenLav commented on #11820
We would use Meteor.loggingIn, but there's a bug there as well: https://github.com/meteor/meteor/issues/10432

Agreed on that we're looking for the same thing, not sure what the ideal change is here.

Taking into account backwards compatibility it may be preferable to keep undefined and document that it means "pending".

[2021-12-27 13:16] denihs commented on #11821
Hi @paulincai, can you provide a reproduction? Here you can see how to create one:  https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#reporting-a-bug-in-meteor

[2021-12-27 14:04] paulincai commented on #11821
Ok, in order to login with Facebook or Google you need Facebook / Google apps/projects with valid keys and secrets.

I think the matter can be easily experienced if you already have a project that you can upgrade to 2.5.2 and see. What I actually see is that both the Facebook and Google popup windows reject my login due to incorrect redirect URI. As mentioned, just reverted back to 2.5.1 and all o

[2021-12-27 14:06] paulincai commented on #11821
Ok, forgot to ask @denihs, do you have API credentials for either FB or Google? In this case I can provide you with a reproduction.

[2021-12-27 15:27] bogdanrn commented on #11817
I figured it out, it's a small bug in the oAuth package.

 In the [meteor/packages/oauth/end_of_popup_response.js](https://github.com/meteor/meteor/blob/devel/packages/oauth/end_of_popup_response.js#L24-L29) we have a try/catch when sessionStorage is used, but on the [meteor/packages/oauth/end_of_redirect_response.js](https://github.com/meteor/meteor/blob/devel/packages/oauth/end_of_redirect_respo

[2021-12-27 23:08] WilliamKelley commented on #10432
I do not think this is a bug. This is canonical behavior that occurs because the publication depends on `this.userId` which is a reactive data source (setup internally with Tracker).

When you use `Meteor.loginWith***` after the page loads, the client has already subscribed to the publication, which has been initialized for that connection and the dependency tracked. During a successful login, [`s

[2021-12-27 23:20] WilliamKelley commented on #11820
I've left a reply. I don't think that's a bug, but the behavior isn't obvious. Can continue to discuss separately on that issue.

I don't think it should document exactly that. It's just that `Meteor.user` can be `undefined` during logout. I'm pretty confident it's never undefined otherwise (unless the user document is deleted while the user is logged-in), because the login process is solid in cal

[2021-12-28 06:44] KoenLav commented on #11820
Ah that makes sense (loggingIn), not sure whether it's drsirable though.

I'm pretty sure Meteor.user is undefined when you are logged in, reload the page, from the moment Meteor is loaded untill loginWithToken returns.

[2021-12-28 14:07] renanccastro commented on #11811
You are right, sorry. I was thinking in the other issue about the same subject.

A good first try is to update gcdwebserver in our webapp cordova plug-in. This can be something they have solved already.

[2021-12-28 17:20] paulincai commented on #11821
As I looked into commits of 2.5.2 and there hasn't been anything that might have affected oAuth or login with services, I cleared cache in my project, cleaned NPM etc ... meteor reset and redeployed with 2.5.2 and all seems ok now.
My apologies for not doing this before reporting this issue.

[2021-12-28 17:20] #11821 closed

[2021-12-28 18:21] WilliamKelley commented on #11820
You're right. I'm coming to terms with the fact that as a query, `Meteor.users.findOne` has the type sig of possibly returning undefined. Meteor can make situational guarantees, but obviously those can have holes and the type shouldn't be arbitrarily narrowed.

So, I'll revise my suggestion to explicitly checking the return value of the query and returning `null` instead, if it's `undefined`.

[co

[2021-12-28 20:41] flawedvice commented on #11807
I'm having the same problem in Ubuntu 20.04.
Is there any other way to successfully install meteor?

[2021-12-28 21:39] KoenLav commented on #11820
I would indeed expect Meteor.user to return whatever Meteor.users.findOne(Meteor.userId()) would return and for us the "odd behaviour" of returning null when the user is not logged in has been helpful to determine a pending state.

If this was to be changed I think it would make more sense for Meteor.user() never to return null (since findOne wouldn't either).

I still think documenting the curren

[2021-12-29 00:00] chrishanyu opened #11822 "metoer/oauth package dependency causing ios build to fail in meteor 2.5.1"
After starting a new meteor project and add `accounts-google` package, `meteor run ios` will fail and give the following error:

[code]

This issue can be found here:
https://github.com/apache/cordova-plugin-inappbrowser/issues/714

Looks like `meteor/oauth` package's cordova dependency `cordova-plugin-inappbrowser@3.2.0` is causing this error.

After copying `oauth` folder to `project/packages` f

[2021-12-29 10:57] nick-gudumac commented on #11715
This issue appears to be fixed now in Meteor 2.5.2. Where it crashed previously, now it's just doing a forced refresh.

[2021-12-29 14:35] denihs commented on #11822
Hi @chrishanyu,

So you were able to fix it by updating the version? Or does the problem continue? Can you provide a reproduction?

[2021-12-29 21:07] leosco commented on #11807
@flawedvice iirc the shell installer no longer works on Windows

[2021-12-29 22:37] chrishanyu commented on #11822
Yes, problem was fixed by updating the version

[2021-12-30 13:33] #11822 closed

[2021-12-30 20:00] chrishanyu commented on #11822
@denihs

`cordova-plugin-inappbrowser` is a dependency of `meteor/oauth` package. I was able to fix the issue by copying the package to local project and updating `package.js` file line 50

from:
[code]

to:
[code]

The dependency version decleared [here](https://github.com/meteor/meteor/blob/ff2250427ecf8b4e0f069d0652144c659a20ed3a/packages/oauth/package.js#L51) is still causing the error as of M

[2021-12-31 23:46] andreasheim commented on #11666
Ran into this issue as well. Just want to point out it may be more important with which version (of Mongo or Meteor) the app was created, not what it is currently on. Our app is on Mongo 4, and I was unable to deploy with Meteor 2.4 or 2.5.

Interestingly, it's not an issue locally, with a recent prod backup, nor on our staging env, which was created about a year ago with a prod Mongo backup.

[2022-01-01 10:20] StorytellerCZ commented on #11817
@bogdanrn can you please create a PR with the fix?

[2022-01-01 10:28] StorytellerCZ commented on #11817
@bogdanrn please check #11825 if the solution is correct based on your fix.

[2022-01-02 05:18] AndyNormore commented on #10555
Was able to fix this by adding:

socket-stream-client

to .meteor/packages

Then I cleared my Cloudflare CDN, purged cache, development mode

Then I cleared my browser cache on Chrome, issue seems resolved

[2022-01-03 14:25] bogdanrn commented on #11817
@StorytellerCZ thanks for the quick reply, that looks good. This would fix the problem i encountered.

PS:
For anyone who lands on this issue, the next step is to implement login tokens to resume the session. I did it by using Accounts.registerLoginHandler. Meteor will continue working as expected from this point on.

[2022-01-03 18:09] #11817 closed

[2022-01-04 09:08] jankapunkt opened #11827 "Accounts.config.defaultFieldSelector is not considered in published default user fields"
## Versions:

Meteor release 2.5
`accounts-base@2.2.0`
OS: Ubuntu 20.04 LTS
The last version of Meteor where the problem did _not_ occur, if applicable: not known to me right now

## The expected behavior:

[code]

should auto-add these fields to the current user `Meteor.user()` when logged-in (assuming these fields exist on the user document).
Related docs: https://guide.meteor.com/accounts.html#

[2022-01-04 17:31] brendonlamb commented on #11827
TY for confirming and creating this issue.

If it's helpful, I was experiencing this issue in Meteor 2.4 as well.

[2022-01-04 18:32] markdowney opened #11830 "Can't run app after updating to 2.5.2 (SyntaxError: Unexpected end of JSON input)"
- was running meteor 2.5.1. on macOS Bigsur.
- updated app to 2.5.2
- running the app throws the following error :

[code]

I tried without success:
- uninstalling and re-installing meteor tool
- downgrading back to 2.5.1
- deleting `app/.meteor/*`
- removing and re-installing all npm modules

See forum thread here: https://forums.meteor.com/t/unable-to-run-after-update-to-2-5-2/57266/3

[2022-01-04 18:44] dovydaskukalis commented on #11830
Had same issue. For me deleting `.meteor` and `npm_modules` helped.

[2022-01-04 18:45] renanccastro commented on #11830
Can you please try running `meteor reset`? This usually happens if you keep old isobuild caches from older versions.

[2022-01-04 19:23] markdowney commented on #11830
`meteor reset` doesn't help. Nor does removing `~/.meteor` and reinstalling. I'm running out of ideas.

[2022-01-04 19:28] zodern commented on #11830
From the stack trace, it seems to be caused by a `package.json` file that is not valid json.

[2022-01-04 20:41] rouftom commented on #11830
I also have the same problem after updating two Meteor projects from version 2.5 to 2.5.2. The package.json files are however valid.

[2022-01-04 20:51] markdowney commented on #11830
As schapiro pointed out [here](https://forums.meteor.com/t/unable-to-run-after-update-to-2-5-2/57266/5), the problem seems to come from the [resolve package](https://www.npmjs.com/package/resolve), which has a malformed package.json for test purposes.

Removing `/node_modules/resolve/test/resolver/malformed_package_json/` allows me to run my app locally. I'm not sure if this should be fixed in the

[2022-01-04 20:56] rouftom commented on #11830
@markdowney on the other hand my applications run without problem locally. The error occurs when I try to deploy the apps with a ci/cd pipeline.

[2022-01-04 21:00] markdowney commented on #11830
@rouftom the latest version of [resolve](https://github.com/browserify/resolve) with the malformed package.json was released yesterday. You might have the issue if you reinstall your node_modules ?

[2022-01-04 21:03] rouftom commented on #11830
Ok @markdowney , I will reinstall meteor and try to reproduce the issue.

[2022-01-04 21:12] Nauzer commented on #11830
Same here.
Reinstalled meteor with

[code]

Only second line was not enough.

[2022-01-04 21:18] johnwils commented on #11830
Experiencing the same issue after a fresh `node_modules` install. The issue persists for me after running `meteor reset`.

[2022-01-04 21:23] Nauzer commented on #11830
Worked once... not working anymore.

[2022-01-04 21:45] Nauzer commented on #11830
I have the issue running 2.2, 2.3.2 & 2.5.2 projects now after a clean install of meteor.

[2022-01-04 22:17] renanccastro commented on #11830
I can't reproduce in a fresh meteor application/installation. Is there any kind of specific step I need to do?

What I've tried so far:

Installing meteor from NPM/installing meteor from curl, creating a new meteor app - works
Upgrading an app - works

Also, can you check if there is any upper level library requiring resolve in your package.json? With `npm list` you can see the complete tree

[2022-01-04 22:39] Nauzer commented on #11830
I just tried again as well...
No more issues even when removing node_modules & reinstalling works fine.
Folder /node_modules/resolve/test/resolver/malformed_package_json/ was not present though

So I did an meteor npm update and there it was again

[2022-01-04 23:14] markdowney commented on #11830
@renanccastro  Also seems to come from `jest` module.
[code]

[2022-01-05 00:28] filipenevola commented on #11830
I believe this PR #11832 fixes the problem now and also helps to identify and workaround similar issues in the future.

Let me know what you think.

[2022-01-05 00:48] banjerluke commented on #11811
@Nauzer - I haven't been able to reproduce it with a clean Meteor project, although I'm going to keep trying. But I don't think this can be chalked up to a memory leak, for a couple of reasons:

1) Xcode reports that my app's memory usage does not change when the app is not in use.
2) [Forcing an out-of-memory event](https://www.donnywals.com/forcing-an-app-out-of-memory-on-ios/) simply terminates

[2022-01-05 01:00] banjerluke commented on #11811
Also, thank you all for chiming in and talking it out with me! I'm hopeful we'll be able to figure this confounding issue out in the end...

[2022-01-05 01:01] filipenevola commented on #11830
I'm starting the release process of Meteor 2.5.3 including this fix.

[2022-01-05 01:30] rouftom commented on #11830
Thanks @filipenevola , it works. I made a pull request to the resolve package to fix the bug that cause the issue.

[2022-01-05 02:34] filipenevola commented on #11830
Meteor 2.5.3 is released now!

[2022-01-05 02:34] #11830 closed

[2022-01-05 04:05] GowthamRayar commented on #9997
Still facing the Issue, @gaurav-kungwani how long will it take to resolve itself?

[2022-01-05 12:27] sunhaolin opened #11834 "Error: stream unexpectedly closed in gitpod"
run`meteor` to start project  in gitpod, it shows
[code]
in terminal every second.
meteor version 2.5.2
project address: https://gitpod.io/#https://github.com/sunhaolin/meteor-myapp

[2022-01-05 13:18] YusufKolcuk commented on #11830
Can we solve it in a different way than updating to version 2.5.3? Upgrading didn't work for me.

[2022-01-05 13:21] rouftom commented on #11830
@YusufKolcuk try to delete your **node_modules** directory and reinstall with `meteor npm install`

[2022-01-05 13:41] YusufKolcuk commented on #11830
I found a workaround to the problem using
"rm -rf ./node_modules/resolve/test/resolver/malformed_package_json/package.json"

[2022-01-05 14:04] mrpehlivan commented on #11830
When I add the resolve 1.20 version, the issue has gone.

[2022-01-05 14:32] filipenevola commented on #11830
Hi @YusufKolcuk what was the error that you got after upgrading it?

In the case of a similar problem at least in version 2.5.3, you should have a clear log showing what is the problematic directory.

And yes, removing this malformed package.json file manually should work as well.

[2022-01-05 16:05] markdowney opened #11835 "meteor build doesn't support node: protocol imports"
Seems like [`node: protocol`](https://nodejs.org/api/esm.html#esm_node_imports) imports are not supported.

Steps to reproduce:
- create new app
- add `node-fetch` npm module and import in code `import fetch from "node-fetch";`
- run app

Result:
[code]

[2022-01-05 16:29] simplecommerce commented on #11830
I have the same issue on all my projects that run meteor 1.9.2, I updated to 2.5.3 and it works.
Downgraded to 2.5.2 I get the same error above.

I am hoping there can be a fix for this other than updating to the latest version? For my current apps I can't update to 1.9.2 until another issue is solved.

[2022-01-05 16:56] rouftom commented on #11830
As @mrpehlivan mentioned [here](https://github.com/meteor/meteor/issues/11830#issuecomment-1005712797), an alternative would be to install for example resolve v1.20 with `meteor npm install resolve@1.20.0` to correct the issue.

[2022-01-05 16:57] simplecommerce commented on #11830
I will try that for now, thanks!

[2022-01-05 20:08] filipenevola commented on #11817
Published oauth@2.1.1.

[2022-01-05 20:18] nspangler commented on #11791
@renanccastro we are also unable to push to our production endpoint because of this issue. We upgraded our application's meteor version to take advantage of this fix https://github.com/mui-org/material-ui/issues/29131

[2022-01-06 09:48] holmrenser opened #11838 ""Error: Only 64-bit Intel and M1 processors are supported on OS X" on M1 pro"
I'm on a 14" macbook M1 pro and get the following error when trying to run a freshly downloaded/installed meteor 2.5.3:

[code]

From [the blogpost announcing meteor 2.5.1](https://blog.meteor.com/meteor-2-5-1-with-native-mac-m1-support-fb1c4b6990b5) I would expect meteor to work on my machine.
Given that I'm on an M1, the error message saying only intel and M1 is supported is not very helpful.

[2022-01-06 11:42] paulincai commented on #11838
Hi, it is the global installation instructions in that blog that I used to get it running with M1. I was already using it with Rosetta for a couple of months and transition was clear and simple. I'd put a highlight on removing the old version, empty the NPM  directory (node_modules in the projects) and make sure to use a native (M1) Terminal and not the older Rosetta terminal, in case you've been

[2022-01-06 13:25] holmrenser commented on #11838
Thanks for the comment. I am on a fresh machine and haven't used meteor on this machine before (so no rosetta terminal etc.). I have tried both the 'old' way of installing meteor and installing globally with npm, both result in the same problem.

In the update of my original issue you can see what I think is the problem, which is in the way meteor checks what hardware it is running on.

[2022-01-06 17:55] DavidShefcik opened #11839 "Application won't start when a dependency has invalid JSON in a package.json"
# System Information
- Meteor version: `2.3.4`
- Operating system: `macOS 11.2.3`

# Description
## Expected Behavior
- Meteor starts without a problem

## Actual Behavior

When a node module has invalid JSON, it causes the meteor application to fail with an error like this
[code]

this was caused by an invalid JSON file in a node module. It is `node_modules/resolve/test/resolver/malformed_package

[2022-01-06 18:03] ljharb commented on #11839
Additionally, if you're only looking for dependencies, you'd only want to look at the package.json at a package boundary - iow, `**/node_modules/*/package.json` and `**/node_modules/@*/*/package.json`. This one's in a nested text fixture and not inside a node_modules folder, so there shouldn't be any reason to look at it in the first place (assuming "finding deps" is the rationale)

[2022-01-06 19:32] DavidShefcik commented on #11839
It may be erroring out due to being called here - https://github.com/meteor/meteor/blob/e3ff09ef4464c1bda55155324c576036f52786e0/tools/isobuild/resolver.ts#L159

[2022-01-06 19:57] ljharb commented on #11839
Looks like there's an `allowSyntaxError` option (https://github.com/meteor/meteor/blob/e3ff09ef4464c1bda55155324c576036f52786e0/tools/fs/optimistic.ts#L324) which should be passed on that line.

[2022-01-06 21:55] DavidShefcik commented on #11839
I went and edited my local meteor package code and if I add the `allowSyntaxError` option to this call to `optimisticReadJsonOrNull` it starts fine - https://github.com/meteor/meteor/blob/release-2.3.4/tools/fs/optimistic.ts#L366. Makes sense that this is where it occurs because meteor is scanning the dependencies that are installed when the application is trying to start.
Hopefully someone from t

[2022-01-07 11:50] dotmlj commented on #11811
Some of our users are experiencing similar issues, both on iOS and Android. We have not been able to identify the problem but have a hunch that it's either to do with memory issues or the server connection.

Therefore we are implementing https://github.com/mixmaxhq/meteor-smart-disconnect which basically disconnects from the server on pause (when app is closed) and reconnects on resume (when it's

[2022-01-07 13:05] #11839 closed

[2022-01-07 17:10] maxmatthews commented on #11835
I'm having the same issue with the [tempy](https://www.npmjs.com/package/tempy) package. It works fine, but every time I start meteor I get:
[code]
even though the package works fine. All because the package imports things using the `node:` protocol
[code]

[2022-01-07 17:41] sampaiodiego commented on #11539
just to add something.. we at rocket.chat were able to use `AsyncLocalStorage` with Meteor 2.2 / Node 12 .. but we're facing the same issue, with the same code that was working before, now that we're trying to update to Meteor 2.5 / Node 14 ..

we cannot use Fibers though since we share the same code with a non-Meteor app.

[2022-01-07 18:48] rodrigok commented on #11539
Complementing what @sampaiodiego brought here:

A simple test with the following code (kinda copied from the nodejs docs)
[code]

Is enough to reproduce the error and get the following trace:
[code]

If running the application with `--port`, even with `3000` as the value, the error happens only when accessing the server address, otherwise it happens right away.

Running the same file with raw node

[2022-01-07 20:14] banjerluke commented on #11811
Welp, I just got a WSoD with the updated app using the latest GCDWebServer. So much for that. 🙁

Will try disconnecting/reconnecting next. @dotmlj, I've verified that the `meteor-smart-disconnect` package *won't* call `Meteor.disconnect()` when an iOS Cordova app is backgrounded – I filed an [issue in that repo with details](https://github.com/mixmaxhq/meteor-smart-disconnect/issues/15), which inc

[2022-01-07 20:47] banjerluke commented on #11811
Oh, and I was just playing around and got another "No sockjs heartbeat received" error upon resuming. No WSoD. Plus, I realized that this also happens sometimes when it's reloading to update, when there is definitely a connection to the server.

I'm suspecting this has something to do with the page being reloaded, and something that CANNOT be fixed with JavaScript, because in the Console.app logs

[2022-01-08 17:42] soolidtech commented on #10102
Hi folks,
I think this issue should be reopened, as it's still relevant; and it looks like a proper bug.
What do you think ?

[2022-01-09 15:42] paulincai commented on #10853
@filipenevola this is still going on in 2.5.3

[2022-01-10 16:47] JD2k opened #11843 "Meteor.user() and Meteor.userId() are not reseted on client after logout on server side"
When i delete the resume token in mongo db for a currently logged in user, my assumption would be that Meteor.user() and Meteor.userId() would be reseted.

For this case my tracker is working in meteor version 1.9:

`const useAccount = () => useTracker(() => {
    return Meteor.userId()
}, [])`

This tracker does not fire in version 2.2 and not in 2.5.3

Are there some undocumented changes, maybe

[2022-01-10 18:59] JD2k commented on #11843
Found the reason in file accounts_client.js (accounts-base package).

In method onResultReceived:

[code]

So i changed it:

[code]

Maybe someone can tell me if this is the right way, and if this should be included in the next update?

[2022-01-11 07:51] NicoP-S commented on #11718
Hi @renanccastro
i can share my proxy issue which seems to be the same problem .

` env |grep  proxy`
[code]

`npm config list`
[code]

Error which ignores proxy and tries a direct connection to `3.225.194.45`
[code]

[2022-01-12 13:57] yanickrochon opened #11847 "[v2.5.3] Uncaught Error: Cannot find module 'meteor/mongo'"
This morning, I came in with this message : `Meteor 2.5.3 is available. Update this project with 'meteor update'.`

However, after the update, the app crashes with the error : `Uncaught Error: Cannot find module 'meteor/mongo'`

That's because I do not use MongoDB in that project. Why Meteor _insists_ on using Mongo is beyond me. Many projects do not rely on (or care to have) Mongo as a storage en

[2022-01-12 14:42] yanickrochon commented on #11847
The problem came from the package `react-meteor-data`. I do not know why it was working before, but I have to remove it and disable the code that is using it for the time being.

[2022-01-12 14:48] yanickrochon commented on #11847
Closing this issue because it is very unlikely that anything will be done about this.

[2022-01-12 14:48] #11847 closed

[2022-01-12 15:40] yanickrochon commented on #11718
I'm not sure if this is relevant, here, but I found that when I started using Meteor, a few years ago, that there's a difference between `npm install` and `meteor npm install`. The latter should be used.

In short, instead of `npm config list`, run `meteor npm config list`.

[2022-01-12 16:11] yanickrochon commented on #11718
My bad. Then the problem isn't `npm`, but the `cli.js` script, which uses [node-downloader-helper](https://www.npmjs.com/package/node-downloader-helper) module. The `install.js` script ignores proxy settings.

[2022-01-12 16:43] WilliamKelley commented on #11843
Can you paste the code you're using to remove the login resume token?

What you're describing is not part of the Accounts module's exposed API, you're modifying a protected field essentially. But, it's not too far off from what the module itself does sometimes.

[2022-01-12 16:47] JD2k commented on #11843
Yes of course:

[code]

My hook for determine if a user is logged in looks like this:

[code]

My overall use case is to make sure a user is only on one browse logged in at the same time.

[2022-01-12 19:58] kentonv commented on #11666
@StorytellerCZ it appears this affects everyone who has Meteor apps that have been running continuously for many years, even if their database is up-to-date.

Can Meteor add some code to automatically detect this problem and work around it, by either fixing the flags on the index or rebuilding it? It's very hard for us to do this at the application level since the failure happens at Meteor startup

[2022-01-12 22:17] StorytellerCZ commented on #11666
@kentonv I'll try to figure out something. Could you give me a sample how the index looks like in MongodDB when inspected so that I could replicate it locally for testing?
I'm thinking that we would detect this specific index, write out a warning that it should be fixed manually, but then make sure that the app continues building and working. Thoughts?

[2022-01-13 17:01] kentonv commented on #11666
@StorytellerCZ as an example, I have this index on db.users:

[code]

AFAICT the `"safe": true` part causes the problem. All my very-old indexes have this flag.

[2022-01-13 19:08] StorytellerCZ commented on #11827
So a few observations:
* `Meteor.user()` will completely respect the default fields and limit the return to what you set
* If you limit it only to say the custom field you will still see fields that Meteor needs to run when you get data from `Meteor.users()`
* Retrieving recognized fields (ie. those retrieved) like `profile` works fine, but `customField` is not retrieved even when specified, I thi

[2022-01-13 20:41] StorytellerCZ commented on #11810
@filipenevola I think this can be closed since there are community alternatives and this has been rejected multiple times in the past.

[2022-01-14 04:21] factionfour commented on #11811
Hello - we are also running into this since our latest release of our app (cordova based) and iOS 15 users.  We do not use meteor.   It appears to effect users only with the latest build that was compiled under XCode 12.5.1 (we did not change cordova framework version).  In short - may not be a meteor issue.

[2022-01-14 05:12] banjerluke commented on #11811
@factionfour How interesting! Have you tried downgrading Xcode?

[2022-01-14 12:55] KirillTertunov opened #11852 "Match.error only in IE 11"
Get the error - "Exception in template helper: Match error: Failed Match.OneOf, Match.Maybe or Match.Optional validation" in IE 11.
Code fails here - `return Connects.find({task: taskID},{sort: { time: 1, _id: 1 },limit: 10});`. Main problem is the field 'limit'. If I comment it all works perfect. FF, Safari, Сhrome work perfect without commenting field 'limit'.
Meteor version - 1.11

[2022-01-14 13:02] StorytellerCZ commented on #11852
Can you please try updating to at least Meteor v1.12.1, there were some IE fixes in that release.

[2022-01-14 17:18] micnic commented on #9388
Is there any progress in this direction? Still reproducible in Meteor 2.5

[2022-01-14 20:40] edemaine opened #11853 "Requiring NPM devDependencies silently fails on server"
If I `require` or `import` an NPM package that is `npm install`ed but listed under `devDependencies` in `package.json`, then
* On the server, I get an empty package (`{}`) instead of the correct contents.
* On the client, I get the correct package contents `{esm: <function>, standard: <function>}`.

If I move the dependency to `dependencies`, then I get the full package contents on client and serv

[2022-01-14 20:44] WilliamKelley commented on #11843
Ah okay, so you are using the API. Yes it seems that this should be handled in that error flow. It seems like there's no test for this exact case. You're proposed solution seems reasonable to me, but I'm not knowledgeable enough to know if the previously commented case about `onReconnect` will trigger a 403 error and would be wrongfully affected. Will need a core contributor's opinion.

[2022-01-14 21:47] edemaine opened #11854 "Missing Babel plugins are silently ignored"
`babel-compiler` has some [fancy code](https://github.com/meteor/meteor/blob/devel/packages/babel-compiler/babel-compiler.js) for transforming plugin and preset strings into actual modules. It works when the modules exist. But when accidentally using an invalid string (in my case, I forgot to run `npm install`), it just silently succeeds, whether it's in `.babelrc` or `package.json`.

By contrast,

[2022-01-15 16:47] diavrank commented on #11791
Hi, is there any ETA for this fix? We stuck on **v2.4** due to this issue. There are many users who use the docker image from [Disney](https://github.com/disney/meteor-base) to deploy their meteor apps, so, I think this is urgent.

[2022-01-15 19:27] mitar opened #11855 "Minimongo's projection compatibility regression"
This PR introduced a bug in how projection is computed in comparison with the server:

https://github.com/meteor/meteor/pull/10499

If you run the test against MongoDB proper, you see the original results, not results as changed in PR:

[code]

As you see, no `null` values in the result.

I discovered this because [for my package](https://github.com/peerlibrary/meteor-reactive-mongo) I run [minimo

[2022-01-16 16:02] mitar commented on #8577
My workaround is to do:

[code]

This makes `puppeteer` NPM package be installed for tests to get it.

[2022-01-17 00:46] mitar opened #11856 "Cannot run an exact version of Meteor"
In a clean environment, I do:

[code]

How do I get to run exactly Meteor 1.12.2? By all documentation this should happen, but it still downloads a newer version.

[2022-01-17 00:51] mitar commented on #11856
Oh, and this works with 1.12.1. So 1.12.1 does not attempt to download the new version, while 1.12.2 does. It is a regression it seems.

[2022-01-17 08:38] zehrademirel opened #11857 "I am able to download json data in csv format in meteor app. But I can't download in xls format. I want to export json data in xls format in Meteor application."

[2022-01-17 12:56] StorytellerCZ commented on #11857
Hi @zehrademirel for questions like this please use the [Meteor Forums](https://forums.meteor.com). GitHub issues are for tracking bugs and features in Meteor itself.
As for your question, more information will be needed in order to assist you. Are you trying to just get data from the DB, or is this in your application? What is your current implementation to get the data in cvs format? In either c

[2022-01-17 12:56] #11857 closed

[2022-01-17 20:09] mitar opened #11858 "v1.5.4.2 tag is missing"
The repository is missing v1.5.4.2 tag.

[2022-01-17 23:47] afrokick commented on #10230
I found one test case when meteor doesn't build correctly

https://github.com/afrokick/meteor-devDeps-repro

Should i need create a separate issue? @StorytellerCZ

[2022-01-18 06:34] zehrademirel commented on #11857
It would be very helpful if there is a sample application created with xls.

[2022-01-18 12:36] StorytellerCZ commented on #11858
The tag is named `release/METEOR@1.5.4.2`. It is on the `release-1.5.4.2` branch, not on the main branch as it was a patch release. I have pushed the tag again just in case.
Here is the link:
https://github.com/meteor/meteor/releases/tag/release%2FMETEOR%401.5.4.2

[2022-01-18 12:36] #11858 closed

[2022-01-18 12:43] mitar commented on #11858
Hmmm. I promise I searched for it everywhere. Not sure how I missed it. :-(

Sorry for the noise.

[2022-01-18 12:53] mitar commented on #11111
OK, so it seems some of the versions [on this list](https://github.com/meteor/meteor/issues/11111#issuecomment-689671141) have History entry, like 1.5.4.2 (see #11858). So are you saying that there are versions in History file which do not have a published installable version?

So I think we should do [another pass over this list](https://github.com/meteor/meteor/issues/11111#issuecomment-68967114

[2022-01-18 18:27] filipenevola commented on #10853
Should be [fixed](https://github.com/meteor/meteor/pull/11785) in Meteor [2.5.5](https://github.com/meteor/meteor/milestone/91) coming out soon.

[2022-01-18 18:27] #10853 closed

[2022-01-19 09:52] dthwaite commented on #11775
Hi, Just to add my thoughts on this (having independently discovered and reported the issue in the [Meteor forums](https://forums.meteor.com/t/kadirahq-flow-router-redirect-needs-to-be-done-in-sync-error/57368/3).)

As @brianlukoff says, I do have serious concerns that the minifier incorrectly interpretes the code. Even if the code uses out-dated paradigms, it is not actually illegal/incorrect cod

[2022-01-19 12:16] vjau opened #11861 "Meteor 2.5.3 fibers build fails"
I can't install my Meteor app upgraded at **2.5.3** on my Ubuntu 20.04 server.
`sudo npm i `in programs/server gives me errors related to the fibers build.
Downgrading to **version 2.5** builds successfuly.

Here is the error i get in the npm log

[code]
Thank you.

[2022-01-20 12:33] pociej opened #11863 "Unable to install meteor via npm"
I do `npm install -g meteor` but then when i try to use meteor i see `zsh: comman not found: meteor`. I thought it is some problem with PATH but it is not, other global opackages works properly. Only ting that is installed is meteor-installer. but not meteor. Node version 12.14.1 os macos 11.6.2

[2022-01-20 13:57] #11810 closed

[2022-01-20 21:39] jankapunkt opened #11864 "EJSON.equals fail to compare object and array if first param is object and second is array"
This issue must be age-old but it is still present in Meteor 2.5 :open_mouth:

Reporoduction open Meteor shell and enter the following:

[code]

Obviously `EJSON.equals({}, [])` should be false.

Checked the code and found the cause: https://github.com/meteor/meteor/blob/devel/packages/ejson/ejson.js#L489

[code]

Potential fix would be to change this to

[code]

[2022-01-20 22:16] StorytellerCZ commented on #11864
Nice job! Since the package uses ecmascript, we could replace `instanceof` with `Array.isArray`. That is if it is more performant.
Also shouldn't the second if statement be `&&` instead of `||`, so that length can then be compared?

[2022-01-21 07:26] jankapunkt commented on #11864
You're right with both since instanceof checks the full prototype chain and array.isArray only checks the tostring value, although this can be tricked but I'm not sure if there is a practical exploit to it. And yes sorry the if branch should use &&

[2022-01-21 14:58] StorytellerCZ commented on #11864
I would say to go ahead and create a PR for this. What do you think @renanccastro

[2022-01-23 14:55] renanccastro commented on #11791
I will be starting the work to release a new fibers version with common pre-built binaries this week. I will let you guys know the status here.

For now, the major uplift will be to migrate node-fibers to use node-pre-gyp so we can have a distribution pipeline instead of doing it manually.

[2022-01-23 14:58] simplecommerce commented on #11791
@renanccastro Does this mean that in order for it to work we need to be able to build/compile using node-pre-gyp? I ask because in my current environment I can't since its a VM with restricted access and no admin rights.

[2022-01-23 15:00] renanccastro commented on #11791
No, we will use node-pre-gyp to organize the library release process. If your architecture is targeted by our shipped binaries you won't need to build it.

[2022-01-24 11:59] DavidSichau opened #11870 "Meteor install hugh increase in disk usage with 2.5.5"
We build our own images and observed the following behavior:

With meteor 2.5.2 the total file size of our image was 1.99GB. With meteor 2.5.5 the size of our image is 2.84GB.

If we inspect the layers of our images the meteor install added 1.4GB with meteor 2.5.2 and 2.3GB with meteor 2.5.5.

On a detailed inspection this seems strange to me:

![image](https://user-images.githubusercontent.com/10

[2022-01-24 18:18] DavidSichau commented on #11870
We were able to fix this by using curl with the release path.

[2022-01-24 18:18] #11870 closed

[2022-01-24 22:21] renanccastro commented on #11838
Thanks for your report @holmrenser.
I don't think this issue will be a usual one, and even then there is a workaround as you've said in your thread.
Are you willing to write a PR? We would gladly merge it.

It's even a good first-time issue, so I will update the tags.

[2022-01-25 11:20] holmrenser commented on #11838
Indeed probably not a frequent issue, but OTOH might also not be very uncommon (I think gnu core-utils is used frequently on mac: [75K installs in the last 30days](https://formulae.brew.sh/formula/coreutils)). I'll draft a PR later today!

[2022-01-25 14:31] renanccastro commented on #11791
Hello everyone.
I've just released meteor 2.5.6 with fibers 5.0.1, which do include the binaries.

You can check more details here: https://github.com/meteor/meteor/pull/11872

Can you please give it a try and let me know how it goes? Thanks.

@simplecommerce @GeoffreyBooth @diavrank @nspangler

[2022-01-25 14:49] diavrank commented on #11791
Thank you @renanccastro , can we have a beta for this release? (in order to do the tests with CI tools)

[2022-01-25 19:51] #11791 closed

[2022-01-26 08:38] richardgsands commented on #11238
Hi there, I've got a similar issue. I'm running meteor using WSL2, and all works fine in projects using Meteor 2.5, but I then tried to run an old project in Meteor 1.5, which doesn't work.

I'm really keen to get this up and running as prototype without upgrading everything, as it relies on some older Atmosphere packages that no longer work with Meteor 2.5.

Would appreciate any help anyone can o

[2022-01-26 08:40] richardgsands opened #11873 "Hi there, I've got a similar issue. I'm running meteor using WSL2, and all works fine in projects using Meteor 2.5, but I then tried to run an old project in Meteor 1.5, which doesn't work."
Hi there, I've got a similar issue to this one that was raised last year. I'm running meteor using WSL2, and all works fine in projects using Meteor 2.5, but I then tried to run an old project in Meteor 1.5, which doesn't work.

I'm really keen to get this up and running as prototype without upgrading everything, as it relies on some older Atmosphere packages that no longer work with Meteor 2.5.

[2022-01-26 08:55] richardgsands commented on #11873
Update: Can get round this by setting this environment variable:

`export NODE_TLS_REJECT_UNAUTHORIZED=0`

Although would appreciate some help understanding what is going on here. Is it just because those packages have not been updated for a while?

Many thanks in advance.

[2022-01-26 10:33] fredmaiaarantes commented on #11873
Hey @richardgsands, have you seen this page?

https://docs.meteor.com/expired-certificate.html

Galaxy and all Meteor servers uses Let’s Encrypt, which announced a change about DST Root CA X3 expiring on September 30, 2021.

Node.js before 10 (and Meteor before 1.9) doesn’t include Let’s Encrypt’s newest 9 root certificate. This is why these commands are failing.

[2022-01-26 10:38] #11873 closed

[2022-01-26 12:09] perbergland opened #11874 "Lack of isobuild detailed architectural documentation prevents progress"
[Isobuild](https://github.com/meteor/meteor/tree/devel/tools/isobuild) is the Meteor build system.

I found when researching work that needed to be done to fix a [packaging bug](#11354) or [add a new artifact type](#11829) that I could not understand where to even start work since the documentation is so terse and the code is pretty complex.

I expected a basic overview of all core classes (e.g. r

[2022-01-26 12:10] simplecommerce commented on #11791
@renanccastro I did a quick test on a project and it seemed to work. Then I did a test on an existing live project and for some reason it keeps failing. And in my logs I see

`Error: Cannot find module '@meteorjs/reify/lib/runtime'`

So I tried to `npm install` in the `programs/server` folder and get the same compile error for the fibers.
Any ideas?

For the moment I am reverting to 1.9.2 until I

[2022-01-26 12:25] renanccastro commented on #11791
@simplecommerce 1.9.2 is very behind compared with 2.5 on fibers version. Have you tried to do an incremental update to identify exactly which version breaks in your system?
I've shipped the same binaries on 2.5 as the previous version, so no regressions are expected here.

[2022-01-26 12:36] simplecommerce commented on #11791
@renanccastro if you mean for fibers, anything above 3.0.2 I believe breaks for me, I am on a windows architecture with no admin rights so my instance can't use node-pre-gyp to compile the binaries if they are missing. I kept 1.9.2 of meteor with the 3.0.2 on my current sites because it was the only working version for me at the moment. I am going to try more testing of Meteor 2.5.6 on a test serv

[2022-01-26 14:14] simplecommerce commented on #11791
@renanccastro ok, it was my mistake, I didn't notice my test site was redirecting to my live site that is why I was thinking it was working, but it is not on my end, here is what I get when I try `npm install` in the `programs/server` after updating to 2.5.6

[code]

[2022-01-26 15:08] renanccastro commented on #11791
What is your windows version @simplecommerce ? It seems you don't have the development tools to build it, and we don't have a pre-built binary for your version.

You can follow the instructions here: https://github.com/nodejs/node-gyp to set up the required toolchain to build it.

[2022-01-26 15:39] banjerluke commented on #11811
Well, I installed Xcode 12.4 and tested a version of the app built with it. Same white screen of death overnight. 😕 That's the oldest version of Xcode I was able to build with since my app relies on a Swift package that doesn't work with Xcode <= 12.3.

[2022-01-26 15:48] simplecommerce commented on #11791
@renanccastro its an Azure Web App running windows environment `OS version: Microsoft Windows NT 10.0.14393.0`
 and it doesn't support or allow me to install the build tools in order to compile the missing binaries. That's why I was hoping it would be made available in the latest 5.0.1 release with Meteor 2.5.6. Otherwise my only solution is to manually build it on my local PC and upload it every

[2022-01-26 17:40] vitorflores commented on #11863
Have you tried to run `npm install -g meteor` instead?

[2022-01-26 17:45] pociej commented on #11863
@vitorflores of course i did `npm install -g meteor`, i changed content. I dont think that github issues is proper place for this kind of comments.

[2022-01-26 18:26] fredmaiaarantes commented on #11874
![](https://github.trello.services/images/mini-trello-icon.png) [Lack of isobuild detailed architectural documentation prevents progress](https://trello.com/c/BiCng9E9/861-lack-of-isobuild-detailed-architectural-documentation-prevents-progress)

[2022-01-26 18:36] filipenevola commented on #11863
Hi @pociej, I don't think @vitorflores was malignant but anyway, what is the feedback you get after installing Meteor?

Could you paste the logs here to know if everything worked properly?

Is this the first time that you are installing Meteor? Is it working with the old curl command?

[2022-01-27 04:33] leosco commented on #11807
@renanccastro I eventually found it

[code]

Indeed the only issue was that directory was never added to my $PATH. I think it would be helpful to include the executable path in the Windows install documentation. I tried reinstalling multiple times and it was never added to path, I imagine others have experienced the same.

[2022-01-27 07:14] itsmingjie commented on #11450
Hi! I'm one of the program coordinators of a nonprofit program called [CodeDay Init](https://labs.codeday.org/), and we partner with colleges to help CS students make their first open-source contribution.

We'll claim this issue for now and a group of students will be on it soon with mentorship! If this issue is no longer relevant, please let me know.

[2022-01-27 08:42] derwaldgeist commented on #11450
Wow, that’s cool. Yes, this issue is still relevant.

[2022-01-27 10:18] pociej commented on #11863
hi @filipenevola .

After i install meteor using `npm install -g meteor` everything seems fine i see success messages like

[code]

etc

However when i try to run i see `meteor` i see `zsh: command not found meteor`. I checked and indeed there is no binary in my `~/.meteor` directory it contains only `packages` dir. This happen on osx 11.6.2 with node 14.18.3 ( i tried  12.14.1 with same results )

[2022-01-27 19:21] pmogollons commented on #11861
I think this is a duplicate of #11791 which is already fixed.

You should be able to update to 2.5.6 without any issues.

[2022-01-27 19:22] pmogollons commented on #11861
Also to note, this is fixed in 2.5.6 but not on 2.6-rc.0

[2022-01-27 23:08] drone1 commented on #2981
I hit this today and just found the reason.

For anyone else who finds this thread, I'm hoping you find the following useful: in my case, I had an event handler in a template that was still being called because code in my template's onDestroyed() was triggering an exception (thus messing up proper event detachment, presumably).

Example:

[code]

[2022-01-28 13:24] vitorflores commented on #11285
Hi, this issue was opened a year ago, and as we still don't have a way to reproduce this issue I'm closing it.

Of course, if we have a reproduction in the future we can re-open it. No problem.

[2022-01-28 13:24] #11285 closed

[2022-01-28 13:24] vitorflores commented on #11789
Hi, as we still don't have a way to reproduce this issue I'm closing it.

Of course, if we have a reproduction in the future we can re-open it. No problem.

[2022-01-28 13:24] #11789 closed

[2022-01-28 13:24] vitorflores commented on #11562
Hi, as we still don't have a way to reproduce this issue I'm closing it.

Of course, if we have a reproduction in the future we can re-open it. No problem.

[2022-01-29 11:09] ramblingbarney commented on #5580
for others getting this error with Jest tests see https://stackify.dev/641896-testing-react-target-container-is-not-a-dom-element

`ReactDOM.render(
  <Provider store={store}>
    <AppRouter />
  </Provider>,
  document.getElementById("root")
);
registerServiceWorker();`

to (in my case)

`ReactDOM.render(
  <React.StrictMode>
    <App />
  </React.StrictMode>,
  document.getElementById('root') ||

[2022-01-29 19:29] sotarules opened #11877 "Meteor 2.5.6 Windows Build Process: TARBALL Permissions Problem"
### This bug report should include:
Meteor 2.5.6 Windows Build Process: TARBALL Permissions Problem
Error occurs on Meteor 2.5.6
Meteor 2.5.3 Works Correctly
Building on Windows 10 for Ubuntu 20.04
meteor build \bundles --architecture os.linux.x86_64
When running npm install --unsafe-perm we get many permissions errors.  Excerpt:
[code]
To reproduce simply install Meteor 2.5.6 on Windows, then run

[2022-01-30 22:53] rouftom commented on #11856
What version of meteor is there in the `.meteor/release` file? Try command `meteor update --release 1.12.2` and check if it works.

[2022-01-31 00:02] mitar commented on #11856
This is not inside a project directory. But on a clean system (inside Docker container).

[2022-01-31 13:11] renanccastro commented on #11877
hi @sotarules
Thanks for reporting, there is indeed a change on 2.5.3 to 2.5.6 in the way of generating/dealing with tarballs.

I've fixed the flow of extracting the tarball inside meteor-tool, but outside of it wasn't covered. The "mode" header when creating the tar need to be changed when creating a tar on windows.

Please follow this PR https://github.com/meteor/meteor/pull/11879. Which should

[2022-01-31 17:42] sotarules commented on #11877
Yes work around is to untar as sudo then update ownership of resulting files.

From: Renan Castro ***@***.***
Sent: Monday, January 31, 2022 5:11 AM
To: meteor/meteor
Cc: David Lynch; Mention
Subject: Re: [meteor/meteor] Meteor 2.5.6 Windows Build Process: TARBALL Permissions Problem (Issue #11877)

hi @sotarules <https://github.com/sotarules>
Thanks for reporting, there is indeed a change on 2.5.

[2022-01-31 18:12] mitar commented on #11856
For reproducibility. For example, I use `meteor test-packages ./`. If my package has been tested with 1.12.2 and it works, if Meteor magically upgrades to 2.4.0_1 and then I run `meteor test-packages //`, then it runs with that version, and things can fail, and [they do](https://github.com/peerlibrary/meteor-reactive-publish/runs/4834903464?check_suite_focus=true).

So I install a particular Meteo

[2022-01-31 18:14] filipenevola commented on #11856
It was probably a release problem when releasing 1.12.2.

We are going to double-check it.

[2022-01-31 18:34] filipenevola commented on #11856
The release process of [2.4](https://github.com/meteor/meteor/commit/a6d65cddb710919f8ab5d5c6e1510441e10c8f56) had some issues and then it was republished later.

In this process, the tarballs were uploaded to the wrong folder of the s3 bucket that holds the tarballs on Oct 12th.

We are going to rebuild 1.12.2 and update the tarballs.

[2022-01-31 18:40] mitar commented on #11856
Thanks!

[2022-01-31 19:53] fredmaiaarantes commented on #11856
Hey @mitar, the build is finished and I just updated the tarballs.

Can you try it now and tell me if it's working?

[2022-02-01 16:35] denihs commented on #11877
Hi @sotarules, the fix will land on 2.6.

[2022-02-01 16:35] #11877 closed

[2022-02-01 19:07] #11555 closed

[2022-02-01 19:27] asgaraliyev opened #11881 "npm install -D tailwindcss then result : SyntaxError: Unexpected end of JSON input."
<!--

### This bug report should include:
- [ ] Tailwind config SyntaxError: Unexpected end of JSON input.
- [ ] The version of Meteor showing the problem: METEOR@2.2.2.
- [ ] The operating system you're running Meteor on:Linux ubuntu 20
- [ ] The expected behavior.runing meteor app
- [ ] The actual behavior.SyntaxError: Unexpected end of JSON input.Cant run due to error
- [ ] A **simple** reprodu

[2022-02-02 10:51] dotmlj commented on #11811
@banjerluke we have been using mixmax:smart-disconnect is production for some time now and is still having the same problem + it seems that an increasing number of users are now experiencing being logged out randomly, I can't find a direct relation between this and the package, but we will remove it again.

We did see a huge drop in connections through = saving a lot of server resources, but combi

[2022-02-02 12:04] renanccastro commented on #11881
This seems related to https://github.com/meteor/meteor/issues/11839, but we need a better issue description to move forward.

I'm closing it for the moment.

[2022-02-02 12:04] #11881 closed

[2022-02-02 12:11] renanccastro commented on #11861
This is fixed on 2.5.6 as @pmogollons correctly noted! Thanks!

[2022-02-02 12:11] #11861 closed

[2022-02-02 19:33] polygonwood opened #11883 "document incorrectly dropped from subscription"
version 2.6
after upgrade to 2.6 , after meteor reset and mongorestore my app started behaving strangely
Investigation shows that when going to new Route (Iron Router), a document is unexpectedly dropped from the subscription, a 'remove' message is indeed sent over DDP, though the document does belong to the query

after some digging, it turns out that this update :
{ _id: 'zSGLYT9nevyTSRJLT', mod

[2022-02-02 19:40] majumdarsr commented on #11450
Hi @derwaldgeist,
This is Sriparna, a student who is working with the codeday team along with Logan Bates. It appears to us that you implemented your own DDP protocol, since you wrote "so we had to roll our own DDP protocol implementation, based on an old library by Greencoder. It works fine, but we are facing an odd behavior of the login method (with a resume token).." Did you check if backward c

[2022-02-03 02:51] jthomaschewski commented on #11666
I do experience this issue in an older Meteor App after upgrading to v2.4.
MongoDB `v4.4.4` is used, so no old 2.x version - the DB was started with an old Meteor & Mongo version though many years ago.
Don't see the `safe` flag though when inspection the indexes using `db.users.getIndexes()`.

Apparently this is now also hitting Rocket.Chat users as well (me included) after they upgraded to latest

[2022-02-03 18:54] polygonwood commented on #11883
I will try to make a repo, but what I can see so far is that
- when the document updates the field containing the array with exact the
same array - iow modified = 0 reported on mongo cli - then the document
get's removed from the subscription after the update
- when I first change the value to something different, everything goes
fine as before

Ronny

On Thu, Feb 3, 2022 at 5:51 PM Renan Castro *

[2022-02-03 20:14] derwaldgeist commented on #11450
Hey @majumdarsr, Thanks for reaching out. Yes, we implemented our own DDP protocol, because we're using Unity as a client instead of a web app.

What exactly do you mean my that?

This is the original version from Greencoder:
https://github.com/green-coder/unity3d-ddp-client

You should be able to reproduce the problem with this code.

Our fork is here:

https://github.com/derwaldgeist/unity3d-ddp

[2022-02-04 03:21] mikowals opened #11884 "Meteor 2.6: Meteor publish no longer updating field correctly"
A client doesn't receive the updated value for a field published by returning a cursor.

This example code is a `tests/main.js` file to replace the file in a new project from `meteor create`.  These tests pass in Meteor 2.5.6 but fail in Meteor 2.6.  Also, it might have to do with the updated field being an object as the client correctly receives an update like `{$set: {nested: {count: 1}}}`).  I

[2022-02-04 11:52] renanccastro commented on #11884
@mikowals can you give a try at this branch? [fix/oplog-converter-empty-object](https://github.com/meteor/meteor/tree/fix/oplog-converter-empty-object)

It's the same process as running meteor, but you run from the executable "meteor" inside the checkout at this branch.

We can validate if your tests are passing now with this change.

[2022-02-04 13:25] mikowals commented on #11884
@renanccastro, yes running that branch all my tests are passing.  Both in this repro and my larger project.

[2022-02-04 15:17] polygonwood commented on #11883
The issue is not related to 2.6 - the issue is there, but from an earlier branch I re-updated to 2.6 and the issue does not show. So closing this issue.

[2022-02-04 15:17] #11883 closed

[2022-02-04 15:29] #11884 closed

[2022-02-04 15:31] filipenevola commented on #11884
@mikowals we've published mongo@1.14.1.

If you run `meteor update` in your project using 2.6, you should be able to use this version of mongo package.

[2022-02-04 16:41] polygonwood commented on #11884
The issue is indeed related to [#11883](https://github.com/meteor/meteor/issues/11883#issue-1122309631) . My application also runs fine with the fix. Michaels repro hints why my repro did not do the job so far : it must be timing related because with an earlier branch I also did not have the issue using 2.6, the latest branch is doing more async stuff hence different timing behaviour.
Confirm that

[2022-02-04 23:30] renanccastro commented on #11884
thanks you both for reporting!!

[2022-02-05 15:20] stalexxx commented on #11863
having issue corresponding to this title
So, executing command `npm install -g meteor`
[code]

Tried both: lts and latest node/npm versio
[2022-02-05T15_19_17_555Z-debug.log](https://github.com/meteor/meteor/files/8008252/2022-02-05T15_19_17_555Z-debug.log)
n

[2022-02-05 16:47] renanccastro commented on #11863
@stalexxx you are installing meteor using node 16, which is not supported. Please use node >= 12 <= 14

[2022-02-05 16:59] stalexxx commented on #11863
that's helpfull! But also wierd - i have succeed installing on latest node on my old mac

[2022-02-05 23:33] ninjaPixel opened #11887 "Meteor 2.6: Array field converted to an object in publication"
# Versions
Package versions: Meteor 2.6 and mongo 1.14.1

Operating system: MacOS (M1)

# Issue
Adding a new field to a document, with the following shape

[code]

results in the published `bar` array being converted to an object. i.e. it looks like this:

[code]

This issue occurs if the method is executed just server-side and also if the method is executed client-side.

Here is a simple app to r

[2022-02-06 00:33] renanccastro commented on #11887
hi @ninjaPixel thanks for the detailed reproduction and issue description, that's really helpful.

Can you please give it a try at this branch: https://github.com/meteor/meteor/pull/11888 - [fix/array-hotfix-oplog](https://github.com/meteor/meteor/tree/fix/array-hotfix-oplog) and let me know the results, please?

[2022-02-06 10:20] filipenevola opened #11889 "[2.6.1-beta.0] Custom transport is not able to specify options later"
This [change](https://github.com/meteor/meteor/pull/11678) is causing the custom transport use case to fail.

For example, in [`quave:email-postmark`](https://github.com/quavedev/email-postmark) the from can come from the settings and not from the options in the send call.

Error:
[code]

[2022-02-06 16:03] ninjaPixel commented on #11887
Thanks for the patch, @renanccastro
I can confirm that it fixes this issue. Nice one!

[2022-02-06 16:09] #11887 closed

[2022-02-06 16:12] renanccastro commented on #11887
The fix for this issue is published on mongo@1.14.2!

[2022-02-07 17:04] #11889 closed

[2022-02-07 17:10] filipenevola commented on #11864
The fix will be available in 2.6.1-beta.1

[2022-02-07 17:10] #11864 closed

[2022-02-07 21:34] StorytellerCZ commented on #11450
@derwaldgeist just to check have you tried it with more recent versions of Meteor, or are you still using 1.10?

[2022-02-07 21:41] StorytellerCZ commented on #11666
@shadoath that is the fastest option if you can do it, will fix any other old indexes as well.

[2022-02-07 22:08] ocdtrekkie commented on #11666
The biggest problem is there's no way to automate that fix from a Meteor-built app, I believe, which means deploying an upgrade to Meteor 2.4 will break people's servers.

[2022-02-08 01:01] j0nd0n7 opened #11892 "Cannot do exclusion on field _id in inclusion projection v2.6"
Excluding _id field `{_id: 0, other_field: 1}` for the returned projection of a find throws the error in version 2.6:

`Cannot do exclusion on field _id in inclusion projection v2.6`

It works up to 2.5.6.

- OS: MacOs 10.14.6
- MongoDB: MongoDB 5.0.5 Community
- The expected behavior.
Returns the results without _id field and with the other fields

[2022-02-08 03:50] VikR1000 opened #11893 "QR Code Generator Not Working?"
% meteor --version
Meteor 2.6.1-beta.1

OS: MacOS X Monterey v12.1

Gitlab repo:
https://gitlab.com/VikR0001/qr_code_anomaly.git

Expected behavior:
Accounts.generate2faActivationQrCode creates svg with QR code

Actual behavior:
svg comes back null

Demo code is in the file `Hello.jsx`.

Relevant code:

[code]

[2022-02-08 09:51] derwaldgeist commented on #11450
I am on 2.2.1 right now.

[2022-02-08 13:19] StorytellerCZ commented on #11892
You can either specify fields to be included or excluded, not mix it from what I remember. I'm surprised that it worked up till now. Maybe it did not, but Meteor just automatically excluded any mention of `_id` as it is needed for things to work properly and then handled it.
This is a comment at the error:
[code]
So this is not a bug, but at the very least an issue with upgrade of MongoDB.

[2022-02-08 13:59] radekmie commented on #11892
That's true, but it's different for `_id` ([docs](https://docs.mongodb.com/manual/tutorial/project-fields-from-query-results/#suppress-_id-field)).

[2022-02-08 14:09] #11893 closed

[2022-02-08 14:15] renanccastro commented on #11892
hi @j0nd0n7 , thanks for reporting.
Yes, that was introduced in the new mongo package version by us, on purpose.

The justification for this behavior was that on "mongosh" or "mongo" shell client, find excluding _id is not allowed in oppose to what states in the documentation that @radekmie linked.

We decided at the moment to throw an error to mimic the behavior of the mongo shell, as there is al

[2022-02-08 14:28] radekmie commented on #11892
We do it quite often:
1. As a `distinct` alternative when we know that values are unique and we'd rather stream them instead.
2. To aggregate data for batch checks, like "give me a list of allowed date ranges". In such cases, we don't care about IDs. Similarly, something like "give me my token" - an `_id`-only query only for the `token` field (`Users.findOne({ _id }, { fields: { _id: 0, token: 1 }

[2022-02-08 15:55] #11892 closed

[2022-02-08 15:56] renanccastro commented on #11892
I've Published mongo@1.14.3 with this fix.

Thanks!

[2022-02-08 20:42] radekmie commented on #11793
Can we have some eyes on it? It’s something that actually broke our project on migration and may affect others.

[2022-02-08 20:54] filipenevola commented on #11793
Hi @radekmie sure.

Meteor transpiles code using other libraries.

The version 2.2.3 indeed [changed](https://docs.meteor.com/changelog.html#v22320210812) some things that could affect that, as such Babel and Typescript.

Did you try to find the issue a similar issue in Babel or Typescript so we could understand the root cause of this problem?

Do you also confirm that this problem starts to occur

[2022-02-08 21:09] radekmie commented on #11793
If I recall correctly, it started exactly in 2.2.3 and we haven’t found anything related to it in Babel nor TypeScript. @zendranm, @wadamek65 could you confirm?

[2022-02-09 06:12] Saeeed-B opened #11899 "Invalid DOM property `referrerpolicy`. Did you mean `referrerPolicy`?"
in meteor 2.6 :

![image](https://user-images.githubusercontent.com/36485982/153132462-75e668e9-ba1f-4805-ab3a-176a14d4b755.png)

[2022-02-09 09:28] trusktr commented on #10065
I'm having this issue in Meteor 2.5.6 still. I thought maybe it was a `moment` lib issue, but then I switched to `day.js` and same issue.

[2022-02-09 10:04] trusktr opened #11900 "[2.5.6] import of npm library gives empty object"
I'm blocked. I can't run a Meteor app because import of a library returns an empty object, as described in all these threads:

- https://github.com/meteor/meteor/issues/10065
- https://forums.meteor.com/t/importing-from-npm-returns-an-empty-object/44491
- https://github.com/thereactivestack-legacy/meteor-webpack/issues/235
- https://stackoverflow.com/questions/55382092/importing-gitlab-package-fro

[2022-02-09 10:09] trusktr commented on #11900
Added a reproduction.

[2022-02-09 10:10] trusktr commented on #10065
Opened a new Meteor issue with reproduction: https://github.com/meteor/meteor/issues/11900

[2022-02-09 10:25] eric-burel commented on #11900
@trusktr Awesome that you have a simple reproduction!

For the record, this seems to specifically affect ES Modules (Material UI in my case), and the server build.

I recently hit an unexpected issue recently when exploring ES modules, with NPM packages and Next.js: files with ".js" extensions maybe interpreted differently depending if `"type": "module"` is enabled or not.
- If "type": "module" is

[2022-02-09 13:49] denihs commented on #11899
Hi @Saeeed-B, are you able to provide a reproduction?

Did this warning start to show up just in meteor 2.6? And did you try to use `referrer-policy`? There were any errors?

Which system are you running?

[2022-02-09 14:27] Shivansh-yadav13 commented on #9262
On windows, it's too slow

[2022-02-09 18:47] trusktr commented on #11900
Meteor doesn't understand Node.js ESM or package.json `exports` fields yet (https://github.com/meteor/meteor/issues/10906).

Ah, moving it from `devDependencies` to `dependencies` worked.

I think this might be considered a bug because all other tools (Webpack, Rollup, Parcel, etc) all successfully build an app regardless of which field dependencies are in.

Another way to look at this is that hav

[2022-02-09 19:02] trusktr opened #11902 "[static-html] unable to import .html files"
When using `static-html` and not blaze templates, `import 'foo.html'` fails. This means it is no longer possible to control HTML ordering using standard `import` syntax, and we have to revert back to old/legacy file-name-sorted auto-loading.

People coming from outside Meteor may not find this intuitive, although admittedly there isn't too much reason to have multiple HTML files (anyone doing that

[2022-02-09 19:31] zodern commented on #11902
This is a duplicate of https://github.com/meteor/meteor/issues/10070.

[2022-02-09 21:48] eric-burel commented on #11900
@denihs incredible I would never had imagined this to be the issue! Thanks a lot! It's consistent with my own experience with Material UI, as it was installed as a dev dependency in Vulcan. We use a Meteor app as a kind of a monorepo just for dev, so we have a lot of dev dependencies.