[2021-03-03 04:28] jeremydyoung commented on #11320
Just ran into a problem with Meteor during a changed file update being unable to rename from a change in VS Code on WSL 2 with Ubuntu 20.04.

The change with toLowerCase() worked for me.

Thanks!

[2021-03-06 03:54] wekex35 opened #11337 "Gettig issue in fresh install meteor 2.1 in windows 10"
Errors prevented isopacket load:

While loading isopacket `combined`:

C:\Users\wekex\AppData\Local\.meteor\packages\meteor-tool\2.1.0\mt-os.windows.x86_64\tools\fs\tools\fs\files.ts:1183:25:
sourcemapConsumer.destroy is not a function
at
C:\Users\wekex\AppData\Local\.meteor\packages\meteor-tool\2.1.0\mt-os.windows.x86_64\tools\fs\tools\fs\files.ts:1183:25
at Function.time
(C:\Users\wekex\AppData\

[2021-03-08 22:42] trusktr commented on #11205
Sidenote, I have since fixed Tween.js exports. TypeScript users will now see exactly what the exports are and they will match up with runtime expectations.

[2021-03-09 02:34] crapthings commented on #10712
https://github.com/crapthings/test-client-performance

when your project grow that you have many import module, the client will very slow to do "moduleLink"
not just @material-ui

this is a reproduction just import many lodash, you can compare with parcel in this repo

[2021-03-09 03:22] zodern commented on #10712
Meteor currently has a high overhead during runtime for each import statement. I am looking into how it can be optimized to get back to the performance from before Meteor 1.8.2.

[2021-03-09 11:33] crapthings commented on #10712
@zodern
i've found after i comment out this line, it works fast than before
https://github.com/benjamn/reify/blob/master/lib/runtime/entry.js#L200

it looks like "Object.defineProperty" impact performance
https://github.com/benjamn/reify/blob/master/lib/runtime/utils.js#L22

[2021-03-10 08:01] satyavh commented on #11249
Even though this allows you to install Meteor, it still means Meteor needs to run in Rosetta mode, losing performance.

[2021-03-10 18:14] filipenevola commented on #11040
The workaround didn't work. Even avoid the npm installation in the creation process for Windows it was hanging in a different spot "updating package catalog".

[2021-03-10 20:25] filipenevola commented on #11337
Hi, it seems like Meteor was not correctly installed in your machine.

Could you try the new Meteor installer on Windows?

https://forums.meteor.com/t/meteor-installer-for-windows-beta/55432

Please respond here if you still get the same error so we can re-open the issue.

[2021-03-10 20:25] #11337 closed

[2021-03-11 03:20] crapthings opened #11338 "METEOR@2.1 cordova build failed"
[code]

[2021-03-11 04:16] crapthings opened #11339 "HMR doesn't work with CDN React"
#### reproduction

https://github.com/crapthings/meteor-hmr-11339

hot-module-replacement.js?hash=22d8cfbe1ca1509fc13b6f268883287a7c6b3b6c:564 HMR: updated 1 file

but screen doesn't rerender

![image](https://user-images.githubusercontent.com/1147704/110734816-8d5d3080-8263-11eb-8429-f61e44e7a4ba.png)

[2021-03-11 08:28] crapthings commented on #11338
cordova-plugin-meteor-webapp@1.7.0

to

cordova-plugin-meteor-webapp@1.9.1

[2021-03-11 08:28] #11338 closed

[2021-03-11 09:16] tjramage commented on #11336
@bradnorman5490 — doesn't look like you can change this behaviour, but it wouldn't be too hard to create your own Meteor method to do the exact same thing. The footprint of the forgotPassword API is very small, so you could quite easily copy it and modify to your needs.

Here's the source: https://github.com/meteor/meteor/blob/65b82033b462101b348266ae2e4c36abca876c7d/packages/accounts-password/pas

[2021-03-11 13:26] Aqueuse commented on #11303
Hi, I'm facing the same issue, so I have tried your advice (I have moved to my C:// disk and retry) but it's not working. I don't have seen any package.json in my C:// root. I have installed with the x86_64 package and I'm on Windows 10, working with powershell. Ask me if you want more details. I can reproduce step by step if you need.

[2021-03-11 22:53] doronrk commented on #11311
I would just echo this. https://github.com/meteor/meteor-feature-requests/issues/392 isn't really a good substitute for this issue.

[2021-03-12 00:42] tjramage commented on #11339
@crapthings — have you tried manually adding `react-fast-refresh` to your Meteor packages? Might not work, but worth a shot.

[2021-03-12 01:26] crapthings commented on #11339
https://github.com/crapthings/meteor-hmr-11339/blob/main/.meteor/packages#L22

yes this repo has react-fast-refresh already

[2021-03-12 11:07] bradnorman5490 commented on #11336
Thats true but this is something that should be changed in Meteor also

[2021-03-13 09:20] jankapunkt opened #11342 "check package does not respect Match.Maybe when validating fields as object properties"
Meteor Version: 2.1
OS: Ubuntu 20.04

I am validating properties of an Object using check/Match and it actually throws although the properties are defined as optional using `Match.Maybe`.

**Actual Behavior:**

[code]

**Expected Behaviour:**

no error should be thrown, because `foo` (and `bar`) is optional

**Reproduction:**

Create a new Meteor project and place the above code in `server/main.js

[2021-03-13 09:56] liliyongleo opened #11343 "How to rebuild the meteor cli executable?"
I am trying to rebuild the meteor cli executable, but couldn't find the procedure on how to do it? Someone can help to advise on it?

./meteor --help.                 this executable cli. Thanks.

[2021-03-13 09:59] #11343 closed

[2021-03-15 04:36] crapthings opened #11344 "Cordova stuck on splash screen."
i'm tring to upgrade our cordova from 1.9.3 to latest meteor@2.1 cordova9.x

[code]

mobile-config.js

[code]

but app stuck on splash screen

it looks the rest script try to load from https

![image](https://user-images.githubusercontent.com/1147704/111104037-b5fa6880-858a-11eb-8502-cce776f13bcc.png)

![image](https://user-images.githubusercontent.com/1147704/111104011-a8dd7980-858a-11eb-98d8-7c5

[2021-03-15 05:23] crapthings commented on #11344
solved remove upgrade-insecure-requests

<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

[2021-03-15 05:23] #11344 closed

[2021-03-15 11:41] derwaldgeist opened #11345 "App does not load because `process.version.slice` is not defined"
Since today, [my app](https://app.marblear.com) does not load correctly on Google Chrome on macOS. In the console, I see this error:

![image](https://user-images.githubusercontent.com/3984535/111148156-96b00b00-858b-11eb-9b9e-0ebe9eb1b5a8.png)

and this leads to an error in the `_stream_writable.js" module:

![image](https://user-images.githubusercontent.com/3984535/111148192-a16aa000-858b-11eb-9

[2021-03-15 12:47] arggh commented on #10903
If I could, I would post this issue again. We have a monorepo with multiple apps and packages.

Two of them Meteor apps. They don't play along with the others. Such a pain to setup every time.

[2021-03-15 15:53] ecwyne commented on #11345
I'm getting the same this morning after updating Chrome to `Version 89.0.4389.82 (Official Build) (arm64)`

[2021-03-15 15:55] ecwyne commented on #11345
I'm able to load my app in incognito  and @derwaldgeist it looks like yours begins to load for me in incognito but then crashes somehow

[2021-03-15 15:57] derwaldgeist commented on #11345
Thanks for the info. For me, it works in incognito somehow.

[2021-03-15 16:23] ecwyne commented on #11345
`process.browser` returns `true` in incognito but returns `undefined` in my normal browser window.

[2021-03-15 16:25] ecwyne commented on #11345
@derwaldgeist disabling the `Apollo Client Devtools` extension cleared up the issue for me

[2021-03-15 16:27] ecwyne commented on #11345
https://github.com/apollographql/apollo-client-devtools/issues/455

https://github.com/apollographql/apollo-client-devtools/issues/457

[2021-03-15 19:06] filipenevola commented on #11325
Hi @crapthings, Meteor 2.0 is not using Cordova 10. Could you give it a try?

[2021-03-15 19:29] derwaldgeist commented on #11345
Yes, I was already suspecting that. I disabled all my plugins, including the Apollo client dev tools. And yes, YouTube was affected, too. So I guess this is actually a side-effect of this plugin. Closing this for now.

[2021-03-15 19:29] #11345 closed

[2021-03-15 20:52] csellis commented on #11345
This worked for me

[2021-03-16 04:37] crapthings commented on #11325
testing with 2.1, close for now

[2021-03-16 04:37] #11325 closed

[2021-03-17 00:02] filipenevola commented on #11330
Hi @Saeeed-B, could you try now?

We are temporarily downloading it directly from S3.

[2021-03-17 05:01] Saeeed-B commented on #11330
@filipenevola
Hello, thank you very much
Yes, the S3 Amazon service answers perfectly.
But I only tested on Linux.
Is there a problem with installing on Windows?

[2021-03-17 12:48] crapthings opened #11347 "Object.assign with nothing? packages/mongo/collection.js"
https://github.com/meteor/meteor/blob/devel/packages/mongo/collection.js#L771

[code]

to

[code]

[2021-03-17 12:52] crapthings commented on #11347
oo okay

https://github.com/meteor/meteor/blob/46e00a875726dff078c59eaf7fdc7b956cf0a996/packages/allow-deny/allow-deny.js#L43

[2021-03-17 12:52] #11347 closed

[2021-03-17 18:54] filipenevola commented on #11272
Hi @hexsprite I was checking your reproduction and it seems Meteor is recompiling your node modules as expected but I believe fullcalendar is not working in old browser even if the JS is compatible with it.

See my screenshot:

<img width="1841" alt="meteor-fullcalendar-cordova – ~:Documents:meteor:ws:tests:meteor-fullcalendar-cordova: meteor:local:build:programs:web cordova:… 2021-03-17 14-51-40"

[2021-03-17 23:10] filipenevola commented on #11330
No, it should work fine.

Use the new installer for Windows: https://github.com/meteor/meteor/blob/devel/npm-packages/meteor-installer/README.md

[2021-03-17 23:10] #11330 closed

[2021-03-18 08:05] haunguyen90 commented on #11037
Just curious why does it close without any solution ?

[2021-03-18 09:37] MatejJan commented on #11088
Has anyone had a chance to look into this? I just upgraded to 2.1 and the issue is still there.

Is this an issue only for architecture with /packages? Clarification from someone that knows how import scanner works would be much appreciated, along with any hints on how to reduce this time.

My codebase is huge so I can't afford a big restructuring, but having to downgrade to 1.8 anytime I need to

[2021-03-18 10:14] macrozone commented on #11005
we are having the exact same problem with the exact same plugin. Could you solve it?

[2021-03-18 20:05] filipenevola commented on #11312
It is going to be fixed on Meteor 2.2: PR #11346

[2021-03-18 20:05] #11312 closed

[2021-03-18 22:11] filipenevola commented on #11323
Except on @TheRealNate case I don't think the others are running on Galaxy.

I say that because I believe the reconnection can be happening more often out of Galaxy and the reconnection could be causing this issue (maybe the reconnection is causing the Fiber to be running without a return).

I'm just guessing here based on the testimonials.

Does that make sense?

If so we could reproduce the issu

[2021-03-18 22:16] filipenevola commented on #11332
Hi @crapthings, any comments on @CaptainN solution?

Maybe you are using the plugin in a different way and that is the issue?

[2021-03-18 22:20] filipenevola commented on #11320
This is going to be included on 2.2

[2021-03-18 22:20] #11320 closed

[2021-03-18 22:53] filipenevola commented on #11303
Hi @Aqueuse, could you provide a reproduction in a new issue? 😉 Read more [here](https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#reporting-a-bug-in-meteor)

[2021-03-18 23:03] filipenevola commented on #11339
Hi @crapthings why are you using React from a CDN?

[2021-03-18 23:05] filipenevola commented on #11336
Hi @bradnorman5490, please go ahead with a PR providing an option for developers to disable this detailed message going to the client.

[2021-03-18 23:12] filipenevola commented on #11342
Hi @jankapunkt I was analyzing the code and it seems to be intentional.

There is even a test for this case with comments on top, see:

https://github.com/meteor/meteor/blob/01bf44adffbb65e847e14c7158c57683afefff37/packages/check/match_test.js#L150-L155

I tend to agree with you but I don't know why people thought otherwise in the past.

What do you think?

[2021-03-18 23:30] filipenevola commented on #11319
@arggh I didn't find your `auth` node module declared in your package.json, where is it coming from?

If I try to run your project I got errors saying that I don't have `errors` module in the client and `auth` module in the server. Maybe the reproduction is missing a commit?

[code]

[2021-03-19 02:03] crapthings commented on #11339
hello @filipenevola

due to https://github.com/meteor/meteor/issues/10712

we move node_modules like @material-ui/core and old material-ui to <head>
so react have to load first

[2021-03-19 02:17] crapthings commented on #11332
hey @CaptainN @filipenevola

i'm now using a "stub react module" that only export react from global.React
so that won't touch ast, will save build time.

[code]

and @material-ui/core

[code]

this save us build time and client dom ready time

[2021-03-19 09:32] Jeremias-Nater commented on #10333
We load sample data into our DB and we experience 100% CPU load during 6 minutes after startup. The profile shows that during that time, `deserializeObject` takes up most of most of the resources. Also our publications have gotten slow lately and we are now using APM to try and find out the cause, but without success so far. Any hints?

[2021-03-19 09:43] jankapunkt commented on #11342
Interesting situation. I am not sure for what to vote. On the one hand this package is so old that changes may have implications down to any Meteor version out there. On the other hand I really think this current logic is just false, because Match.Maybe should always accept undefined or null, no matter which context.

[2021-03-19 10:17] bradnorman5490 commented on #11336
Working on this now

[2021-03-19 12:52] arggh commented on #11319
Sorry, an over-eager `.gitignore` rule had caused those files to be omitted from the repo and I was too hasty & didn't notice. Fixed now.

[2021-03-19 15:57] afrokick commented on #11323
One week ago we deployed a build with a bug, which caused 100% CPU for container. We started to investigate it via live debugging. https://medium.com/the-node-js-collection/live-debugging-node-js-apps-at-the-command-line-cd5b58f883e1 Is is a super cool stuff which helped us to solve the issue in 5 mins.

@etyp try to run it for your container/process.

[2021-03-19 20:47] filipenevola commented on #11342
@jankapunkt maybe one alternative is to create a new `Match`, for example, `Match.OptionalProperty`?

What do you think?

[2021-03-19 20:56] filipenevola commented on #11319
Hmm, this is the first time I see `node_modules` in sub-folder of an application.

Is this expected by other builders/compilers? Did you have any documentation about this usage?

[2021-03-19 21:39] jankapunkt commented on #11342
May be a good alternative. I will Check out Match.Optional as well when I am back at home. If this does not work either I could go for a PR for optionalProperty.

[2021-03-20 10:01] arggh commented on #11319
It was initially discussed and implemented by @benjamn here: https://github.com/meteor/meteor/issues/10664

[2021-03-20 13:12] silkentrance opened #11349 "NPM windows only installer does not do the trick"
Why? Again, why? Windows only NPM installer?

Why don't you make this an `@meteor` organization over at npm and then have installers that work right out of the box with both windows and linux / macos?

E.g. `npm install -g @meteor/linux`.

That way, one can integrate this into for example `nvm` and similar solutions that exist for the windows platform, e.g. `nvm-windows`.

And if you want to publi

[2021-03-20 13:46] silkentrance opened #11350 "Tutorial about vue.js and meteor states to use option --blaze"
The actual option should be ``--vue``.

See https://www.meteor.com/tutorials/vue/creating-an-app

[code]

which should read

[code]

[2021-03-20 14:15] filipenevola commented on #11349
Hi, the current npm installer is going to be for all platforms.

We focused on Windows first because the Unix installer is working really well but the Windows wasn't.

It is just a matter of prioritization.

[2021-03-20 14:15] #11349 closed

[2021-03-20 15:34] silkentrance commented on #11349
Ok, can't wait until the "new current" installer becomes available on npm.

[2021-03-20 15:36] silkentrance commented on #11349
Not to mention that making the special case, here: windows, the standard is a very bad approach, in every aspect.

[2021-03-20 19:49] johannel00 commented on #11323
Thanks @afrokick for sharing this absolute gem of an article.

[2021-03-21 08:51] perbergland opened #11351 "Samsung Internet mobile browser considered "legacy""
After starting logging page loads for the legacy package I noticed that there were a lot of entries with the very latest Samsung browser - Samsung Internet 13.

I would guess that this is a mistake that should be fixed considering it’s a chromium-based browser and has supported native await (the main distinguishing feature between legacy and modern according to https://blog.meteor.com/meteor-1-7-a

[2021-03-21 10:45] arggh commented on #11324
I bumped into this same problem with Svelte. Adding a new import throws the same error and I have to kill Meteor & restart.

[2021-03-21 11:38] arggh opened #11352 "HMR doesn't work with local packages"
Hot module replacement doesn't work when the changed file is in a package. This is with `zodern:melte`.

[code]

When I edit `Box.svelte`, which is imported in app, the app reloads completely.

I have also set up a symlink from `/app/imports/` pointing to → `/packages/ui` according to previous guidance on how to get Meteor to reload those packages when they are changed.

The version of Meteor show

[2021-03-21 14:15] perbergland opened #11353 "HMR code causes errors instead of gracefully disabling itself on IE11 regardless of whether hmr is added as a package or not"
Trying to test an application with the HMR package added in IE11 makes it crash on browser first load because the package contains code that is incompatible with IE:

![image](https://user-images.githubusercontent.com/2690254/111907995-cceffd80-8a57-11eb-8dbc-82f5060c8680.png)

I could not find a workaround, unfortunately, since removing the hot-module-reload package from the app was not enough -

[2021-03-21 14:16] perbergland commented on #11353
![image](https://user-images.githubusercontent.com/2690254/111908131-56073480-8a58-11eb-94e7-9dc9a103c07c.png)

![image](https://user-images.githubusercontent.com/2690254/111908144-63242380-8a58-11eb-9e00-bf0c0eba3d2a.png)

[2021-03-21 14:20] perbergland commented on #11353
Maybe it could be fixed as easily as just supplying an empty legacy.js file in the hot-module-replacement package and adding

[code]

to its package.js?

[2021-03-21 15:31] perbergland opened #11354 "ISOBuild: api.addFiles(xxx, "web.browser") adds files also to web.browser.legacy, contrary to documentation"
According to the [announcement of legacy/modern](https://blog.meteor.com/meteor-1-7-and-the-evergreen-dream-a8c1270b0901) and the documentation in History.md, marking a file as "web.browser" (or its synonym "modern") should make a file only appear in the web.browser bundle.

Unfortunately, that is not true. Files added with "web.browser" are added to both bundles, at least during local development

[2021-03-21 21:02] dkoo761 opened #11355 "Error when processing DDP message results for Meteor method calls that are in-flight (sent but not received) at the exact moment DDP reconnects - causing immediate log out"
**UPDATE: I've just updated this ticket to reflect the fact that I now understand how DDP's reconnection logic works, in particular the _callOnReconnectAndSendAppropriateOutstandingMethods() function.**

I've noticed recently that some Meteor method calls don't complete successfully.

Checking the browser console shows this error:

- `Methods should only receive results once`

After some troublesh

[2021-03-22 07:11] perbergland commented on #11353
I mislabeled the severity on this one - it will only cause errors in the javascript console and prevent the two packages from loading

[2021-03-22 14:41] afrokick commented on #11157
@larswolter is it fixed for you?

[2021-03-24 22:37] larswolter commented on #11157
@afrokick Not completely, I still see issues with the dynamic imports especially when used with service workers, but the main errors where fixed. So I close this issue and hopefully put up a PR sometimes later, to address the rest of my problems.

[2021-03-24 22:37] #11157 closed

[2021-03-25 08:00] arggh opened #11357 "Production build uses code cached in dev mode"
I ran into a problem where our production build was crashing due to including code that was compiled in dev mode on the latest Meteor `2.1`.

The project was using `zodern:melte` to compile Svelte components.

Svelte has a different runtime in dev mode to enable warnings etc., those warnings shouldn't exist in production builds.

If I run the app in dev mode, then switch to a production build, I s

[2021-03-25 08:31] Kelvijn opened #11358 "adding package does not work with typescript"
When I try to add different meteor packages via

meteor add quave:collections

I cannot import this and neither can I find the package in my external libs:

import { createCollection } from 'meteor/quave:collections';

This is on Meteor 2.1 with the typescript and react option.
I tried on javascript an react and this works as expected.

[2021-03-25 11:21] bhunjadi opened #11359 "Slow startup when importing mathjs package"
Importing [mathjs](https://github.com/josdejong/mathjs) library on Meteor 2.1 takes more than 1 second causing slow startup. This is especially noticeable client-side if user opens a new tab and then has to wait. Expected time to import is around 200ms which we get in nodejs.

Time to import and Meteor version table:
| Meteor version | Time to import |
| ----------------- | ---------------- |
| 1.

[2021-03-25 15:37] filipenevola commented on #11352
Hi @arggh, as explained in the PR about HMR the support to changes inside packages is not available yet.

From the original PR https://github.com/meteor/meteor/pull/11117:
[code]

[2021-03-25 19:48] zodern commented on #11357
I published version 1.3.1 of `zodern:melte` to fix this. Many build plugins are able to safely reuse their cache entries between development and production builds, so Meteor lets the build plugin decide how to handle this.

[2021-03-25 19:48] #11357 closed

[2021-03-25 20:02] arggh commented on #11357
Thank you @zodern 💯

Any chance you could push the changes to the repo? I'd like to study & learn about the changes you made regarding cache re-use :)

[2021-03-25 20:04] zodern commented on #11359
This has the same cause as #10712. Meteor's module system has a lot of overhead when importing large npm dependencies that are ecmascript modules. I am going to close this since it is being tracked in that issue.

[2021-03-25 20:04] #11359 closed

[2021-03-25 23:25] zodern commented on #11357
Here is the commit: https://github.com/zodern/melte/commit/2b691f621fffc3b17e287759c6a01b44ed5e971c

[2021-03-26 06:22] crapthings commented on #9503
@klaussner

any possible to know the batch is ready (idle or not any recomputation), if i don't want to use a subscribe? something like debounce but solved in a Tracker fashion.

![image](https://user-images.githubusercontent.com/1147704/112590065-2cc21c00-8e3d-11eb-8ff3-fe507c82eaed.png)

[code]

[code]

[2021-03-26 10:27] bcluyse commented on #11307
Hi, I was taking a look into fixing this but I am unable to reproduce as the `services.password.reset` token is replaced when a new one is requested:
https://github.com/meteor/meteor/blob/0a0cae235812259414b5afd291ed7243ed37b997/packages/accounts-password/password_server.js#L650

 and it also removes the `services.password.reset` token when the password has been reset:
https://github.com/meteor/me

[2021-03-26 13:03] dfrankes opened #11360 "accounts-google: The http package has been deprecated"
Meteor Version: METEOR@2.1

accounts-google@1.3.3
accounts-oauth@1.2.0
accounts-password@1.7.0
service-configuration@1.0.11

As soon as your login with google it gives the following warnings in the server console (3 times)

[code]

Followed https://docs.meteor.com/api/accounts.html#Meteor-loginWith%3CExternalService%3E to install this package

[code]

(This is a new meteor project)

[2021-03-26 13:05] filipenevola commented on #11360
Yes, we have a few PRs in progress to solve these warnings:

https://github.com/meteor/meteor/pull/11305

https://github.com/meteor/meteor/pull/11313

[2021-03-26 23:29] santiagopuentep commented on #9135
Same here. @paulincai @Sergeyamir were you able to fix it?

[2021-03-27 06:07] Sergeyamir commented on #9135
Not fixed yet. I tried a little to distribute the calls to the database in time (put a delay between calls where there was a problem), and now it happens rarely, 0-1 times a month. It's not good enough, but I don't know how to fix it completely.

[2021-03-27 08:59] afrokick commented on #11358
You should manually add package definition to your index.d.ts like

declare module “meteor/somepackage” { ...

[2021-03-28 23:04] matiasclapera commented on #7302
Help me!!!

paki@lubuntu-paki:~/Vulcan$ meteor run
[[[[[ ~/Vulcan ]]]]]

=> Started proxy.
=> Started MongoDB.
W20210328-19:59:52.511(-3)? (STDERR) /home/paki/.meteor/packages/meteor-tool/.2.1.0.yuair9.drob++os.linux.x86_64+web.browser+web.browser.legacy+web.cordova/mt-os.linux.x86_64/dev_bundle/server-lib/node_modules/fibers/future.js:280
W20210328-19:59:52.747(-3)? (STDERR)

[2021-03-29 10:06] make-github-pseudonymous-again opened #11361 ""meteor npm clean-install" leaves broken symlinks behind"
Axioms:
  1. meteor 2.0 uses npm 6.14.8
  2. npm 6.14.8 uses libcipm 4.0.8 with rimraf 2.7.1 to execute `npm clean-install`
  3. rimraf 2.7.1 uses glob 7.1.3
  4. [glob 7.1.3 does not include files or folders starting with a `.` (dot) when given a `*` pattern](https://github.com/isaacs/node-glob/tree/v7.1.3#dots)
  5. libcipm 4.0.8 cleans the `node_modules` directory using [`rimraf(path.join(this.

[2021-03-29 15:24] brucejo75 opened #11363 "util package use of sharedArrayBuffer() requires Cross-Origin-Embedder-Policy, Cross-Origin-Opener-Policy settings"
I noticed this deprecation warning popping up in my client:

[code]

Essentially, I am getting this because I am using the [`util`](https://www.npmjs.com/package/util) package which uses `sharedArrayBuffer()`

To manage this I need to adjust 2 policies, as described in the referenced [article](https://developer.chrome.com/blog/enabling-shared-array-buffer/#cross-origin-isolation):
[code]

Looking

[2021-03-29 16:54] shadoath commented on #3259
This still is an issue as best I can tell. The [subscribe docs](https://docs.meteor.com/api/pubsub.html#Meteor-subscribe). Mention:

Wonder how long this will be in place. Or if there are plans to allow upsert/merging.

[2021-03-29 17:00] zodern commented on #10712
https://github.com/benjamn/reify/pull/246 should fix many performance issues with using ECMAScript modules in Meteor. There are still a few situations it is slow that I am looking into.

[2021-03-29 20:48] brucejo75 commented on #11363
I tried to add the policy myself:
[code]

But the website fails to download, making me think this is not the right way to add header information?

@filipenevola, this may be an urgent issue because as soon as Chrome 91 releases any user of `util` will need to address this.

[2021-03-29 21:59] mitar commented on #3259
Yes, this is current trade-off between diffing on the server-side over bandwidth consumption. More diffing (deep diffing) is more CPU.

[2021-03-30 11:20] markdowney commented on #11285
I believe I'm seeing the same issue. My app is being hammered with requests to /sockjs/info and the number of connections reported by Monti APM keeps accumulating without older connections being released.

![reqs](https://user-images.githubusercontent.com/1645274/112980611-fee91a00-9151-11eb-9e4b-1c63075d1d56.png)

I also suspect dynamic-imports but haven't confirmed yet.

[2021-03-31 14:28] santiagopuentep commented on #9135
I was in MongoDB Atlas' free shared cluster and moving to a dedicated cluster seems to have solved the issue. Maybe it's an Atlas thing.

[2021-04-01 09:48] minhna commented on #11289
I have the same issue when trying to import
[code]
Had to do this to fix SSR issue
[code]

[2021-04-02 08:41] crapthings commented on #10902
same here

there's a typescript module but i don't even use it

![image](https://user-images.githubusercontent.com/1147704/113399097-3b2aad80-93d2-11eb-827f-45af5df97138.png)

[2021-04-02 19:09] StorytellerCZ commented on #11307
@evolross Can you provide a reproduction?

[2021-04-03 19:16] StorytellerCZ commented on #10702
@mitar please check #11371 if that is what you had in mind.

[2021-04-03 19:24] StorytellerCZ commented on #11249
Looks like the support on this is going to be for Node 15+, so if we rush it, then we could get it to Meteor with Node 16 probably in July, but that is rushing it a lot.

[2021-04-05 07:14] mitar commented on #10702
Awesome!

[2021-04-05 11:37] arggh opened #11372 "Hot module replacement behaves erratically"
It seems _Hot Module Replacement_ sometimes, or in some scenarios _always_, produces unreliable results.

While making changes in a Svelte-component, I'd get errors in the console after every change and the UI is not updating accordingly, or is acting all wonky, like duplicating the element, with one of the "versions" being the old presentation that was supposed to get replaced.

I'm also using `z

[2021-04-05 14:37] pociej opened #11373 "Unable to read MONGO_URL env."
Hi. Im trying to run my app on ubuntu server without mup. As it is described in documentation MONGO_URL and ROOT_URL has to be specified.
So i ssh to my server clone app, build it and run. `MONGO_URL=my_connection_string  ROOT_URL=root_url node main.js` It throws. `Error: MONGO_URL must be set in environment` It doesn't make sense as MONGO_URL is specified. What is more interesting is fact, that i

[2021-04-05 17:05] santiagopuentep commented on #9808
@hwillson I'm having a similar problem with types for Meteor.user(options), since the DefinitelyTyped version is not updated and doesn't allow for parameters in that function. Should I create a feature request on Meteor for this? Or an issue? I think TypeScript types should be handled officially, since everyone seems to be moving to ts.

[2021-04-05 17:07] santiagopuentep commented on #10828
@benjamn should I create a feature request for this? There are many problems with TypeScript and it now seems to be becoming the standard in Javascript.

[2021-04-05 17:19] copleykj commented on #10828
@santiagopuentep unfortunately when Tiny Capital aquired Meteor, @benjamn wasn't part of the deal :joy:, and so he's probably working on Apollo right now.

A feature request is probably fine, but I think the solution of adding types anywhere under the node_modules folder is going to  give problems for the simple fact that npm assumes total control of that domain and will obliterate the entire dire

[2021-04-05 21:35] brucejo75 commented on #11005
Hi @filipenevola, this might be a good bug to finally dig into for v2.2's cordova update?

[2021-04-06 16:14] brucejo75 commented on #11373
@pociej, do you execute `MONGO_URL=my_connection_string ROOT_URL=root_url node main.js` from the command line?  Or is it an `npm` rule?

I believe setting variables that way only works in `npm` rules or you can use the `env` command.

A simple set of tests:
add rule `"scripts": {"envtest": "FOOBAR=bar echo \"$FOOBAR\""}` to your `package.json` file.

And run these tests:
[code]

[2021-04-06 16:27] brucejo75 opened #11375 "[2.1] fails to install cordova into Meteor Tool"
Unable to install Cordova into Meteor Tool

## Environment
Meteor **v2.1**
Mac OS X: version **10.14.6** BuildVersion:18G6032

## Repro

1st remove your installation of meteor, mine was at `~/.meteor`.

[code]
verify the app works on `localhost:3000`.  Kill the server `^C`.

[code]

"`Installing Cordova in Meteor tool`" never stops spinning.  Cordova never installs.

`ANDROID_HOME` & `JAVA_HOME` a

[2021-04-06 22:13] filipenevola commented on #11375
Hi @brucejo75 are you sure it's not something in your machine?

It's working fine here with your steps and also in production apps that I have.

[code]

[2021-04-06 22:16] filipenevola commented on #11373
Hi @pociej, did the comment above solve your problem?

[2021-04-06 22:17] filipenevola commented on #11358
I'm closing this issue because we haven't heard anything from the original poster for a while.

[2021-04-06 22:17] #11358 closed

[2021-04-06 23:10] diavrank opened #11377 "[Types] Missing Meteor.isAppTest property in types of Meteor"
Hello, I'm starting to test my endpoints and I found out that it is missing **Meteor.isAppTest** to add to `@types/meteor` . This env variable is necessary when you run `meteor test` command with [**full-app**](https://guide.meteor.com/testing.html#test-modes) flag.

I forked [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/meteor/meteor.d.ts) to make this upd

[2021-04-07 14:15] brucejo75 commented on #11375
@filipenevola, forgot to mention.  This works fine in my Linux machine.  It only has a problem on MacOS.  Did you perform this on a Mac?

If you successfully made this work on Mac.  Any tips for helping me to debug would be helpful!

Thanks!

[2021-04-07 14:40] filipenevola commented on #11375
Yes @brucejo75, I did it on Mac.

Have you added METEOR_PROFILE=1 to see more logs? Maybe you could get where exactly it's hanging.

You could also add new logs to Meteor running from a checkout.

Let me know if you need help in the debugging process.

[2021-04-07 14:59] brucejo75 commented on #11375
Thanks @filipenevola,

I will close this issue & dig into it...

[2021-04-07 15:31] 67726e opened #11378 "Cannot Import From server-side Module `client`"
One cannot import from a server-side directory named `client`, this will cause a crash of the application.

### Reproduction

[code]

### Environment

[code]

### Expected

One would expect to have imported a function `foo`.

### Result

[code]

[2021-04-07 15:32] filipenevola commented on #11378
Hi @67726e, are you using Meteor package.json config to inform your mainModules?

Otherwise `client` and `server` are special names.

[2021-04-07 15:35] 67726e commented on #11378
@filipenevola - thank you for the rapid response!

[code]

The (presumably) relevant portion of my `package.json` - if `/server/client/` cannot be used due to special-case considerations I can certainly use a different name. However I don't believe I've found this documented anywhere and so wanted to flag it.

[2021-04-07 15:37] filipenevola commented on #11378
Hi @67726e, yes the short answer would be: use a different name if possible.

The long answer would be: I believe as you are using mainModule config so Meteor could avoid using any special meaning for `client` or `server` folders/files but probably there are some leftovers when mainModule option was implemented.

[2021-04-07 15:45] BryanStk commented on #4155
@DrLonnieJonesPFMP, i want to create an APK, my error is Android target: avdmanager: command failed with exit code 1 error output. help me please

[2021-04-07 15:49] filipenevola commented on #4155
Hi @BryanStk make sure you have your Android Home properly set.

AVD Manager is one module from Android and it's not in your path.

In can look for help Setting up Android, it's nothing specific to Meteor this error that you are getting.

[2021-04-07 15:52] BryanStk commented on #4155
hi @filipenevola
Append PATH with C:\Users\USERNAME\AppData\Local\Android\sdk\platform-tools;C:\Program Files\Java\jdk1.8.0_181\bin
set JAVA_HOME to C:\Program Files\Java\jdk1.8.0_181\bin
set ANDROID_HOME to C:\Users\USERNAME\AppData\Local\Android\sdk
how would it be to add the AVD to the path?
thank you for your answer

[2021-04-07 16:36] 67726e commented on #11378
@filipenevola - Understood. I can proceed on my current project without issue, however this does appear to be a bug if the intent is to allow for these names to be usable.

I've created a public [reproduction repository](https://github.com/67726e/server-side-client-reproduction) with the latest (Meteor 2.1).

[2021-04-07 17:19] brucejo75 commented on #11375
@filipenevola, you forgot the most important step:

[code]

Need to remove `~/.meteor` first.

The issue is installing Cordova not building for cordova...

If you could check that out, it would be super helpful.

Thanks!

[2021-04-07 17:44] brucejo75 commented on #11375
@filipenevola, I found the issue on my machine.

For some reason I am unable to `npm install` some packages, in this case `cordova-lib` is hanging.  I will dig on this deeper...

I have no idea what is happening on this machine, but this is not a Meteor issue.

[2021-04-07 17:44] #11375 closed

[2021-04-08 08:49] derwaldgeist commented on #10687
I'm having the same problem. It seems as if dynamic imports do not work on mobile devices, if the server is running on a development machine? It tries to connect to the non-existent localhost server instead of the correct mobile server. Is there any workaround for this?

I am also wondering what happens if the server is hosted, but is running under different domain names.

[2021-04-08 08:53] ksinas opened #11379 "When user logs out Meteor.user() becomes undefined while Meteor.userId() is still a string"
During logout **sometimes** user becomes undefined while userId holds the previous value
Occurs on versions 2.1.1 and 1.11.1 on Chrome browser

### Reproduction

Register autorun on the client
[code]
Open the console and do the following several times
[code]

Expected behaviour
[code]
Actual behaviour
[code]

My guess would be that `Meteor.defer()` is not working correctly on chrome browser. I had

[2021-04-08 09:07] jankapunkt commented on #10480
Is this still relevant with Meteor 2.0?

[2021-04-08 09:20] radekmie commented on #10687
@derwaldgeist: have you tried setting the `ROOT_URL` variable to match your local IP? This way Meteor will serve all assets using that, instead of `localhost` and as long as the IP is visible to the device (e.g., they are in the same network), it should work. I can confirm that it works for me on an iPad.

And if you cannot use the same network for any reason, you can expose your server via a tunn

[2021-04-08 15:22] znewsham opened #11380 "Timestamp.ONE is not defined"
Back in 2017, mongo made `Timestamp` inherit from `Long` in the BSON library: https://github.com/mongodb/js-bson/commit/f6fd5c2f973bd551115c144121e97b2d8fcd3311#diff-2602d0defc7490c967453bcc317f7de1f9a4296f8affa36db7db7f2ad64b8a80

Now, the oplog_tailing in meteor is "broken" in the rare case that there is no `op.ts`: https://github.com/meteor/meteor/blob/devel/packages/mongo/oplog_tailing.js - I'

[2021-04-09 22:51] filipenevola commented on #10591
Hi, we have a PR that is passing with changes to fix this issue #11381

We should have a review next week so we can proceed.

[2021-04-10 10:06] paulincai opened #11382 "[PERFORMANCE] - Make email a low case string and amend/simplify searches in the Users collection"
I am really sorry if this was discussed already in the form of an issue. I was supposed to raise this one a couple of months back and got disconnected from business for a while.

The issue is explained at this link:
https://forums.meteor.com/t/slow-mongo-query-on-createuser/54879

"
My app has about 400K users, and this query can take up to 6000ms (especially when the email address starts with a c

[2021-04-10 14:28] derwaldgeist commented on #10687
I am using the `--port` flag for now, which works if you use it like this: `--port 192.168.1.5:3040`, which I did not expect. Found this hint on another site.

However, I still don't really understand why Meteor can't just fetch the imported files from the very server the request is coming from?

[2021-04-11 20:59] diavrank commented on #11040
Freeze on "Installing npm dependencies".

![image](https://user-images.githubusercontent.com/39581375/114321055-787ff100-9ade-11eb-80eb-27ffefe42803.png)

And Windows Defender is disabled:

![image](https://user-images.githubusercontent.com/39581375/114321106-acf3ad00-9ade-11eb-8ac7-c0252679ae97.png)
![image](https://user-images.githubusercontent.com/39581375/114321149-e0ced280-9ade-11eb-9f36-8175

[2021-04-12 18:08] BryanStk commented on #4155
Hi @filipenevola and @DrLonnieJonesPFMP, i am used the command: meteor build ../aplicationAPK --server=localhost:3000, i want generate the APK, the solution a ANDROID_HOME is to change for ANDROID_SDK_ROOT (ANDROID_HOME does not recognize in the PATH), there is an error in the course of the build
ERROR:
android resource linking failed
AAPT: error: attribute 'package' in <manifest> tag is not a val

[2021-04-13 07:49] pociej commented on #11373
@filipenevola i executed it from command line, problem was that mongo connection string contained special chars. After i wrap it so i have MONGO_URL='my_connection_string' i started working. Anyways meteor throws bad error.

[2021-04-13 07:49] #11373 closed

[2021-04-13 08:02] jankapunkt commented on #11342
@filipenevola  I thought I could solve it unising `Match.ObjectIncluding`, which nicely works out for fixed Objects:

[code]
but it also won't work for destructured parameters:

[code]

[2021-04-13 20:38] juzer-z commented on #10036
I went through https://docs.meteor.com/windows.html#cant-start-mongo-server , downloaded https://www.microsoft.com/en-us/download/confirmation.aspx?id=48145 and repaired. But still facing this issue:

Unexpected mongo exit code 3221225781. Restarting.
Unexpected mongo exit code 3221225781. Restarting.
Unexpected mongo exit code 3221225781. Restarting.
Unexpected mongo exit code 3221225781. Restart

[2021-04-14 09:07] mibto opened #11386 "firefox sockjs nginx error"
Hi there :)
I have a nginx reverse proxy before the meteor app. I get the following error only in firefox:
Firefox kann keine Verbindung zu dem Server unter wss://mydomain.com/sockjs/876/dx24wg4k/websocket aufbauen.
(Firefox can not connect to the server under wss://....)
i saw this error also on atmospherejs.com.

my nginx config is:
[code]
any idea?

Thanks
Michael

[2021-04-14 19:10] hems commented on #8317
any updates on this?

[2021-04-14 19:50] diavrank opened #11387 "[2.1.1] SpacebarsCompiler is not defined"
Hello,  I have just updated to **Meteor 2.1.1** (from 2.1) and when I start my app, throws this error:

[code]

These are updates of the release change:

[code]

Maybe this is caused by `meteorhacks:ssr` package, which is a package that I use to send emails in **HTML** format. So, I wonder if exists another package (**not deprecated**) that I can to use? Or can I modify the version of this package

[2021-04-14 21:10] guncebektas commented on #11387
Yes, the issue is caused by ```meteorhacks:ssr``` You can remove that package and use this code snippet for your emails. This will work in many cases or you can customize the package locally. Check [the forum](https://forums.meteor.com/t/spacebarscompiler-is-undefined/55685/3)

[code]

[2021-04-14 23:00] zodern commented on #11387
This is related to https://github.com/meteor/blaze/issues/327

[2021-04-14 23:00] diavrank commented on #11387
Perfect! It works this snippet.

I had to add these other packages:

- blaze
- spacebars

[2021-04-15 21:15] kshartman opened #11388 "[2.1.1] (node:11737) [DEP0131] DeprecationWarning: The legacy HTTP parser is deprecated."
Version 2.1.1 issues a deprecation warning for http-parser on startup.  I do not use http or request directly or indirectly.  I believe the code responsible for this is

`'use strict';

var NodeHTTPParser = process.binding('http_parser').HTTPParser,
    version        = NodeHTTPParser.RESPONSE ? 6 : 4;`

in my bundle file

.meteor/packages/ddp-server/.2.3.2.1jl3owp.wpsuf++os+web.browser+web.browse

[2021-04-16 13:37] rj-david commented on #11388
https://nodejs.org/en/blog/release/v12.22.0/

[code]

[2021-04-16 13:46] rj-david commented on #11388
https://github.com/creationix/http-parser-js#readme

[code]

[2021-04-16 15:31] kshartman commented on #11388
Enlighten me please.  What is "monkey patching"

[2021-04-16 23:02] filipenevola commented on #11387
Fixed https://github.com/meteor/blaze/pull/328#issuecomment-821703330

[2021-04-16 23:04] #11387 closed

[2021-04-17 01:37] diavrank commented on #11387
Thank you, now it works again with `meteorhacks:ssr` package. Have a nice weekend :) .

[code]

[2021-04-17 07:00] gainmedia-sakib commented on #11249
### **it still not working for me**

❯ arch -x86_64 /bin/sh -c "$(curl -fsSL https://install.meteor.com/)"
Only 64-bit Intel processors are supported at this time.

❯ arch -x86_64 zsh
curl https://install.meteor.com/ | sh

Only 64-bit Intel processors are supported at this time.

### **Already I trying some method but it's not working, trying Rosetta Terminal i get same error **
### anyone sagest

[2021-04-17 16:03] batchu opened #11390 "npm i -g meteor fails with a 403 error"
Steps to reproduce
```npm i -g meteor```

Environment
Windows
C:\Users\user>node -v
v15.14.0
C:\Users\user>npm -v
7.10.0

Expected Behavior
Meteor should install successfully

Actual Behvior
403 error. Installation fails

Stacktrace

[code]

[2021-04-17 17:12] leoncvlt commented on #11390
Same issue here. Worth noting I installed it on a separate machine yesterday and it went fine.

[2021-04-18 06:49] SakibHasanCse commented on #3741
### **I get the same error :(
any one can help me, I'm tired of trying all the methods**

[code]

[2021-04-18 11:02] gottaloveit commented on #11390
same here

C:\Users\gotta\Desktop\project\app>node -v
v14.16.0

C:\Users\gotta\Desktop\project\app>npm -v
7.10.0

[2021-04-18 16:37] juliomax commented on #11390
While the installer it is not fixed, you can use this way:

In windows:
set INSTALL_METEOR_VERSION=2.2
npm install -g meteor --force

In Linux:
export INSTALL_METEOR_VERSION=2.2
npm install -g meteor --force

The bug is in the installer config, that is pointing to version 2.2.0 that is not deployed correctly yet.

[2021-04-20 00:19] Natas0007 commented on #11388
I also receive this when running a freshly created 2.2 app.

![image](https://user-images.githubusercontent.com/5757764/115318813-237a5580-a144-11eb-905f-4bdf8f94004f.png)

[2021-04-20 11:51] StorytellerCZ commented on #11380
@znewsham Can you create a PR for this?

[2021-04-20 13:31] technicalbirdVayuz commented on #10555
HI @ksinas, Can you share the solution please?

[2021-04-20 15:17] znewsham commented on #11380
@StorytellerCZ linked

[2021-04-20 19:46] shimza opened #11393 "Apple M1 support for mobile compilation."

[2021-04-21 06:40] afrokick commented on #11379
AFAIK the logging out process is async operation. You can call Meteor.loggingOut() function to get a current state.

So, if you'll log it, it should be like:

[code]

[2021-04-21 07:10] ksinas commented on #11379
My point is that behaviour was inconsistent between browsers. However, I can't reproduce the issue on chrome 90. I guess the issue can be closed

[2021-04-21 07:20] ksinas commented on #10555
@technicalbirdVayuz As I mentioned, we are using AWS elastic beanstalks with ALB. And here's an article about sticky sessions. https://docs.aws.amazon.com/elasticloadbalancing/latest/application/sticky-sessions.html

[2021-04-21 12:12] technicalbirdVayuz commented on #10555
Tried the same but does not work. Its currently an infinite loop. & Meteor.calls are also not working

[2021-04-22 14:30] #11257 closed

[2021-04-22 20:23] StorytellerCZ commented on #11393
@shimza Can you please provide some specific what this is about?

If this is a feature request, please add it in the following repository: https://github.com/meteor/meteor-feature-requests

[2021-04-22 20:24] StorytellerCZ commented on #11390
@juliomax @batchu Can you check now, that version 2.2 is deployed that this is still an issue?

[2021-04-22 20:25] #11379 closed

[2021-04-22 20:33] #11390 closed

[2021-04-22 20:37] StorytellerCZ commented on #11143
Could also be related to #11246
In case of `async`/`await` re-write that is long term-project.

[2021-04-23 04:40] HemalR commented on #11215
Finally got round to trying to update this again and trying out the cache key stuff but it seems that it's already been fixed with 2.2 👍

I think we can close this.

Thank you very much @filipenevola

[2021-04-23 08:10] StorytellerCZ commented on #11393
Moved to feature requests.
https://github.com/meteor/meteor-feature-requests/issues/430

[2021-04-23 08:10] #11393 closed

[2021-04-23 08:15] #11215 closed

[2021-04-23 08:30] StorytellerCZ commented on #10930
@zodern is this something that you are working on?

[2021-04-23 08:34] StorytellerCZ commented on #10850
How is the situation now as of Meteor 2.2?

[2021-04-23 08:42] StorytellerCZ commented on #10903
Tried it today with Meteor 2.2 and it is still an issue.

<details>
<summary>Stacktrace</summary>

[code]
</details>

[2021-04-23 08:49] StorytellerCZ commented on #11336
PR #11374 takes care of this.

[2021-04-23 08:51] StorytellerCZ commented on #11300
Hi @abolo since we still don't have a reproduction I will close this issue for now. If you can provide a reproduction please re-open this issue again.

[2021-04-23 08:51] #11300 closed

[2021-04-23 08:55] StorytellerCZ commented on #11088
Could this be related to #10712 ?

[2021-04-23 09:37] StorytellerCZ commented on #11382
@paulincai What is the proposed solution here? From what I have seen on the forums, using collation seemed to be favored, but the downside I see there is that you need to define a locale which might create some interesting edge cases. I'm all for improving the search script, but please bear in mind that the local-part of the e-mail can be case sensitive as per [RFC5321](https://tools.ietf.org/html

[2021-04-23 10:18] StorytellerCZ commented on #11386
I have checked my own apps and Atmosphere, but was unable to get the error. Could this be maybe something related to your local connection that might be blocking WebSockets?

[2021-04-23 10:24] paulincai commented on #11382
@StorytellerCZ
Given the fact that the matter is standardized but also subject to preference / opinion by some large email providers, I think this is more about what I feel than what I think :).
The practical questions I see are:
- is Paul@gMail.com and paul@gmail.com two different entities/people/recipients?
- is there any benefit in capitalizing an email address (from the system provider perspec

[2021-04-23 11:44] StorytellerCZ commented on #11382
Domain is always lowercase, the problem is with the local-part:
[code]
That major providers automatically lowercase them is all nice and dandy, but this needs to work for everyone. I'm for optimizing and improving the search, but I'm against disregarding the standard which will only result into a bug report down the line that will demand that Meteor Accounts follow RFC5321.

[2021-04-23 12:30] paulincai commented on #11382
ok, that is understandable. In this case perhaps we can leave it to the developer/app owner to decide on how she wants to handle emails. Meteor stays compliant (base tech level), I fine tune my performance (app owner tech level / overlay) perhaps via Accounts.config({ useLowerCaseEmails: true }) ....with a better key naming :) which calls a different search function in the Accounts.

As far as imp

[2021-04-23 12:51] filipenevola commented on #11324
AFAIK Svelte is not using the same HMR system of React so it would be a different problem.

Zodern is going to take a look at this issue.

[2021-04-23 13:18] denihs commented on #11257
Published minifier-css@1.5.4 [PR](https://github.com/meteor/meteor/pull/11394)

[2021-04-23 13:38] filipenevola commented on #7302
It's probably a wrong import.

See this error:
`Cannot find module './random.js'`

[2021-04-23 15:17] StorytellerCZ commented on #11323
@jancurn any update on this? Seems like @TheRealNate fixed the issue in his app:
https://forums.meteor.com/t/meteor-loggingin-stuck-on-true-even-though-user-is-logged-in/55248/26?u=storyteller

[2021-04-23 15:31] StorytellerCZ commented on #11377
You should reach out to the DefinitelyTyped repository maintainers as this is outside of this project.

[2021-04-23 15:31] #11377 closed

[2021-04-23 15:43] StorytellerCZ commented on #11354
@perbergland Have you tried using the `api.mainModule` API?

[2021-04-23 15:59] filipenevola commented on #11377
Hi @diavrank I recommend that you do the same process that I did here https://github.com/DefinitelyTyped/DefinitelyTyped/pull/52258

Could you?

The update above was to update `setMinimumBrowserVersions` as suggested here https://github.com/meteor/babel-preset-meteor/issues/13#issuecomment-803578861

[2021-04-23 18:52] #11388 closed

[2021-04-23 19:08] diavrank commented on #11377
Thank you, I will check it out.

[2021-04-23 19:37] tjramage commented on #11382
@paulincai – Totally agree that leaving up to the developer makes sense here. We run a B2B SaaS service that has thousands of users and we enforce lowercase emails throughout the system. No one has ever complained and we haven't had any issues over our several years of operation.

[2021-04-24 06:40] MatejJan commented on #11088
It is possible. A way to test would be to either run profiling while doing a material-ui icons change and see if ImportScanner is spending as much time there as here.

In any case, once the reify update makes it into a meteor release, I will be very happy to test whether it solved this issue or not for my project.

[2021-04-24 08:15] StorytellerCZ commented on #11239
@Gorbus Any update on this? Have you tried suggestion from @ruohki ? Could you please check that the issue persist on the latest Meteor version? If yes, could you provide us with a reproduction or steps to reproduce the issue?

[2021-04-24 08:41] StorytellerCZ commented on #11354
Either way this looks like a bug.

[2021-04-24 11:05] filipenevola commented on #11388
Fixed.

If you are running latest Meteor you can update your packages to get rid of this warning:

Just run `meteor update` or update these two packages for their latest versions:

[code]

[2021-04-26 08:06] jancurn commented on #11323
We stopped using oplog tailing and this type of issue is no longer happening.

[2021-04-26 08:17] StorytellerCZ commented on #11363
@brucejo75 Can you try with `WebApp.rawConnectHandlers` instead of `WebApp.connectHandlers` ?

[2021-04-26 08:39] StorytellerCZ commented on #11319
I have checked and @benjamn's code is still there so the issue has to be somewhere else. A wild guess is that it might be related to some changes @zodern made for HMR or other optimization efforts hat have been done since...

[2021-04-28 11:46] sunniafroz commented on #5580
Error: Target container is not a DOM element.
render
C:/Users/HP/disney-clone/node_modules/react-dom/cjs/react-dom.development.js:26091
Module.<anonymous>
C:/Users/HP/disney-clone/src/index.js:7
   4 | import App from './App';
   5 | import reportWebVitals from './reportWebVitals';
   6 |

   8 |   <React.StrictMode>
   9 |     <App />
  10 |   </React.StrictMode>,

I got this error can anyone sor

[2021-04-29 05:53] crapthings opened #11402 "Allow dynamic root url on cordova"
meteor build ../youcordovabuild --directory
"Supply the server hostname and port in the --server option for mobile app builds."

optional ROOT_URL with cordova build

load default ROOT_URL with localStorage, fallback to built one if not

[2021-04-29 09:04] StorytellerCZ commented on #11402
Hi @crapthings , I'm not sure I follow what you want done here. Do you want to be able to set `ROOT_URL` which then would take the place of `--server` flag if it was not defined?

[2021-04-29 09:34] crapthings commented on #11402
our cordova app can input any ddp server url, and we have a custom package that replace root_url.
and this package load before ddp connection init so we can replace ROOT_URL, but i think its better support with meteor itself.

[code]

![image](https://user-images.githubusercontent.com/1147704/116530500-b10e3000-a910-11eb-8a70-d9619911ce55.png)

[2021-04-29 10:16] crapthings commented on #11402
yes and make server url optional on build，have api change ddp connection，so when user reopen app they can use user specify root url，but not build one

[2021-04-29 10:20] crapthings commented on #11402
hot code push use root url from header if you dont override it. you might have infiniti reload if you meteor.connect to other

[2021-04-30 15:23] #11380 closed

[2021-04-30 15:26] StorytellerCZ commented on #11380
Fixed in mongo@1.11.1.

[2021-04-30 15:47] harryadel opened #11404 "Is there a use for id-map in mongo-id package?"
Was looking into the mongo-id package and noticed the inclusion of id-map package in mongo-id but it's not made use of. It's also a prime candidate for NPM migration, so would you be ok if I opened up a pull request to have it use [this](https://github.com/harryadel/blaze-standalone/tree/main/packages/mongo-id) instead?
https://github.com/meteor/meteor/blob/0b9feae1640aeddd256c59b9c52bc9c61cc28e27

[2021-04-30 19:16] zodern commented on #11372
I haven't been able to reliably reproduce the error, but since the HMR changes in `zodern:melte@1.4.0` I haven't seen it. If you encounter the error again, we can re-open the issue.

[2021-04-30 19:16] #11372 closed

[2021-04-30 19:17] StorytellerCZ commented on #11404
If `id-map` is not being used there then the best thing would be to remove the dependency, unless it is just being passed through to do something else. I would say go ahead with the PR if it won't take much of your time as it will be a good proof of concept.

[2021-04-30 21:32] zodern commented on #11324
I haven't been able to reproduce it so far. I see the error, but then it always reloads the page since it currently isn't able to add the new files from `node_modules` using HMR. Since it isn't reloading the page for you, it seems the imported files are already part of the js bundle, or Meteor isn't detecting or correctly handling the added files.

[2021-04-30 21:40] zodern commented on #11335
I tried adding the code to a Meteor app and wasn't able to reproduce the error. Could you please create a [reproduction](https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#reporting-a-bug-in-meteor) I can try?

[2021-04-30 22:17] zodern commented on #11339
react-dom needs to be loaded after react-refresh for it to work. You try moving the files loaded from the CDN into your app, or into a local package. They can still be used as globals to avoid the overhead of `module.link`, but this way they will be loaded after the `react-fast-refresh` package.

I'm curious how much https://github.com/benjamn/reify/pull/246 helps with the module.link performance.

[2021-05-01 00:39] brucejo75 commented on #11363
@StorytellerCZ, thanks for following up!

It turns out that my original code works fine.  Also, you will note that I forgot to include a `next()` call which hung my application.  I am editing my original comment so that others won't hang on this...

This is a perfectly workable solution for the `SharedArrayBuffer` issue.
Closing.

[2021-05-01 00:39] #11363 closed

[2021-05-01 03:26] brucejo75 commented on #9914
PS: I have been using WSL2 for a while now and it is a dream.  I finally relented and started basing my projects under the root filesystem (`VolFs`) and the file speeds are blazing (compared to WSL1 on a windows drive).  And mongo does not seem to be an issue.

Warning: WSL2 `DrvFS` seems slower than WSL1 to the point I found it unbearable...

[2021-05-01 12:55] mizzao commented on #9914
@brucejo75 amazing, that's great news. What is `DrvFS` though, is that just accessing files on the Windows partition?

[2021-05-01 13:02] brucejo75 commented on #9914
Hi @mizzao, Take a look at my response to you on Jan 7.  Details are in here: https://docs.microsoft.com/en-us/archive/blogs/wsl/wsl-file-system-support#file-systems-in-wsl

[2021-05-02 13:32] StorytellerCZ commented on #11363
Glad to hear that you found a solution! Thanks for sharing!

[2021-05-02 15:27] brucejo75 opened #11406 "undocumented env variable DDP_DEFAULT_CONNECTION_URL"
Meteor makes use of the `DDP_DEFAULT_CONNECTION_URL` environment variable to modify the `__meteor_runtime_config__.DDP_DEFAULT_CONNECTION_URL` variable in the server.

`__meteor_runtime_config_.DDP_DEFAULT_CONNECTION_URL` is then transmitted by the server to the clients in the downloaded index files.

This variable is then used by the client to determine where to make the DDP client connection.

T

[2021-05-02 19:50] micnic commented on #11335
I could not reproduce this with a new Meteor app, but it happens in an app that I try to migrate from Meteor 1.9 to Meteor 2.0. Will try to reproduce again with the newest Meteor version and come back with a more narrowed issue.

[2021-05-03 00:30] naturom commented on #9568
I'm also getting this issue while building production meteor 2.1

[2021-05-03 00:41] matheusccastroo commented on #11168
I think you can fix this by creating a `build-extras.gradle` and adding the `googleServices { disableVersionCheck = true }` on the `ext.postBuildExtras` section. You can do this by creating `cordova-build-override/platforms/android/build-extras.gradle` on your project root folder.

Another way that I can think of would be to add a before_build hook to the cordova build.

[2021-05-03 07:51] stevengragg commented on #11388
Hi, this works for me the warning did not appear on local dev environment. But when I try to have deploy it through free testing environment of meteor (latest) through => meteor deploy  [appname].meteorapp.com --settings [settings json file] --free
I am getting a warning
[DEP0131] DeprecationWarning: The legacy HTTP parser is deprecated.15cwr
2021-05-03 11:23:21+08:00/app/bundle/programs/server/no

[2021-05-03 10:37] StorytellerCZ commented on #11406
Hi @brucejo75 ! Thank you for the report! Feel free to go ahead and submit the PR and feel free to also submit a PR to the [docs](https://github.com/meteor/docs). I'm mostly concerned here with how it will affect existing apps.
As for the documentation I think the description needs to be expanded on what the constant is and expand under which circumstances should you set it manually, because from

[2021-05-03 13:57] brucejo75 commented on #11406
@StorytellerCZ,

Will do.

Thanks for feedback, I see how my current suggested documentation is unclear 😸

[2021-05-03 23:27] renanccastro commented on #11005
@brucejo75 can you please give a try at my pr and see if it fixes your error? https://github.com/meteor/meteor/pull/11409

[2021-05-04 15:36] filipenevola commented on #11297
I'm closing this issue because we haven't heard anything from the original poster for a while.

[2021-05-04 15:36] #11297 closed

[2021-05-05 12:09] micnic commented on #11335
I could track the source of the error in the app in some packages that are importing `import window from 'global/window'` and it throws in `react-fast-refresh.js:827`:

[code]

Still could not reproduce in a new Meteor app.

[2021-05-06 17:29] StorytellerCZ commented on #9255
Recently there have been updates to some of these packages. Does the issue still persists?

[2021-05-07 08:33] #10702 closed

[2021-05-07 08:42] StorytellerCZ commented on #10702
Will be released together with Meteor 2.3

[2021-05-07 15:54] alihuber commented on #11386
Possible duplicate of https://github.com/meteor/meteor/issues/9255 ?

[2021-05-07 19:37] StorytellerCZ commented on #11386
@alihuber Good catch. Yes, it is duplicate. @mibto  I'm looking on the issue and I am unable to reproduce, let's move the discussion to #9255.

[2021-05-07 19:41] StorytellerCZ commented on #9255
I have been trying the reproduce it on the latest Firefox, but without success and the Firefox issue is closed. but #11386 just recently came in so it might still be happening. @mibto can you try to reproduce the issue on Firefox Developer's edition?

[2021-05-07 19:51] StorytellerCZ commented on #10591
Possible duplicate of #9960

[2021-05-07 20:05] StorytellerCZ commented on #9960
Just adding `hot-code-push` is enough. `ddp` is included in it.

[2021-05-07 20:17] StorytellerCZ commented on #10703
`id-map` is now using Map internally.

[2021-05-07 20:43] StorytellerCZ commented on #11249
Since the support for Apple Silicon is from Node 16 we will be able to tackle this once we update there. Given that there are some major hurdles to get over in order to get Meteor to Node 16 don't expect this to happen till the end of the year at earliest (by my estimation).

[2021-05-07 20:48] StorytellerCZ commented on #11042
@trusktr Did you manage to get around to making a reproduction? Did the solution from @edemaine helped?

[2021-05-07 20:58] StorytellerCZ commented on #10713
Pinging @zodern to decide on how to proceed with this.

[2021-05-07 21:11] StorytellerCZ commented on #10560
Right now there is a [PR](https://github.com/meteor/meteor/pull/11395) to remove deprecated code for compatibility from before Meteor 1.0.
Then following that is to modernize packages and Meteor internals to use import/export everywhere, but at least until that process is complete we will need to keep backward compatibility with globals for quiet some while as removing that completely would probab

[2021-05-07 22:04] zodern opened #11413 "Add files from node_modules using HMR"
Currently when importing a new npm dependency or a new file from node_modules, Meteor uses hot code push instead of HMR.

Supporting this will require:
- Enabling HMR for the modules package like we do for dynamic-imports. However, `modules` can not use `hot-module-replacement` since it would create a circular dependency, so we would have to handle it differently
- Support HMR for files with `json

[2021-05-07 23:23] QCTW opened #11415 "Unable to install Meteor on Windows 10"
Hi,

I am following the steps to install Meteor on Windwos 10 with the following version of NodeJs
`$ node -v
v14.16.1
`
`$ npm -v
6.14.12`

I installed the NodeJs from node-v14.16.1-x64.msi . But I got the following error

[code]

Could someone help me with this? I am block with the installation.

Thank you

[2021-05-08 10:49] #11406 closed

[2021-05-08 10:58] #11404 closed

[2021-05-08 11:01] StorytellerCZ commented on #11404
Fixed in `mongo-id@1.0.8`.

[2021-05-08 11:08] StorytellerCZ commented on #11273
@Nidroide Tried to replicate your approach, but did not run into any issues.
@make-github-pseudonymous-again There have been few updates recently. Can you check if the problem still persist and if yes provide a reproduction? Thank you!

[2021-05-08 11:26] StorytellerCZ commented on #9791
Tested today, but I think the reproduction is no longer working as I get the following error (locally and on Galaxy):
[code]

[2021-05-08 11:29] StorytellerCZ commented on #11307
I'm closing this since we don't have a reproduction, feel free to open this if this encounter this issue and if possible, please provide a reproduction.

[2021-05-08 11:29] #11307 closed

[2021-05-08 11:32] StorytellerCZ commented on #10032
The original reproduction is gone @KoenLav and @sjkdev21 do you have any news on this issue and if it is still happening in Meteor 2.2?

[2021-05-08 11:35] KoenLav commented on #10032
https://github.com/meteor/meteor/pull/10478

[2021-05-08 11:46] StorytellerCZ commented on #10032
@KoenLav thanks a lot for the update!

[2021-05-08 16:07] make-github-pseudonymous-again commented on #11273
I believe this was fixed yes. Let me fetch the source.

[2021-05-08 16:07] make-github-pseudonymous-again commented on #11273
Here https://github.com/Marak/faker.js/issues/1066#issuecomment-784108391. Fixed for me since Feb 23.

[2021-05-08 21:15] #11273 closed

[2021-05-08 23:49] nimpla opened #11418 "IE11 compatibility (sorry)"
When opening a new meteor project in IE11 it throws errors because some packages are not compiled to ES5. (e.g. arrow functions)

### Reproduction
1. create bare meteor project
[code]
2. open up project in IE11

### Environment
Version: Meteor 2.2
OS: Windows 10 / x86_64

### Expected
Basically the new Meteor app

### Result
![image](https://user-images.githubusercontent.com/9716355/117556324-d1a0

[2021-05-09 10:46] radekmie commented on #10560
With all of the globals removed, we could simplify the [`@types/meteor`](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/meteor) as well. Right now most of them have to be duplicated to cover the global and non-global versions, and this causes various maintenance problems (almost every PR I reviewed covered only one of them in its first version).

[2021-05-09 17:23] ritwik1233 commented on #11382
Hi, I am new to open source but I think I can implement the proposed solution by @paulincai.

Can I take up this fix?

[2021-05-10 13:22] StorytellerCZ commented on #11418
I will boot into Windows later today and see what I can do about this, but no promises.

[2021-05-10 14:49] 11kodykay11 commented on #10764
`'importHelpers': true` worked for me too. Thanks.

[2021-05-10 18:58] ritwik1233 commented on #11382
Hi, I am new to open source and I think I can implement the above-proposed solution.
Can I work on this issue?

[2021-05-11 04:33] mitar commented on #10703
Maybe open another issue for those two?

[2021-05-11 06:58] radekmie commented on #11378
Personally, I always treated it like a great way to fence out "incorrect" imports.

For example, a functionality that creates CSV exports will require a lot of dependencies not used elsewhere. Usually, it'll have a couple of "internal" helpers. Now, someone needs this helper on the client (they share some logic, whatever). Putting this whole feature in a `server` directory makes sure that the pers

[2021-05-11 14:18] StorytellerCZ commented on #11402
@crapthings Since you already have a working code I would say that the best approach would be to go ahead and create a PR.

[2021-05-11 15:48] hexsprite commented on #11272
Thanks for the bump. It seems like it's working as currently designed -- Cordova uses legacy and Mobile Safari uses the modern bundle. And I have a workaround. There still may be an issue with how it imports the CJS but I'll reopen if necessary....

[2021-05-11 15:48] #11272 closed

[2021-05-11 19:38] ritwik1233 commented on #11382
Thank you so much.
This was a great learning experience for me.

Thanks and Regards
Ritwik Sinha

On Tue, May 11, 2021, 9:09 PM Jan Dvorak ***@***.***> wrote:

[2021-05-11 21:48] znewsham opened #11422 "meteor.nodeModules.recompile does not work for local node modules"
I have a custom version of the NPM simpl-schema module I work from - where I've made the main module point to the source rather than the dist so I can have changes hot reload. I then add this as an npm dependency as `"simpl-schema": "file:/path/to/simpl-schema/outside/of/app"`. This works great when using chrome - but safari doesn't like the declaration of static properties.

Using Meteor 2.2, I w

[2021-05-12 10:50] harryadel opened #11424 "Deprecate browser policy packages"
The official guide no longer recommends browser policy and recommends helmet instead. https://guide.meteor.com/security.html#httpheaders
So, should it be deprecated like HTTP package https://github.com/meteor/meteor/pull/11161?

[2021-05-12 11:53] StorytellerCZ commented on #11424
That is a good discussion point. I'm split on this. I do agree that solutions like `helmet` are a great replacement, but at the same time I think with a bit of care we could improve these packages to utilize `helmet` or do things themselves and due to their unique integration with Meteor it could easily provide some security that otherwise is annoying to setup. The main thing afterwards is their c

[2021-05-12 12:16] harryadel commented on #11424
If we were to have browser policy use Helmet internally or even develop it to achieve a similar level as Helmet, it'd be a reinvention of the wheel and an unwise investment of resources unless the tight Meteor integration offers quite a unique value that can't be achieved otherwise. Although, if such claims were true Helmet integration wouldn't have been so seamless. Also, given the current state

[2021-05-12 13:21] StorytellerCZ commented on #11418
I fixed the issues with `react-dast-refresh` issues and after a refresh the other error went away.

[2021-05-12 13:49] StorytellerCZ commented on #11424
I'm up for investigating if there is something non-trivial that we could use the package for. I remember that a while back when I was investigating Helmet I decided that I could just do without it and use the raw WebApp handlers, but then there was something that was non-trivial that I couldn't achieve even with Helmet even though Helmet had functionality for it, as it required additional integrat

[2021-05-12 14:08] StorytellerCZ commented on #11005
Fix will be released as part of Meteor 2.3.

[2021-05-12 14:08] #11005 closed

[2021-05-12 14:47] brucejo75 commented on #11005
PS: this fix works for me.  @menelike, did it work for you?

[2021-05-12 18:07] brucejo75 commented on #11402
Hey @crapthings,

Check out #11408, integrated with **Meteor 2.3**.

This PR fixes an issue with `cordova` not picking up the value of `DDP_DEFAULT_CONNECTION_URL`.  This will give you a lot more control of the DDP connection and the root connection for all platforms.

This is an undocumented feature of Meteor...

https://github.com/meteor/docs/pull/716 documents the feature after Meteor 2.3 relea

[2021-05-12 19:22] #11418 closed

[2021-05-12 19:26] StorytellerCZ commented on #11418
Fix published in `react-fast-refresh@0.1.1`

[2021-05-12 22:21] ritwik1233 commented on #10775
Hi, I have created a [PR]( https://github.com/meteor/meteor/pull/11429 ) for the above-proposed solution.

[2021-05-13 01:19] crapthings commented on #11402
@brucejo75

so after use connect to another ddp server
the head will replaced with target server's root url after autoupdate(HCR)?

[2021-05-13 02:46] brucejo75 commented on #11402
Hi @crapthings, I am having trouble understanding what your desired end state is.

## Please answer these questions...
1. Do you want to be able to dynamically change the `ROOT_URL` & dynamically change the `DDP_DEFAULT_CONNECTION_URL`?  & you expect that the app will reload with the new `ROOT_URL` & `DDP_DEFAULT_CONNECTION_URL`.

2. Do you have multiple Meteor servers running at these **root** ur

[2021-05-13 03:34] gongyuan303 opened #11431 "行运行总是下载不了依赖包"
mac big sur system
执行创建demo后，执行运行总是下载不了依赖包

[2021-05-13 03:45] LiuSuY opened #11432 "static-html fails to download"
=> Started proxy.
=> Started HMR server.
=> Started MongoDB.
   Downloading static-html@1.3.0... 一直锁定在此处

[2021-05-13 07:00] crapthings commented on #11432
被墙了？

试试 --verbose 启动，是不是因为网络

[2021-05-13 08:11] crapthings commented on #11402
- [x] 1. Do you want to be able to dynamically change the ROOT_URL & dynamically change the DDP_DEFAULT_CONNECTION_URL? & you expect that the app will reload with the new ROOT_URL & DDP_DEFAULT_CONNECTION_URL.

- [x] 2. Do you have multiple Meteor servers running at these root urls that your user can change to?

[code]

 METEOR_CORDOVA_COMPAT_VERSION to make AUTOUPDATE(HOT CODE RELOAD) working

[c

[2021-05-13 08:21] crapthings commented on #11431
网络问题 my friend

[2021-05-13 10:34] StorytellerCZ commented on #11432
@LiuSuY What OS are you using?

[2021-05-13 10:35] StorytellerCZ commented on #11432
Possible duplicate of #11431

[2021-05-13 11:32] LiuSuY commented on #11432
Windows 10 专业版 20H2版本 ，主要是网络原因，有什么好的办法可以加速这个包的下载吗？我在https://npm.taobao.org/ 中没有找到有关的加速包，需要大量的时间下载此包

[2021-05-13 11:32] #11432 closed

[2021-05-13 11:33] LiuSuY commented on #11432
Windows 10 专业版 20H2版本 ，主要是网络原因，有什么好的办法可以加速这个包的下载吗？我在https://npm.taobao.org/ 中没有找到有关的加速包，需要大量的时间下载此包

[2021-05-13 16:03] brucejo75 commented on #11402
Wow!  That is really interesting.

I am trying to manually replicate what your app does, but I cannot get it to work.  Here is what I do:

## Reproduction
In my Cordova test app (`ROOT_URL=https://test1.com`)
1. Put a breakpoint in the code right after  `__meteor_runtime_config__` is initialized.
2. Reload the app.
3. When I stop at the breakpoint, I am right at the beginning of the page load.  He

[2021-05-14 04:29] jamesgibson14 commented on #11402
I have a similar need though not exactly, in my case I have one backend meteor app that dishes out 2+ websites base off the URL with dynamic code eval. It works great at the browser level. https://ironcountytaxi.com/ and https://www.stgshuttle.com/ are both run from the same Meteor App.
However I can't create 2 separate cordova apps for these 2 sites because I can only have 1 RootUrl and 1 default

[2021-05-14 09:01] bartenra opened #11435 "Meteor.user() has wrong type"
Since Meteor 1.10 `Meteor.user()` accepts an object where you can specify the fields to fetch, as per the [docs](https://guide.meteor.com/accounts.html#prevent-unnecessary-data-retrival). E.g.

[code]

However in `meteor.d.ts` (as of Meteor 2.2) it is typed as:

[code]

This should be changed to:

[code]

[2021-05-14 09:35] StorytellerCZ commented on #11435
Hi @bartenra we do not maintain Typescript definitions, please submit a Pull Request over at Definitelly Typed repository to change the definition:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/793c6074221b7cb72a062bdba6cff77388ee999e/types/meteor/meteor.d.ts

[2021-05-14 09:41] #11431 closed

[2021-05-14 15:09] brucejo75 commented on #11402
@jamesgibson14,

I am looking at your apps...

I see 3 different IP addresses for https://ironcountytaxi.com, https://stgshuttle.com & https://mobile.stgshuttle.com (your ROOT_URL)
But... each separate address is dishing up the same meteor bundle: https://www.stgshuttle.com/69f38b8dd2d7bb931ef487988dfc5af7308d9810.js
https://www.ironcountytaxi.com/69f38b8dd2d7bb931ef487988dfc5af7308d9810.js
https:

[2021-05-14 15:32] jamesgibson14 commented on #11402
Correct, but the backend only sends the modules that each URL needs, based off the URL, so I am not using a reverse proxy, all the URLs are pointing to the same IP cluster and it is all handled by the Meteor app.

That is exactly my problem, if I build multiple mobile apps, (which is what I want to do) and give each one a different `--server`  ie `customer-mobile.ironcountytaxi.com` and `driver-mo

[2021-05-14 15:33] jamesgibson14 commented on #11402
I am using `WebApp.connectHandlers` to "inject" the dynamic modules based off the URL.

[2021-05-14 15:49] brucejo75 commented on #11402
@jamesgibson14, would you be at all interested in a zoom session?  I want to make sure I understand what you want, I have been rooting around in this area for the last couple of weeks...

I am not groking why you could not use the same `WebApp.connectHandlers` technique for the mobile domains.

[2021-05-14 15:54] brucejo75 commented on #11402
Oh I see it now: https://github.com/meteor/meteor/blob/devel/packages/meteor/url_server.js#L3

[2021-05-14 15:58] jamesgibson14 commented on #11402
I would be happy to jump on a zoom call if you need.
It has been a while since I was digging into the Meteor code trying to figure it out, but yes that looks like the right area.

[2021-05-14 15:58] brucejo75 commented on #11402
Is my email in my github profile?  you can send me a direct email.

[2021-05-14 16:09] jamesgibson14 commented on #11402
I don't see it, but here: sparhaw14@gmail.com, I already get a ton of spam so a little more won't hurt. :)

[2021-05-14 16:13] brucejo75 commented on #11402
Sent invite

[2021-05-14 17:12] brucejo75 commented on #11402
OK, I think that I understand the request a lot better...

When Meteor serves up index pages `ROOT_URL` and `DDP_DEFAULT_CONNECTION_URL` are statically set by the Meteor for that server.

What is needed is that the server should be able to be "hooked" so that on a particular request the `ROOT_URL` and the `DDP_DEFAULT_CONNECTION_URL` can be set.

[2021-05-14 19:30] jamesgibson14 commented on #11402
Sure I would be happy to. Thanks, James Gibson From: Bruce JohnsonSent: Friday, May 14, 2021 9:50 AMTo: meteor/meteorCc: James; MentionSubject: Re: [meteor/meteor] Allow dynamic root url on cordova ***@***.***, would you be at all interested in a zoom session? I want to make sure I understand what you want, I have been rooting around in this area for the last couple of weeks...I am not groking why

[2021-05-15 13:07] nimpla commented on #11418
Thanks for fixing. Is there a way to make the null references work anyway? Is this due to the compilation on ES2018? Are there any polyfills for this?
![image](https://user-images.githubusercontent.com/9716355/118362246-0ee87c00-b58f-11eb-9b5e-b6bcbbc0fcc9.png)

[2021-05-15 13:08] StorytellerCZ commented on #11418
That is another bug, in my experience just refreshing the page should make it go away.

[2021-05-15 16:29] nimpla commented on #11418
Unfortunately not, somehow IE11 cannot resolve the packages.

[code]

each error is thrown by the reference of `Packages`

[code]

[2021-05-16 09:04] StorytellerCZ commented on #11418
Strange I haven't encountered it when testing the previous one on IE. I'll take a look again when I boot to Windows.

[2021-05-17 07:32] jankapunkt opened #11436 "CSP can't create valid hash for __meteor_runtime_config__ when delivering to legacy browsers"
We are delivering our bundle with CSP using helmet and [only allow valid sha256-hashed scripts](https://guide.meteor.com/security.html#helmet) to be loaded.

However, this fails on the `web.browser.legacy` delivery, simply because we can't dynamically set `isModern` on the server, where the hash is created (see line 37 in the linked guide).

When setting `isModern` to `false` then the legacy bundl

[2021-05-17 07:48] jankapunkt commented on #11436
Okay I already found a solution. Simply create a second hash for legacy bundles, where isModern is false and then add it to the `script-src` list. I will update the guide accordingly.

[2021-05-17 07:48] #11436 closed

[2021-05-17 07:56] jankapunkt commented on #11436
See: https://github.com/meteor/docs/issues/719

[2021-05-17 11:51] damon-t commented on #7721
I am facing the same issue with the latest meteor version.

My reproduction steps are:

1. meteor create --blaze newproject --release 2.2
2. cd newproject
3. meteor create --package newpackage
4. add api.use('reactive-dict'); to package.js

as soon as the package is added meteor crashes with this error:

`C:\Users\damon\AppData\Local\.meteor\packages\meteor-tool\2.2.0\mt-os.windows.x86_64\dev_bund

[2021-05-17 13:42] #11435 closed

[2021-05-17 19:13] zodern commented on #11318
The fix will be in 2.3.

[2021-05-17 19:13] #11318 closed

[2021-05-17 19:17] #11339 closed

[2021-05-17 21:00] StorytellerCZ commented on #11418
@nimpla I was unable to reproduce the issue. So my guess is that there might be some other package that is leaking modern JS to IE. If the issue still persist, please make a new issue.

[2021-05-19 06:42] bartenra commented on #11435
Sorry, didn't know that.

[2021-05-19 07:35] StorytellerCZ commented on #11435
@bartenra No worries. 🙂

[2021-05-19 15:42] technicalbirdVayuz commented on #11285
How to solve this. We have built a system total based on REST APIs but this is still coming. Also tried DISABLE_WEBSOCKETS=1 but it does not work. Please help!

[2021-05-20 08:10] MrCrazyCrab opened #11441 "how to install meteor 1.12?"
<!--
* ❓ Questions?
          how to install meteor 1.12? i want to inatsall the meteor 1.12 on windows, how should i do ?

[2021-05-20 12:52] StorytellerCZ commented on #11441
Use `meteor update --release 1.12`

[2021-05-20 13:59] MrCrazyCrab commented on #11441
@StorytellerCZ  i tried, but i stucked. i comes with the erroe-- Sorry, Meteor 1.12 is not installed and could not be downloaded. Please check to make sure that you are
online.
Do you know where ic can download the file of meteor 1.12, so i can install it offline.

[2021-05-20 19:00] StorytellerCZ commented on #11441
@MrCrazyCrab Try `1.12.1`.
I don't think we have a way to install new versions without access to Internet, do we? @filipenevola

[2021-05-21 01:06] MrCrazyCrab commented on #11441
@StorytellerCZ  i did do want you said. But the error mentioned that i am not online. i am sure i can surf the intetnet. The problem is only encountered when i run the code.

[2021-05-21 10:49] StorytellerCZ commented on #11441
Are you behind a corporate proxy or firewall or something of that sorts?

[2021-05-23 18:28] brucejo75 commented on #11402
@jamesgibson14, @crapthings,

I put some changes into `webapp` which should allow for dynamic changing of `ROOT_URL` & `DDP_DEFAULT_CONNECTION_URL` (or any `__meteor_runtime_config__` field).  This feature only works if you allow inline eval.  The reason is otherwise meteor just sends down a pre-stored file: `meteor_runtime_config.js`.

Yesterday I got some time to test it for each of your scenari

[2021-05-23 19:45] brucejo75 commented on #11402
@jamesgibson14, @crapthings,

Let me know when you have tried it.  I will submit a PR if you are successful.

[2021-05-23 21:27] haveaguess commented on #9087
Digging into the comments of the pr above they seem to want to make this fail fast because they think people will see subtle bugs in mongo queries if they use undefined instead of null. If I'm reading it right

![Screenshot_20210523-222534](https://user-images.githubusercontent.com/85821/119277179-05f24d00-bc16-11eb-81b4-33342d2adef8.jpg)

[2021-05-24 01:56] crapthings commented on #11402
@brucejo75 will test it~

[2021-05-24 15:35] denihs commented on #11158
The disclaimer is now added to the documentation in the field `defaultFieldSelector` description: https://docs.meteor.com/api/accounts-multi.html#AccountsCommon-config. I'm closing this issue ;)

[2021-05-24 15:35] #11158 closed

[2021-05-24 20:48] santiagopuentep commented on #10853
@jamesloper this is exactly the problem I'm having, it fires twice, but the first time Meteor.user() is not available; the second time it its.

[2021-05-24 20:53] santiagopuentep opened #11446 "Accounts.onLogin fired twice, the first time Meteor.user() is not available."
This bug was supposed to be fixed on 1.12 but it's not. Reopening the issue from https://github.com/meteor/meteor/issues/10853.

The Accounts.onLogin callback on the client is fired twice. Inside the first one, Meteor.user() is not available. Inside the second one it is.

[code]

[2021-05-27 13:23] StorytellerCZ commented on #11441
@MrCrazyCrab any updates on this?

[2021-05-27 17:36] jankapunkt commented on #11424
We could make browser policy an optional out-of-the-box (zero-) config for helmet, keeping the api the same but use helmet under the hood. If that makes any sense. However, note, that these decisions were already made in the past and then (now) turned out to be very close coupled to a technology that is now outdated (similar to the http or jquery package).

From a beginners perspective I love the

[2021-05-27 18:15] diavrank opened #11448 "[2.3-beta.1] Exception in queued task TypeError: data.size is not a function"
When I updated to Meteor 2.3-beta.1, I got this error:

[code]

**Notes:**

- Mac 11.3.1
- Node 14.17.0
- METEOR@2.3-beta.1

[2021-05-27 20:33] kakadais commented on #9944
The answers showed this was solved but I got the same error on large data manipulating.

I got over 10,000 data and .find().forEach() performed with 2 second for each data,
and the error occurred around 1000th data.

So the process took a long time could happen this in a new version?
Meteor: 1.10.2
npm-mongo@3.7.1

[code]

[2021-05-27 20:40] zodern commented on #11448
This error is fixed in `montiapm:agent@2.42.0`. Though I'm not sure what changed in Meteor to start causing this error.

[2021-05-28 05:05] diavrank commented on #11448
True, I had montiapm:agent@2.41.2, so, I updated it and the error has gone. Thanks.

[2021-05-28 10:44] StorytellerCZ commented on #11441
I'm closing this issue because we haven't heard anything from the original poster for a while. If this issue persist feel free to re-open with new information.

[2021-05-28 10:44] #11441 closed

[2021-05-28 10:48] StorytellerCZ commented on #11446
@santiagopuentep you should have re-opened #10853, but that doesn't matter. Can you provide us more information (what version of Meteor and the packages are you using), can you provide a simple reproduction repository or event a better create a test?

[2021-05-28 12:35] derwaldgeist opened #11450 "Login method returns UPDATE but no RESULT"
Our Unity app connects to a Meteor server via DDP, so we had to roll our own DDP protocol implementation, based on an [old library by Greencoder](https://github.com/green-coder/unity3d-ddp-client). It works fine, but we are facing an odd behavior of the `login` method (with a resume token) if we re-connect the app  after the user put it in the background and back (the WebSocket connection has to b

[2021-05-28 21:54] diavrank opened #11452 "[2.3 beta 2] Cannot update to beta 2 from beta 1"
**Error:**

[code]

I also did `meteor reset` and remove **.cache** folder before update.

packages

[code]

[2021-05-28 22:07] diavrank commented on #11452
Fixed on beta 3.

[2021-05-28 22:07] #11452 closed

[2021-05-28 22:17] diavrank opened #11453 "[2.3 beta 3] Packages incompatibles with beta 3"
After update to beta 3, I got this error:

[code]

I don't know why meteor downgrade some packages that I have:

- alanning:roles*              downgraded from 3.2.3 to 1.2.10
- socialize:server-presence*   downgraded from 1.0.3 to 0.1.3
- socialize:user-presence*     downgraded from 1.0.3 to 0.4.0

[code]

I tried to update them but It doesn't work:

[code]

I also tried with this command:

[code

[2021-05-29 08:13] crapthings opened #11454 "isolation client only mongo collection"
[code]

how possible to use same name, but isolate records?

[2021-05-29 08:15] StorytellerCZ commented on #11453
For the first error it looks to me that `lamhieu:meteorx` is using some old API that is no longer available as a lot of those were deprecated a long time ago and now removed.
I'm not sure why the packages were downgraded. I get constraints error on my app:
[code]

[2021-05-29 08:16] StorytellerCZ commented on #11454
Hi, the best place to ask questions is in the [Forums](https://forums.meteor.com) or in our [Community Slack](https://join.slack.com/t/meteor-community/shared_invite/enQtODA0NTU2Nzk5MTA3LWY5NGMxMWRjZDgzYWMyMTEyYTQ3MTcwZmU2YjM5MTY3MjJkZjQ0NWRjOGZlYmIxZjFlYTA5Mjg4OTk3ODRiOTc).

Please send this question there and I'm sure you are going to get some help.

[2021-05-29 08:16] #11454 closed

[2021-05-29 08:27] crapthings commented on #11454
[code]

it looks this work

[2021-05-29 09:27] StorytellerCZ commented on #11453
For my problem, I'm going to bump all official packages with a minor release which is going to fix the version constraints, for package authors, they can use `api.versionsFrom(['2.2', '2.3-beta.X']);` to fix the issue with versions, so for final release it will be: `api.versionsFrom(['2.2', '2.3']);`
For beta and RC you will have to do this locally which I hope will resolve the issue.

[2021-05-29 11:31] ajaypillay opened #11455 "Removing a file/node module causes server to stop running"
Hi, when I remove any file or node module, it breaks the server for some reason. Here's the error message in my terminal. Here I removed the package `react-color` (this happens when I remove any arbitrary package):
[code]
Meteor Version: 2.2
OS: Fedora 34, 64-bit

This is just (I think) a minor QOL thing, as I can restart the server and everything works fine. Although it would be nice to understan

[2021-05-30 15:53] brucejo75 commented on #10583
@filipenevola, @StorytellerCZ, any status?

[2021-05-30 16:14] StorytellerCZ commented on #10583
Sorry, I have no news to report on this for now.

[2021-06-01 08:40] nathanschwarz opened #11456 "[GALAXY][LOGIN] Uppercased username"
I've been trying to log in into my galaxy account for severals days now.
When I created my account I did put uppercases letters in my username.
But since last week the following error keep rising up in the console :
[code]
I suppose an update was made internally...
could you fix this issue ? Thanks a lot 👍

[2021-06-01 08:48] nathanschwarz commented on #11289
CSS files are not compiled server side, so you wont be able to use it there.
Either use `styled-components`, inline styling, or put your css files in the public directory and import them through a link.

[2021-06-01 11:59] sampaiodiego opened #11457 "Security issue on underscore dependency included in production build"
On Meteor 2.2 running on Linux, when creating a production build `meteor build` the server bundle includes a version of `underscore` affected by an already fixed security vulnerability. Steps to reproduce:

[code]

This will have the following output:

[code]

When running `npm audit`:

[code]

This repository includes the code generated by `meteor create` and was used to reproduce the issue https

[2021-06-01 14:19] filipenevola commented on #11456
Hi @nathanschwarz we are going to take a look.

In these cases the best way to get help asap is sending a ticket to support [at] meteor.com

[2021-06-01 14:40] denihs commented on #11456
Hi @nathanschwarz could you please open a ticket to support [at] meteor.com? We gonna need to ask for some personal information in order to fix this.

[2021-06-01 15:09] #11456 closed

[2021-06-01 16:26] menelike opened #11458 "Server set cookies not working on Cordova/iOS"
Since iOS has changed its cookie policy named as `INTELLIGENT TRACKING PREVENTION` (see https://github.com/risetechnologies/cookieTest/issues/2#issuecomment-844036075 for a brief explanation) cookies set by the server are not being taken into account anymore (also see https://forums.meteor.com/t/sticky-session-using-cookies-and-cordova/44419/9).

This is especially an issue if load balancers use s

[2021-06-01 18:10] StorytellerCZ commented on #11458
I'm confused what you are trying to achieve here. You said that this does not effect Meteor, so do you just want this documented in some way on how people should manage this?

[2021-06-01 18:18] StorytellerCZ commented on #11457
Confirmed in Meteor 2.3 as well.

[2021-06-01 18:58] StorytellerCZ commented on #11457
I think I have a fix. Let's test this in Meteor 2.3-beta.5 once it is out to confirm.

[2021-06-01 18:58] StorytellerCZ commented on #11455
@zodern I think you have been recently working around these parts, any thoughts?

[2021-06-01 18:59] StorytellerCZ commented on #11453
@diavrank did you have a chance to test the latest beta?

[2021-06-01 19:03] menelike commented on #11458
@StorytellerCZ You're absolutely right, I wrote that in a hurry, that was a bad decision.
I updated the issue description, hopefully, it is more clear now. Let me know if it needs further explanation.

[2021-06-01 19:30] diavrank commented on #11453
Yes, it happens the same :/  , my packes are downgraded (alanning:roles, socialize:user-presence, etc)

[2021-06-02 06:48] StorytellerCZ commented on #11458
I think then this issue would be more suited for Docs: https://github.com/meteor/docs/
Or Guide: https://github.com/meteor/guide/

[2021-06-02 06:51] StorytellerCZ commented on #11453
Interesting, I'm using local copy for testing so I don't get that anymore. I have already prepared PRs to update the dependencies for 2.3 release.
@copleykj do you think this could be something in the package settings that I'm missing?

[2021-06-02 09:50] StorytellerCZ commented on #11457
Tested with Meteor 2.3-beta.5 and I no longer get any audit warning. Hence I'm closing this issue as fixed.

[2021-06-02 09:50] #11457 closed

[2021-06-02 10:23] StorytellerCZ commented on #11360
The console warnings should no longer appear. More complete solution still in works.

[2021-06-02 10:26] StorytellerCZ commented on #11355
@dkoo761 Could you please test the issue on latest Meteor and if it still persist on Meteor 2.3-beta.5? Recently minifiers have been updated.

[2021-06-02 11:56] rshylendar opened #11459 "Nginx server running port is 4400 and docker container for wekan project running port is 7300. In Ngnix.conf file i have added the proxy_pass http://localhost:7300. But i could not get the wekan UI, I am facing the error given below."
(index):4 GET http://localhost:4400/6d9994ceb11a3e28fabbb446ea219cb8fafdfcda.css?meteor_css_resource=true net::ERR_ABORTED 404 (Not Found)(index):11 GET http://localhost:4400/a3d94bab4aefc1e264932bc4ac7718d60ee2f185.js?meteor_js_resource=true net::ERR_ABORTED 404 (Not Found)(index):11 GET http://localhost:4400/a3d94bab4aefc1e264932bc4ac7718d60ee2f185.js?meteor_js_resource=true net::ERR_ABORTED 404

[2021-06-02 12:40] StorytellerCZ commented on #11459
Hi, could you provide a reproduction? 😉
You can read more [here](https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#reporting-a-bug-in-meteor).

[2021-06-02 12:51] StorytellerCZ commented on #11336
Set `ambiguousErrorMessages` in `Accounts.config` to true to fix the issue.

[2021-06-02 12:51] #11336 closed

[2021-06-02 16:34] ixdi opened #11460 "Confilct meteor-apm-agent@3.4.0 with Meteor@2.3-beta.5"
When adding meteor-apm-agent the following error appears:
[code]
Any idea how to solve this? Thanks

[2021-06-02 19:19] StorytellerCZ commented on #11460
I will release beta package of the apm agent that goes together with the beta and rc releases.

[2021-06-02 19:20] StorytellerCZ commented on #11460
More on why this fails in #11453

[2021-06-02 19:20] #11460 closed

[2021-06-02 22:50] diavrank commented on #11453
Now with beta 5, happens this:

[code]

Update from beta 1. Do I have to update first to beta 2, 3 and 4?

[2021-06-03 04:20] rshylendar commented on #11459
@StorytellerCZ
Nginx server running port is 4400 and docker container for wekan project running port is 7300. In Nginx.conf file I have added the proxy_pass http://localhost:7300. But I could not get the wekan UI, I am facing the error given below.

1. Ngnix server running port is 4400.
2. Docker container running port is 7300.
3. In Ngnix server, i have used the proxy_pass in location /tenant1/.

[2021-06-03 11:09] jorisroling opened #11461 "METEOR@2.3-beta.5 update errors"
I get the following errors when trying to upgrade to the latest beta.
[code]

[2021-06-03 14:19] StorytellerCZ commented on #11461
Yes, the API that those packages use has been deprecated since v1 and has been removed in the latest beta. Please use camel case API calls in `package.js` for packages.

[2021-06-03 14:19] #11461 closed

[2021-06-03 14:43] StorytellerCZ commented on #11461
I have submitted PRs to those two packages mentioned to fix the issue.

[2021-06-03 14:48] StorytellerCZ commented on #11453
@diavrank No, that is not going to help, the issue is that you are using the latest version of `http` on top level, while `montiapm:agent` requires the previous major version which is not something that can be reconciled. Best to open an issue on `montiapm:agent` so that they can add something like this: `api.versionsFrom(['2.2', '2.3']);`, for the beta they will either have to release a beta vers

[2021-06-03 20:01] StorytellerCZ commented on #11415
Hi @QCTW could you try it with Meteor 2.3 beta? Let's see if we can eliminate differing node versions as an issue.

[2021-06-04 02:42] #11287 closed

[2021-06-04 04:36] copleykj commented on #11453
@diavrank to try to resolve the issue with the http package, try adding a the version with an exclamation point at the end of the line in `/.meteor/.versions` like so.

[code]

This *should* force it to update to the latest in spite of the constraint resolver.

[2021-06-04 04:37] copleykj commented on #11453
Also if necessary, I'd be happy to work through the update of the app if you have a repo I could clone.

[2021-06-04 15:46] ianpilipski opened #11462 "Adding reference to '@truffle/contract' causes an error during build "Error: already recomputing""
Steps to reproduce:

1. Install latest meteor
2. run `meteor create test`
3. run `cd test`
4. run `meteor npm install --save @truffle/contract`
5. edit client/main.jsx and add the following line after imports `const contract = require('@truffle/contract')`
6. run `meteor run`

Expected Result:
    Meteor should build and run without error

Actual Result:
    Meteor fails to build the project with

[2021-06-04 19:21] StorytellerCZ commented on #11462
Are you able to import the package using default import?

[2021-06-04 19:27] ianpilipski commented on #11462
`import contract from '@truffle/contract'` produces the same error..

[2021-06-04 19:49] tenshis opened #11464 "standard-minifier-js conflicts with ejs packages"
In my project, I have some npm dependencies which use ejs templates - this works fine without minification, but as soon as they are minified for production using standard-minifier-js, the packages crash because the template can't find required components.

Can I tell the standard-minifier-js to skip certain npm packages, or is there any other way to have ejs templates run in production?

[2021-06-05 06:59] tenshis commented on #10546
Can you explain this step a bit? Does symlinking cause the standard minifier to skip the package? Can this be done on Windows as well?

[2021-06-05 08:25] quackogamingyt opened #11465 "anvil not work meteor staff plz fix and also people useing meteor has this happened to yuo?"

[2021-06-05 09:10] StorytellerCZ commented on #11465
Hi, could you provide more information and a reproduction of the problem? 😉
You can read more [here](https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#reporting-a-bug-in-meteor).

[2021-06-05 13:23] StorytellerCZ commented on #11464
Hi, could you provide a reproduction? 😉
You can read more [here](https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#reporting-a-bug-in-meteor).

[2021-06-06 07:11] harryadel opened #11466 "Usage of npm-bcrypt"
[npm-bcrypt](https://github.com/meteor/meteor/tree/devel/packages/npm-bcrypt) package is only used in accounts-password and internally it falls back to [bcryptjs](https://www.npmjs.com/package/bcryptjs) which hasn't been updated in a while. So wouldn't it be better if we simply added a new npm dependency to accounts-password with [bcrypt](https://github.com/kelektiv/node.bcrypt.js) and deprecated

[2021-06-06 16:12] harryadel commented on #11424
https://github.com/meteor/meteor/issues/9689#issuecomment-367773413

[2021-06-07 17:14] copleykj commented on #11453
@StorytellerCZ Have you managed to narrow down the root cause of this?

[2021-06-07 17:16] StorytellerCZ commented on #10560
Well the approach here needs to be as follows:
1. Provide a way to import all the variables/classes/functions which in essence means moving the functionality to the new way while maintaining backward compatibility.
2. Deprecate the use of globals, could happen in the 2.x series, but probably better to have that happen with Meteor 3.0.
3. Remove the deprecated global declarations after having one w

[2021-06-07 17:19] StorytellerCZ commented on #11453
Right now working on fetch PR, will look into it after that. My guess with the downgrade is that it goes to the earlier version when version resolution wasn't as strict, maybe? Would make sense that it finds the version of the package that doesn't have constraint on a major version of the package, or something along those lines. Either way updating the packages as per the instructions above makes

[2021-06-07 17:21] StorytellerCZ commented on #11466
I think that is viable, given that back then npm wasn't as integrated into the system as it is now that would work, though we should probably check the docs and notes in the code to make sure that we aren't missing something crucial.

[2021-06-07 17:27] StorytellerCZ commented on #10534
Seems to be the same issue as in #10366

[2021-06-07 17:32] copleykj commented on #11453
I think I may have ran into a similar issue when working on `peerlibrary:meteor-packages`. `api.versionsFrom` in its package.js specified 1.6. I removed the `http` package and replaced it with `fetch`.  When I did that, it downgraded many packages because fetch didn't exist prior to 1.8.

[2021-06-07 17:40] StorytellerCZ commented on #10020
@sebakerckhof could you please update the reproduction to the latest Meteor to test if this is still relevant? I'm having some issues with the package getting V8 errors from it which I don't think is related to this issue.

[2021-06-07 19:51] dkoo761 commented on #11355
@StorytellerCZ I didn't test my project since it's running on an older version of Meteor and I already implemented a workaround but instead I generated a new vanilla project to check the minified code in ddp-client.js in Meteor 2.3-beta.5 and it looks correct now. Should be fine to close this ticket.

[2021-06-07 20:28] StorytellerCZ commented on #11465
I'm closing this issue since we have no idea what is going here. @quackogamingyt if you provide actionable details I'm fine with re-opening this issue.

[2021-06-07 20:28] #11465 closed

[2021-06-07 20:34] StorytellerCZ commented on #11355
Glad to hear that! Thanks a lot for the check-up!

[2021-06-07 20:34] #11355 closed

[2021-06-07 23:53] diavrank commented on #11453
@zodern already fixed on **2.43** of monti-apm and now I could update to beta 5 without constraints issues. However, the another problem about downgraded packages persists. I still don't configure the **roles** and **user-presence** packages as locally (inside of packages folder on my root project), so, I guess that will resolve the issue by adding `api.versionsFrom(['2.2', '2.3-beta.X']); `, howe

[2021-06-08 09:45] arggh commented on #10546
It's the opposite: a package in `/imports` gets compiled by Meteor as if it were app code.

<details>
<summary>From Meteor's History.md (breaking changes in 1.7)</summary>

* Although Meteor does not recompile packages installed in `node_modules`
  by default, compilation of specific npm packages (for example, to
  support older browsers that the package author neglected) can now be
  enabled in o

[2021-06-08 12:04] StorytellerCZ commented on #11453
Once we have an official release it will depend on the settings of the `api.versionsFrom`, but once the actual `2.3` is added without any beta it will work until we have another major version bump, then I think we will come against the same problem.

[2021-06-08 18:13] derwaldgeist opened #11470 "Android devices: WebSocket is closed before the connection is established"
Our mobile app communicates with our Meteor server in two ways:
* A native C# WebSockets library, and
* The regular Meteor frontend running in a web view

After we got reports from users that the connection gets lost quite often on Android if they're working over mobile network, I tested this setup under weak network conditions (3G, EDGE) and found out that on Android devices:
* the native code st

[2021-06-09 13:28] perbergland opened #11471 "Bug: createUser in accounts_password breaks api contract (release-2.3 branch)"
The 2.3 version of password_server.js has new parameter checks that are in conflict with

- my code
- the documentation in the file
- the typescript types on DefinitelyTyped

The new check on the password option disallows sending in strings, which is not only documented at the top of the file but is also the only option in the Typescript types for Accounts.

Old working code in release-2.2:
https:

[2021-06-09 14:51] brucejo75 commented on #11402
@jamesgibson14, @crapthings, any progress?

[2021-06-09 20:47] santiagopuentep commented on #11446
@StorytellerCZ Sorry, I didn't know I could reopen it myself. I looked just know but I still don't see how. Could you please tell me how to do it? In the original issue is a reproduction.

[2021-06-10 01:59] crapthings commented on #11402
i've paste these to server, but i didn't see newVar

const cache = {
  'web.browser': [],
  'web.browser.legacy': [],
  'web.cordova': [],
};

const hostValues = ['192.168.1.53:3000', '192.168.1.53:4000'];

WebApp.addRuntimeConfigHook((arch, request, encodedCurrentConfig, updated) => {
  if(updated) {
    // calculate the cache of config values you would like to return
    const config = WebApp.de

[2021-06-10 02:03] crapthings commented on #11402
@brucejo75 request.host is undefined? do you mean request.headers.host? in README.md, i see host only in request.headers

[2021-06-10 05:54] brucejo75 commented on #11402
re: request.headers.host, thanks for the catch!  I have updated the [README](https://github.com/brucejo75/webapp/blob/brucejo75/dynamic_runtime_config/README.md).

[2021-06-10 05:59] brucejo75 commented on #11402
@crapthings, the hook is intended to accomplish any changes that you want.

I was expecting that for your scenario, you would:
1. Accept user input that you wanted to change the app.
2. Send a request to the server, maybe via a Meteor method? to set the app to the new url
3. on the server side accept the request to change the ROOT app and modify your response in `WebApp.addRuntimeConfig`.
4. on co

[2021-06-10 07:22] crapthings commented on #11402
yes i think it should work for cordova, i will make an repo to demostrate after home

is it possible to enhance it that support inbrowser, make autoupdate work with new rooturl

in my test project, the initial html is still sending with request one, the ddp request is send to another one which is right.

[2021-06-10 15:09] brucejo75 commented on #11402
@crapthings,

It is a mistake to use my sample code verbatim for your scenario.  My sample code is addressing how to use the API, not any particular scenarios (that is up to you to figure out).

**NOTE**: For your scenario you essentially want to send only **1** root response from app1:cordovaID that has `ROOT_URL` set to app2
- you do not want to send all responses from app1:cordovaID to have `RO

[2021-06-10 15:13] yashmanuraj2 commented on #5580
Firebase actually changes index.htnl <div id ='message'> was there in my case change message to root it will work fine

[2021-06-11 13:31] antislash21 commented on #11059
Hello, has there been any advance regarding this ? We have a Meteor/Svelte application that's also not working on firefox android (with the same message about class contructors). Is there a workaround regarding this problem ?

We're using "geoffreybooth/meteor-base" docker image to compile/run the app.

[2021-06-11 13:33] StorytellerCZ commented on #11471
This was my fault when removing the old SRP code. I have reverted the check which I think should be all that is needed. I will release another beta later today with the fix.

[2021-06-11 15:34] crapthings opened #11473 "Meteor.LoginWithPassword will cause a subscribe twice?"
is this a bug and why publish are called twice?

reproduction

https://github.com/crapthings/pubtwice

[code]

[code]

[code]

[2021-06-11 21:00] filipenevola commented on #10591
This PR https://github.com/meteor/meteor/pull/11474 should finally fix this soon 😉

Keep watching!

[2021-06-14 13:35] ksinas opened #11479 "Initial lazy loading (caching to IDB) on Safari doesn't work. Starts working after few attempts to refresh the page"
When you load a web app on Safari (Mac OS) for the first time (incognito mode), lazy components doesn't load. After few refresh attempts it starts loading.

It's certainly a bug in Safari, but I believe Meteor should handle this edge case.

The problem occurs in `dynamic-import/cache.js` when `idb.open` is called. The process hangs and doesn't call `onsuccess` neither `onerror`. Rejecting after so

[2021-06-14 14:46] StorytellerCZ commented on #11479
Thanks for the report @ksinas . Honestly I don't even know how to properly categorize such annoyance. Do you know if Safari has this logged as a bug or describes this behavior somewhere?

[2021-06-14 15:40] ksinas commented on #11479
I didn't find anything specific. That's why I wanted to find an easy way to reproduce it on safari, so I could file another bug report. But to my surprise, it was working fine if I would try to call `open` immediately. So it's a really weird issue. Maybe would be interesting to understand why it happens in that particular place of Meteor code and not earlier.

Also, it doesn't happen to me if I fi

[2021-06-14 18:14] StorytellerCZ commented on #11479
Did you test this with other browsers as well?

[2021-06-14 18:27] ksinas commented on #11479
Yes. Crome and Firefox works fine. Safari version that I tested myself is 14.1.1. It's easy to reproduce. You can try it yourself with my repo or make your own with this snippet

[code]

[2021-06-14 18:31] Wade-BuildOtto commented on #10808
still no resolution?

[2021-06-14 18:58] filipenevola commented on #10808
Hi, if you are having issues please open a new issue.

Mostly Meteor users are using MongoDB Atlas without any issues.

[2021-06-14 19:02] StorytellerCZ commented on #10480
Closing this since there aren't any recent responses. If this is still a problem for you please re-open or open a new issue.

[2021-06-14 19:02] #10480 closed

[2021-06-14 19:03] StorytellerCZ commented on #10534
@zodern do you have any plans for this issue?

[2021-06-14 19:10] StorytellerCZ commented on #11471
@perbergland Have you checked beta.7, fix should be there, can you please confirm?

[2021-06-14 19:13] StorytellerCZ commented on #10230
@afrokick Wasn't this fixed?

[2021-06-14 20:42] perbergland commented on #11471
Oh sorry yes this can be confirmed as fixed

[2021-06-14 20:49] filipenevola commented on #11471
Thank you.

[2021-06-14 20:49] #11471 closed

[2021-06-15 05:55] StorytellerCZ commented on #10706
I'm for this.

[2021-06-16 09:49] StorytellerCZ commented on #11479
This is probably related to this bug: https://bugs.webkit.org/show_bug.cgi?id=226547

[2021-06-16 16:19] njneer opened #11481 "Meteor command generates error: ‘"

[2021-06-16 16:20] #11481 closed

[2021-06-16 16:25] njneer opened #11482 "Meteor command won’t run, error: ‘ AssignProcessToJobObject: (87) The parameter is incorrect.’"
Meteor Version 2.2.0
OS: Windows 10
Expected behavior: meteor command should run and not end in error shown in description
Actual behavior: meteor command starts but dies with error in title

[2021-06-16 19:18] diavrank commented on #11453
Hello, I've downloaded the `alanning:roles` package as local and it was updated to the latest version (so it was fixed). I had to put `api.versionsFrom(['1.8.1','2.3-rc.0'])` because with **2.3-rc.X** throws `error: Unknown release METEOR@2.3-rc.X` . So, it seems that version specified must exists, then I wondered if it would be a good idea to prepare a PR to **meteor-roles** repository adding `ap

[2021-06-16 19:43] diavrank commented on #11453
@copleykj this is an app example which has downgraded socialize packages after update to RC 0. These are logs:

[app-with-user-presence-230rc.zip](https://github.com/meteor/meteor/files/6665423/app-with-user-presence-230rc.zip)

[code]

It was weird why still downgrade the packages since it hadn't accounts packages added. (I added later and they persists downgraded)

In this app and I didn't get t

[2021-06-16 21:42] StorytellerCZ commented on #11453
@diavrank  Yes, you need to specify an actual Meteor release that exists. `2.3-rc.X` is not a valid release and the error is completely correct. I have prepared PRs for all the packages that have been reported in this thread with the necessary changes. If they are under MCP then they will be published immediately after 2.3 is published with the necessary fixes. From the list that you have provided

[2021-06-16 22:19] moberegger commented on #11453
With the latest release candidate (via `meteor update --release 2.3-rc.0`), I had it downgrade the `accounts-facebook` package to an old beta version: `accounts-facebook       downgraded from 1.3.2 to 1.3.0-beta.2`.

I'm only using stock meteor account packages. All the others seemed to upgrade fine.

[code]

[2021-06-17 09:53] StorytellerCZ commented on #11453
Looks like an issue with the `accounts-facebook` package. Seems like that strange version got published at some time and is wrong. Publishing a new version now that should take care of it.

[2021-06-17 13:17] StorytellerCZ commented on #11453
@moberegger Try RC 2.

[2021-06-17 13:17] StorytellerCZ commented on #11482
What Meteor command are you running?

[2021-06-17 14:27] ksinas commented on #11479
It definitely is. But even if Apple fixes the issue, we can't be certain of the new version adaptation and future regressions. I would still suggest that meteor should schedule a reasonable timeout for the indexedDB to be open.

[2021-06-17 14:57] StorytellerCZ commented on #11453
I'm keeping this issue open so that people can report packages that are in need of updating their dependencies. Official packages and packages under MCP management are taken care of already. For the rest I will happily prepare PRs.

[2021-06-17 15:03] moberegger commented on #11453
@StorytellerCZ RC 2 worked, by the way. Don't wanna leave you hanging!

[2021-06-17 15:04] StorytellerCZ commented on #11453
@moberegger Thanks!

[2021-06-17 15:10] smohantyCME commented on #11453
@copleykj I get "Package names can only contain lowercase ASCII alphanumerics, dash, dot, or colon, not "@"." while trying `http@http@2.0.0-beta230.5!`

[2021-06-17 15:16] copleykj commented on #11453
@smohantyCME it appears that you have 2 @ symbols in what you typed.. `http@http@2.0.0-beta230.5` should be just `http@2.0.0-beta230.5`

[2021-06-17 15:25] smohantyCME commented on #11453
@copleykj  Thanks, your comment 13 days ago has the 2 @ symbols though. Regardless, it still didn't like the exclamation point.

[2021-06-17 15:34] copleykj commented on #11453
@smohantyCME oh, sorry! AFAIK this should not be an issue with recent versions of Meteor. I'm unfortunately mobile for the next few hours. I will try to look into it once I'm at a proper machine.

[2021-06-17 15:35] copleykj commented on #11453
@diavrank I will try to get updated out for socialize packages in the next couple days.

[2021-06-17 20:50] jamesloper commented on #11473
The reason your publication function is going to run twice because of where the subscription is placed. In a web app such as with meteor or many frameworks, the user is actually logged out initially. Logging in happens over the network, quickly after page open. You appear to be subscribing in a logged out state, so you will get one console log. Eventually the app will log in, this will cause the s

[2021-06-17 20:56] jamesloper commented on #11450
Perhaps you have a long running function on the server involving async code that never resolves. Have you tried removing any custom onLogin handlers you might have on the server?

[2021-06-17 21:01] jamesloper commented on #11249
Is there a branch for the Node 16 project? I just want to play with it, I'll happily publish whatever I make.

[2021-06-17 23:09] RobertLowe commented on #2769
This is a legitmate bug when you have two different domains, and XHR is invoked. (For example, one in front of a CDN that doesnt support websockets, and a direct connection to the ddp to bypress that restriction)

For example:

1. ROOT_URL: somedomain.com
2. DDP_DEFAULT_CONNECTION_URL: app.somedomain.com
3. DISABLE_WEBSOCKETS=1

You will see that CORS prevent any XHR requests so the DDP entirely f

[2021-06-18 03:57] #11473 closed

[2021-06-18 13:08] Resident1981 opened #11483 "Custom sounds won't play if used custom-sound folder on rocket chat."
Rocket chat 3.15.0
node v12.22.1
OS: CentOS Linux 7 (Core)
Built-in sounds work fine.
Permit: drwxr-xr-x 2 rocketchat rocketchat 4,0K jun 18 15:50 UserSounds
Error when try to listen:
\---------
Exception in callback of async function: TypeError [ERR_HTTP_INVALID_HEADER_VALUE] [ERR_HTTP_INVALID_HEADER_VALUE]: Invalid value "undefined" for header "Content-Type"     at ServerResponse.setHeader (_htt

[2021-06-18 15:01] njneer commented on #11482
Every meteor command I run has the same error. meteor create, meteor npm install, meteor —settings , etc

[2021-06-18 17:19] zodern commented on #11455
Even if this issue didn't exist, you should restart Meteor when adding or removing npm dependencies, due to how Meteor handles in-memory caches for them. One of the caches (I'm guessing the same one causing this error) would have been fixed by https://github.com/meteor/meteor/pull/8165

[2021-06-18 18:55] attuchaudhary9 commented on #11221
const [values, setValues] = useState({
postedby: "",
description: "",
photo: "",
loading: false,
error: "",
createdPost: "",
getaRedirect: false,
formData: new FormData() //<--- fix it
});

[2021-06-19 05:58] nikparo opened #11728 "Observe-sequence error in legacy bundle"
With the latest observe-sequence package in a Meteor 2.2 app, IE complained about a syntax error - `; expected`. (We still maintain a legacy bundle, though hopefully it's on its last legs)

As far as I can tell it's caused by line [170 in observe_sequence.js](https://github.com/meteor/blaze/blob/587dec86ab0ff0c6b27df4daea88233e4a0f4c1d/packages/observe-sequence/observe_sequence.js#L170):

[code]

[2021-06-19 08:04] faburem commented on #11453
you can add all [brettle:accounts*](https://github.com/brettle/meteor-accounts-deluxe) packages to the list of incompatible packages. I have created a fork of brettle:accounts-anonymous at [faburem:accounts-anonymous](https://github.com/faburem/meteor-accounts-anonymous) - I will publish it to atmosphere as soon as Meteor 2.3 is officially released.

[2021-06-19 10:29] ajaypillay commented on #11455
Interesting, will take note of this. Adding npm dependencies works and never causes a crash, and I can access the newly installed dependencies immediately after Meteor restarts. It's only removals that cause the crash.

[2021-06-19 10:36] StorytellerCZ commented on #11249
Node 16 presents breaking changes for Meteor, but @filipenevola is working on them. We'll probably start one after 2.3 release, but don't expect it to work for a while, especially on Apple Silicon as I think that will require some extra changes in the CI to account for it.

[2021-06-19 10:42] StorytellerCZ commented on #11483
I'm closing this as this is not a Meteor bug. Please reach out to Rocket chat support/[Github](https://github.com/RocketChat)/forums to get help with this issue.

[2021-06-19 10:42] #11483 closed

[2021-06-20 08:30] dokithonon commented on #11453
Hello,
I am not sure but the package mizzao:timesync may need also a patch

`   While selecting package versions:
   error: Conflict: Constraint mizzao:timesync@0.5.1 is not satisfied by mizzao:timesync 0.1.3.
   Constraints on package "mizzao:timesync":
   * mizzao:timesync@0.5.1 <- mizzao:user-status 1.0.1`

[2021-06-21 21:17] distalx commented on #10902
Is it necessary to include these node_modules in their entirety? can we get by, by adding only `dist` code? some modules also have their documentation and examples included with them. which are of no use when we use them in production.

[2021-06-22 12:42] StorytellerCZ commented on #11453
@dokithonon for `mizzao:user-status` the fix is ready to go after Meteor 2.3 release. https://github.com/Meteor-Community-Packages/meteor-user-status/pull/145

[2021-06-23 07:53] arggh opened #11486 "CSS minification breaks CSS"
On Meteor 2.1, the following CSS is broken by Meteor minification in production builds:

[code]

it becomes:

[code]

The space after `--,` is removed, which is against the specification.

This prevents Meteor users from using the [CSS prop jockey pattern](https://github.com/propjockey/css-media-vars).

[2021-06-23 14:18] StorytellerCZ commented on #11486
There seems to be a workaround for this: https://github.com/propjockey/css-media-vars#minification
I will update the css minifiers for Meteor 2.4, but I don't now if that will fix this issue.

[2021-06-23 19:10] njneer commented on #11482
Was issue with environment variable on my system.

[2021-06-23 19:10] #11482 closed

[2021-06-23 19:29] StorytellerCZ commented on #11453
Closing this since there are no new reports, but feel free to post here and I will help you out with the PRs for compatibility in packages.

[2021-06-23 19:29] #11453 closed

[2021-06-24 10:37] jlsjonas commented on #10102
This still seems like a very relevant issue today, `meteor npm config ls` indicates it knows about the `~/.npmrc` file, however `meteor npm install` ends up erroring out on authentication failure.
env vars are only a partial workaround as scopes can be on different registries.

[2021-06-24 11:59] #9960 closed

[2021-06-24 12:18] #10591 closed

[2021-06-24 12:18] #10775 closed

[2021-06-24 22:44] ignl commented on #11453
Here is what I got when tried to update my project to 2.3:

=> Errors while initializing project:

While selecting package versions:
error: Conflict: Constraint accounts-base@1.0.1 is not satisfied by accounts-base 2.0.0.
Constraints on package "accounts-base":
* accounts-base@~2.0.0 <- top level
* accounts-base@2.0.0 <- accounts-password 2.0.0
* accounts-base@2.0.0 <- service-configuration 1.1.0

[2021-06-25 09:58] StorytellerCZ commented on #11453
@ignl `cultofcoders:persistent-session` is the problem. That package needs an update.

[2021-06-25 14:09] jasongrishkoff opened #11496 "Meteor Cordova: Non-success status code 404 for asset: /"
Running Meteor 2.2 on a Mac.  When I update my code, the automatic refresh on Cordova fails.  Works fine on web.

This might be related to https://github.com/meteor/cordova-plugin-meteor-webapp/issues/26.

The router I'm using is `meteor/ostrio:flow-router-extra`.

[code]

[2021-06-25 20:35] ignl commented on #11453
Thanks I see you've created PR, but for now I guess I will have to clone that package.

[2021-06-28 12:43] renanccastro opened #11497 "POSIX dependency crashes meteor tool on Windows"
Example output attached.
Probably related to this: https://github.com/vlasky/whomst/issues/1

C:\Users\User\dev\dom_test>meteor
[[[[[ C:\Users\User\dev\dom_test ]]]]]

=> Started proxy.
=> Started HMR server.
=> Started MongoDB.
=> Errors prevented startup:

While loading package webapp@1.11.0:
error: Command failed: C:\WINDOWS\system32\cmd.exe /c
C:\Users\User\AppData\Local.meteor\packages\meteor

[2021-06-28 12:44] StorytellerCZ commented on #11497
@renanccastro I have created the issue in whomst, it is this.

[2021-06-28 12:46] renanccastro opened #11498 "Server only file added on package.js is showing up on client bundle"
In 2.3, the package east5th:package-scan is behaving oddly. Its package.js only specifies code to be added on the server (https://github.com/East5th/package-scan/blob/master/package.js), but on 2.3 (even in an empty project with only this package and nothing else) it seems that this file is getting added to the client bundle as well.

https://github.com/East5th/package-scan/blob/master/package.js

[2021-06-28 12:49] renanccastro opened #11499 "SASS file from node_modules are not being transpiled only on --production mode"
I had in a SASS file the following import:

@import '{}/node_modules/react-credit-cards/lib/styles.scss';

this file is inside this folder: imports/app/checkout/ui/components/CreditCardIssuers.scss

when compiling for development, everything works, but when compiling for production it breaks

[code]

even if I symlink it to the /imports folder, it doesn't work.

fourseven:scss is at version 4.14.2

[2021-06-28 13:20] StorytellerCZ commented on #11498
Tested this with another package and it goes the other way as well. In `dynamic-import` client code gets added to server. What I don't get is how the tests passed...

[2021-06-28 13:21] StorytellerCZ commented on #11499
Could be related to #11486 ?

[2021-06-28 14:52] renanccastro opened #11500 "Default skeleton outputs warning on react-meteor-data"
We need to update react-meteor-data to use newest react 17, and update the default skel with the new version to stop showing this warning

![image](https://user-images.githubusercontent.com/3637255/123657523-3de94300-d807-11eb-9dcf-bcd59353c246.png)

[2021-06-28 17:30] ANUBHAV04091998 commented on #11249
thank you it worked.!!

[2021-06-28 20:48] StorytellerCZ commented on #11500
Published new versions, but `react-meteor-data` doesn't depend on React directly, only for testing. I have also bumped versions for skelets in this PR: https://github.com/meteor/meteor/pull/11501
Either way I was unable to reproduce. @renanccastro please try now within the 2.3.1 release branch and let me know if the problem persist for you.

[2021-06-28 20:50] StorytellerCZ commented on #11499
Made update to less and minifiers: https://github.com/meteor/meteor/pull/11501
Thought I don't think those are going to solve it. Could it be related to #11498 ?

[2021-06-28 20:52] StorytellerCZ commented on #11464
I'm closing this issue since we are lacking reproduction and communication from OP. Please feel free to re-open if this persist. If you just want to ask a question, please use the [Meteor Forums](https://forums.meteor.com).

[2021-06-28 20:52] #11464 closed

[2021-06-28 20:54] StorytellerCZ commented on #11446
Re-opening #10853 and closing this issue.

[2021-06-28 20:54] #11446 closed

[2021-06-28 20:55] StorytellerCZ commented on #10853
This issue persists as per #11446, which was closed as a duplicate of this one.

[2021-06-29 12:58] renanccastro commented on #11497
Removing posix from npm-shinkwrap fixes the issue, as it's a optional dependency.
I will close this issue for now, as it's fixed on 2.3.1-beta.1, but @vlasky might want to revisit this.

https://github.com/meteor/meteor/pull/11491/commits/dcb7dcc82bcc0b0b87f5b82bee608ceae4d0aa28

[2021-06-29 12:58] #11497 closed

[2021-06-29 19:35] evolross commented on #11307
Finally tried to create a repo for this and upon a deeper investigation, the previous token indeed returns **Token Expired** as expected. My apologies for this one. I didn't fully investigate when my security researcher reported it.

They probably saw that it allows you to enter a new password but didn't test that it returns **Token Expired** upon actually trying to set it.

[2021-06-29 19:48] renanccastro commented on #11499
I'm closing this issue here in favor of: https://github.com/Meteor-Community-Packages/meteor-scss/issues/309

[2021-06-29 19:48] #11499 closed

[2021-06-29 20:12] StorytellerCZ commented on #11307
No worries, I'm glad that everything checked out.

[2021-06-30 20:53] renanccastro commented on #11498
I'm closing this bug as we saw that meteor 2.3 is installing east5th:package version 0.0.1 by default, which is expected as after .1 they added a core dependency to the list (HTTP) which is incompatible with meteor 2.3 without the author update.

[2021-06-30 20:53] #11498 closed

[2021-06-30 22:49] StorytellerCZ commented on #11496
Hi @jasongrishkoff could you check that the route to the asset is correct? It is complaining about asset `/` which suggests to me that you might have some strange route or something along those lines and that the web version is just more permissive towards those errors. If you could isolate that and provide a reproduction that would be great!

[2021-07-01 13:00] #11466 closed

[2021-07-01 13:45] renanccastro opened #11509 "Make AAB the default format for building Android apps"
Instead of outputting an apk file, start outputting aab as the default. We should also give the option to produce apk files.

*Google Play will start requiring new apps to be published with the Android App Bundle starting August 2021* - https://android-developers.googleblog.com/2021/06/the-future-of-android-app-bundles-is.html

[2021-07-01 14:17] StorytellerCZ commented on #11509
Wow, only a month of notice. Given that it is the new standard it should be the default, but I agree that we should still allow to create apk files as well for edge cases where it is still needed.

[2021-07-01 14:28] #11500 closed

[2021-07-01 22:02] StorytellerCZ commented on #11479
@ksinas could you please test the latest version of the fix? Me and @renanccastro did a test on it and it worked, but I would like to extend our sample before we release the fix.

[2021-07-02 09:04] StorytellerCZ commented on #11479
By the way, this bug is fixed in Safari 14.1

[2021-07-02 09:28] ksinas commented on #11479
The fix works. But it would have also worked if only one line was added `var idb = global.indexedDB;`. Since the implementation is only targeting Safari, maybe it's an overkill if you can fix it just with this "magic" reference :)

[2021-07-02 09:43] ksinas commented on #11479
I tested on Safari 14.1.1 and the issue still exists. Maybe it will be fixed in the next release

[2021-07-02 13:19] #11479 closed

[2021-07-03 16:26] rj-david opened #11513 "APM Error: discarding invalid livedata message"
- The version of Meteor showing the problem.
Meteor 2.3
- The last version of Meteor where the problem did _not_ occur, if applicable.
Meteor 2.2
- The operating system you're running Meteor on.
Ubuntu

We started receiving this error in APM since we upgraded to Meteor 2.3: `discarding invalid livedata message`

[2021-07-03 18:53] StorytellerCZ commented on #11509
Will, be released in Meteor 2.3.1

[2021-07-03 18:53] #11509 closed

[2021-07-04 12:29] Ashedragon commented on #11497
@renanccastro Is there a guide on how I'd install 2.3.1? I can't seem to even get started with meteor due to this issue.

[2021-07-05 00:45] nsinfoPRO opened #11518 "Errors while creating your project While loading package webapp@1.11.0"
Running latest meteor version 2.3, node v14.17.1 and npm 6.14.13 on windows 10 10.0.19041 Build 19041. When creating project I'm getting error "Errors while creating your project  While loading package webapp@1.11.0"

`Errors while creating your project

While loading package webapp@1.11.0:
error: Command failed: C:\Windows\system32\cmd.exe /c
C:\Users\xxx\AppData\Local\.meteor\packages\meteor-too

[2021-07-05 07:22] StorytellerCZ commented on #11497
@Ashedragon on Windows I have just published version 2.2.2 of the installer, so you can go through there. 2.3.1 will come out in the next few days.

[2021-07-05 07:25] StorytellerCZ commented on #11518
@nsinfoPRO can you please try with the latest 2.3.1 beta?

[2021-07-05 11:01] nsinfoPRO commented on #11518
@StorytellerCZ which command line should I run to install latest 2.3.1 beta with npm? 4 hours ago new meteor version 2.2.2 was published, is that beta maybe?

[2021-07-05 11:02] StorytellerCZ commented on #11518
I think this might be just a duplicate of #11497
Updating to `2.3.1-rc.0` will tell us if it is or isn't.
On Windows it works the same as everywhere else. The npm package is just an installer. So try `meteor update --release 2.3.1-beta.3` in the app.

[2021-07-05 12:44] StorytellerCZ commented on #11518
Or just try to update to `webapp@1.11.1` which should fix the issue.

[2021-07-05 14:30] nsinfoPRO commented on #11518
In ...meteor\local\resolver-result-cache.json I changed webapp@1.11.0 to webapp@1.11.1 and its working now

[2021-07-06 10:17] Quaziz-creator commented on #4121
Looks to me that handlebars is yet another sucky template engine :p

[2021-07-07 18:15] filipenevola commented on #11402
@brucejo75 @crapthings see my comment here https://github.com/meteor/meteor/pull/11506#pullrequestreview-701305997 because maybe it could also provide new insights to you.

I can detail more the solution that I currently use in my Cordova apps with multiple backends if you want to 😉

[2021-07-07 19:36] brucejo75 commented on #11402
Thanks @filipenevola for looking at this closely!

If I understand your solution using app preferences, you are using app preferences to set global parameters like `ROOT_URL` at startup.  PLEASE CORRECT ME IF I AM WRONG.

Could it be possible you are modifying what `cordova-plugin-meteor-webapp` sees as `ROOT_URL` through app preferences?  Here are the only [references to `ROOT_URL`](https://githu

[2021-07-07 20:22] filipenevola commented on #11402
Hi @brucejo75 I'm not questioning your solution at all.

I was just explaining how I solve in my apps without your change but your change is good.

And no, my solution is not like you are describing.

Think about an event app hosted at myevents.com, on web we can have multiple domains on Galaxy and you can get this information from your connection to delivery a different content to each event doma

[2021-07-07 21:24] brucejo75 commented on #11402
Sorry @filipenevola didn't mean to sound so demanding, I was hoping you had a better solution! 😸
And I was looking for some feedback re:my solution.

Thanks for the explanation of your solution, that makes sense.  But still only 1 `ROOT_URL`.  So unfortunately, something like the PR is required to handle the scenarios above... 😞

Thanks again!

[2021-07-07 21:51] jamesgibson14 commented on #11402
Hi @brucejo75,  I am sorry I haven't replied, I did get a chance to read through your example and code and it looks like it will meet the requirements for my projects. Unfortunately I haven't had a chance to test it, I have been really busy with some clients going live. I hope to actually test it out in the next week or two, and give you more feedback.

[2021-07-08 01:45] crapthings commented on #11402
yes, without dynamic root_url, the default ddp connection(instance) that always point to built one.
when we don't want to multiple ddp connections(instances), we just want to switch the ddp to specify one.

we can simply disconnect default connection like

[code]

but when you reload browser on desktop or cordova, the root_url will replaced by the original one from __meteor_runtime_config__.

our

[2021-07-09 04:31] gokhanmelma commented on #9075
If you are on React application, this should work:

`react-scripts --max_old_space_size=4096 start`

[2021-07-09 14:45] pfafman opened #11525 "BABEL_PARSER_SYNTAX_ERROR error with 2.3.1 when using d3"
Getting BABEL_PARSER_SYNTAX_ERROR when starting up meteor on 2.2.1, 2.3 or 2.3.1.  Report here is for 2.3.1

Steps to reproduce:

1. create a todo app with blaze:
2.

[2021-07-09 17:12] StorytellerCZ commented on #11525
Is it the same as before or is it coming from a new package? Sadly the output here isn't of much help.

[2021-07-09 17:17] StorytellerCZ commented on #11525
Probably again this: https://github.com/d3/d3-array/issues/216

[2021-07-09 17:22] StorytellerCZ commented on #11525
This issue tracks it in Babel: https://github.com/babel/babel/issues/11038

[2021-07-09 18:16] pfafman commented on #11525
I saw the babel issue but looks like no one has done anything in 6 months.  The thing I am trying to tack down is why any version prior 20 meteor 2.2.1 works

As stated this is just the example code with d3 added in.  No new package and the output is all babel gives me.

[2021-07-09 18:20] pfafman commented on #11525
Any of my projects with d3 gets the same error.  If someone is using d3 with meteor 2.2.1 or greater and it is working would like to know.

[2021-07-09 22:12] StorytellerCZ commented on #11525
:thinking: I think that it could be either babel/typescript updates or maybe one of the babel related dependencies. We should probably try to play with those for now.

[2021-07-10 04:09] Haaffin opened #11526 "When attempting to create an app, creation fails with an error."
Hello! I'm currently using version 2.3 of meteor and on windows 10.

When I try to use the create app command, it throws this error and I have absolutely no idea what's happening.

[code]

[2021-07-11 11:43] lauff opened #11538 "production build fails with blaze-hot"
After adding

- hot-module-replacement@0.2.1
- blaze-hot@1.1.0

the production build fails with error

`
Errors prevented bundling:
While building for web.browser:
packages/blaze-hot/hot.js: [BABEL]
/builds/lauff/clubmgr/packages/blaze-hot/hot.js: React Refresh Babel transform should only be enabled in development environment. Instead, the environment is: "production".
`

It looks like the package

[2021-07-11 12:32] pfafman commented on #11525
Downgrading to d3 v5 removes the error when using meteor 2.2.1 -2.3.1

Downgrading meteor to 2.2 removes the error when using d3 vs 7

Commenting out the lines in the `cumsum.js` file in d3 which is where the error is coming from.
or editing it to make it a little more readable:

[code]

Since the babel npm version is the same in all the above combinations I think it is how the newer versions of m

[2021-07-12 18:43] edemaine opened #11529 "test-packages ./ can't load jquery / blaze"
Meteor 2.2.1 (at least on Windows 10) doesn't seem to be able to run `meteor test-packages ./` on old repositories that use Blaze, because of a failure to include the `jquery` NPM package.

## Reproduction

Here's an example from [this post](https://github.com/meteortesting/meteor-mocha/issues/82#issuecomment-451548538):

1. `git clone https://github.com/cquencial/meteor-bpmn-engine.git`
2. `cd me

[2021-07-12 19:07] StorytellerCZ commented on #11529
Thanks for the reproduction! I'll take a look. It indeed sounds strange. Quickly looking at the package file of meteor-file-collection there are better ways to do the versions today (`api.versionsFrom`), but that is a mute point. After running it on Linux I also get errors about missing Blaze and other packages. I have seen this error before, I will dig around to see if the what needs to be done t

[2021-07-12 19:09] StorytellerCZ commented on #11526
Hello @Haaffin
Thanks for the report! I'll look into it. Just out of curiosity, are you running this in command prompt or power shell?

[2021-07-12 21:17] StorytellerCZ commented on #11513
Could be potentially related to handshake between client and server which was adjusted going to 2.3.

[2021-07-12 21:21] StorytellerCZ commented on #11526
@Haaffin also have you tried again recently? Windows is still a bit fickle with Node related stuff from my experience.

[2021-07-12 21:28] Haaffin commented on #11526
I've tried multiple times and have even tried completely reinstalling. the only thing i haven't done is try and use different app types if you want me to do that ( :

i've only tried it with React

[2021-07-12 21:56] zodern commented on #11526
This might be the same issue as https://github.com/meteor/meteor/issues/10930#issuecomment-678580436 where it is loading the wrong version of an npm package. @Haaffin is there a `node_modules` directory in any of the folders between `C:\` and `C:\Users\haaff\AppData\Local` with `semver`?

[2021-07-13 01:38] Haaffin commented on #11526
@zodern there is, yeah.

[2021-07-13 01:57] zodern commented on #11526
If you are able to remove it, it should fix the error.

[2021-07-13 05:03] Haaffin commented on #11526
No longer getting the "semver is not a constructor" error but instead im getting this:

[code]

[2021-07-13 13:10] StorytellerCZ commented on #11526
Update WebApp, that should fix the issue.

[2021-07-13 19:01] ensemblebd commented on #11509
`meteor run android`
[code]

[2021-07-13 19:42] renanccastro commented on #11509
thanks for reporting @ensemblebd it must have used a local cache because I ran this command locally for testing.

Anyway, can you please give it a try on Meteor 2.3.2? Use meteor update --release 2.3.2

[2021-07-13 20:16] ensemblebd commented on #11509
confirmed fix for me, thank you!!
Very awesome release this one, tons of great changes same as last release too. Thank you very much; you guys are the best <3

[2021-07-13 22:03] nosizejosh opened #11536 "meteor update from 2.2 to 2.3.2 failing"
[code]

[2021-07-14 02:19] Haaffin commented on #11526
Even after updating WebApp it still throws the same error so unfortunately I think I'm gonna have to pass on Meteor (,:

[2021-07-14 08:02] StorytellerCZ commented on #11536
Hi @nosizejosh could you please provide more details? What command are you running, what OS, etc.

[2021-07-14 08:08] StorytellerCZ commented on #11526
`Failed at the posix@4.2.0 install script` shows that you don't have the latest WebApp version where this has been removed. What is the latest error you are getting? Have you updated to Meteor 2.3.2?

[2021-07-14 15:44] zodern commented on #11538
It is a core Meteor package.

I've transferred this issue to the Meteor repository since it has the react-fast-refresh package.

[2021-07-14 17:59] pozylon opened #11539 "Usage of async_hooks / AsyncLocalStorage conflicts with Meteor 2.3+ / Node 12+"
It seems like Meteor makes it impossible to use AsyncLocalStorage for own purposes:

[code]

[2021-07-14 18:30] StorytellerCZ commented on #11539
Hi @pozylon can you share with us what you are trying to do and the code you are calling?

[2021-07-14 20:01] filipenevola commented on #11539
Hi @pozylon while we don't have more details you can also check this [discussion](https://github.com/meteor/meteor/discussions/11505).

And also my answer [here](https://github.com/meteor/meteor-feature-requests/issues/392#issuecomment-855389475) and this PoC [here](https://github.com/filipenevola/fibers-and-async-storage#readme).

As you can see in the discussion we have a plan in place (and alre

[2021-07-14 21:34] pozylon commented on #11539
https://github.com/unchainedshop/unchained/blob/master/packages/api/createGraphQLServer.js#L113
[code]

calls "withContext", which basically just runs the ApolloServer under Meteor wrapped in a
https://github.com/unchainedshop/unchained/blob/8ad4fe3a4e3c475ede53e98f184e7575c9a1c747/packages/utils/context.js#L7
[code]

You can checkout https://github.com/unchainedshop/unchained locally then locally

[2021-07-15 08:14] Torgen opened #11540 "Repeated changes to files aren't detected under 2.3.2"
Repro:
- Run meteor tool in a repo and open the app in a browser.
- Edit a client-side file, such as an HTML template or LESS file. Meteor tool will say "Client modified -- refreshing" and the client will reload if necessary.
- Edit the same file again.

Expected behavior: Meteor says "Client modified -- refreshing" again (possibly with a x2) and the client reloads again.
Actual behavior: Meteor t

[2021-07-15 08:19] StorytellerCZ commented on #11042
I'm closing this issue because we haven't heard anything here for a while. Feel free to put reproduction here and we'll re-open this.

[2021-07-15 08:19] #11042 closed

[2021-07-15 15:21] fpreti commented on #11536
I have a similar problem..I'm upgrading from version 2.2.1 to 2.3

`=> Errors while initializing project:

While selecting package versions:
error: Conflict: Constraint accounts-base@1.1.3 is not satisfied by accounts-base 2.0.0.
Constraints on package "accounts-base":
* accounts-base@~2.0.0 <- top level
* accounts-base@1.1.3 <- useraccounts:core 1.14.2
* accounts-base@2.0.0 <- service-configurati

[2021-07-15 19:26] lmf-git opened #11542 "Bad example"
![image](https://user-images.githubusercontent.com/67340984/125845985-0896e0f6-587b-4d80-a090-b8b05b912487.png)

[2021-07-15 20:05] StorytellerCZ commented on #11542
As far as I know meter.com is not a meteor app.

[2021-07-15 20:05] #11542 closed

[2021-07-15 20:08] StorytellerCZ commented on #11536
@fpreti the error tells you exactly what the problem is. `accounts-base@1.1.3 <- useraccounts:core 1.14.2`
You need to upgrade `useraccounts:core` to a version that supports accounts v2 and the same applies for `ostrio:files` and `cfs:http-methods 0.0.32 <- tap:i18n 1.8.2` for http v2.

[2021-07-15 20:12] StorytellerCZ commented on #11536
For example `ostrio:files` v2 is all upgraded.

[2021-07-15 20:19] StorytellerCZ commented on #11536
@nosizejosh I just checked and the file the package is trying to download doesn't exist, so this is not an issue with Meteor. As such I'm closing this issue.
The issue is already documented in the package: https://github.com/meteor-vue/vue-meteor/issues/430

[2021-07-15 20:19] #11536 closed

[2021-07-15 20:46] filipenevola commented on #11542
Meteor.com is a Webflow website.

[2021-07-15 21:36] fpreti commented on #11536
ok, there is no version of useraccount:core, useraccount:unstyled and useraccount:iron-routing that supports accounts-base@2.0.0. Do you have a suggestion on how to replace these libraries?

[2021-07-16 08:44] larswolter opened #11543 "Package downloads not possible - the certificate of https://warehouse.meteor.com is invalid"
Downloads of meteor packages arent possible anymore, because the certificate is not valid anymore.

[2021-07-16 09:30] JH7 commented on #11543
I think the problem is the certificate of warehouse.meteor.com. According to this screenshot, the certificate has expired today:

<img width="651" alt="grafik" src="https://user-images.githubusercontent.com/8239699/125926187-b8178328-2ab7-4f60-b488-8297f9aa571c.png">

[2021-07-16 10:47] lmf-git commented on #11542
That’s even worse.

On Thu, 15 Jul 2021 at 21:46, Filipe Névola ***@***.***>
wrote:

[2021-07-16 11:00] maxfi commented on #11441
I've just had the same issue: `Sorry, this project uses Meteor 1.12.1, which is not installed and could not be downloaded. Please check to make sure that you are online.` on Bitbucket Pipelines. I haven't changed anything in the build process and it was been working fine for the last few months...

[2021-07-16 11:11] macrozone commented on #11543
this is very critical to me right now. Anyone knows a workaround for CI/CD pipelines? (its using a node:12 base image)

[2021-07-16 11:16] JH7 commented on #11543
Maybe one could use the environment variable `NODE_TLS_REJECT_UNAUTHORIZED=0` to skip the certificate validation of the `meteor` tool, I'm testing that right now

[2021-07-16 11:20] macrozone commented on #11543
@JH7 yeah, me too i am testing this right now, thank you :-)

[2021-07-16 12:51] renanccastro commented on #11543
Renewed, thanks for reporting guys.
Seems like this one passed our SSL monitoring list.
We have taken measures for this never to happen again!
Sorry for that!

[2021-07-16 12:51] #11543 closed

[2021-07-16 13:44] malua commented on #10495
sombody in the forum has found a pretty straight forward and working solution!

https://forums.meteor.com/t/meteor-1-10-ionic-5-react/53481/10

[2021-07-16 15:02] xet7 opened #11544 "non-SMTP transport to email package?"
Hi,
for nodemailer service, it looks like email package only has SMTP transport?
- https://github.com/meteor/meteor/blob/devel/packages/email/email.js#L26
- https://github.com/meteor/meteor/blob/devel/packages/email/email.js#L156

Or is it possible to select another `service`? So if protocol is not `smtp`, for example

a) use protocol with URL like `Outlook365://username:password@...` ? Nodemailse

[2021-07-16 15:51] xet7 commented on #11544
@StorytellerCZ commented today at Meteor Slack: "I plan to start next week working on a new version of the e-mail package. I will look into this."

When I tested sending with O365 using this `service: "Outlook365"`, it did work.

But using [SMTP only with command line](https://github.com/wekan/wekan/wiki/Troubleshooting-Mail#example-aws-ses-sending-email-with-command-line) for `smtp.office365.com:

[2021-07-16 19:59] softwarecreations commented on #9255
I can confirm the issue appears to be resolved on Firefox Developer Edition 91.0b3 (64-bit) and Meteor 2.2

[2021-07-16 20:23] softwarecreations commented on #11388
Just mentioning incase anyone else runs into this issue still...
@filipenevola I just want to mention that I'm running the versions you mentioned, but the issue persists on older versions of firefox.
A more detailed breakdown of which versions it happens in is in my post here:
https://github.com/meteor/meteor/issues/9255#issuecomment-881684974
So it seems like you need to update your Meteor stuff

[2021-07-17 00:04] filipenevola commented on #11496
I'm closing this issue because we haven't heard anything from the original poster for a while.

[2021-07-17 00:04] #11496 closed

[2021-07-17 21:27] wreiske opened #11546 "Updating from 2.0 to 2.3.2 fails with 502 error"
Today I went to run a meteor update and the update failed with a 502.

Running on macOS Big Sur 11.4 (20F71).
<img width="698" alt="Screen Shot 2021-07-17 at 2 28 51 PM" src="https://user-images.githubusercontent.com/6295044/126049752-33b4eb62-2564-4828-bb19-982af0c928d9.png">

[code]

[2021-07-17 21:33] wreiske commented on #11546
For what it's worth, I visited the URL several times and it returned a 502. I just tried it again and it downloaded the update bundle.

I'll leave this open for now so the appropriate parties are notified that there was an intermittent issue with the warehouse they may want to investigate.

Thanks!

[2021-07-18 06:58] jmdsg commented on #10767
I'm having the same issue here.
I think that the current solution is overkill. I now that using gzip, and having this data repeated (a lot), makes the final js to have a lower entropy, and the compression rate to be higher. But still the bundle size becomes way to big for larger projects.

The current solution makes that every since file in the app, that apparently can be lazily imported (includin

[2021-07-18 10:04] jmdsg commented on #10767
Just to give an example, i mean something like:

[code]

It easier to handle, just access by index. And if not all the deps are versioned, then another array indicating which ones are versioned, can be used `var versioned = [1, 3];`

[2021-07-18 12:10] s7dhansh commented on #11453
Can someone assist with understanding this?

[code]

It says http@1 in top level but I am unable to update the top level `http`, on account of ecmascript, which further fails due to promise and dynamic-import. I am unable to figure out the problematic package. What's the way to identify the same?

[2021-07-18 12:26] s7dhansh commented on #11453
Also, @StorytellerCZ kindly send a pr to https://github.com/stubailo/meteor-rest/tree/master/packages/authenticate-user-by-token. I am not sure if we need to do something extra to update accounts packages.

[2021-07-18 18:26] renanccastro commented on #11546
Thanks @wreiske
We fixed it in this issue: https://github.com/meteor/meteor/issues/11543#issue-946076145

[2021-07-18 18:26] #11546 closed

[2021-07-18 18:37] wreiske commented on #11546
I don't think this is the same issue. A 502 doesn't have anything to do with a bad certificate, unless of course the bad certificate lived on a backend server behind warehouse and warehouse was validating certificates itself. It looks like this issue occured after the SSL certificate was fixed as well.

I was getting a valid certificate when trying to download the latest bundle.

Are you sure they

[2021-07-18 18:46] renanccastro commented on #11546
You are right! They are not, sorry.
I assumed it was the same thing as we had a lot of reports because of the certificate issue.
Sorry for that.
---
We do serve every file from the warehouse with a CDN. This error might be a temporary issue on their side, as there is no status page opened on it. I will dig some more and let you know.
Please let us know if this happens again anytime at support@mete

[2021-07-18 23:54] filipenevola commented on #11544
Hi @xet7 I believe it would be nice as a [discussion](https://github.com/meteor/meteor/discussions) following our feature request [guidelines](https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#feature-requests).

What do you think?

[2021-07-19 07:37] StorytellerCZ commented on #11453
@s7dhansh try `meteor update --allow-incompatible-update`

[2021-07-19 07:42] StorytellerCZ commented on #9255
Yes, that is likely. Since it looks like a new version of Firefox fixes the issue I'm closing the issue. Feel free to post here if this re-appears in new versions of Firefox.

[2021-07-19 07:42] #9255 closed

[2021-07-19 07:43] StorytellerCZ commented on #11441
Yes, there have been issues with servers. Should get resolved soon.

[2021-07-19 07:46] StorytellerCZ commented on #10495
Awesome! @malua would you consider adding a section in the guide with the solution?

[2021-07-19 08:01] #11544 closed

[2021-07-19 09:48] s7dhansh commented on #11453
Nope. Same Error.

[2021-07-19 12:23] StorytellerCZ commented on #11453
Try removing and adding the package again. Also is there more to the error or what you show us is it?

[2021-07-19 13:43] s7dhansh commented on #11453
Already tried without any success. And no, that's the entire error. In case of remove and add (`meteor remove http; meteor add http@2.0.0` the error is different.
[code]

[2021-07-19 14:01] s7dhansh commented on #11453
Ok. What worked was:
[code]

[2021-07-19 16:29] s7dhansh commented on #11453
Kindly help me with this PR.

[2021-07-19 18:57] hexsprite commented on #10495
The guide is going to suggest that Meteor users patch their copy of the package as an official solution? Sounds kind of sketchy.

Other ideas:

- submit a patch to the Ionic project with rationale
- maintain a list of exceptions in the Meteor build tool that will automatically favor the browser entry point

[2021-07-20 02:51] maxfi commented on #11441
Thanks @StorytellerCZ. It's working again now. What can I do to avoid this in the future? Is it possible to install a specific meteor version in my CI docker image and avoid server issues? TIA. 🙏

[2021-07-20 03:07] MrCrazyCrab commented on #11441
@StorytellerCZ  i pointed out this issue about two months ago, i didn't got any useful information to resolve it. So i have abandon and use other tools to replace it.

[2021-07-20 06:43] StorytellerCZ commented on #11453
@s7dhansh https://github.com/stubailo/meteor-rest/pull/162

[2021-07-20 14:20] StorytellerCZ commented on #10495
The guide would have to suggest that there is a workaround. If anyone wants to go ahead and make that fix to Ionic that would be great.

[2021-07-20 14:24] StorytellerCZ commented on #10247
Since we have a resolution for the issue I'm closing this issue. This is a good issue to submit to the docs or guide if someone is interested.

[2021-07-20 14:24] #10247 closed

[2021-07-20 14:26] StorytellerCZ commented on #9867
@zodern is this still something you want to address?

[2021-07-20 15:29] brianlukoff commented on #11513
We are seeing the same thing after upgrading to 2.3.

[2021-07-22 07:50] mjcctech opened #11555 "App.launchScreens() is not working for iOS in Meteor 2.2"
### Description
In Meteor 2.2 cordova was updated to version 10. This cause update cordova-plugin-splashscreen which does not support Legacy splashscreens for iOS anymore.
Here is cordova-plugin-splashscreen  documentation https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-splashscreen/index.html#ios-specific-information.
Here is similar issue https://github.com/apache/cordova-ios/

[2021-07-22 09:36] QCTW commented on #11415
Thanks for the reply @StorytellerCZ But how can I install a beta version with npm install? Sorry I am new to npm on Windows...

Thank you.

[2021-07-22 09:47] QCTW commented on #11415
Same issue in 2.3.3

C:\Users\quincy.hsieh\AppData\Roaming\npm\meteor -> C:\Users\quincy.hsieh\AppData\Roaming\npm\node_modules\meteor\meteor.bat
C:\Users\quincy.hsieh\AppData\Roaming\npm\meteor-installer -> C:\Users\quincy.hsieh\AppData\Roaming\npm\node_modules\meteor\cli.js

Downloading |░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░| 0%events.js:352
      throw er; // Unhandled 'error' event
      ^

[2021-07-22 10:24] QCTW commented on #11415
For someone who encountered the same issue on Windows, the best way is to disable rejecting unknown CA by

Now the command 'npm install -g meteor' works on Windows under the Git bash with NodeJS installed.

[2021-07-23 07:59] StorytellerCZ commented on #11415
Adding this fix to documentation.

[2021-07-23 08:00] #11415 closed

[2021-07-24 04:41] vlasky commented on #11497
I have released [@vlasky/whomst 0.1.7](https://www.npmjs.com/package/@vlasky/whomst).

`package-lock.json` has been removed, which should eliminate problems when building under platforms that don't support posix.

[2021-07-24 17:23] bluefangs commented on #11525
I hit upon a very similar error with @amcharts/maps. Downgrading to 2.2 seems to solve the issue for now.

[2021-07-24 17:53] derwaldgeist commented on #11525
Unfortunately, that affects any library that is using D3 under the good. We’re using react-globe-gl and fell into the same trap when upgrading Meteor to 2.2.1.

[2021-07-26 05:16] rj-david commented on #11513
Here is the change that added the debug message. It's possible that the cause to be happening even before 2.3
https://github.com/meteor/meteor/commit/d53ab4cd177413055402f7cf3db9936c209d935f

[2021-07-26 08:17] StorytellerCZ commented on #11513
We could potentially not report the discarded message, but I don't think that is a good approach. I will update the affected code to use the logging tool so that the debug message won't appear in production.

[2021-07-26 14:12] lmf-git commented on #11542
Does Meteor integrate with Webflow? Lol

[2021-07-26 19:16] hmassareli commented on #10036
I am facing the same problem after all

[2021-07-26 19:17] StorytellerCZ commented on #10036
@hmassareli what version of Meteor are you on?

[2021-07-26 19:18] hmassareli commented on #10036
I've just installed it, let me check...

[2021-07-26 19:19] StorytellerCZ commented on #10036
And I'm guessing that you are on Windows (just to confirm).

[2021-07-26 19:21] hmassareli commented on #10036
2.3.2

[2021-07-26 19:22] hmassareli commented on #10036
Yes, I am!!

[2021-07-26 19:22] hmassareli commented on #10036
I've done that recommendation of reinstalling the vsc++ and stuff but nothing happened

[2021-07-26 19:23] StorytellerCZ commented on #10036
A wild guess, try installing this:
https://aka.ms/vs/16/release/vc_redist.x64.exe

Since we are using newer MongoDB then what the docs say there this one might be the correct one.

[2021-07-26 19:29] hmassareli commented on #10036
Yes I did this yesterday a bunch of times, I don't know why it still showing an error..
Just a question.. Am I supposed to set up something of mongodb before running meteor? Cause I just created a folder and installed everything and then created a test app, then I tried to run that in the folder with "meteor run".. Is that right? Do you think the folder that I installed the app could be a problem?

[2021-07-26 19:33] StorytellerCZ commented on #10036
No, you are doing it correctly. Meteor runs its own Mongo instance, so unless you want to get fancy it should just run.

I would suggest giving a standalone MongoDB server a try (get the 4.4.7 version):
https://www.mongodb.com/try/download/community

See if you can start that one up. If there is something specific to Windows that we are missing here it might be possible that MongoDB installer will

[2021-07-26 19:55] hmassareli commented on #10036
Ok!! I will try that out, thanks

[2021-07-26 20:30] hmassareli commented on #10036
Thaaanks, I downloaded that, installed a new meteor in a new folder, and then created a project, now everything works fine!!

[2021-07-26 23:28] hashcutdev commented on #11453
Many thanks @faburem . Is there any chance you've updated the other brettle packages? I think the hardest one might be brettle:accounts-patch-ui which monkey patches the accounts UI packages. I can take a look through the package too and see what I can do, but just wanted to see if you're working on the other packages already.

[2021-07-27 03:40] pjbrow commented on #11540
@zodern I am getting almost exactly the same error when upgrading from Meteor 2.2.  No problem in @2.2.

I am getting this when editing React `*.js` filed.

OS: MacOS Big Sur v 11.4

[2021-07-27 07:53] faburem commented on #11453
Hi @hashcutdev,
sorry but I am only forking packages I plan to maintain longterm, that means I usually use them in one of my projects which is unfortunately not the case for the other brettle packages.

[2021-07-27 09:16] StorytellerCZ commented on #11525
Looks like they have made another go at fixing this: https://github.com/babel/babel/pull/13581

[2021-07-27 09:19] StorytellerCZ commented on #11525
I'm guessing it will be in Babel 7.14.9. I will update all the packages when it comes out.

[2021-07-27 09:21] StorytellerCZ commented on #11497
I will get an update out ASAP.

[2021-07-27 11:09] derwaldgeist commented on #11525
Thanks. Any chance to get this down ported to 2.2.1? I’m hesitating to upgrade to Node 14.

[2021-07-27 11:53] StorytellerCZ commented on #11529
I have tried both reproductions and I am unable to get the error. Please try updating to latest Meteor and check if things still fail for you. If you could provide a reproduction repository that would be great.

[2021-07-27 12:17] StorytellerCZ commented on #11525
@derwaldgeist I'll look into it once the fix comes out.

[2021-07-27 17:33] edemaine commented on #11529
Indeed, the latest Meteor (2.3.2) seems to fix the problem. Thanks!

[2021-07-27 17:33] #11529 closed

[2021-07-27 20:23] filipenevola commented on #9791
I'm closing this issue because we haven't heard anything from the original poster for a while.

[2021-07-27 20:23] #9791 closed

[2021-07-27 20:24] filipenevola commented on #10020
I'm closing this issue because we haven't heard anything from the original poster for a while.

[2021-07-27 20:24] #10020 closed

[2021-07-27 20:26] filipenevola commented on #11143
We are centralizing all the issues caused by Fibers [here](https://github.com/meteor/meteor/discussions/11505)

[2021-07-27 20:26] #11143 closed

[2021-07-27 20:27] filipenevola commented on #11246
As this is not supported it should be handled starting a discussion with a [feature request](https://github.com/meteor/meteor/blob/devel/CONTRIBUTING.md#feature-requests).

[2021-07-27 20:27] #11246 closed

[2021-07-27 20:27] filipenevola commented on #11239
I'm closing this issue because we haven't heard anything from the original poster for a while.

[2021-07-27 20:27] #11239 closed

[2021-07-27 20:28] filipenevola commented on #11323
I'm closing this issue because we haven't heard anything from the original poster for a while.

[2021-07-27 20:28] #11323 closed

[2021-07-27 20:29] filipenevola commented on #11324
I'm closing this issue because we haven't heard anything from the original poster for a while.

[2021-07-27 20:30] filipenevola commented on #11335
As we still don't have a reproduction in latest Meteor apps I'm closing this issue.

[2021-07-27 20:30] #11335 closed

[2021-07-27 20:33] zodern commented on #11335
I was able to reproduce, and this will be fixed in my next PR.

[2021-07-28 01:06] TimHeckel commented on #10902
Yeah - not stale.

[2021-07-28 02:40] ensemblebd commented on #10902
I believe the logic the engineers meant this for, was to ensure that precisely what is used locally is what ends up on the server.
Since npm can get pretty wonky back in the day before package-lock.json.
Even still, package-lock.json cross platform is a serious issue too. God save the man who must use node-gyp cross platform.

But i decided to disable it anyway. I don't think meteor would be proud

[2021-07-28 03:28] BodhiHu commented on #10060
same issue here
using a vpn is still very slow (though youtube, google .etc are loading fast):

[code]

[2021-07-28 06:16] cpravetz opened #11560 "meteorapp CORS"
I recently launched an app on galaxy that has been working well on heroku.  I am getting CORS error as shown here

[code]
This issue relates to the CORS errors beginning three lines down.  The cordova plugin issue in line 1 is, I think, not related. Since dunedin.meteorapp.com is the server for this application, I'm doubly confused by the policy issue.  I'm posting this as an issue since it works

[2021-07-28 07:55] StorytellerCZ commented on #11526
I'm closing this issue because we haven't heard anything from the original poster for a while. This looks like an issue that has been fixed already in the latest Meteor as well.

[2021-07-28 07:55] #11526 closed

[2021-07-28 07:57] StorytellerCZ commented on #11382
Please test the proposed PR and let us know what impact it had so that we can move forward with releasing or improving it.

[2021-07-28 08:01] StorytellerCZ commented on #11378
@zodern do you think it would be possible to add the error message per @radekmie suggestion. If I have some time I will look into it myself, but you know that area so you probably have a better idea.

[2021-07-28 10:44] jasongrishkoff commented on #11324
This is still an issue for me. Have to refresh if I add a new import.
If I add this line to `/imports/client/songs/home.jsx':
`import About from "/imports/client/messages/about"`
Then I get this error:
[code]

[2021-07-28 11:46] d62remi commented on #10495
I think it's happening here in Stencil :

https://github.com/ionic-team/stencil/blob/45388e95edb46ef357eb9ae37cd32bbb5bc1ed23/src/compiler/output-targets/output-lazy-loader.ts#L28

What do you think ?

[2021-07-28 14:02] denihs commented on #11560
Hi @cpravetz, could you open a ticket at suppor@meteor.com? We can probably help you better there, as we will know your account and etc. As this doesn't seem to be a direct problem with Meteor itself, I'll close this issue.

[2021-07-28 14:02] #11560 closed

[2021-07-28 22:01] filipenevola commented on #11555
Hi @mjcctech in which version were you using `App.launchScreens` this way?

In my projects I'm using like this:
[code]
For at least 1 year already.

Of course we could improve `launchScreens` method to support this case as well but I first I would like to understand in which version it was working for you so we can narrow down the issue better. We want to improve the configurations available in th

[2021-07-28 22:02] diavrank opened #11561 "[2.3.2] TypeError: this.unblock is not a function in Test mode"
When I run my meteor app in **test mode**, some tests fail because it doesn't recognize **unblock** function from meteor method, however, it works well for development/production environment. The error is the following:

[code]

I am using Validated Methods, so in the unit test I have this:

[code]

And this is the endpoint definition:

[code]

I'm not sure if this error is related to Meteor or to

[2021-07-29 07:13] rj-david commented on #11561
Seems like you need to bind the method instance object to itself (first params of _execute()) to get access to the properties.

Here is the _execute() function
https://github.com/meteor/validated-method/blob/daa4374f192b2f4424617511e6b120a2a3f369be/validated-method.js#L88

[2021-07-29 13:54] zodern commented on #11324
@jasongrishkoff was `/imports/client/messages/about.jsx` already dynamically imported by the app, or only used by modules that were dynamically imported?

There were some scenarios I overlooked that could cause this error when adding imports for modules that were already dynamic imports.

[2021-07-29 17:13] jasongrishkoff commented on #11324
Hi @zodern.  It was only used in the modules that was dynamically imported.  It was not part of the initial app bundle, nor imported by any other component.

[2021-07-29 17:52] diavrank commented on #11561
Thank you @rj-david , I tried with this but I didn't have luck:

[code]

I got the same error. I guess is due to method instance doesn't have the **unblock** function in its root properties:

[code]

[2021-07-29 17:58] diavrank commented on #11561
I think, as you mention, this error is related to `validated-method` package, since I found this issue in its [repository](https://github.com/meteor/validated-method/issues/11). By the moment,  I resolved this issue by adding **Meteor.isAppTest** condition to run that code line.

[2021-07-29 17:58] #11561 closed

[2021-07-29 19:28] WilliamKelley opened #11562 "Unhandled Promise Rejection in dynamic-import package"
A lone error instance appeared in our MontiAPM reporter this morning.
- Stacktrace (redacted domain):
[code]
- Occurred on Thursday, Jul 29, 2021 14:10:21
- Browser (and user agent): Chrome (Blink) - 84.0.4147.111 Android - 8.1.0, tablet - Samsung SM-T580
- Resolution: 1443x902
- clientArch: web.browser
- Subtype: Unhandled Promise Rejection

#### A reproduction
 I can't reproduce this. Additional

[2021-07-30 07:36] Saeeed-B commented on #11286
@filipenevola @StorytellerCZ
This is what happened to me.
But in the case of the bcrypt package.
Please resolve this issue.
I have to go to ubuntu to build and build there

[2021-07-30 07:38] Saeeed-B commented on #11286
I did not see any definite solution to build on Windows for Linux and I have to build on Linux.
This problem is not solved with the --architecture os.linux.x86_64 tag either

[2021-07-30 22:12] trevor-scheer opened #11565 "Apollo Skeleton incompatible with Apollo Server v3"
**Meteor version**: 2.3.2
**OS**: MacOS Big Sur (11.4) *M1 running Rosetta

Hello! We recently released Apollo Server v3 and received a report from a Meteor user who's unable to upgrade due to a runtime error they're receiving. I was able to reproduce the issue with a basic Apollo skeleton (upgraded to AS3) with these steps:

[code]
Navigate to http://localhost:3000/graphql and issue a simple quer

[2021-07-31 03:34] Oyshoboy commented on #11318
Hey, I'm having the same issue, on v2.3.2.  Is there any hotfix, that I can manually apply?

[2021-08-02 09:03] StorytellerCZ commented on #10712
@gergely-ujvari have you tried Meteor 2.3?

[2021-08-02 09:12] StorytellerCZ commented on #11562
This is going to be difficult without reproduction as this could be to some edge behavior on the user side or maybe the browser freezed up or something along those lines or just some hiccup that corrected itself (wild guesses on my part). Do you have any reports from user of something weird happening? Though we could go through the code and add more error handling (try/catch blocks and so on).

[2021-08-02 09:15] StorytellerCZ commented on #11565
Apollo skeleton is updated for Meteor 2.4. I'll write up an article on how to upgrade in the coming days.

[2021-08-02 12:45] StorytellerCZ commented on #11525
I have updated babel for 2.3.3 both in the bundle and in skeletons. I'm going to the new version now to see if it resolves the issue.

[2021-08-02 16:43] trevor-scheer commented on #11565
Thanks for jumping on that thread @StorytellerCZ, and great to see this is already on your radar in the upcoming release. Cheers!

[2021-08-02 16:43] #11565 closed

[2021-08-02 18:24] scharf opened #11566 "Upgrade `typescript` to version `4.3.5` for meteor `2.4` because it fixes a critical typescript bug"
Typescript `4.3.3` fixes a breaking changes https://github.com/microsoft/TypeScript/issues/44429

See also the description of release [typescript `4.3.3`](https://github.com/microsoft/TypeScript/releases/tag/v4.3.3) and follow the [fixed issues query for TypeScript v4.3.3.](https://github.com/Microsoft/TypeScript/issues?utf8=✓&q=is%3Aissue+milestone%3A%22TypeScript+4.3.2%22+is%3Aclosed+)

Therefor

[2021-08-02 19:53] larswolter commented on #11525
Hi, at least for me it does not solve the issue. It seems that the meteor [babel-compiler package ](https://github.com/meteor/meteor/blob/6f7df8f35f1617b393a1d13c48f2bf70c2be31f6/packages/babel-compiler/package.js#L13) uses [@meteorjs/babel wrapper](https://github.com/meteor/babel/blob/16c29604beb40a0f6c4a79f98d1bea70269711d0/package.json#L34) with @babel/parser@7.14.3
I think this needs to be upd

[2021-08-02 21:26] dania6789 commented on #11453
`=> Errors while initializing project:

While selecting package versions:
error: Conflict: Constraint accounts-password@1.5.1 is not satisfied by accounts-password 2.0.0.
Constraints on package "accounts-password":
* accounts-password@~2.0.0 <- top level
* accounts-password@1.5.1 <- empirica:core 1.5.1

Conflict: Constraint accounts-base@1.2.8 is not satisfied by accounts-base 2.0.0.
Constraints o

[2021-08-02 22:35] KeithGillette opened #11568 "Updating to Meteor 2.3 produces `(node:75073) Warning: Accessing non-existent property 'MongoError' of module exports inside circular dependency` on `meteor run`"
Attempting to update from `METEOR@2.2.1` to `METEOR@2.3.2` under MacOS Big Sur 11.5 (20G71), I receive the following error message on the console following `meteor run`: `(node:75073) Warning: Accessing non-existent property 'MongoError' of module exports inside circular dependency`.

Full trace:
[code]

[2021-08-03 02:56] StorytellerCZ commented on #11566
I think we still have the space for it in 2.4.

[2021-08-03 03:00] StorytellerCZ commented on #11568
I don't see anything that could really point me to the problem. I will be updating `mongodb` just in case, but could you possibly create a small reproduction? Also what are your dependencies, are you by a chance using `mongoose`?

[2021-08-03 03:02] StorytellerCZ commented on #11566
@afrokick, @scharf  would you be willing to do a PR or should I?

[2021-08-03 03:03] StorytellerCZ commented on #11525
@larswolter Good catch! I will update that one asap!

[2021-08-03 03:31] StorytellerCZ commented on #11566
Nevermind, already on it as I was going for the same files with another issue.

[2021-08-03 08:31] BodhiHu opened #11570 "How to build meteor-tool from local clone ?"
Hi,

Really a great framework meteor is : D

A quick question: how to build the meteor-tool from local meteor clone ?
As constantly, after installing meteor, when running ```meteor```, it will begin to download the meteor-tool:
[code]

Which always hung, and just stops there, so I wonder if I can build the meteor tool locally ?

Thanks a lot

[2021-08-03 11:40] StorytellerCZ commented on #11570
Yes, all you need to know is documented in the development documentation:
https://github.com/meteor/meteor/blob/devel/DEVELOPMENT.md#running-from-a-git-checkout

[2021-08-03 11:40] #11570 closed

[2021-08-03 13:17] StorytellerCZ commented on #11525
Even with all of that I'm still getting the error in `2.4-beta.8`. Did I miss something?

[2021-08-03 13:50] pfafman commented on #11525
I upgrade my test app of this (modified simple-tofod-blaze with d3  added) and I am still getting the error  about the cumsum.js file  but it is a little nicer error output. This was even after removing and reinstalling all the NPMs.

[code]

[2021-08-04 07:37] larswolter commented on #11525
For me it also fails with the new ersion but without the nice error output. I tried to verify if the new @babel/parser fixes the problem and it does not. The error only occurs when using the babel/parser flow plugin, following is a small example to test it
[code]
Using the following package.json
[code]

[2021-08-04 09:23] gergely-ujvari commented on #10712
@StorytellerCZ :  I tested it out with the new 2.4-beta.8 version.

For me the importing is still slow.
But I found a reference inside the `.meteor/local/build/programs/server/npm/node_modules/meteor/modules/node_modules/.npm-shrinkwrap.json˙ file for `reify 0.20.12`.

(I updated a meteor 2.3.2 to 2.4-beta.8)

Do I have to clean something or something still depends on the old reify version?

[2021-08-04 11:20] StorytellerCZ commented on #10712
That is strange, but with the recent updates there could have been a mixup in dev bundle version. I'll build a new dev bundle for the next beta just to make sure.

[2021-08-04 11:26] StorytellerCZ commented on #11568
@KeithGillette please try updating your packages to get the new `npm-mongo` to see if that fixes the issue.

[2021-08-04 11:26] StorytellerCZ commented on #11566
Typescript is updated in the latest 2.4 beta. Please give it a try.

[2021-08-04 11:35] mjcctech commented on #11555
The last working Meteor version is 2.1.1. Previously I had
[code]
Now I have similar workaround as you - adding this config directly by `App.appendToConfig`. And thanks for your example, I will get some improvements from there.

[2021-08-04 12:59] StorytellerCZ commented on #10434
Isn't crashing the meteor tool with an error the proper way to handle this? What should be the behavior here?

[2021-08-04 13:37] StorytellerCZ commented on #9867
I'm closing this issue because we haven't heard anything from the involved parties for a while.

[2021-08-04 13:41] StorytellerCZ commented on #10706
Fixed in Meteor 2.4.

[2021-08-04 13:41] #10706 closed

[2021-08-04 13:57] StorytellerCZ commented on #10902
@ensemblebd thanks for the workaround. Sadly as you mentioned this does not look like something that we can integrate into Meteor itself as it is solution specific.

[2021-08-04 17:31] filipenevola commented on #11513
Hi @rj-david do you see an object after `discarding invalid livedata message`?

As you can see on my change we shouldn't receive a message object without a msg field on it so that is why we have this log.

Maybe it has another fields inside this object and it could give us some hint where it is coming from.

And I did this change as it was breaking a test after some removal of deprecated code.

[2021-08-04 17:32] filipenevola commented on #11513
Changing the way we log messages is not going to solve this issue. We need to understand which message is being discarded.

[2021-08-04 18:01] KeithGillette commented on #11568
Hi @StorytellerCZ — I updated to `npm-mongo@3.9.1` but still receive the same error on `meteor run`. We do not use `mongoose`. The additional project dependencies accessing MongoDB are `winston-mongodb` (which is referenced in the provided trace) and `meteor-rxjs`. I'll see if I can create a simple reproduction, but I suspect some incompatibility with `winston-mongodb`.

[2021-08-05 07:18] rj-david commented on #11562
Also got the same errors from production (17 times for the past week)

[code]

[2021-08-05 07:28] rj-david commented on #11562
All occurrences in our case came from facebook campaigns. Majority of the errors are from iOS so we can assume that this is using the Facebook in-app browser

[2021-08-05 09:02] StorytellerCZ commented on #10712
OK, thanks to @zodern I have found the issue and it will be fixed in the next beta (hopefully today). Stay tuned!

[2021-08-05 11:22] Saeeed-B opened #11572 "Build Pagination in React"
Hello everyone, I’m looking for a way to create Pagination in React.
But I also use the following:
ssr
fast render
What do you think is the best solution?

[2021-08-05 11:47] StorytellerCZ commented on #11572
Hi @Saeeed-B, I would recommend asking this on the [Meteor forums](https://forums.meteor.com) to get guidance. The Meteor repository issues are for stuff (bugs, features) related directly to the framework itself.

[2021-08-05 11:47] #11572 closed

[2021-08-05 15:07] gergely-ujvari commented on #10712
I can confirm that Meteor `2.4-beta.9` is much faster on handling imports.

[2021-08-06 06:27] Saeeed-B commented on #11289
@filipenevola @nathanschwarz @minhna @eugle
This issue must be resolved because ssr violates.
The user experience in ssr is good when it sees the right styles
See what happens when the server does not compile the styles.
The server only renders the styles in my main.css file.
And this is very bad because we have to put all the styles in this file, which slows down the site.

[2021-08-06 16:18] ensemblebd commented on #10902
@StorytellerCZ  understood. Do you think it may be permissible, if perhaps a changeset was produced whereby:
- a new build parameter was offered:   --serverPackages [embed | manual]
- default to "embed" which is natural (current)) behaviour
- "manual" mode would:
  - skip packaging npm local packages into server bundle
  - instead would include package-lock.json into the bundle
  - warn user to ru

[2021-08-06 18:08] KeithGillette commented on #11568
I tried updating to Meteor 2.3.4 (minimongo@1.7.0, mongo@1.12.0, mongo@1.12.0, mongo-decimal@0.1.2, mongo-dev-server@1.1.0, mongo-id@1.0.8, npm-mongo@3.9.1), but get the same error on our project, though I am at present unable to reproduce it on a new project. I found some evidence that this warning comes from [a bug in certain versions of the NodeJS MongoDB driver](https://www.mongodb.com/communi

[2021-08-06 18:26] larswolter commented on #11525
The according issue in Babel https://github.com/babel/babel/issues/13644

[2021-08-07 04:23] alihussainiam commented on #10733
I am using Meteor 2.2 with Angular as front using meteor-client bundler.

Nginx proxy is used to serve the angular bundle to the client while it forwards requests to the meteor server running at localhost:3000 at host container meteor server requests.

An exception is being raised for an XHR request   http://localhost/api/sockjs/info?cb=22oy1pevg0  which return  HTML code with js script fragment s

[2021-08-07 16:55] kentonv opened #11575 "Impossible to update to Meteor 2.3 because HTTP package's major version was incremented"
I maintain https://sandstorm.io, an open source project that is not very actively developed these days, but is still used by a lot of people. I try to do a new release every month to update dependencies in order to avoid security problems. The UI is built on Meteor.

In Meteor 2.3, the HTTP package has had its major version bumped from 1.x to 2.0.0, and several core packages (like `google-oauth`)

[2021-08-07 18:51] nicolo-ribaudo commented on #11525
PR to fix this: https://github.com/babel/babel/pull/13655

[2021-08-08 11:27] StorytellerCZ commented on #11575
Hi @kentonv , this topic has been addressed multiple times. Releasing 1.5.0 of `http` with fetch implementation is not possible, because there are a few breaking changes that I don't think will be able to resolve. In the end the `http@2.0.0` is only suppose to give people more breathing room to migrate to `fetch` as the `http` api is deprecated and will be removed in the future versions of node (d

[2021-08-08 12:47] kentonv commented on #11575
What???

Do you have a reference for that? I don't see any indication of this in [the docs](https://nodejs.org/api/http.html), nor can I find any evidence from a Google search. Removing the HTTP module from Node would be a truly insane thing for the Node team to do.

The `request` npm module -- the most popular wrapper around Node's `http` -- is deprecated, but AFAICT there is no plan for it to go

[2021-08-08 16:04] jasnell commented on #11575
The `http` module in Node.js is absolutely **NOT** deprecated and I don't expect it ever will be. There *is* an effort to define a new alternative client implementation (nodejs/undici) that will include fetch API support, but that work is being done in parallel to the core `http` client, not in replacement of. For the sake of ecosystem stability, it is not likely that `http` will ever be deprecate

[2021-08-08 16:08] kentonv commented on #11575
Thanks @jasnell.

As for `request`, per https://github.com/request/request/issues/3142, it is deprecated, but will never go away. "Deprecated" in this case just means they won't add new features. They seem to be saying they will fix security bugs if any arise, so it's not even unmaintained, just in feature freeze.

I think Meteor should switch all its package dependencies back to HTTP 1.4, and tre

[2021-08-09 11:32] StorytellerCZ commented on #11525
@nicolo-ribaudo thanks for finding the new PR. I'll be watching it and update dependencies accordingly once it is merged.

[2021-08-09 12:38] StorytellerCZ commented on #10902
That is potential one solution, though that one seem too much extra work and would require addition of an action on deployment which I don't think is optimal.
I think the first step should be fixing the packages so that server only packages don't create anything for client bundles.
@filipenevola and @renanccastro might offer additional input.

[2021-08-09 12:39] StorytellerCZ commented on #11568
`mongodb: "3.6.10"`

[2021-08-09 13:18] StorytellerCZ commented on #11575
Please check #11576 that I think will temporarily fix the issue. Eventually the goal is to replace usage of `http` package for core packages with `fetch`. If you agree with the solution please approve in review so that we can get it merged and the packages released ASAP.

[2021-08-09 14:38] Gywem commented on #11525
Grettings @StorytellerCZ!

Great that the fix is coming! 😄 We have faced this issue on a large app that uses d3 as well. Anyway, is there a way to force `babel/parser` version on an existing meteor version for development purposes? Or do we need to wait for the next release?

[2021-08-09 19:20] nicolo-ribaudo commented on #11525
If you are using Yarn, you can add this to your `package.json`:
[code]
where `1.2.3` is a known working version.

[2021-08-10 06:45] Gywem commented on #11525
@nicolo-ribaudo Thank you! I used this on the past and worked well.

However, I think the issue mentioned in this thread is related with meteor infrastructure to bundle and the usage of `@babel/parser` is on the framework level, and if I am not mistaken it is used on several Meteor transpiler libaries and wrappers on the core, like reify, meteor-babel, and maybe others I am not aware of.

So my qu

[2021-08-10 08:51] StorytellerCZ commented on #11525
It is as @Gywem says. I'm watching babel daily to for new versions and will update them for each beta until we get the fix.

[2021-08-10 16:26] derwaldgeist opened #11578 "Sow oplog tailing on ATLAS (reactivated issue)"
Hi, I'd like to issue #10808, because a couple of other folks (like me) are facing similar issues and I just became aware of that thread. Please also have a look at this thread in the forum:

https://forums.meteor.com/t/horrible-degradation-of-performance-using-galaxy-and-mongodb-atlas/56435

What alerted me in particular, was that the thread in #10808 also mentions other behavior that I have been

[2021-08-11 07:20] nicolo-ribaudo commented on #11525
Released! https://github.com/babel/babel/releases/tag/v7.15.3

[2021-08-11 08:25] StorytellerCZ commented on #11578
@derwaldgeist I agree with your assessment that this needs to be looked into, but for me personally I have no idea where to even start. Right now @filipenevola is working on mongo package with no fibers so he will probably have the most insight on what is going on there.

[2021-08-11 08:28] StorytellerCZ commented on #11525
@nicolo-ribaudo I will make a new 2.4 beta with the new version straight away.

[2021-08-11 08:32] derwaldgeist commented on #11578
@StorytellerCZ Unfortunately, I have no idea either. :-/ I am only able to describe the symptoms, but have no clue about the root cause. But I think the hint in #10808 that it might be related to the oplog query itself might be a good one. I don't understand much about oplog, though.

[2021-08-11 09:46] Gywem commented on #11525
@StorytellerCZ: Can we get a patch on 2.3.x? Or should we upgrade straight to 2.4?

[2021-08-11 10:25] StorytellerCZ commented on #11525
@Gywem we'll test on 2.4 beta and then I'll look into backporting it to 2.3. There will be a new version anyhow today or tomorrow due to Node security release.

[2021-08-11 10:49] StorytellerCZ commented on #11578
@renanccastro Oplog will need a closer look then.

[2021-08-11 11:14] StorytellerCZ commented on #11566
I will backport this to the Meteor 2.3.5 release so that we can get it sooner.

[2021-08-11 11:27] derwaldgeist commented on #11525
Any chance to downport to 2.2.1 as well?  We're still on this version, since 2.3 brought a new major Node release.

[2021-08-11 11:36] StorytellerCZ commented on #11525
@derwaldgeist since Node 12.x is also getting a security release I will release 2.2.3 which will include these fixes as well, but 2.3.5 will have priority.

[2021-08-11 12:02] derwaldgeist commented on #11525
Awesome, thanks!

[2021-08-11 16:41] Beretta1979 opened #11583 "Sourcemaps broken in VSCode"
OS: Ubuntu 20.04
This occurs in Meteor 2.3.4, in Meteor 2.2.1 everything was working fine

The sourcemaps are not working anymore, the breakpoints are not getting hit.
The issue is introduced by this PR: https://github.com/meteor/meteor/pull/11013. If the changes of this PR are reverted everything is working fine.

This is my launch.json file:
[code]

[2021-08-11 16:53] Beretta1979 commented on #11583
I think that in tools/isobuild/bundler.js, process.env.ROOT_URL should never be added for base64 encoded source mapping URLs

[2021-08-11 20:52] larswolter commented on #11525
2.3.5-beta.0 solved it for me. Thanks for the quick fix and backporting!

[2021-08-12 04:47] StorytellerCZ commented on #11486
Tested on latest 2.4 beta, but minification still makes this error. I have not even encountered an open issue about this with the minifiers (cssnano, PostCSS), so we'll have to bring this to their attention as striping white spaces is kind of their thing.

[2021-08-12 14:06] renanccastro commented on #11578
Hi, @derwaldgeist. There is, unfortunately, a lot of causes for this, one can be the scarcity of read/write ticket, which would cause a lot of issues in your DB. This is caused when you have a lot of observers.
But anyway, talking about this issue in specific, it seems very hard to reproduce... We would need a more isolated reproduction, without external services, to try to fix it, also because I

[2021-08-12 14:29] #11583 closed

[2021-08-12 19:47] StorytellerCZ commented on #11342
@jankapunkt Is this resolved for you, or do you want to make this work with for destructured parameters?

[2021-08-12 19:56] StorytellerCZ commented on #11064
Not an Apple user, is Safari 9 still a thing at this point? @renanccastro

[2021-08-12 20:04] StorytellerCZ commented on #10606
I'll look into updating coffeescript for Meteor 2.5, but no promises.

[2021-08-12 20:06] StorytellerCZ commented on #10583
I think since #11013 this might have been fixed. @brucejo75 is this still an issue for you?

[2021-08-12 20:08] arggh commented on #11064
I think the statement in the issue description still stands:

...of course it's up for discussion whether that's reason enough, considering the minuscule market share of old iOS versions, but since it _used_ to work... 🤷

[2021-08-12 20:32] ericoe commented on #11064
This is an old issue. So from an MDG biz decision, not acting on this for this long I think has in many ways obviated the need to fix it. Existing Meteor apps have had to find a workaround or punt. This was a very hard choice for us to tell our users we cannot support them anymore.

When new Cordova breaks old native iOS/android builds, we have usually had the good fortune to tell customers to use

[2021-08-12 20:34] filipenevola commented on #11064
@ericoe since this issue happened we had upgraded our Browserstack tests, reactivated them and we are running them before any releases so new regressions are not going to come up, at least not as a surprise.

[2021-08-12 21:15] #11566 closed

[2021-08-12 21:37] HoptimizeME commented on #11578
Hi, we're also experiencing issues but was wondering which versions of mongo,/ mongo driver/ meteor are affected by this.

Thanks 😊

[2021-08-13 06:59] StorytellerCZ commented on #11462
Tested this today with 2.3.5.
Tried recompiling the package as well, but without success.

[2021-08-13 07:02] StorytellerCZ commented on #11462
@ianpilipski OK! Got a solution. There is something wrong with the package, but this works:
[code]

[2021-08-13 07:02] #11462 closed

[2021-08-13 10:41] rj-david commented on #11513
Monti APM only showed `[object Object]` unfortunately.

This happened only 4 times during the past week.

[2021-08-13 17:31] tmihelcich commented on #11513
I just started receiving this message during development on a project that is using Meteor 1.4.3.2. Here is what I see:

`discarding invalid livedata message { testMessageOnConnect: true }`

It happens just after I save changes to file and the app reloads.

[2021-08-13 17:50] ToyboxZach opened #11586 "Crash in react-fast-refresh when updating to babel 7.15"
I am getting this crash in react fast refresh when I updated to babel@7.15 from  babel@7.14

I don't see this error mentioned anywhere in the babel repo, so I have to assume it's a meteor specific thing.

I don't really have a good way to pair down my app to get this to repro as it doesn't happen on every page and I have been unsuccessful in figuring out exactly what causes it, but it does happen

[2021-08-13 18:40] PolarisWT commented on #11513
I can confirm same message using Meteor 2.2 on local environment.   Local server running for past day or so without any updates in between.  Just started showing this log on client updates

[code]

[2021-08-14 20:34] brucejo75 commented on #10583
Hi @StorytellerCZ, I will need some time to check this out (currently working with v2.2). I will get back to you once I have tested...

[2021-08-15 18:58] dpatte commented on #11513
i see this on my local environment in 1.8.1 - exact same message as PolarisWT. Started a few days ago.

[2021-08-15 23:11] kakadais commented on #11513
I've seen this too at METEOR@1.10.2 on local & server env.
I don't think I've seen this before on the same project.

[2021-08-16 00:40] rastko909 commented on #11513
Running on 1.22.0

[2021-08-16 10:39] AstonBraham commented on #11513
Same on my local environment. Meteor 2.2.1

[2021-08-16 14:45] filipenevola commented on #11513
Hi, this message should be sent only in test mode, it was created just to keep an old test that was checking if Meteor was connected still running.

[2021-08-16 14:58] tonymckendry commented on #11513
So are we just going to ignore this new change? To an earlier poster's point, I am seeing the message every time I make a change to a file in the project while the server is running. This should be removed or made configurable.

[2021-08-16 15:02] filipenevola commented on #11513
I can say for sure that you can ignore this message, it's not causing any problem.

That was the reason I asked the object after the log, so I was sure what was the root cause.

We are going to fix it soon 😉

[2021-08-17 10:58] StorytellerCZ commented on #11382
@paulincai did you get a chance to test the PR?

[2021-08-17 18:31] KeithGillette commented on #11568
In looking at reports citing similar messages, it appears that the warning is coming from stricter dependency checks in Node.JS 14, specifically triggered by our use of `winston-mongodb`. I found that explicitly adding the Node `mongodb` driver to our `package.json` eliminated the warning on startup.

[2021-08-17 18:31] #11568 closed

[2021-08-18 09:05] paulincai commented on #11382
Hi @StorytellerCZ to be frank I didn't even know this was expected of me. Following a conversation in the Forum I took the liberty to speak on behalf of those participants and raised the ticket  :). Anyway, now that you appointed me on this one, let's look at it...

I used the files you provided here https://gist.github.com/zodern/4ad546b9ddc2cf780fed476c85c1f053 and modified them to use in a Mete

[2021-08-18 09:38] tomtom87 commented on #11513
I didn't update and it's just suddenly started today, compiling on Mac - nothing was changed with Node version or Meteor it just appeared when I built today

[2021-08-18 11:53] Floriferous opened #11589 "Avoid find/fetch when selector is { _id: { $in: [] } }"
This could be categorized as bug or a feature request, so I think it could go here.

We use grapher to do most of our queries, and frequently this query is made when looking for relationships (but it could apply to any app that performs this type of query):

[code]

I see in my APM that many such queries are made, and every time it takes between 2 and 10ms to run this, even though we know for sure